Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, Charts, Cloud Manager, C2C, Compass, Database Tools, Datalake, Docs Platform, Guides, Kafka Connector, Kubernetes, Kubernetes Operator, Manual, MCP Server, Meta, Mongo Cli, Platform, IntelliJ, Mongosh, VSCode, Ops Manager, Relational Migrator

DOCSP-52221-atlas-update-batch-3 (#13204) (#13216)
  content/manual/manual/source/reference/command/grantRolesToUser.txt
  content/manual/manual/source/reference/command/killAllSessions.txt
  content/manual/manual/source/reference/command/logRotate.txt
  content/manual/manual/source/reference/command/replSetReconfig.txt
  content/manual/manual/source/reference/command/replSetSyncFrom.txt
  content/manual/manual/source/reference/command/revokeRolesFromUser.txt
  content/manual/manual/source/reference/command/setParameter.txt
  content/manual/manual/source/reference/command/shutdown.txt
  content/manual/rapid/source/reference/command/grantRolesToUser.txt
  content/manual/rapid/source/reference/command/killAllSessions.txt
  content/manual/rapid/source/reference/command/logRotate.txt
  content/manual/rapid/source/reference/command/replSetReconfig.txt
  content/manual/rapid/source/reference/command/replSetSyncFrom.txt
  content/manual/rapid/source/reference/command/revokeRolesFromUser.txt
  content/manual/rapid/source/reference/command/setParameter.txt
  content/manual/rapid/source/reference/command/shutdown.txt
  content/manual/v6.0/source/reference/command/grantRolesToUser.txt
  content/manual/v6.0/source/reference/command/killAllSessions.txt
  content/manual/v6.0/source/reference/command/logRotate.txt
  content/manual/v6.0/source/reference/command/replSetReconfig.txt
  content/manual/v6.0/source/reference/command/replSetSyncFrom.txt
  content/manual/v6.0/source/reference/command/revokeRolesFromUser.txt
  content/manual/v6.0/source/reference/command/setParameter.txt
  content/manual/v6.0/source/reference/command/shutdown.txt
  content/manual/v7.0/source/reference/command/grantRolesToUser.txt
  content/manual/v7.0/source/reference/command/killAllSessions.txt
  content/manual/v7.0/source/reference/command/logRotate.txt
  content/manual/v7.0/source/reference/command/replSetReconfig.txt
  content/manual/v7.0/source/reference/command/replSetSyncFrom.txt
  content/manual/v7.0/source/reference/command/revokeRolesFromUser.txt
  content/manual/v7.0/source/reference/command/setParameter.txt
  content/manual/v7.0/source/reference/command/shutdown.txt
Labels: Manual

DOCSP-52226-atlas-update-batch-5 (#13222) (#13264)
  content/manual/manual/source/reference/command/cloneCollectionAsCapped.txt
  content/manual/manual/source/reference/command/dbHash.txt
  content/manual/manual/source/reference/command/getShardMap.txt
  content/manual/manual/source/reference/command/setUserWriteBlockMode.txt
  content/manual/manual/source/reference/command/validate.txt
  content/manual/rapid/source/reference/command/cloneCollectionAsCapped.txt
  content/manual/rapid/source/reference/command/dbHash.txt
  content/manual/rapid/source/reference/command/getShardMap.txt
  content/manual/rapid/source/reference/command/setUserWriteBlockMode.txt
  content/manual/rapid/source/reference/command/validate.txt
  content/manual/v6.0/source/reference/command/cloneCollectionAsCapped.txt
  content/manual/v6.0/source/reference/command/dbHash.txt
  content/manual/v6.0/source/reference/command/getShardMap.txt
  content/manual/v6.0/source/reference/command/setUserWriteBlockMode.txt
  content/manual/v6.0/source/reference/command/validate.txt
  content/manual/v7.0/source/reference/command/cloneCollectionAsCapped.txt
  content/manual/v7.0/source/reference/command/dbHash.txt
  content/manual/v7.0/source/reference/command/getShardMap.txt
  content/manual/v7.0/source/reference/command/setUserWriteBlockMode.txt
  content/manual/v7.0/source/reference/command/validate.txt
Labels: Manual

DOCSP-52227-atlas-update-batch-6 (#13220) (#13265)
  content/manual/manual/source/reference/command/refineCollectionShardKey.txt
  content/manual/rapid/source/reference/command/refineCollectionShardKey.txt
  content/manual/v6.0/source/reference/command/refineCollectionShardKey.txt
  content/manual/v7.0/source/reference/command/refineCollectionShardKey.txt
Labels: Manual

Add netlify.toml for java sync
  content/java/netlify.toml
Labels: none

Add netlify.toml for java rs
  content/java-rs/netlify.toml
Labels: none

DOCSP-52276 - Correct event output (#13203) (#13275)
  content/node/current/source/monitoring-and-logging/monitoring.txt
  content/node/v6.16/source/monitoring-and-logging/monitoring.txt
Labels: none

Add scala driver netlify.toml
  content/scala-driver/netlify.toml
Labels: none

Remove old scala driver files
  content/scala-driver/current/build.sh
  content/scala-driver/current/config/redirects
  content/scala-driver/current/netlify.toml
  content/scala-driver/current/worker.sh
  content/scala-driver/upcoming/build.sh
  content/scala-driver/upcoming/config/redirects
  content/scala-driver/upcoming/netlify.toml
  content/scala-driver/upcoming/worker.sh
  content/scala-driver/v5.0/build.sh
  content/scala-driver/v5.0/config/redirects
  content/scala-driver/v5.0/netlify.toml
  content/scala-driver/v5.0/worker.sh
  content/scala-driver/v5.1/build.sh
  content/scala-driver/v5.1/config/redirects
  content/scala-driver/v5.1/netlify.toml
  content/scala-driver/v5.1/worker.sh
  content/scala-driver/v5.2/build.sh
  content/scala-driver/v5.2/config/redirects
  content/scala-driver/v5.2/netlify.toml
  content/scala-driver/v5.2/worker.sh
  content/scala-driver/v5.3/build.sh
  content/scala-driver/v5.3/config/redirects
  content/scala-driver/v5.3/netlify.toml
  content/scala-driver/v5.3/worker.sh
  content/scala-driver/v5.4/build.sh
  content/scala-driver/v5.4/config/redirects
  content/scala-driver/v5.4/netlify.toml
  content/scala-driver/v5.4/worker.sh
Labels: none

DOCSP-51251 Java Sync Short Pages (#13284)
  content/java/upcoming/snooty.toml
  content/java/upcoming/source/logging-monitoring.txt
  content/java/upcoming/source/security.txt
Labels: none

DOCSP-51267 Too Short Pages (#1015)
  snooty.toml
  source/other-document-dbs.txt
Labels: none

DOCSP-48989 Remove catalogCacheIndexMaxEntries (#13097)
  content/manual/upcoming/source/reference/parameters.txt
  content/manual/upcoming/source/release-notes/8.1.txt
  content/manual/upcoming/source/release-notes/8.2-compatibility.txt
Labels: Manual

DOCSP-51280 Java RS Too Short Pages (#13285)
  content/java-rs/upcoming/snooty.toml
  content/java-rs/upcoming/source/data-formats.txt
  content/java-rs/upcoming/source/secure-your-data.txt
Labels: none

DOCSP-50487 Add tip on HTTPS URLs and Warning about HTTP + Postman (#13279)
  content/atlas/source/configure-api-access.txt
Labels: Atlas

DOCSP-52242 Java Sync + RS Backport files (#13291)
  content/java-rs/.backportrc.json
  content/java/.backportrc.json
Labels: none

bson raw
  source/fundamentals/bson.txt
Labels: none

DOCSP-52229-atlas-update-branch (#13250) (#13273)
  content/manual/manual/source/reference/command/balancerCollectionStatus.txt
  content/manual/manual/source/reference/command/balancerStop.txt
  content/manual/manual/source/reference/command/convertToCapped.txt
  content/manual/manual/source/reference/command/flushRouterConfig.txt
  content/manual/manual/source/reference/command/mergeAllChunksOnShard.txt
  content/manual/manual/source/reference/command/setAllowMigrations.txt
  content/manual/manual/source/reference/command/shardCollection.txt
  content/manual/manual/source/reference/command/shardConnPoolStats.txt
  content/manual/manual/source/reference/command/split.txt
  content/manual/manual/source/reference/command/top.txt
  content/manual/rapid/source/reference/command/balancerCollectionStatus.txt
  content/manual/rapid/source/reference/command/balancerStop.txt
  content/manual/rapid/source/reference/command/convertToCapped.txt
  content/manual/rapid/source/reference/command/flushRouterConfig.txt
  content/manual/rapid/source/reference/command/mergeAllChunksOnShard.txt
  content/manual/rapid/source/reference/command/setAllowMigrations.txt
  content/manual/rapid/source/reference/command/shardCollection.txt
  content/manual/rapid/source/reference/command/shardConnPoolStats.txt
  content/manual/rapid/source/reference/command/split.txt
  content/manual/rapid/source/reference/command/top.txt
  content/manual/v6.0/source/reference/command/balancerCollectionStatus.txt
  content/manual/v6.0/source/reference/command/balancerStop.txt
  content/manual/v6.0/source/reference/command/convertToCapped.txt
  content/manual/v6.0/source/reference/command/flushRouterConfig.txt
  content/manual/v6.0/source/reference/command/setAllowMigrations.txt
  content/manual/v6.0/source/reference/command/shardCollection.txt
  content/manual/v6.0/source/reference/command/shardConnPoolStats.txt
  content/manual/v6.0/source/reference/command/split.txt
  content/manual/v6.0/source/reference/command/top.txt
  content/manual/v7.0/source/reference/command/balancerCollectionStatus.txt
  content/manual/v7.0/source/reference/command/balancerStop.txt
  content/manual/v7.0/source/reference/command/convertToCapped.txt
  content/manual/v7.0/source/reference/command/flushRouterConfig.txt
  content/manual/v7.0/source/reference/command/mergeAllChunksOnShard.txt
  content/manual/v7.0/source/reference/command/setAllowMigrations.txt
  content/manual/v7.0/source/reference/command/shardCollection.txt
  content/manual/v7.0/source/reference/command/shardConnPoolStats.txt
  content/manual/v7.0/source/reference/command/split.txt
  content/manual/v7.0/source/reference/command/top.txt
Labels: Manual

DOCSP-17074-update-operator-doc (#13131) (#13271)
  content/manual/manual/source/reference/operator/update/mul.txt
  content/manual/rapid/source/reference/operator/update/mul.txt
  content/manual/v6.0/source/reference/operator/update/mul.txt
  content/manual/v7.0/source/reference/operator/update/mul.txt
Labels: Manual

DOCSP-51251 Java Sync Short Pages (#13284) (#13293)
  content/java/current/snooty.toml
  content/java/current/source/logging-monitoring.txt
  content/java/current/source/security.txt
  content/java/v5.4/snooty.toml
  content/java/v5.4/source/logging-monitoring.txt
  content/java/v5.4/source/security.txt
Labels: none

DOCSP-51280 Java RS Too Short Pages (#13285) (#13294)
  content/java-rs/current/snooty.toml
  content/java-rs/current/source/data-formats.txt
  content/java-rs/current/source/secure-your-data.txt
  content/java-rs/v5.4/snooty.toml
  content/java-rs/v5.4/source/data-formats.txt
  content/java-rs/v5.4/source/secure-your-data.txt
Labels: none

DOCSP-48715-username-pw (#238)
  examples/src/test/kotlin/MongoClientSettingsTest.kt
  examples/src/test/kotlin/NetworkCompressionTest.kt
  examples/src/test/kotlin/SocksTest.kt
  examples/src/test/kotlin/TlsTest.kt
  source/connection-troubleshooting.txt
  source/examples/generated/NetworkCompressionTest.snippet.connection-string-compression-example.kt
  source/examples/generated/SocksTest.snippet.socks-connection-string.kt
  source/examples/generated/TlsTest.snippet.tls-connection-string.kt
  source/usage-examples.txt
Labels: none

DOCSP-48715-username-pw (#238) (#239)
  examples/src/test/kotlin/MongoClientSettingsTest.kt
  examples/src/test/kotlin/NetworkCompressionTest.kt
  examples/src/test/kotlin/SocksTest.kt
  examples/src/test/kotlin/TlsTest.kt
  source/connection-troubleshooting.txt
  source/examples/generated/NetworkCompressionTest.snippet.connection-string-compression-example.kt
  source/examples/generated/SocksTest.snippet.socks-connection-string.kt
  source/examples/generated/TlsTest.snippet.tls-connection-string.kt
  source/usage-examples.txt
Labels: none

DOCSP-48715-username-pw (#238) (#240)
  examples/src/test/kotlin/MongoClientSettingsTest.kt
  examples/src/test/kotlin/NetworkCompressionTest.kt
  examples/src/test/kotlin/SocksTest.kt
  examples/src/test/kotlin/TlsTest.kt
  source/connection-troubleshooting.txt
  source/examples/generated/NetworkCompressionTest.snippet.connection-string-compression-example.kt
  source/examples/generated/SocksTest.snippet.socks-connection-string.kt
  source/examples/generated/TlsTest.snippet.tls-connection-string.kt
  source/usage-examples.txt
Labels: none

DOCSP-48715-username-pw (#238) (#241)
  examples/src/test/kotlin/MongoClientSettingsTest.kt
  examples/src/test/kotlin/NetworkCompressionTest.kt
  examples/src/test/kotlin/SocksTest.kt
  examples/src/test/kotlin/TlsTest.kt
  source/connection-troubleshooting.txt
  source/examples/generated/NetworkCompressionTest.snippet.connection-string-compression-example.kt
  source/examples/generated/SocksTest.snippet.socks-connection-string.kt
  source/examples/generated/TlsTest.snippet.tls-connection-string.kt
  source/usage-examples.txt
Labels: none

(DOCSP-51170): C# tested examples for aggregation unwind tutorial (#13278)
  code-example-tests/csharp/driver/Examples/Aggregation/Pipelines/Unwind/Models.cs
  code-example-tests/csharp/driver/Examples/Aggregation/Pipelines/Unwind/Tutorial.cs
  code-example-tests/csharp/driver/Examples/Aggregation/Pipelines/Unwind/TutorialOutput.txt
  code-example-tests/csharp/driver/Tests/Aggregation/Pipelines/TutorialTests.cs
  code-example-tests/csharp/driver/Tests/TestUtils.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Unwind/Models.snippet.models.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Unwind/Tutorial.snippet.group.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Unwind/Tutorial.snippet.load-sample-data.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Unwind/Tutorial.snippet.match.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Unwind/Tutorial.snippet.unwind.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Unwind/TutorialOutput.txt
  content/manual/manual/source/includes/aggregation/aggregation-examples/unpack-arrays/csharp-unpack-arrays.rst
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/unpack-arrays/csharp-unpack-arrays.rst
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/unpack-arrays/full-files/UnpackArrays.cs
Labels: Manual

DOCSP-51674-short-titles2 (#13211)
  content/manual/upcoming/source/reference/operator/aggregation/bitAnd.txt
  content/manual/upcoming/source/reference/operator/aggregation/bitNot.txt
  content/manual/upcoming/source/reference/operator/aggregation/bitOr.txt
  content/manual/upcoming/source/reference/operator/aggregation/bitXor.txt
  content/manual/upcoming/source/reference/operator/aggregation/bottom.txt
  content/manual/upcoming/source/reference/operator/aggregation/bottomN.txt
  content/manual/upcoming/source/reference/operator/aggregation/bsonSize.txt
  content/manual/upcoming/source/reference/operator/aggregation/bucket.txt
  content/manual/upcoming/source/reference/operator/aggregation/bucketAuto.txt
  content/manual/upcoming/source/reference/operator/aggregation/ceil.txt
  content/manual/upcoming/source/reference/operator/aggregation/changeStream.txt
  content/manual/upcoming/source/reference/operator/aggregation/changeStreamSplitLargeEvent.txt
  content/manual/upcoming/source/reference/operator/aggregation/cmp.txt
  content/manual/upcoming/source/reference/operator/aggregation/collStats.txt
  content/manual/upcoming/source/reference/operator/aggregation/concat.txt
  content/manual/upcoming/source/reference/operator/aggregation/concatArrays.txt
  content/manual/upcoming/source/reference/operator/aggregation/cond.txt
  content/manual/upcoming/source/reference/operator/aggregation/convert.txt
  content/manual/upcoming/source/reference/operator/aggregation/cos.txt
  content/manual/upcoming/source/reference/operator/aggregation/cosh.txt
Labels: Manual

Add netlify.toml for ruby
  content/ruby-driver/netlify.toml
Labels: none

Remove old files from ruby-driver
  content/ruby-driver/current/build.sh
  content/ruby-driver/current/config/redirects
  content/ruby-driver/current/netlify.toml
  content/ruby-driver/current/worker.sh
  content/ruby-driver/upcoming/build.sh
  content/ruby-driver/upcoming/config/redirects
  content/ruby-driver/upcoming/netlify.toml
  content/ruby-driver/upcoming/worker.sh
Labels: none

Add netlify.toml, remove old fiels for kotlin-sync
  content/kotlin-sync-driver/current/build.sh
  content/kotlin-sync-driver/current/config/redirects
  content/kotlin-sync-driver/current/netlify.toml
  content/kotlin-sync-driver/current/worker.sh
  content/kotlin-sync-driver/netlify.toml
  content/kotlin-sync-driver/upcoming/build.sh
  content/kotlin-sync-driver/upcoming/config/redirects
  content/kotlin-sync-driver/upcoming/netlify.toml
  content/kotlin-sync-driver/upcoming/worker.sh
  content/kotlin-sync-driver/v5.0/build.sh
  content/kotlin-sync-driver/v5.0/config/redirects
  content/kotlin-sync-driver/v5.0/netlify.toml
  content/kotlin-sync-driver/v5.0/worker.sh
  content/kotlin-sync-driver/v5.1/build.sh
  content/kotlin-sync-driver/v5.1/config/redirects
  content/kotlin-sync-driver/v5.1/netlify.toml
  content/kotlin-sync-driver/v5.1/worker.sh
  content/kotlin-sync-driver/v5.2/build.sh
  content/kotlin-sync-driver/v5.2/config/redirects
  content/kotlin-sync-driver/v5.2/netlify.toml
  content/kotlin-sync-driver/v5.2/worker.sh
  content/kotlin-sync-driver/v5.3/build.sh
  content/kotlin-sync-driver/v5.3/config/redirects
  content/kotlin-sync-driver/v5.3/netlify.toml
  content/kotlin-sync-driver/v5.3/worker.sh
  content/kotlin-sync-driver/v5.4/build.sh
  content/kotlin-sync-driver/v5.4/config/redirects
  content/kotlin-sync-driver/v5.4/netlify.toml
  content/kotlin-sync-driver/v5.4/worker.sh
Labels: none

Remove old ecosystem aka drivers files
  content/drivers/build.sh
  content/drivers/config/redirects
  content/drivers/worker.sh
Labels: none

Add netlify.toml for ecosystem
  content/drivers/netlify.toml
Labels: none

DOCSP-50776-8.2-spill-stats (#12946)
  content/manual/upcoming/source/reference/explain-results.txt
  content/manual/upcoming/source/release-notes/8.2.txt
Labels: Manual

melanie feedback
  source/fundamentals/bson.txt
Labels: none

Remove old atlas architecture files
  content/atlas-architecture/current/build.sh
  content/atlas-architecture/current/config/redirects
  content/atlas-architecture/current/netlify.toml
  content/atlas-architecture/current/worker.sh
  content/atlas-architecture/v20250228/build.sh
  content/atlas-architecture/v20250228/config/redirects
  content/atlas-architecture/v20250228/netlify.toml
  content/atlas-architecture/v20250228/worker.sh
  content/atlas-architecture/v20250317/build.sh
  content/atlas-architecture/v20250317/config/redirects
  content/atlas-architecture/v20250317/netlify.toml
  content/atlas-architecture/v20250317/worker.sh
Labels: none

Update atlas architecture netlify.toml
  content/atlas-architecture/netlify.toml
Labels: none

DOP-5790-java-rs add redirects (#13297)
  content/java-rs/netlify.toml
Labels: none

DOP-5794-php-library add redirects (#13148)
  content/php-library/netlify.toml
Labels: none

(DOCSP-52412): Bump C# and Node.js Driver versions in test suites (#13311)
  code-example-tests/csharp/driver/Examples/Examples.csproj
  code-example-tests/javascript/driver/package-lock.json
  code-example-tests/javascript/driver/package.json
Labels: none

typo fix reported by localization vendor (#13313)
  content/atlas/source/atlas-vector-search/vector-search-playground.txt
Labels: Atlas

Add DevDocs team as codeowners of `code-example-tests` (#13307)
  .github/CODEOWNERS
Labels: none

DOCSP-52432: Make explicit the PyMongo version used in the test suite
  .github/workflows/pymongo-driver-examples-test-in-docker.yml
  code-example-tests/python/pymongo/README.md
  code-example-tests/python/pymongo/requirements.txt
Labels: none

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-cli/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']
