Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

DOCSP-50570 JAVA v5.5.1 Patch Release (#98)
  snooty.toml
Labels: none

DOCSP-50570 JAVA v5.5.1 Patch Release (#138)
  snooty.toml
Labels: none

Release v1.14 as current (#12347)
  content/cluster-to-cluster-sync/netlify.toml
Labels: C2C

DOCSP-49410-subset-pattern (#12001) (#12346)
  content/manual/manual/source/data-modeling/design-patterns/group-data.txt
  content/manual/manual/source/data-modeling/design-patterns/group-data/subset-pattern.txt
  content/manual/v7.0/source/data-modeling/design-patterns/group-data.txt
  content/manual/v7.0/source/data-modeling/design-patterns/group-data/subset-pattern.txt
Labels: Manual

DOCSP-49409-slowly-changing-dimensions (#11989)
  content/manual/upcoming/source/data-modeling/design-patterns/data-versioning.txt
  content/manual/upcoming/source/data-modeling/design-patterns/data-versioning/slowly-changing-dimensions.txt
Labels: Manual

DOCSP-49961 removes legacy mongo documentation (#12323) (#12339)
  content/manual/manual/source/reference.txt
  content/manual/manual/source/reference/mongo.txt
  content/manual/v6.0/source/reference.txt
  content/manual/v6.0/source/reference/mongo.txt
  content/manual/v7.0/source/reference.txt
  content/manual/v7.0/source/reference/mongo.txt
Labels: Manual

(DOCSP-50603) Converting from serverless to dedicated results in a loss of serverless backups (#7309)
  source/tutorial/convert-serverless-to-dedicated.txt
Labels: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

DOCSP-49812: v2.0.1 release (#119)
  snooty.toml
  source/whats-new.txt
Labels: none

DOCSP-49745: C# example for $geoNear (#12328)
  content/manual/upcoming/source/includes/driver-examples/aggregation/BuildersExamples.cs
  content/manual/upcoming/source/includes/driver-examples/aggregation/Theater.cs
  content/manual/upcoming/source/includes/driver-examples/aggregation/sample-data-theaters.rst
  content/manual/upcoming/source/reference/operator/aggregation/geoNear.txt
Labels: Manual

DOCSP-49771 - Add $elemMatch C# examples (#11912)
  content/manual/upcoming/source/includes/driver-examples/projection/ElemMatchExamples.cs
  content/manual/upcoming/source/includes/driver-examples/projection/School.cs
  content/manual/upcoming/source/includes/driver-examples/projection/Student.cs
  content/manual/upcoming/source/reference/operator/projection/elemMatch.txt
Labels: Manual

DOCSP-49013 BOM Tip for Kotlin Sync (#99)
  source/builders/builders-data-classes.txt
  source/data-formats/bson.txt
  source/data-formats/serialization.txt
  source/includes/data-formats/bson-gradle-versioned.rst
  source/includes/data-formats/bson-maven-versioned.rst
  source/includes/data-formats/serialization-gradle-versioned.rst
  source/includes/data-formats/serialization-maven-versioned.rst
  source/includes/security/crypt-gradle-versioned.rst
  source/includes/security/crypt-maven-versioned.rst
  source/index.txt
  source/security/authentication.txt
  source/security/encrypt-fields.txt
Labels: none

feedback
  source/includes/fact-mapping-options-configure-fields.rst
  source/mapping-rules/create-rules.txt
Labels: none

DOCSP-49409-slowly-changing-dimensions-main-backport (11989) (#12348)
  content/manual/manual/source/data-modeling/design-patterns/data-versioning.txt
  content/manual/manual/source/data-modeling/design-patterns/data-versioning/slowly-changing-dimensions.txt
  content/manual/v7.0/source/data-modeling/design-patterns/data-versioning.txt
  content/manual/v7.0/source/data-modeling/design-patterns/data-versioning/slowly-changing-dimensions.txt
Labels: Manual

DOCSP-49013 .backportrc file creation (#101)
  .backportrc.json
Labels: none

DOCSP-49813-Clarify-impact-scope-of-notablescan (#12257)
  content/manual/upcoming/source/reference/parameters.txt
Labels: Manual

backport (#12351)
  content/manual/manual/source/includes/driver-examples/projection/ElemMatchExamples.cs
  content/manual/manual/source/includes/driver-examples/projection/School.cs
  content/manual/manual/source/includes/driver-examples/projection/Student.cs
  content/manual/manual/source/reference/operator/projection/elemMatch.txt
  content/manual/v6.0/source/includes/driver-examples/projection/ElemMatchExamples.cs
  content/manual/v6.0/source/includes/driver-examples/projection/School.cs
  content/manual/v6.0/source/includes/driver-examples/projection/Student.cs
  content/manual/v6.0/source/reference/operator/projection/elemMatch.txt
  content/manual/v7.0/source/includes/driver-examples/projection/ElemMatchExamples.cs
  content/manual/v7.0/source/includes/driver-examples/projection/School.cs
  content/manual/v7.0/source/includes/driver-examples/projection/Student.cs
  content/manual/v7.0/source/reference/operator/projection/elemMatch.txt
Labels: Manual

DOCSP-49013 BOM Tip for Kotlin Sync (backport) (#99) (#102)
  source/builders/builders-data-classes.txt
  source/data-formats/bson.txt
  source/data-formats/serialization.txt
  source/includes/data-formats/bson-gradle-versioned.rst
  source/includes/data-formats/bson-maven-versioned.rst
  source/includes/data-formats/serialization-gradle-versioned.rst
  source/includes/data-formats/serialization-maven-versioned.rst
  source/includes/security/crypt-gradle-versioned.rst
  source/includes/security/crypt-maven-versioned.rst
  source/index.txt
  source/security/authentication.txt
  source/security/encrypt-fields.txt
Labels: none

DOCSP-49813-Clarify-impact-scope-of-notablescan (#12257) (#12353)
  content/manual/manual/source/reference/parameters.txt
  content/manual/v6.0/source/reference/parameters.txt
  content/manual/v7.0/source/reference/parameters.txt
Labels: Manual

DOCSP-50559: query guids (#646)
  source/fundamentals/serialization/guid-serialization.txt
  source/upgrade/v3.txt
Labels: none

DOCSP-50559: query guids (#646)
  source/fundamentals/serialization/guid-serialization.txt
  source/upgrade/v3.txt
Labels: none

DOCSP-50559: query guids (#646)
  source/fundamentals/serialization/guid-serialization.txt
  source/upgrade/v3.txt
Labels: none

DOCSP-50559: query guids (#646)
  source/fundamentals/serialization/guid-serialization.txt
  source/upgrade/v3.txt
Labels: none

DOCSP-50559: query guids (#646)
  source/fundamentals/serialization/guid-serialization.txt
  source/upgrade/v3.txt
Labels: none

DOCSP-50559: query guids (#646)
  source/fundamentals/serialization/guid-serialization.txt
  source/upgrade/v3.txt
Labels: none

DOCSP-49745: C# example for $geoNear (#12328) (#12350)
  content/manual/manual/source/includes/driver-examples/aggregation/BuildersExamples.cs
  content/manual/manual/source/includes/driver-examples/aggregation/Theater.cs
  content/manual/manual/source/includes/driver-examples/aggregation/sample-data-theaters.rst
  content/manual/manual/source/reference/operator/aggregation/geoNear.txt
Labels: Manual

DOCSP-49745: geoNear manual link (#647)
  source/whats-new.txt
Labels: none

DOCSP-49745: geoNear manual link (#647)
  source/whats-new.txt
Labels: none

Created new Forward Logs page in Trigger section
  source/atlas-ui/triggers/forward-logs.txt
Labels: none

Reverting accidental push
  source/atlas-ui/triggers/forward-logs.txt
Labels: none

DOCSP-50591 v1.30.5 Release (#123)
  snooty.toml
  source/whats-new.txt
Labels: none

DOCSP-5094 v2.0.2 Release (#124)
  snooty.toml
  source/whats-new.txt
Labels: none

DOCSP-50398-bulkWrite-response-types-main-backport (12303) (#12340)
  content/manual/manual/source/reference/command/bulkWrite.txt
  content/manual/upcoming/source/reference/command/bulkWrite.txt
Labels: Manual

DOCSP-50381-preview-callouts-main-backport (12314) (#12341)
  content/manual/manual/source/mcp.txt
Labels: Manual

(DOCSP-49487): Use Atlas Search `token` field for faceting and deprecate `stringFacet` (#7171)
  snooty.toml
  source/atlas-search/autocomplete.txt
  source/atlas-search/counting.txt
  source/atlas-search/define-field-mappings.txt
  source/atlas-search/embedded-document.txt
  source/atlas-search/equals.txt
  source/atlas-search/facet.txt
  source/atlas-search/field-types/embedded-documents-type.txt
  source/atlas-search/field-types/string-type.txt
  source/atlas-search/field-types/token-type.txt
  source/atlas-search/geoShape.txt
  source/atlas-search/geoWithin.txt
  source/atlas-search/operators-and-collectors.txt
  source/atlas-search/paginate-results.txt
  source/atlas-search/performance/index-performance.txt
  source/atlas-search/regex.txt
  source/includes/fts/autocomplete/token-seq-analyzer-section.rst
  source/includes/fts/embedded-document/procedures/fts-embedded-document-tutorial-cluster.rst
  source/includes/fts/facet/procedures/steps-fts-facet-tutorial-create-index.rst
  source/includes/fts/facet/steps-fts-facet-tutorial-create-index.rst
  source/includes/fts/facts/fact-fts-autocomplete-facet-intro.rst
  source/includes/fts/sequential-pagination/steps-fts-tutorial-sequential-pagination-index.rst
Labels: none

DOCSP-50643-embedded-document-update (#12357)
  content/manual/upcoming/source/reference/command/bulkWrite.txt
Labels: Manual

DOCSP-46858: Add custom AWS credential documentation (#1160)
  source/code-snippets/authentication/aws-custom-credentials.js
  source/security/authentication/aws-iam.txt
Labels: none

DOCSP-46858: Add custom AWS credential documentation (#1160)
  source/code-snippets/authentication/aws-custom-credentials.js
  source/security/authentication/aws-iam.txt
Labels: none

DOCSP-46858: Add custom AWS credential documentation (#1160)
  source/code-snippets/authentication/aws-custom-credentials.js
  source/security/authentication/aws-iam.txt
Labels: none

DOCSP-50596-insertMany-method-incorrect-format (#12354)
  content/manual/upcoming/source/core/indexes/index-types/index-multikey.txt
Labels: Manual

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']
