Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

DOCSP30350 fix code example format
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-50091 Adds skills storefront AuthN and AuthZ badge (#7316)
  source/atlas-ui-authentication.txt
  source/atlas-ui-authorization.txt
  source/security/config-db-auth.txt
  source/setup-cluster-security.txt
Labels: none

DOCSP-30350 code examples and additional getCategory information
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-49872 expose HNSW construction params (#7211)
  source/atlas-vector-search/vector-search-type.txt
Labels: none

DOCSP-30350 fixing up minor issues with page, final check
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-50596-insertMany-method-incorrect-format (#12354) (#12364)
  content/manual/manual/source/core/indexes/index-types/index-multikey.txt
  content/manual/v7.0/source/core/indexes/index-types/index-multikey.txt
Labels: Manual

DOCSP30350 add exceptions not just errors to doc
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 fixing formatting
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 Write exceptions, reorg
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-40696 Removed references to setting planCacheSize in 6.0 (#12379)
  content/manual/manual/source/release-notes/6.0.txt
  content/manual/upcoming/source/release-notes/6.0.txt
  content/manual/v7.0/source/release-notes/6.0.txt
Labels: Manual

DOCSP-30350 reorg again and edit writing on some descriptions
  source/crud/operation-error-handling.txt
Labels: none

DOCSP30350- add quotes on strings
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 toc tree naming update
  source/crud.txt
Labels: none

DOCSP-30350 add link to schema validation page
  source/crud/operation-error-handling.txt
Labels: none

DOP-5658 compass redirects (#12367)
  content/compass/netlify.toml
Labels: none

DOCSP-30350 schema validation link fix
  source/crud/operation-error-handling.txt
Labels: none

[DOCSP-50477]: Remove misleading sentence & add facet (#12349)
  content/cluster-to-cluster-sync/current/source/reference/cutover-process.txt
  content/cluster-to-cluster-sync/v1.13/source/reference/cutover-process.txt
Labels: C2C

DOCSP-50590-Compass-1.46.3-GA-Release (#12355)
  content/compass/source/release-notes.txt
Labels: none

DOCSP-50642 Update documentation on BYOK EAR with AKV (#7318)
  source/security/azure-kms-over-private-endpoint.txt
Labels: none

DOCSP-50412-mongosh-release-2.5.2 (#12361)
  content/mongodb-shell/source/changelog.txt
Labels: Mongosh

DOCSP-50637-fix-OIDC-step-numbering (#12378)
  content/manual/upcoming/source/includes/oidc-azure-instructions.rst
Labels: Manual

DOCSP-30350 put troubleshooting into main pages, not separate
  source/crud.txt
  source/crud/bulk.txt
  source/crud/insert.txt
  source/crud/operation-error-handling.txt
  source/includes/crud/write-error.rst
Labels: none

DOCSP-30350 Adding descriptions and editing
  source/crud/bulk.txt
  source/crud/insert.txt
  source/includes/crud/write-error.rst
Labels: none

DOCSP-50677 v4.13.1 Patch Release (#271)
  snooty.toml
Labels: none

DOCSP-28599 Add links to full manual encryption code examples (#12385)
  content/manual/upcoming/source/core/csfle/fundamentals/manual-encryption.txt
Labels: Manual

DOCSP-30350 fixing example headings and final edits
  source/crud/bulk.txt
  source/crud/insert.txt
Labels: none

DOCSP-50637-fix-OIDC-step-numbering (#12378) (#12387)
  content/manual/manual/source/includes/oidc-azure-instructions.rst
  content/manual/v7.0/source/includes/oidc-azure-instructions.rst
Labels: Manual

DOCSP-30350 making vocab consistent, active voice
  source/crud/bulk.txt
  source/crud/insert.txt
  source/includes/crud/write-error.rst
Labels: none

DOCSP-48667-verify-package-steps (#861)
  source/includes/fact-version-arch.rst
  source/includes/steps-verify-om-deb-package.yaml
  source/includes/steps-verify-om-rpm-package.yaml
  source/includes/steps-verify-om-tar-gz-archive.yaml
Labels: none

DOCSP-49951: Clarify `--archive` option (#12304)
  content/database-tools/source/mongorestore.txt
Labels: Database Tools

DOCSP-49945: `--config` (#12250)
  content/database-tools/source/includes/fact-config-file-option.rst
Labels: Database Tools

DOCSP-49952: Definition section (#12047)
  content/database-tools/source/mongorestore.txt
Labels: Database Tools

DOCSP-50132: Syntax (#12072)
  content/database-tools/source/mongorestore.txt
Labels: Database Tools

DOCSP-48667-verify-package-steps-v8.0-backport (861) (#876)
  source/includes/fact-version-arch.rst
  source/includes/steps-verify-om-deb-package.yaml
  source/includes/steps-verify-om-rpm-package.yaml
  source/includes/steps-verify-om-tar-gz-archive.yaml
Labels: none

DOCSP-48667-verify-package-steps-v7.0-backport (861) (#877)
  source/includes/fact-version-arch.rst
  source/includes/steps-verify-om-deb-package.yaml
  source/includes/steps-verify-om-rpm-package.yaml
  source/includes/steps-verify-om-tar-gz-archive.yaml
Labels: none

DOCSP-30350 fix typo
  source/crud/bulk.txt
Labels: none

(DOCSP-43488): Updated content for Search and Vector Search view support. (#12343)
  content/manual/upcoming/source/core/views.txt
  content/manual/upcoming/source/includes/atlas-search-commands/command-descriptions/createSearchIndex-method.rst
  content/manual/upcoming/source/includes/atlas-search-commands/command-descriptions/createSearchIndexes-description.rst
  content/manual/upcoming/source/includes/atlas-search-commands/command-descriptions/getSearchIndexes-description.rst
  content/manual/upcoming/source/includes/extracts-agg-stages.yaml
  content/manual/upcoming/source/reference/method/js-collection.txt
  content/manual/upcoming/source/reference/privilege-actions.txt
Labels: Manual

DOCSP-33416 Removed errant references to free monitoring (#12388)
  content/manual/v6.0/source/administration/production-notes.txt
  content/manual/v6.0/source/reference/privilege-actions.txt
Labels: Manual

DOCSP-28599 [backport] Add links to full manual encryption code examples (#12385) (#12392)
  content/manual/manual/source/core/csfle/fundamentals/manual-encryption.txt
Labels: Manual

DOCSP-50657-incorrect-decimal-examples (#12393)
  content/manual/upcoming/source/reference/operator/aggregation/isNumber.txt
  content/manual/upcoming/source/reference/operator/aggregation/tan.txt
  content/manual/upcoming/source/reference/operator/aggregation/unwind.txt
Labels: Manual
