Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

DOP-5660 Port redirects for relational migrator (#12320)
  content/cluster-to-cluster-sync/netlify.toml
  content/database-tools/netlify.toml
  content/manual/netlify.toml
  content/mcp-server/netlify.toml
  content/mongodb-intellij/netlify.toml
  content/mongodb-shell/netlify.toml
  content/mongodb-vscode/netlify.toml
  content/relational-migrator/netlify.toml
  platform/template/netlify.toml
Labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

DOCSP-50657-incorrect-decimal-examples (#12393) (#12396)
  content/manual/manual/source/reference/operator/aggregation/isNumber.txt
  content/manual/manual/source/reference/operator/aggregation/tan.txt
  content/manual/manual/source/reference/operator/aggregation/unwind.txt
  content/manual/v6.0/source/reference/operator/aggregation/isNumber.txt
  content/manual/v6.0/source/reference/operator/aggregation/tan.txt
  content/manual/v6.0/source/reference/operator/aggregation/unwind.txt
  content/manual/v7.0/source/reference/operator/aggregation/isNumber.txt
  content/manual/v7.0/source/reference/operator/aggregation/tan.txt
  content/manual/v7.0/source/reference/operator/aggregation/unwind.txt
Labels: Manual

compass-hotfix hotfix (#12398)
  content/compass/netlify.toml
Labels: none

DOCSP-49013 BOM Tips added to Java RS (#136)
  source/includes/security/crypt-gradle-versioned.rst
  source/includes/security/crypt-maven-versioned.rst
  source/security/encrypt.txt
Labels: none

Compass hotfix (#12399)
  content/compass/netlify.toml
Labels: none

Compass hotfix (#12400)
  content/compass/netlify.toml
Labels: none

DOCSP-50571-build-error-replace-label-shared-tier-cluster (#12360)
  content/manual/upcoming/source/includes/analyzeShardKey-limitations.rst
  content/manual/upcoming/source/includes/cqa-limitations.rst
Labels: Manual

move guidelines to SEO page
  source/style-guide/seo-guidelines.txt
  source/style-guide/style/titles-and-headings.txt
Labels: none

ref links
  source/style-guide/seo-guidelines.txt
  source/style-guide/style/titles-and-headings.txt
Labels: none

[backport v5.5] DOCSP-49013 BOM Tips added to Java RS (#136) (#138)
  source/includes/security/crypt-gradle-versioned.rst
  source/includes/security/crypt-maven-versioned.rst
  source/security/encrypt.txt
Labels: none

DOCSP-42405-enable-tlsUseSystemCA (#12386)
  content/mongodb-shell/source/reference/options.txt
Labels: Mongosh

hide pre-release version of site (#256)
  config/redirects
Labels: none

DOCSP-50555: Fix broken links (#12380)
  content/cluster-to-cluster-sync/current/snooty.toml
  content/cluster-to-cluster-sync/v0.9/snooty.toml
  content/cluster-to-cluster-sync/v1.10/snooty.toml
  content/cluster-to-cluster-sync/v1.11/snooty.toml
  content/cluster-to-cluster-sync/v1.12/snooty.toml
  content/cluster-to-cluster-sync/v1.13/snooty.toml
  content/cluster-to-cluster-sync/v1.8/snooty.toml
  content/cluster-to-cluster-sync/v1.9/snooty.toml
Labels: C2C

DOCSP-50503 documentation for auto embeddings (#7306)
  snooty.toml
  source/atlas-vector-search/automated-embedding.txt
  source/includes/avs/automated-embeddings/basic-query-example.js
  source/includes/avs/automated-embeddings/basic-query-example.py
  source/includes/avs/automated-embeddings/basic-query-example.sh
  source/includes/avs/automated-embeddings/basic-query-syntax.js
  source/includes/avs/automated-embeddings/basic-query-syntax.py
  source/includes/avs/automated-embeddings/basic-query-syntax.sh
  source/includes/avs/automated-embeddings/index-example.js
  source/includes/avs/automated-embeddings/index-example.json
  source/includes/avs/automated-embeddings/index-example.py
  source/includes/avs/automated-embeddings/index-syntax.js
  source/includes/avs/automated-embeddings/index-syntax.json
  source/includes/avs/automated-embeddings/index-syntax.py
Labels: none

DOCSP-47892 Create quantization + voyage embeddings technical guide (#6870)
  source/atlas-vector-search/tutorials.txt
  source/atlas-vector-search/tutorials/auto-quantize-with-voyage-ai.txt
  source/images/avs/retention-vs-num-candidates-for-top-k-value-10.png
  source/images/avs/retention-vs-num-candidates-for-top-k-value-100.png
  source/images/avs/retention-vs-num-candidates-for-top-k-value-of-5.png
  source/images/avs/retention-vs-num-candidates-for-top-k-value-of-50.png
  source/images/avs/search-latency-vs-num-candidates-for-top-k-value-of-10.png
  source/images/avs/search-latency-vs-num-candidates-for-top-k-value-of-100.png
  source/images/avs/search-latency-vs-num-candidates-for-top-k-value-of-5.png
  source/images/avs/search-latency-vs-num-candidates-for-top-k-value-of-50.png
  source/includes/avs/auto-quantization-voyage-ai-tutorial/create-index.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/data-functions.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/environment-variables.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/evaluate-index-performance.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/index-definition.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/index-function.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/ingest-data.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/latency-format.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/latency-function.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/measure-latency.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/measure-performance.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/plot-latency.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/plot-retention.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/query-functions.py
  source/includes/avs/auto-quantization-voyage-ai-tutorial/representational-capacity-retention.py
Labels: none

DOCSP-30350 adding suggestions and API doc links
  source/crud/bulk.txt
  source/crud/insert.txt
  source/includes/crud/write-error.rst
Labels: none

DOCSP-30350 small tweaks to punctuation and wording
  source/crud/bulk.txt
  source/crud/insert.txt
Labels: none

DOCSP-update-banner-mcp-page (#12402)
  content/manual/manual/source/mcp.txt
  content/manual/upcoming/source/mcp.txt
Labels: Manual

DOCSP-50313 fix instructions for Online Archive restoration (#7279)
  source/includes/steps-restore-archived-data.yaml
Labels: none

rename what's new (#698) (#703)
  config/redirects
  source/index.txt
  source/reference.txt
  source/reference/legacy.txt
  source/reference/release-notes.txt
Labels: none

[DOCSP-50122] Remove next() info on explain() method {consistency} (#12290) (#12395)
  content/manual/upcoming/source/includes/fact-explain-methods-differences.rst
  content/manual/upcoming/source/reference/method/db.collection.explain.txt
  content/manual/v6.0/source/includes/fact-explain-methods-differences.rst
  content/manual/v6.0/source/reference/method/db.collection.explain.txt
  content/manual/v7.0/source/includes/fact-explain-methods-differences.rst
  content/manual/v7.0/source/reference/method/db.collection.explain.txt
Labels: Manual

DOCSP-30350 final edits
  source/crud/bulk.txt
  source/crud/insert.txt
Labels: none

DOCSP-30350 add schema val link to bulk
  source/crud/bulk.txt
Labels: none

DOCSP-50741 v2.1.1 Patch Release (#269)
  snooty.toml
Labels: none

DOCSP-50740 v1.21.1 Patch Release (#270)
  snooty.toml
Labels: none

Dark icons - v2.0 (#926)
  source/images/icons/atlas.svg
  source/images/icons/reference.svg
  source/images/icons/troubleshooting.svg
  source/index.txt
Labels: none

DOCSP-48915: rocket crud web app tutorial (docs+) (#191)
  snooty.toml
  source/fundamentals/crud.txt
  source/fundamentals/crud/web-app-tutorial.txt
  source/quick-start/next-steps.txt
Labels: none

DOCSP-48915: rocket crud web app tutorial (docs+) (#191)
  snooty.toml
  source/fundamentals/crud.txt
  source/fundamentals/crud/web-app-tutorial.txt
  source/quick-start/next-steps.txt
Labels: none

Removed Shared and Serverless from Atlas Gov
  source/api.txt
  source/includes/feature-matrix.rst
  source/includes/m20-required.rst
Labels: none

DOCSP-17044-tlsClusterAuthX509Override-example (#12363)
  content/manual/upcoming/source/reference/parameters.txt
  content/manual/upcoming/source/tutorial/rotate-x509-to-extensionValue.txt
Labels: Manual

add storefront link (#7274)
  source/performance-advisor/schema-suggestions.txt
Labels: none

DOCSP-49808-fix-get-started-code (#7303)
  source/atlas-vector-search/ai-integrations/semantic-kernel-csharp.txt
  source/includes/ai-integrations/semantic-kernel/sk-create-memory-store.cs
  source/includes/ai-integrations/semantic-kernel/sk-memory-store-description.rst
  source/includes/ai-integrations/semantic-kernel/sk-next-steps.rst
  source/includes/ai-integrations/semantic-kernel/sk-perform-qa-code.cs
  source/includes/ai-integrations/semantic-kernel/sk-perform-qa-csharp.rst
  source/includes/ai-integrations/semantic-kernel/sk-query-examples-csharp.rst
  source/includes/ai-integrations/semantic-kernel/sk-set-up-environment-csharp.rst
Labels: none

Remove shared cluster mentions from the Atlas Kubernetes docs (#241)
  snooty.toml
  source/ak8so-bcp.txt
  source/atlasdeployment-custom-resource.txt
  source/includes/fact-custom-database-role-overview.rst
Labels: none

DOCSP-50786 - Fix redirects for Upcoming 404 (#274)
  config/redirects
Labels: none

Remove shared cluster mentions from the Atlas Kubernetes docs (#241) (#242)
  snooty.toml
  source/ak8so-bcp.txt
  source/atlasdeployment-custom-resource.txt
  source/includes/fact-custom-database-role-overview.rst
Labels: none

Remove shared cluster mentions from the Atlas Kubernetes docs (#241) (#243)
  snooty.toml
  source/ak8so-bcp.txt
  source/atlasdeployment-custom-resource.txt
  source/includes/fact-custom-database-role-overview.rst
Labels: none

DOCSP-50383: Add preview page link (#38)
  source/index.txt
Labels: none

DOCSP-50383: Add preview page link (#126)
  source/async-c-driver.txt
Labels: none

DOCSP-50383: Add preview page link (#126)
  source/async-c-driver.txt
Labels: none

DOCSP-50383: Add preview page link (#38)
  source/index.txt
Labels: none
