Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

DOCSP-50306-directions-mck-release-notes (#2194) (#2202)
  snooty.toml
Labels: none

DOCSP-50263-matchcriteria-default (#7273)
  source/atlas-search/text.txt
Labels: none

DOCSP-50014-remove-EOL-version-mentions (#12261) (#12270)
  content/manual/manual/source/includes/fact-platform-containers.rst
  content/manual/manual/source/includes/fact-platform-x86_64.rst
  content/manual/manual/source/includes/platform-support.rst
  content/manual/manual/source/reference/command/compact.txt
  content/manual/manual/source/reference/read-concern.txt
  content/manual/manual/source/reference/versioning.txt
  content/manual/v6.0/source/includes/fact-platform-containers.rst
  content/manual/v6.0/source/includes/fact-platform-x86_64.rst
  content/manual/v6.0/source/includes/platform-support.rst
  content/manual/v6.0/source/reference/command/compact.txt
  content/manual/v6.0/source/reference/read-concern.txt
  content/manual/v6.0/source/reference/versioning.txt
  content/manual/v7.0/source/includes/fact-platform-containers.rst
  content/manual/v7.0/source/includes/fact-platform-x86_64.rst
  content/manual/v7.0/source/includes/platform-support.rst
  content/manual/v7.0/source/reference/command/compact.txt
  content/manual/v7.0/source/reference/read-concern.txt
  content/manual/v7.0/source/reference/versioning.txt
Labels: Manual

DOCSP-50368-users-should-not-connect-to-hidden-nodes-in-sharded-clusters (#12214)
  content/manual/manual/source/core/replica-set-hidden-member.txt
  content/manual/manual/source/includes/fact-cannot-connect-directly-to-shards.rst
  content/manual/manual/source/includes/important-delayed-replica-set-members.rst
Labels: Manual

DOCS-17038 Update OIDC note about async requests (#270)
  source/security/authentication/oidc.txt
Labels: none

DOCSP-49954-fundamentals-of-data-transformation-badge (#12246) (#12289)
  content/manual/manual/source/aggregation.txt
  content/manual/manual/source/core/aggregation-pipeline.txt
  content/manual/manual/source/reference/operator/aggregation/group.txt
  content/manual/manual/source/reference/operator/aggregation/limit.txt
  content/manual/manual/source/reference/operator/aggregation/match.txt
  content/manual/manual/source/reference/operator/update/sort.txt
  content/manual/v6.0/source/aggregation.txt
  content/manual/v6.0/source/core/aggregation-pipeline.txt
  content/manual/v6.0/source/reference/operator/aggregation/group.txt
  content/manual/v6.0/source/reference/operator/aggregation/limit.txt
  content/manual/v6.0/source/reference/operator/aggregation/match.txt
  content/manual/v6.0/source/reference/operator/update/sort.txt
  content/manual/v7.0/source/aggregation.txt
  content/manual/v7.0/source/core/aggregation-pipeline.txt
  content/manual/v7.0/source/reference/operator/aggregation/group.txt
  content/manual/v7.0/source/reference/operator/aggregation/limit.txt
  content/manual/v7.0/source/reference/operator/aggregation/match.txt
  content/manual/v7.0/source/reference/operator/update/sort.txt
Labels: Manual

DOCSP-50474-glossary-fixes-main-backport (12271) (#12287)
  content/manual/manual/snooty.toml
  content/manual/manual/source/administration/configuration.txt
  content/manual/manual/source/includes/steps-restore-sharded-config-primary-from-backup.yaml
  content/manual/manual/source/reference/glossary.txt
  content/manual/v4.4/source/administration/configuration.txt
  content/manual/v4.4/source/includes/steps-restore-sharded-config-primary-from-backup.yaml
  content/manual/v5.0/source/administration/configuration.txt
  content/manual/v5.0/source/includes/steps-restore-sharded-config-primary-from-backup.yaml
  content/manual/v5.0/source/reference/glossary.txt
  content/manual/v6.0/snooty.toml
  content/manual/v6.0/source/administration/configuration.txt
  content/manual/v6.0/source/includes/steps-restore-sharded-config-primary-from-backup.yaml
  content/manual/v6.0/source/reference/glossary.txt
  content/manual/v7.0/snooty.toml
  content/manual/v7.0/source/administration/configuration.txt
  content/manual/v7.0/source/includes/steps-restore-sharded-config-primary-from-backup.yaml
  content/manual/v7.0/source/reference/glossary.txt
Labels: Manual

DOCSP-49941 Add links to Skills storefront page for RAG with MongoDB badge (#7277)
  source/atlas-vector-search/ai-integrations.txt
  source/atlas-vector-search/ai-integrations/langchain.txt
  source/atlas-vector-search/create-embeddings.txt
  source/atlas-vector-search/rag.txt
  source/atlas-vector-search/tutorials/local-rag.txt
  source/atlas-vector-search/vector-search-overview.txt
Labels: none

DOCSP-50417-backport (#12278)
  content/manual/v6.0/source/core/dot-dollar-considerations.txt
  content/manual/v7.0/source/core/dot-dollar-considerations/periods.txt
Labels: Manual

DOCSP-50490: Homebrew warning for 2.0 (#122)
  source/get-started.txt
Labels: none

DOCSP-50490: Homebrew warning for 2.0 (#122)
  source/get-started.txt
Labels: none

(DOCSP-50308) feature comparison table (#704)
  source/pricing.txt
Labels: none

DOCSP-49965-azure-israel-AZ (#7285)
  source/reference/microsoft-azure.txt
Labels: none

DOCSP-50368-users-should-not-connect-to-hidden-nodes-in-sharded-clusters (#12214) (#12291)
  content/manual/upcoming/source/core/replica-set-hidden-member.txt
  content/manual/upcoming/source/includes/fact-cannot-connect-directly-to-shards.rst
  content/manual/upcoming/source/includes/important-delayed-replica-set-members.rst
Labels: Manual

backport-DOCSP-50368-users-should-not-connect-to-hidden-nodes-in-sharded-clusters (#12292)
  content/manual/v6.0/source/core/replica-set-hidden-member.txt
  content/manual/v6.0/source/includes/important-delayed-replica-set-members.rst
  content/manual/v7.0/source/core/replica-set-hidden-member.txt
  content/manual/v7.0/source/includes/important-delayed-replica-set-members.rst
Labels: Manual

remove old info (#707)
  source/pricing.txt
Labels: none

DOCSP-49936-advanved-schema-patterns-and-antipatterns-badge (#12262)
  content/manual/upcoming/source/core/schema-validation/specify-json-schema.txt
  content/manual/upcoming/source/data-modeling/design-antipatterns/reduce-collections.txt
  content/manual/upcoming/source/data-modeling/design-antipatterns/reduce-lookup-operations.txt
  content/manual/upcoming/source/data-modeling/design-antipatterns/unnecessary-indexes.txt
  content/manual/upcoming/source/data-modeling/design-patterns/data-versioning.txt
Labels: Manual

DOCSP-50482: 6.17 release (#1159)
  config/redirects
  snooty.toml
  source/includes/language-compatibility-table-node.rst
  source/includes/mongodb-compatibility-table-node.rst
  source/reference/release-notes.txt
Labels: none

DOCSP-50382 Update all preview callouts to link to new preview info page (#706)
  source/experimental-features.txt
Labels: none

DOCSP-50382 Update all preview callouts to link to new preview info page (#35)
  source/includes/static-containers-beta.rst
Labels: none

DOCSP-50382 Update all preview callouts to link to new preview info page (#1115)
  snooty.toml
Labels: none

(DOCSP-50414) Remove RHEL9 support checks for ppc64le (#874)
  source/includes/list-tables/v8-agent-platform-support-table.rst
Labels: none

fix copy (#7289)
  source/atlas-stream-processing/sp-agg-source.txt
Labels: none

DOCSP-49936-advanved-schema-patterns-and-antipatterns-badge (#12262) (#12296)
  content/manual/manual/source/core/schema-validation/specify-json-schema.txt
  content/manual/manual/source/data-modeling/design-antipatterns/reduce-collections.txt
  content/manual/manual/source/data-modeling/design-antipatterns/reduce-lookup-operations.txt
  content/manual/manual/source/data-modeling/design-antipatterns/unnecessary-indexes.txt
  content/manual/manual/source/data-modeling/design-patterns/data-versioning.txt
  content/manual/v6.0/source/core/schema-validation/specify-json-schema.txt
  content/manual/v7.0/source/core/schema-validation/specify-json-schema.txt
  content/manual/v7.0/source/data-modeling/design-patterns/data-versioning.txt
Labels: Manual

DOCSP-50382 Update all preview callouts to link to new preview info page (#1115) (#1119)
  snooty.toml
Labels: none

DOCSP-50382 Update all preview callouts to link to new preview info page (#1115) (#1118)
  snooty.toml
Labels: none

Docsp-49013 (#226)
  source/fundamentals/builders/builders-data-classes.txt
  source/fundamentals/data-formats/document-data-format-bson.txt
  source/fundamentals/data-formats/serialization.txt
  source/fundamentals/encrypt-fields.txt
  source/includes/fundamentals/code-snippets/bson-gradle-versioned.rst
  source/includes/fundamentals/code-snippets/bson-maven-versioned.rst
  source/includes/fundamentals/code-snippets/crypt-gradle-versioned.rst
  source/includes/fundamentals/code-snippets/crypt-maven-versioned.rst
  source/includes/serialization-libs-gradle-versioned.rst
  source/includes/serialization-libs-maven-versioned.rst
Labels: none

DOCSP-50494: Add Rust integrations (#247)
  source/images/icons/Axum.png
  source/images/icons/Rust-dark.png
  source/images/icons/Rust.png
  source/images/icons/Tide.png
  source/languages/rust.txt
Labels: none

DOCSP-50382 Update all preview callouts to link to new preview info page-v1.40-backport (1115) (#1117)
  snooty.toml
Labels: none

DOCSP-50382 Update all preview callouts to link to new preview info page (#35) (#36)
  source/includes/static-containers-beta.rst
Labels: none

DOCSP-50382 Update all preview callouts to link to new preview info page (#7287)
  snooty.toml
  source/atlas-stream-processing/s3-connection.txt
  source/atlas-ui.txt
  source/includes/command/atlas-api-serviceAccounts.rst
  source/includes/extracts-adf-beta-message.yaml
  source/includes/fact-oa-timeseries-preview.rst
  source/includes/fts/facts/fact-partial-indexing-preview.rst
  source/includes/search-shared/fact-partial-indexing-preview.rst
  source/reference/partner-integrations/azure.txt
  source/sdk/go/authentication.txt
Labels: none

DOCSP-50382 Update all preview callouts to link to new preview info page-v1.41-backport (1115) (#1116)
  snooty.toml
Labels: none

DOCSP-50377-finalize-6.0.24-rn (#12284)
  content/manual/upcoming/source/release-notes/6.0.txt
Labels: Manual

DOCSP-50377-finalize-7.0.21-rn (#12282)
  content/manual/upcoming/source/includes/changelogs/releases/7.0.21.rst
  content/manual/upcoming/source/release-notes/7.0.txt
Labels: Manual

DOCSP-50374-finalize-8.0.10-rn (#12286)
  content/manual/upcoming/source/includes/changelogs/releases/8.0.10.rst
  content/manual/upcoming/source/release-notes/8.0.txt
Labels: Manual

fix build error (#12300)
  content/manual/v6.0/source/reference/change-events.txt
Labels: Manual

DOCSP-50511-mongosh-CRUD-operations-badge (#12298)
  content/mongodb-shell/source/crud.txt
  content/mongodb-shell/source/crud/insert.txt
  content/mongodb-shell/source/crud/read.txt
  content/mongodb-shell/source/crud/update.txt
Labels: Mongosh

DOCSP-49946-query-optimization-badge (#12267)
  content/manual/upcoming/source/core/query-optimization.txt
  content/manual/upcoming/source/core/query-plans.txt
  content/manual/upcoming/source/core/query-shapes.txt
  content/manual/upcoming/source/reference/command/explain.txt
  content/manual/upcoming/source/reference/command/setQuerySettings.txt
  content/manual/upcoming/source/tutorial/query-documents.txt
Labels: Manual

(DOCSP-50397) Add link to restrictions section of $merge docs. (#7271)
  source/atlas-stream-processing/sp-agg-merge.txt
Labels: none

DOCSP-50445-mongosh-fundamentals-of-data-transformation-badge (#12295)
  content/mongodb-shell/source/run-agg-pipelines.txt
Labels: Mongosh
