Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, Charts, Cloud Manager, C2C, Compass, Database Tools, Datalake, Docs Platform, Guides, Kafka Connector, Kubernetes, Kubernetes Operator, Manual, MCP Server, Meta, Mongo Cli, Platform, IntelliJ, Mongosh, VSCode, Ops Manager, Relational Migrator

DOCSP-51244: Fix short page: previous versions (#673)
  config/redirects
  source/index.txt
  source/previous-versions.txt
  source/whats-new.txt
Labels: none

DOCSP-51250 remove ref page from landing <100 words
  snooty.toml
Labels: none

fix deletion
  snooty.toml
Labels: none

noindex
  snooty.toml
  source/reference.txt
Labels: none

DOCSP-51250 remove ref page from landing <100 words
  snooty.toml
Labels: none

noindex
  snooty.toml
  source/reference.txt
Labels: none

fix deletion
  snooty.toml
Labels: none

DOCSP-51244: Fix short page: previous versions (#673)
  config/redirects
  source/index.txt
  source/previous-versions.txt
  source/whats-new.txt
Labels: none

DOCSP-51244: Fix short page: previous versions (#673)
  config/redirects
  source/index.txt
  source/previous-versions.txt
  source/whats-new.txt
Labels: none

DOCSP-51244: Fix short page: previous versions (#673)
  config/redirects
  source/index.txt
  source/previous-versions.txt
  source/whats-new.txt
Labels: none

DOCSP-51244: Fix short page: previous versions (#673)
  config/redirects
  source/index.txt
  source/previous-versions.txt
  source/whats-new.txt
Labels: none

DOCSP-51245 connection no index
  snooty.toml
  source/connection.txt
Labels: none

DOCSP-51245 connection no index
  snooty.toml
  source/connection.txt
Labels: none

DOCSP-51246 >100 noindex crud
  source/crud.txt
Labels: none

DOCSP-51246 >100 noindex crud
  source/crud.txt
Labels: none

DOCSP-51247 noindex
  source/crud/query-documents.txt
Labels: none

DOCSP-51247 noindex
  source/crud/query-documents.txt
Labels: none

DOCSP-52027-add-unique (#13044) (#13058)
  content/manual/manual/source/reference/method/db.collection.distinct.txt
  content/manual/rapid/source/reference/method/db.collection.distinct.txt
  content/manual/v6.0/source/reference/method/db.collection.distinct.txt
  content/manual/v7.0/source/reference/method/db.collection.distinct.txt
Labels: Manual

DOCSP-52248 correct build errors (#13143)
  content/atlas/source/includes/steps-add-self-managed-x509-user.rst
  content/atlas/source/includes/steps-adf-add-self-managed-x509-user.rst
Labels: Atlas

DOCSP-52218 - CMake policy max version 4.0 (#13145)
  content/c-driver/upcoming/source/upgrade.txt
Labels: none

DOCSP-51675 Short Title Maintenance (#13147)
  content/manual/upcoming/source/reference/operator/aggregation/count-accumulator.txt
  content/manual/upcoming/source/reference/operator/aggregation/count.txt
  content/manual/upcoming/source/reference/operator/aggregation/covariancePop.txt
  content/manual/upcoming/source/reference/operator/aggregation/covarianceSamp.txt
  content/manual/upcoming/source/reference/operator/aggregation/currentOp.txt
  content/manual/upcoming/source/reference/operator/aggregation/dateAdd.txt
  content/manual/upcoming/source/reference/operator/aggregation/dateDiff.txt
  content/manual/upcoming/source/reference/operator/aggregation/dateFromParts.txt
  content/manual/upcoming/source/reference/operator/aggregation/dateFromString.txt
  content/manual/upcoming/source/reference/operator/aggregation/dateSubtract.txt
  content/manual/upcoming/source/reference/operator/aggregation/dateToParts.txt
  content/manual/upcoming/source/reference/operator/aggregation/dateToString.txt
  content/manual/upcoming/source/reference/operator/aggregation/dateTrunc.txt
  content/manual/upcoming/source/reference/operator/aggregation/dayOfMonth.txt
  content/manual/upcoming/source/reference/operator/aggregation/dayOfWeek.txt
  content/manual/upcoming/source/reference/operator/aggregation/dayOfYear.txt
  content/manual/upcoming/source/reference/operator/aggregation/degreesToRadians.txt
  content/manual/upcoming/source/reference/operator/aggregation/denseRank.txt
  content/manual/upcoming/source/reference/operator/aggregation/densify.txt
  content/manual/upcoming/source/reference/operator/aggregation/derivative.txt
Labels: Manual

DOCSP-52092-too-long-titles (#13123)
  content/manual/manual/source/core/indexes/index-types/index-text/specify-language-text-index/create-text-index-multiple-languages.txt
  content/manual/manual/source/tutorial/authenticate-nativeldap-activedirectory.txt
  content/manual/manual/source/tutorial/kerberos-auth-activedirectory-authz.txt
  content/manual/rapid/source/core/indexes/index-types/index-text/specify-language-text-index/create-text-index-multiple-languages.txt
  content/manual/rapid/source/tutorial/authenticate-nativeldap-activedirectory.txt
  content/manual/rapid/source/tutorial/kerberos-auth-activedirectory-authz.txt
  content/manual/upcoming/source/core/indexes/index-types/index-text/specify-language-text-index/create-text-index-multiple-languages.txt
  content/manual/upcoming/source/tutorial/authenticate-nativeldap-activedirectory.txt
  content/manual/upcoming/source/tutorial/kerberos-auth-activedirectory-authz.txt
  content/manual/v6.0/source/tutorial/authenticate-nativeldap-activedirectory.txt
  content/manual/v6.0/source/tutorial/kerberos-auth-activedirectory-authz.txt
  content/manual/v7.0/source/core/indexes/index-types/index-text/specify-language-text-index/create-text-index-multiple-languages.txt
  content/manual/v7.0/source/tutorial/authenticate-nativeldap-activedirectory.txt
  content/manual/v7.0/source/tutorial/kerberos-auth-activedirectory-authz.txt
Labels: Manual

DOCSP-51945 queryStats Delinquency Metrics (#13086)
  content/manual/upcoming/source/core/wiredtiger.txt
  content/manual/upcoming/source/reference/operator/aggregation/queryStats.txt
  content/manual/upcoming/source/release-notes/8.2.txt
Labels: Manual

DOCSP-51266 node security no index (#13154)
  content/node/upcoming/snooty.toml
  content/node/upcoming/source/security.txt
Labels: none

DOCSP-51264-no index monitoring page (#13156)
  content/node/upcoming/snooty.toml
  content/node/upcoming/source/monitoring-and-logging.txt
Labels: none

no index reference page (#13155)
  content/node/upcoming/source/reference.txt
Labels: none

DOCSP-51263-noindex-data-formats (#13158)
  content/node/upcoming/snooty.toml
  content/node/upcoming/source/data-formats.txt
Labels: none

DOCSP-51276 >100 Words Page Fixes (#196)
  snooty.toml
  source/api.txt
  source/fundamentals/connections.txt
  source/fundamentals/crud.txt
  source/fundamentals/crud/read-operations.txt
  source/fundamentals/crud/write-operations.txt
  source/fundamentals/monitoring.txt
  source/view-source.txt
Labels: none

Clean up PyMongo test file
  code-example-tests/python/pymongo/tests_package/aggregation/pipelines/test_tutorials.py
Labels: none

DOCSP-51915: Update SearchAfter example (#659)
  source/includes/fundamentals/code-examples/atlas-search/AtlasSearchExamples.cs
Labels: none

DOCSP-51915: Update SearchAfter example (#659)
  source/includes/fundamentals/code-examples/atlas-search/AtlasSearchExamples.cs
Labels: none

DOCSP-51915: Update SearchAfter example (#659)
  source/includes/fundamentals/code-examples/atlas-search/AtlasSearchExamples.cs
Labels: none

backport data formats
  snooty.toml
  source/data-formats.txt
Labels: none

backport data formats
  snooty.toml
  source/data-formats.txt
Labels: none

DOCSP-51142 Add Node backport File (#13169)
  content/node/upcoming/.backportrc.json
Labels: none

DOCSP-51262 < 100 Words Crud Node (#13168)
  content/node/upcoming/snooty.toml
  content/node/upcoming/source/crud.txt
  content/node/upcoming/source/crud/query.txt
Labels: none

DOCSP-51292: noindex Reference and data formats (#13170)
  content/php-library/upcoming/snooty.toml
  content/php-library/upcoming/source/data-formats.txt
  content/php-library/upcoming/source/reference.txt
Labels: none

move backport file to node dir (#13176)
  content/node/.backportrc.json
Labels: none

DOCSP-51279 - Data Formats as drawer page (#13179)
  content/cpp-driver/upcoming/snooty.toml
  content/cpp-driver/upcoming/source/data-formats.txt
Labels: none

DOCSP-51279 - Data Formats as drawer page (#13179) (#13181)
  content/cpp-driver/current/snooty.toml
  content/cpp-driver/current/source/data-formats.txt
  content/cpp-driver/v3.11/snooty.toml
  content/cpp-driver/v3.11/source/data-formats.txt
  content/cpp-driver/v4.0/snooty.toml
  content/cpp-driver/v4.0/source/data-formats.txt
Labels: none

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-cli/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']
