Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

DOCSP-50756: Aggregation links (#192)
  source/fundamentals/aggregation.txt
Labels: none

add mongocli netlify.toml
  content/mongocli/netlify.toml
Labels: none

fix mongocli submodule
  .gitmodules
Labels: none

DOCSP-50750: agg tutorial link (#714)
  snooty.toml
  source/aggregation/aggregation-examples.txt
Labels: none

DOCSP-50750: agg tutorial link (#714)
  snooty.toml
  source/aggregation/aggregation-examples.txt
Labels: none

DOCSP-50750: agg tutorial link (#714)
  snooty.toml
  source/aggregation/aggregation-examples.txt
Labels: none

DOCSP-50750: agg tutorial link (#714)
  snooty.toml
  source/aggregation.txt
Labels: none

DOCSP-50750: agg tutorial link (#714)
  snooty.toml
  source/aggregation.txt
Labels: none

DOCSP-50750: agg tutorial link (#714)
  snooty.toml
  source/aggregation.txt
Labels: none

DOCSP-50750: agg tutorial link (#714)
  snooty.toml
  source/aggregation.txt
Labels: none

DOCSP-50751: agg tutorial link (#235)
  source/fundamentals/aggregation.txt
Labels: none

DOCSP-50751: agg tutorial link (#235)
  source/fundamentals/aggregation.txt
Labels: none

DOCSP-50751: agg tutorial link (#235)
  source/fundamentals/aggregation.txt
Labels: none

DOCSP-50751: agg tutorial link (#235)
  source/fundamentals/aggregation.txt
Labels: none

DOCSP-50751: agg tutorial link (#235)
  source/fundamentals/aggregation.txt
Labels: none

DOCSP-50751: agg tutorial link (#235)
  source/fundamentals/aggregation.txt
Labels: none

DOCSP-50751: agg tutorial link (#235)
  source/fundamentals/aggregation.txt
Labels: none

DOCSP-50752: agg tutorial link (#1167)
  config/redirects
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/connect/connection-options.txt
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-50752: agg tutorial link (#1167)
  config/redirects
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/connect/connection-options.txt
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-50752: agg tutorial link (#1167)
  config/redirects
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/connect/connection-options.txt
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-50752: agg tutorial link (#1167)
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/connect/connection-options.txt
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-50752: agg tutorial link (#1167)
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/connect/connection-options.txt
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-50752: agg tutorial link (#1167)
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/connect/connection-options.txt
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-50752: agg tutorial link (#1167)
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/connect/connection-options.txt
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-50752: agg tutorial link (#1167)
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/connect/connection-options.txt
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-50752: agg tutorial link (#1167)
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/connect/connection-options.txt
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-50752: agg tutorial link (#1167)
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/connect/connection-options.txt
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-49938 -- Added notes on Global Cluster not supporting Dedicated Search Nodes (#7320)
  source/cluster-config/multi-cloud-distribution.txt
  source/create-database-deployment.txt
  source/global-clusters.txt
  source/includes/cluster-settings/global-cluster/global-clusters-search-nodes-limitations.rst
  source/scale-cluster.txt
  source/shard-global-collection.txt
  source/tutorial/create-global-cluster.txt
Labels: none

(DOCSP-50982): Describes Data Federation data traffic and the public internet.
  source/data-federation/overview.txt
Labels: none

Fixes typo. (#7341)
  source/billing/data-transfer-costs.txt
Labels: none

Fixes 'an' to 'a' typo. (#7342)
  source/atlas-stream-processing/kafka-connection.txt
Labels: none

(DOCSP-50580) Add prereqs for cert manager integration (#2205)
  source/tutorial/cert-manager-integration.txt
Labels: none

(DOCSP-49477) Example code. (#7321)
  source/atlas-stream-processing/sp-agg-merge.txt
Labels: none

(DOCSP-50580) MCK copy - Add prereqs for cert manager integration (#39)
  source/tutorial/cert-manager-integration.txt
Labels: none

DOCSP-50981-fixed-label-syntax (#12470)
  content/manual/manual/source/includes/steps-run-mongodb-enterprise-on-osx-tls-disabled.rst
Labels: Manual

Merge IntelliJ Feature Branch (#12474)
  content/mongodb-intellij/snooty.toml
  content/mongodb-intellij/source/connect.txt
  content/mongodb-intellij/source/java-driver-methods-introspection.txt
  content/mongodb-intellij/source/run-java-queries.txt
  content/mongodb-intellij/source/spring-criteria-methods-introspection.txt
Labels: IntelliJ

(DOCSP-50314) Fixing description of log 'Max Percent of Disk' (#883)
  source/includes/steps-manage-host-logs-on-disk.yaml
Labels: none

DOCSP-41784 Support for Explicit Resource Management (#1165)
  .backportrc.json
  source/connect/mongoclient.txt
  source/crud/query/cursor.txt
  source/crud/transactions.txt
  source/crud/transactions/transaction-core.txt
  source/includes/explicit-resource-management.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-41784 Support for Explicit Resource Management (#1165) (#1170)
  .backportrc.json
  source/connect/mongoclient.txt
  source/crud/query/cursor.txt
  source/crud/transactions.txt
  source/crud/transactions/transaction-core.txt
  source/includes/explicit-resource-management.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-41784 Support for Explicit Resource Management (#1165) (#1169)
  .backportrc.json
  source/connect/mongoclient.txt
  source/crud/query/cursor.txt
  source/crud/transactions.txt
  source/crud/transactions/transaction-core.txt
  source/includes/explicit-resource-management.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']
