Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

DOCSP-50754: Add agg tutorials links (#277)
  config/redirects
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/reference.txt
Labels: none

DOCSP-50754: Add agg tutorials links (#277)
  config/redirects
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/reference.txt
Labels: none

DOCSP-50754: Add agg tutorials links (#277)
  config/redirects
  snooty.toml
  source/aggregation.txt
  source/aggregation/filtered-subset.txt
  source/aggregation/group-total.txt
  source/aggregation/multi-field-join.txt
  source/aggregation/one-to-one-join.txt
  source/aggregation/unpack-arrays.txt
  source/reference.txt
Labels: none

JA review
  source/style-guide/style/titles-and-headings.txt
Labels: none

DOCSP-50664 Fix quantization table (#7325)
  source/atlas-vector-search/vector-quantization.txt
Labels: none

DOCSP-50723 backport of DOCSP-47151 (#12430)
  content/manual/manual/source/core/index-ttl.txt
  content/manual/manual/source/core/timeseries/timeseries-limitations.txt
  content/manual/manual/source/includes/time-series-ttl-deletes.rst
  content/manual/manual/source/tutorial/expire-data.txt
Labels: Manual

DOCSP-50818: Remove Motor link on Python Drivers (#1012)
  source/python-drivers.txt
Labels: none

create ai agent tutorial
  use-cases/ai-agent.ipynb
Labels: none

update voyage models
  ai-integrations/langchain-memory-semantic-cache.ipynb
  create-embeddings/voyage-existing-data.ipynb
  create-embeddings/voyage-new-data.ipynb
  use-cases/rag-with-voyage.ipynb
Labels: none

tiny fix
  use-cases/ai-agent.ipynb
Labels: none

(DOCSP-50508) Document Third-Party Backup Integrations (#875)
  snooty.toml
  source/core/backup-overview.txt
  source/core/third-party-backup.txt
  source/tutorial/install-mongodb-agent-to-manage.txt
  source/tutorial/nav/backup-deployments.txt
  source/tutorial/nav/backup-use.txt
  source/tutorial/third-party-service-integrations.txt
Labels: none

(DOCSP-50508) Document Third-Party Backup Integrations-v8.0-backport (875) (#884)
  snooty.toml
  source/core/backup-overview.txt
  source/core/third-party-backup.txt
  source/tutorial/install-mongodb-agent-to-manage.txt
  source/tutorial/nav/backup-deployments.txt
  source/tutorial/nav/backup-use.txt
  source/tutorial/third-party-service-integrations.txt
Labels: none

nits
  use-cases/ai-agent.ipynb
Labels: none

DOCSP-36867 Perform operations with driver (#57)
  source/faq.txt
  source/includes/code-examples/faq.cs
Labels: none

DOCSP-50251-unavailable-serverless (#7330)
  source/includes/fact-regex-queries-shared-oplog.rst
  source/includes/serverless-dont-use.rst
  source/reference/atlas-oplog.txt
Labels: none

DOCSP-49412--unique-indexes-and-schema-valdiation (#12342)
  content/manual/upcoming/source/applications/indexes.txt
  content/manual/upcoming/source/tutorial/unique-indexes-schema-validation.txt
Labels: Manual

DOCSP-50788-avoid-upsert-retry-v7.0-backport (#12436)
  content/manual/manual/source/includes/transactions/example-intro.rst
  content/manual/v7.0/source/includes/fact-no-upsert-retry-multidocument-transaction.rst
  content/manual/v7.0/source/includes/transactions/example-intro.rst
  content/manual/v7.0/source/reference/parameters.txt
Labels: Manual

update toctree (#7332)
  source/atlas-vector-search/ai-agents.txt
  source/atlas-vector-search/ai-integrations.txt
  source/atlas-vector-search/vector-search-overview.txt
Labels: none

DOCSP-50787-avoid-upsert-retry-8.0-backport (#12434)
  content/manual/manual/source/includes/fact-no-upsert-retry-multidocument-transaction.rst
  content/manual/manual/source/includes/transactions/example-intro.rst
  content/manual/manual/source/reference/parameters.txt
Labels: Manual

DOCSP-35201 Transaction Retry Logic in Core API (#1164)
  source/crud/transactions.txt
Labels: none

(DOCSP-50517): Adds the OM 8.0.8 RNs.
  source/release-notes/changelogs/mongodb-agent/changelog-mongodb-agent-onprem-v8.0.rst
  source/release-notes/changelogs/ops-manager/changelog-onprem-v8.0.rst
Labels: none

(DOCSP-50517): Adds the OM 8.0.8 RNs.
  source/release-notes/changelogs/mongodb-agent/changelog-mongodb-agent-onprem-v8.0.rst
  source/release-notes/changelogs/ops-manager/changelog-onprem-v8.0.rst
Labels: none

DOCS-17050-member-CR-description (#12383)
  content/manual/upcoming/source/includes/extracts-x509-certificate.yaml
  content/manual/upcoming/source/reference/parameters.txt
Labels: Manual

DOCSP 50097 - merge feature branch into main (#12439)
  content/mcp-server/snooty.toml
  content/mcp-server/source/configuration.txt
  content/mcp-server/source/examples.txt
  content/mcp-server/source/get-started.txt
  content/mcp-server/source/images/mongodb-dna-dark.png
  content/mcp-server/source/images/mongodb-dna.png
  content/mcp-server/source/images/mongodb-mcp-diagram.svg
  content/mcp-server/source/images/mongodb-mcp-plp-hero.svg
  content/mcp-server/source/includes/get-started/prompts/code-generation.rst
  content/mcp-server/source/includes/get-started/prompts/create-collection.rst
  content/mcp-server/source/includes/get-started/prompts/database-management.rst
  content/mcp-server/source/includes/get-started/prompts/explore-and-query.rst
  content/mcp-server/source/includes/get-started/shared/common-mcp-config.json
  content/mcp-server/source/includes/get-started/shared/step-atlas-mcp-config.rst
  content/mcp-server/source/includes/get-started/shared/step-connection-string-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/shared/step-connection-string-mcp-config-self.rst
  content/mcp-server/source/includes/get-started/shared/step-mcp-config-claude.rst
  content/mcp-server/source/includes/get-started/shared/step-mcp-config-copilot.rst
  content/mcp-server/source/includes/get-started/shared/step-mcp-config-cursor.rst
  content/mcp-server/source/includes/get-started/shared/step-mcp-config-windsurf.rst
  content/mcp-server/source/includes/get-started/shared/step-read-only-mcp-config.rst
  content/mcp-server/source/includes/get-started/steps-claude-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/steps-claude-mcp-config-self.rst
  content/mcp-server/source/includes/get-started/steps-copilot-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/steps-copilot-mcp-config-self.rst
  content/mcp-server/source/includes/get-started/steps-cursor-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/steps-cursor-mcp-config-self.rst
  content/mcp-server/source/includes/get-started/steps-windsurf-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/steps-windsurf-mcp-config-self.rst
  content/mcp-server/source/includes/stub_required.txt
  content/mcp-server/source/index.txt
  content/mcp-server/source/overview.txt
  content/mcp-server/source/tools.txt
  platform/template/netlify.toml
Labels: Platform

DOCSP-50756: Aggregation links (#192)
  source/fundamentals/aggregation.txt
Labels: none

DOCSP-49786 - Add C# meta example (#12193)
  content/manual/upcoming/source/includes/driver-examples/aggregation/Movie.cs
  content/manual/upcoming/source/includes/driver-examples/meta/MetaExamples.cs
  content/manual/upcoming/source/includes/driver-examples/meta/Movie.cs
  content/manual/upcoming/source/includes/driver-examples/meta/sample-data-movie.rst
  content/manual/upcoming/source/reference/operator/aggregation/meta.txt
Labels: Manual

DOCSP-48993-steps-enterprise-tls-connections (#12194)
  content/manual/manual/source/includes/steps-run-mongodb-enterprise-on-osx-tls-disabled.rst
  content/manual/manual/source/includes/steps-run-mongodb-enterprise-on-osx-tls-enabled.rst
  content/manual/manual/source/includes/steps-run-mongodb-enterprise-on-osx.rst
  content/manual/manual/source/tutorial/install-mongodb-enterprise-on-os-x.txt
Labels: Manual

DOCSP-50452: update compass images for index explain (#12435)
  content/manual/upcoming/source/images/compass-analyze-inventory-docs.png
  content/manual/upcoming/source/images/compass-explain-plan-no-index-raw-json.png
  content/manual/upcoming/source/images/compass-explain-plan-no-index.png
  content/manual/upcoming/source/images/compass-explain-plan-with-index-raw-json.png
  content/manual/upcoming/source/images/compass-explain-plan-with-index.png
  content/manual/upcoming/source/images/compass-show-new-index.png
  content/manual/upcoming/source/tutorial/analyze-query-plan.txt
Labels: Manual

DOCSP-49412--unique-indexes-and-schema-valdiation (#12342) (#12447)
  content/manual/manual/source/applications/indexes.txt
  content/manual/manual/source/tutorial/unique-indexes-schema-validation.txt
  content/manual/v6.0/source/applications/indexes.txt
  content/manual/v6.0/source/tutorial/unique-indexes-schema-validation.txt
  content/manual/v7.0/source/applications/indexes.txt
  content/manual/v7.0/source/tutorial/unique-indexes-schema-validation.txt
Labels: Manual

DOCSP-35201 Backport Transaction Retry Logic in Core API (#1164) (#1166)
  source/crud/transactions.txt
Labels: none

DOCSP-49786 - Add C# $meta examples(#12449)
  content/manual/manual/source/includes/driver-examples/aggregation/Movie.cs
  content/manual/manual/source/includes/driver-examples/meta/MetaExamples.cs
  content/manual/manual/source/includes/driver-examples/meta/Movie.cs
  content/manual/manual/source/includes/driver-examples/meta/sample-data-movie.rst
  content/manual/manual/source/reference/operator/aggregation/meta.txt
  content/manual/v6.0/source/includes/driver-examples/aggregation/Movie.cs
  content/manual/v6.0/source/includes/driver-examples/aggregation/sample-data-movie.rst
  content/manual/v6.0/source/includes/driver-examples/meta/MetaExamples.cs
  content/manual/v6.0/source/includes/driver-examples/meta/Movie.cs
  content/manual/v6.0/source/includes/driver-examples/meta/sample-data-movie.rst
  content/manual/v6.0/source/reference/operator/aggregation/meta.txt
  content/manual/v7.0/source/includes/driver-examples/aggregation/Movie.cs
  content/manual/v7.0/source/includes/driver-examples/aggregation/sample-data-movie.rst
  content/manual/v7.0/source/includes/driver-examples/meta/MetaExamples.cs
  content/manual/v7.0/source/includes/driver-examples/meta/Movie.cs
  content/manual/v7.0/source/includes/driver-examples/meta/sample-data-movie.rst
  content/manual/v7.0/source/reference/operator/aggregation/meta.txt
Labels: Manual

DOCS-17050-member-CR-description (#12383) (#12450)
  content/manual/manual/source/includes/extracts-x509-certificate.yaml
  content/manual/manual/source/reference/parameters.txt
Labels: Manual

Fix 404 internals on docs v2.6 (#244)
  source/ak8so-independent-crd.txt
  source/ak8so-stream-processing.txt
  source/atlascustomrole-custom-resource.txt
  source/atlasstreamconnection-custom-resource.txt
Labels: none

DOCSP-50724-add-server-status-metric (BACKPORT) (#12446)
  content/manual/manual/source/reference/command/serverStatus.txt
  content/manual/upcoming/source/reference/command/serverStatus.txt
  content/manual/v7.0/source/reference/command/serverStatus.txt
Labels: Manual

redirect old search page (#886)
  config/redirects
Labels: none

(DOCSP-50944): add noindex tag to hidden landing pages and link to new MCP server docs (#7335)
  source/ai-integrations.txt
  source/ai-integrations/agent-frameworks.txt
  source/ai-integrations/frameworks.txt
  source/ai-integrations/platforms.txt
  source/ai-integrations/semantic-kernel.txt
  source/ai-integrations/tools.txt
Labels: none

add mcp card to tools & connectors page (#249)
  source/tools-and-connectors.txt
Labels: none

DOCSP-50732-use-ocspStaplingRefreshPeriodSecs-instead-of-deprecated-param-name (#12431)
  content/manual/manual/source/includes/list-table-ocsp-parameters.rst
  content/manual/manual/source/reference/parameters.txt
Labels: Manual

DOCSP-50951: Add Motor deprecation notice to Python page (#1013)
  source/includes/help-links-motor.rst
  source/includes/language-compatibility-table-motor.rst
  source/includes/mongodb-compatibility-table-motor.rst
  source/motor.txt
  source/python-drivers.txt
Labels: none

DOCSP-50964: Remove 6.1 from Mongo compat table
  source/includes/mongodb-compatibility-table-java.rst
Labels: none

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']
