Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, Charts, Cloud Manager, C2C, Compass, Database Tools, Datalake, Docs Platform, Guides, Kafka Connector, Kubernetes, Kubernetes Operator, Manual, MCP Server, Meta, Mongo Cli, Platform, IntelliJ, Mongosh, VSCode, Ops Manager, Relational Migrator

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-cli/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']

DOCSP-52292: Add php backport file (#13185)
  content/php-library/.backportrc.json
Labels: none

DOCSP-51295: noindex Monitoring and Result classes (#13171)
  content/php-library/upcoming/source/monitoring-logging/monitoring.txt
  content/php-library/upcoming/source/reference/result-classes.txt
Labels: none

DOCSP-51285: noindex Connect landing page (#144)
  snooty.toml
  source/connect.txt
Labels: none

DOCSP-51285: noindex Connect landing page (#144)
  snooty.toml
  source/connect.txt
Labels: none

DOCSP-51285: noindex Connect landing page (#144)
  snooty.toml
  source/connect.txt
Labels: none

DOCSP-51285: noindex Connect landing page (#144)
  snooty.toml
  source/connect.txt
Labels: none

add backport file (#13189)
  content/mongoid/.backportrc.json
Labels: none

DOCSP-51292: noindex Reference and data formats (#13170) (#13187)
  content/php-library/current/snooty.toml
  content/php-library/current/source/data-formats.txt
  content/php-library/current/source/reference.txt
  content/php-library/v1.x/snooty.toml
  content/php-library/v1.x/source/data-formats.txt
  content/php-library/v1.x/source/reference.txt
Labels: none

DOCSP-51295: noindex Monitoring and Result classes (#13171) (#13188)
  content/php-library/current/source/monitoring-logging/monitoring.txt
  content/php-library/current/source/reference/result-classes.txt
  content/php-library/v1.x/source/monitoring-logging/monitoring.txt
  content/php-library/v1.x/source/reference/result-classes.txt
Labels: none

DOCSP-52290: Remove Wagtail from Third Party Libraries (#13174)
  content/django-mongodb/upcoming/source/limitations-upcoming.txt
Labels: none

add backport file (#13190)
  content/c-driver/.backportrc.json
Labels: none

DOCSP-52296: Add Django backport file (#13191)
  content/django-mongodb/.backportrc.json
Labels: none

DOCSP-51266 node security no index (#13154) (#13180)
  content/node/current/snooty.toml
  content/node/current/source/security.txt
  content/node/v6.14/snooty.toml
  content/node/v6.14/source/security.txt
  content/node/v6.15/snooty.toml
  content/node/v6.15/source/security.txt
  content/node/v6.16/snooty.toml
  content/node/v6.16/source/security.txt
Labels: none

DOCSP-51264-no index monitoring page (#13156) (#13182)
  content/node/current/snooty.toml
  content/node/current/source/monitoring-and-logging.txt
  content/node/v6.14/snooty.toml
  content/node/v6.14/source/monitoring-and-logging.txt
  content/node/v6.15/snooty.toml
  content/node/v6.15/source/monitoring-and-logging.txt
  content/node/v6.16/snooty.toml
  content/node/v6.16/source/monitoring-and-logging.txt
Labels: none

no index reference page (#13155) (#13183)
  content/node/current/source/reference.txt
  content/node/v6.14/source/reference.txt
  content/node/v6.15/source/reference.txt
  content/node/v6.16/source/reference.txt
Labels: none

DOCSP-51263-noindex-data-formats (#13158) (#13184)
  content/node/current/snooty.toml
  content/node/current/source/data-formats.txt
  content/node/v6.14/snooty.toml
  content/node/v6.14/source/data-formats.txt
  content/node/v6.15/snooty.toml
  content/node/v6.15/source/data-formats.txt
  content/node/v6.16/snooty.toml
  content/node/v6.16/source/data-formats.txt
Labels: none

DOCSP-51262 < 100 Words Crud Node (#13168) (#13186)
  content/node/current/snooty.toml
  content/node/current/source/crud.txt
  content/node/current/source/crud/query.txt
  content/node/v6.16/snooty.toml
  content/node/v6.16/source/crud.txt
  content/node/v6.16/source/crud/query.txt
Labels: none

ef backport (#13194)
  content/entity-framework/.backportrc.json
Labels: none

DOCSP-52299: Add backport file (#13195)
  content/laravel-mongodb/.backportrc.json
Labels: none

(DOCSP-51934): Updated the Project Cluster Manager description. (#13130)
  content/atlas/source/reference/user-roles.txt
Labels: Atlas

DOCSP-48149 Adds terminateSecondaryReadsOnOrphanCleanup and updates orphanCleanupDelaySecs (#12894)
  content/manual/upcoming/source/code-examples/reference/parameters/terminateSecondaryReadsOnOrphanCleanup-error-message.sh
  content/manual/upcoming/source/reference/command/serverStatus.txt
  content/manual/upcoming/source/reference/parameters.txt
  content/manual/upcoming/source/release-notes/8.2-compatibility.txt
  content/manual/upcoming/source/release-notes/8.2.txt
Labels: Manual

DOCSP-52065 Django Title Too Long (#13202)
  content/django-mongodb/upcoming/source/get-started.txt
Labels: none

(DOCSP-52108) Triggers: Add permissions info
  content/atlas/source/atlas-ui/triggers.txt
  content/atlas/source/reference/user-roles.txt
Labels: Atlas

DOCSP-52065 Django Title Too Long (#13202) (#13208)
  content/django-mongodb/current/source/get-started.txt
  content/django-mongodb/v5.1/source/get-started.txt
Labels: none

(DOCSP-51933) Add link for context (#13210)
  content/atlas/source/atlas-stream-processing/stream-aggregation-expression.txt
Labels: Atlas

DOCSP-52220-atlas-update-batch-2 (#13199)
  content/manual/upcoming/source/reference/command/createRole.txt
  content/manual/upcoming/source/reference/command/createUser.txt
  content/manual/upcoming/source/reference/command/dropRole.txt
  content/manual/upcoming/source/reference/command/replSetFreeze.txt
  content/manual/upcoming/source/reference/command/replSetInitiate.txt
  content/manual/upcoming/source/reference/command/replSetMaintenance.txt
  content/manual/upcoming/source/reference/command/replSetStepDown.txt
  content/manual/upcoming/source/reference/command/updateRole.txt
  content/manual/upcoming/source/reference/command/updateUser.txt
Labels: Manual

DOCSP-52221-atlas-update-batch-3 (#13204)
  content/manual/upcoming/source/reference/command/grantRolesToUser.txt
  content/manual/upcoming/source/reference/command/killAllSessions.txt
  content/manual/upcoming/source/reference/command/logRotate.txt
  content/manual/upcoming/source/reference/command/replSetReconfig.txt
  content/manual/upcoming/source/reference/command/replSetSyncFrom.txt
  content/manual/upcoming/source/reference/command/revokeRolesFromUser.txt
  content/manual/upcoming/source/reference/command/setParameter.txt
  content/manual/upcoming/source/reference/command/shutdown.txt
Labels: Manual

DOCSP-51268 Laravel Too short pages (#13218)
  content/laravel-mongodb/upcoming/snooty.toml
  content/laravel-mongodb/upcoming/source/fundamentals.txt
  content/laravel-mongodb/upcoming/source/fundamentals/connection.txt
Labels: none

DOCSP-52064 AWS Migration Guide Title (#13205)
  content/atlas/source/legacy-migration.txt
  content/guides/source/cloud/migrate-from-aws-to-atlas-on-aws.txt
Labels: Atlas, Guides

DOCSP-52290: Remove Wagtail from Third Party Libraries-main-backport (13174) (#13193)
  content/django-mongodb/current/source/limitations-upcoming.txt
  content/django-mongodb/v5.0/source/limitations-upcoming.txt
  content/django-mongodb/v5.1/source/limitations-upcoming.txt
Labels: none

[backport] DOCSP-51268 Laravel Too short pages #13218 (#13221)
  content/laravel-mongodb/current/snooty.toml
  content/laravel-mongodb/current/source/fundamentals.txt
  content/laravel-mongodb/current/source/fundamentals/connection.txt
  content/laravel-mongodb/v4.x/snooty.toml
  content/laravel-mongodb/v4.x/source/fundamentals.txt
  content/laravel-mongodb/v4.x/source/fundamentals/connection.txt
Labels: none

DOCSP-51290 Mongoid <100 Words (#13219)
  content/mongoid/upcoming/source/api-docs.txt
  content/mongoid/upcoming/source/integrations-tools.txt
Labels: none

DOCSP-52204 Mongosync Index Missing Typo (#13177)
  content/mongosync/current/source/includes/fact-older-version-limitations.rst
Labels: none

DOCSP-51290 Mongoid <100 Words (#13219) (#13227)
  content/mongoid/current/source/api-docs.txt
  content/mongoid/current/source/integrations-tools.txt
Labels: none

DOCSP-50525: Clarify `stdin` in mongorestore (#12517)
  content/database-tools/source/includes/fact-db-collection-deprecated.rst
  content/database-tools/source/mongorestore.txt
Labels: Database Tools

(DOCSP-51168): Add C# Driver code example test suite (#13162)
  .github/workflows/csharp-driver-examples-check-formatting.yml
  .github/workflows/csharp-driver-examples-test-in-docker.yml
  code-example-tests/csharp/driver/.editorconfig
  code-example-tests/csharp/driver/.gitignore
  code-example-tests/csharp/driver/Examples/Aggregation/Pipelines/Filter/Person.cs
  code-example-tests/csharp/driver/Examples/Aggregation/Pipelines/Filter/Tutorial.cs
  code-example-tests/csharp/driver/Examples/Aggregation/Pipelines/Filter/TutorialOutput.txt
  code-example-tests/csharp/driver/Examples/Aggregation/Pipelines/TemplateApp.cs
  code-example-tests/csharp/driver/Examples/ExampleStub.cs
  code-example-tests/csharp/driver/Examples/Examples.csproj
  code-example-tests/csharp/driver/Examples/Program.cs
  code-example-tests/csharp/driver/README.md
  code-example-tests/csharp/driver/Tests/Aggregation/Pipelines/FilterTest.cs
  code-example-tests/csharp/driver/Tests/Aggregation/Pipelines/TemplateAppTest.cs
  code-example-tests/csharp/driver/Tests/ExampleStubTest.cs
  code-example-tests/csharp/driver/Tests/TestSuiteSetup.cs
  code-example-tests/csharp/driver/Tests/TestUtils.cs
  code-example-tests/csharp/driver/Tests/Tests.csproj
  code-example-tests/csharp/driver/driver.sln
  code-example-tests/csharp/driver/snip.js
  code-example-tests/javascript/driver/README.md
  code-example-tests/python/pymongo/README.md
  code-example-tests/python/pymongo/snip.js
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Filter/Person.snippet.model.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Filter/Tutorial.snippet.limit.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Filter/Tutorial.snippet.load-sample-data.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Filter/Tutorial.snippet.match.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Filter/Tutorial.snippet.project.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Filter/Tutorial.snippet.sort.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Filter/TutorialOutput.txt
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/TemplateApp.snippet.example.cs
  content/manual/manual/source/includes/aggregation/aggregation-examples/filtered-subset/csharp-filtered-subset.rst
  content/manual/manual/source/includes/aggregation/aggregation-examples/template-apps/csharp-template-app.rst
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/filtered-subset/csharp-filtered-subset.rst
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/filtered-subset/full-files/FilteredSubset.cs
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/template-apps/csharp-template-app.rst
Labels: Manual

DOCSP-48277 Wasteful Replan serverStatus Metrics (#13138)
  content/manual/upcoming/source/reference/command/serverStatus.txt
  content/manual/upcoming/source/release-notes/8.2.txt
Labels: Manual

DOCSP-50893: Add & Rewrite Overview for Online Archive (#12812)
  content/atlas/snooty.toml
  content/atlas/source/backup-restore-cluster.txt
  content/atlas/source/includes/command/atlas-clusters-onlineArchives-create.rst
  content/atlas/source/includes/serverless-features-not-supported.rst
  content/atlas/source/online-archive/manage-online-archive.txt
  content/atlas/source/online-archive/overview.txt
Labels: Atlas

DOCSP-51908-allow-enabling-disabling-range-deleter-at-runtime (#13023)
  content/manual/upcoming/source/reference/parameters.txt
Labels: Manual

DOCSP-51795-build-error-three (#13226)
  content/manual/upcoming/source/tutorial/long-running-queries.txt
Labels: Manual
