Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

(DOCSP-50576) Wording tweak. (#7346)
  source/includes/steps-connect-with-maven.yaml
Labels: none

(DOCSP-50766) clarifies backup retention behavior (#7340)
  source/billing/cluster-configuration-costs.txt
Labels: none

CR review
  source/style-guide/seo-guidelines.txt
  source/style-guide/style/titles-and-headings.txt
Labels: none

DOCSP-44202-changed-deploy-options-diagram (#7337)
  source/images/atlas-search/fts-architecture-diagram.png
  source/images/atlas-search/fts-architecture.png
  source/includes/search-shared/extracts-fts-architecture.yaml
Labels: none

Fix mongocli submodules (#12467)
  .gitmodules
  content/mongocli/v1.20/.gitmodules
  content/mongocli/v1.21/.gitmodules
  content/mongocli/v1.31/.gitmodules
Labels: none

DOCSP-50665-updating-meta-descriptions (#12469)
  content/compass/source/query/filter.txt
  content/compass/source/query/sort.txt
Labels: none

DOCSP-40651 Add a new config shard type to the backup API doc (#63)
  source/includes/api/list-tables/snapshot-rs-documents.rst
Labels: none

DOCSP-46090 -- remove reference to rolling index builds (#147)
  source/includes/steps-data-explorer-create-index.yaml
Labels: none

restore app svcs alert section (#7334)
  source/reference/alert-conditions.txt
Labels: none

Update netlify.toml (#12483)
  content/atlas-cli/netlify.toml
Labels: none

DOCS-17058: update recent queries information (#12476)
  content/compass/source/query/recent.txt
Labels: none

DOCSP-49726-credit-card-app-poc-edits (#263)
  source/solutions-library/credit-card-application-with-generative-ai.txt
  source/solutions-library/hasura-fintech-services.txt
Labels: none

DOCSP-50986-fixes-404s-internal (#7349)
  source/backup/cloud-backup/export.txt
Labels: none

add netlify.toml for kafka-connector
  content/kafka-connector/netlify.toml
Labels: none

DOCSP-50779 mongosh 2.5.3 release notes (#12421)
  content/mongodb-shell/snooty.toml
  content/mongodb-shell/source/changelog.txt
Labels: Mongosh

add netlify.toml for cloud-manager
  content/cloud-manager/build.sh
  content/cloud-manager/config/redirects
  content/cloud-manager/netlify.toml
  content/cloud-manager/worker.sh
Labels: none

(DOCSP-50978) updates wrong URL (#7348)
  source/security-kms-encryption.txt
Labels: none

DOCSP-50744-setFeatureCompatibility-6.0-7.0-fix (#12448)
  content/manual/upcoming/source/reference/command/setFeatureCompatibilityVersion.txt
  content/manual/upcoming/source/release-notes/7.0-upgrade-standalone.txt
Labels: Manual

Mongorestore Authentication Database (#12481)
  content/database-tools/source/mongorestore.txt
Labels: Database Tools

DOCSP-50306-directions-mck-release-notes (#30) (#33)
  source/index.txt
  source/release-notes.txt
Labels: none

remove app services links (#207)
  snooty.toml
  source/includes/cluster-settings/convert-to-sharded-cluster-limitations.rst
Labels: none

DOCSP-43658-better-explanation-replica-set (#1930) (#1932)
  source/includes/setting-k8sRsConf-spec.connectivity.replicaSetHorizons.rst
Labels: none

DOCSP-43658-better-explanation-replica-set (#1930) (#1933)
  source/includes/setting-k8sRsConf-spec.connectivity.replicaSetHorizons.rst
Labels: none

DOCSP-43658-better-explanation-replica-set (#1930) (#1934)
  source/includes/setting-k8sRsConf-spec.connectivity.replicaSetHorizons.rst
Labels: none

DOCSP-43658-better-explanation-replica-set (#1930) (#1935)
  source/includes/setting-k8sRsConf-spec.connectivity.replicaSetHorizons.rst
Labels: none

DOCSP-41297-truncate-release-notes (#1931) (#1962)
  source/release-notes.txt
Labels: none

DOCSP-35898 MEKO quickstart cleanup (#1632) (#2007)
  snooty.toml
  source/includes/steps-kind-quick-start.yaml
  source/kind-quick-start.txt
Labels: none

DOCSP-42620 -- Update default base image to ubi9 (#1858)
  source/reference/helm-operator-settings.txt
  source/reference/kubectl-operator-settings.txt
  source/tutorial/plan-k8s-op-container-images.txt
Labels: none

(DOCSP-50990) Fix internal 404, remove duplicated /current/current/ (#2206)
  source/release-notes.txt
Labels: none

(DOCSP-50990) Fix internal 404, remove duplicated /current/current/ (#2206) (#2207)
  source/release-notes.txt
Labels: none

DOCSP-50422 clarify that query vectors are auto-quantized (#7286)
  source/atlas-vector-search/vector-quantization.txt
Labels: none

Open ai to voyage ai (#260)
  source/includes/images/.DS_Store
  source/includes/images/industry-solutions/Video-sumarization-fig1.svg
  source/includes/images/industry-solutions/Video-sumarization-fig2.svg
  source/includes/images/industry-solutions/VideoSummarization Figure1.svg
  source/includes/images/industry-solutions/VideoSummarization_Figure2.svg
  source/includes/images/industry-solutions/aml-fraud-detection-achitecture.png
  source/includes/images/industry-solutions/aml-fraud-detection-fig1.svg
  source/includes/images/industry-solutions/aml-fraud-detection-fig2.svg
  source/includes/images/industry-solutions/is-pdf-search-fig1.svg
  source/includes/images/industry-solutions/is-pdf-search-fig2.svg
  source/includes/images/industry-solutions/rag-querying-flow.svg
  source/includes/images/industry-solutions/retail-ai-product-search-arch2.svg
  source/includes/images/industry-solutions/vector-index.svg
  source/includes/images/industry-solutions/vector-search-openai-integration.png
  source/includes/images/rag-querying-flow.svg
  source/solutions-library.txt
  source/solutions-library/ai-powered-video-summarization.txt
  source/solutions-library/claim-management.txt
  source/solutions-library/insurance-image-search.txt
  source/solutions-library/media-personalization.txt
  source/solutions-library/pdf-search.txt
  source/solutions-library/retail-ai-product-search.txt
  source/solutions-library/vector-search-fraud-prevention.txt
Labels: none

DOCSP-45814 updates for unionWith (#6877)
  snooty.toml
  source/atlas-vector-search/hybrid-search.txt
  source/atlas-vector-search/hybrid-search/reciprocal-rank-fusion.txt
  source/atlas-vector-search/hybrid-search/vector-search-with-rankfusion.txt
  source/atlas-vector-search/tutorials.txt
  source/atlas-vector-search/vector-search-overview.txt
  source/includes/avs/unionwith-rankfusion/embeddings.js
  source/includes/avs/unionwith-rankfusion/generate-embeddings-openai.py
  source/includes/avs/unionwith-rankfusion/generate-embeddings-voyageai.py
  source/includes/avs/unionwith-rankfusion/index-definition.sh
  source/includes/avs/unionwith-rankfusion/multiple-vectors-query-results.sh
  source/includes/avs/unionwith-rankfusion/multiple-vectors-query.sh
  source/includes/avs/unionwith-rankfusion/same-term-multiple-models-query-results.sh
  source/includes/avs/unionwith-rankfusion/same-term-multiple-models-query.sh
  source/includes/avs/unionwith-rankfusion/same-term-vectors-query-results.sh
  source/includes/avs/unionwith-rankfusion/same-term-vectors-query.sh
  source/includes/avs/unionwith-rankfusion/steps-create-embeddings-openai.rst
  source/includes/avs/unionwith-rankfusion/steps-create-embeddings-voyageai.rst
  source/includes/avs/unionwith-rankfusion/steps-create-index.rst
  source/includes/avs/unionwith-rankfusion/steps-run-queries-shell.rst
Labels: none

(DOCSP-50816) Third-Party Integration CRD (#245)
  source/ak8so-integrate-third-party.txt
  source/atlasprivateendpoint-custom-resource.txt
  source/atlasproject-custom-resource.txt
  source/atlasthirdpartyintegration-custom-resource.txt
  source/custom-resources.txt
  source/includes/list-tabel-integration-settings.rst
  source/migrate-parameter-to-resource.txt
Labels: none

(DOCSP-50955) pricing (#710)
  source/pricing.txt
Labels: none

DOCSP-34084 Doc for Hybrid Search Rank Fusion (#7015)
  config/redirects
  snooty.toml
  source/atlas-search/tutorial/hybrid-search.txt
  source/atlas-vector-search/hybrid-search/reciprocal-rank-fusion.txt
  source/atlas-vector-search/hybrid-search/vector-search-with-full-text-search.txt
  source/atlas-vector-search/vector-search-overview.txt
  source/includes/avs-examples/hybrid/rrf-shell-query.js
  source/includes/avs/rrf-tutorial/avs-rrf-tutorial-create-fts-index-mongosh.rst
  source/includes/avs/rrf-tutorial/avs-rrf-tutorial-create-vector-index-mongosh.rst
  source/includes/avs/rrf-tutorial/query.sh
  source/includes/avs/rrf-tutorial/shell-query-output.js
  source/includes/avs/rrf-tutorial/steps-avs-rrf-shell-query.rst
  source/includes/avs/rrf-tutorial/steps-avs-rrf-tutorial-create-index-mongosh.rst
  source/includes/search-shared/extracts-hybrid-search.yaml
Labels: none

DOCSP-34084 fix for small error (#7357)
  source/atlas-vector-search/hybrid-search.txt
Labels: none

DOCSP-47099 Evaluate Results vector search page improvements (#7257)
  source/atlas-vector-search/improve-accuracy.txt
  source/atlas-vector-search/vector-search-overview.txt
  source/atlas-vector-search/vector-search-stage.txt
  source/includes/avs/extracts-avs-evaluate-results-details.yaml
Labels: none

small fix (#7359)
  source/atlas-vector-search/vector-search-overview.txt
Labels: none

(DOCSP-50347) Fast follow. (#7358)
  source/tutorial/datadog-integration.txt
Labels: none
