Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Architecture, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, C Driver, Charts, Cloud Manager, Code Examples Tested, Compass, CPP Driver, CSharp, Database Tools, Datalake, Django, Docs Platform, Drivers Ecosystem, Entity Framework, Golang, Guides, Java RS, Java, Kafka Connector, Kotlin Sync, Kotlin, Kubernetes, Kubernetes Operator, Landing, Laravel, Manual, MCP Server, Meta, Mongo Cli, Analyzer, Platform, IntelliJ, Mongosh, VSCode, Mongo ID, Mongo Sync, Node, Ops Manager, PHP Library, Pymongo Arrow Driver, Pymongo Driver, Relational Migrator, Ruby Driver, Rust, Scala Driver, Spark Connector, Table of Contents, Tutorials

DOCSP-50498 Fix Build from backport (#13371)
  content/manual/manual/source/reference/operator/aggregation/collStats.txt
  content/manual/manual/source/reference/operator/aggregation/fill.txt
  content/manual/manual/source/reference/operator/aggregation/querySettings.txt
  content/manual/manual/source/reference/operator/aggregation/queryStats.txt
  content/manual/rapid/source/reference/operator/aggregation/collStats.txt
  content/manual/v6.0/source/reference/operator/aggregation/collStats.txt
  content/manual/v6.0/source/reference/operator/aggregation/fill.txt
  content/manual/v6.0/source/reference/operator/aggregation/planCacheStats.txt
  content/manual/v6.0/source/reference/operator/aggregation/redact.txt
  content/manual/v7.0/source/reference/operator/aggregation/collStats.txt
  content/manual/v7.0/source/reference/operator/aggregation/fill.txt
  content/manual/v7.0/source/reference/operator/aggregation/planCacheStats.txt
Labels: Manual

DOCSP-50498 Upcoming Stages Node Examples (#13303) (#13422)
  content/manual/rapid/source/includes/driver-examples/node/aggregation/examples.js
  content/manual/rapid/source/reference/operator/aggregation/listClusterCatalog.txt
  content/manual/rapid/source/reference/operator/aggregation/rankFusion.txt
Labels: Manual

DOCSP-50784: Add .finish() method to explain() results (#13233)
  content/manual/upcoming/source/reference/method/db.collection.explain.txt
Labels: Manual

(DOCSP-52260): Add missing redirects for AI integrations pages (#13418)
  content/atlas/config/redirects
  content/atlas/source/data-federation/config/config-gcp-bucket.txt
Labels: Atlas

DOP-6048: Add Jest unit testing framework (and Text component/tests/snapshots) to Nextjs (#13338)
  .github/workflows/next-js-unit-tests.yml
  platform/docs-nextjs/jest-preprocess.ts
  platform/docs-nextjs/jest.config.ts
  platform/docs-nextjs/jest.setup.ts
  platform/docs-nextjs/package.json
  platform/docs-nextjs/src/components/text/index.tsx
  platform/docs-nextjs/src/tests/data/text.test.json
  platform/docs-nextjs/src/tests/testSetup.ts
  platform/docs-nextjs/src/tests/unit/__snapshots__/text.test.tsx.snap
  platform/docs-nextjs/src/tests/unit/text.test.tsx
  platform/docs-nextjs/src/types/ast-utils.ts
  platform/docs-nextjs/src/types/ast.ts
  platform/docs-nextjs/src/types/data.ts
  platform/docs-nextjs/tsconfig.jest.json
  platform/docs-nextjs/tsconfig.json
  platform/pnpm-lock.yaml
Labels: Platform

DOP-5793-go (#13399)
  content/golang/netlify.toml
Labels: Golang

DOP-5792-kotlin-coroutine add kotlin redirects (#13398)
  content/kotlin/netlify.toml
Labels: Kotlin

DOP-5794-mongoid add mongoid redirects (#13196)
  content/mongoid/netlify.toml
Labels: Mongo ID

DOP-5789 add csharp redirects (#13207)
  content/csharp/netlify.toml
Labels: CSharp

Docsp 50843 -- Add: Advanced Security Options: AWS IAM Authentication (#12834)
  content/atlas/source/data-federation/tutorial/advanced-security-options/adf-aws-iam-authentication.txt
  content/atlas/source/includes/aws-iam-connection-string-example.rst
  content/atlas/source/includes/security/aws-iam-auth-one-source.rst
  content/atlas/source/security/aws-iam-authentication.txt
Labels: Atlas

DOCSP-52045 [Node] Edit too long meta descriptions (#13391)
  content/node/upcoming/source/crud/compound-operations.txt
  content/node/upcoming/source/crud/query/cursor.txt
Labels: Node

DOCSP-46173 Remove Lucene 10 deprecated token filter types (#13316)
  content/atlas/source/atlas-search/analyzers/token-filters.txt
Labels: Atlas

DOP-5790-java add java redirects (#13295)
  content/java/netlify.toml
Labels: Java

DOP-5793-arch-center add redirects (#13412)
  content/atlas-architecture/netlify.toml
Labels: Atlas Architecture

DOCS-16937-removeShard-output-fields-update (#11156) (#13322)
  content/manual/manual/source/reference/command/removeShard.txt
Labels: Manual

DOCSP-51976: Separate listCollections from show Collections (#13075)
  content/manual/upcoming/source/reference/command/listCollections.txt
  content/mongodb-shell/source/reference/access-mdb-shell-help.txt
Labels: Manual, Mongosh

DOCSP-52216 Updates limited support include to reflect serverless deprecation (#13318) (#13349)
  content/manual/manual/source/includes/fact-environments-atlas-support-limited-all.rst
  content/manual/manual/source/reference/command/killOp.txt
  content/manual/manual/source/reference/method/cursor.addOption.txt
  content/manual/manual/source/reference/method/db.commandHelp.txt
  content/manual/rapid/source/includes/fact-environments-atlas-support-limited-all.rst
  content/manual/rapid/source/reference/command/killOp.txt
  content/manual/rapid/source/reference/method/cursor.addOption.txt
  content/manual/rapid/source/reference/method/db.commandHelp.txt
  content/manual/v6.0/source/includes/fact-environments-atlas-support-limited-all.rst
  content/manual/v6.0/source/reference/command/killOp.txt
  content/manual/v6.0/source/reference/method/cursor.addOption.txt
  content/manual/v6.0/source/reference/method/db.commandHelp.txt
  content/manual/v7.0/source/includes/fact-environments-atlas-support-limited-all.rst
  content/manual/v7.0/source/reference/command/killOp.txt
  content/manual/v7.0/source/reference/method/cursor.addOption.txt
  content/manual/v7.0/source/reference/method/db.commandHelp.txt
Labels: Manual

DOCSP52045 backport metadata changes manually (#13445)
  content/node/current/source/crud/compound-operations.txt
  content/node/current/source/crud/query/cursor.txt
  content/node/v6.15/source/crud/compound-operations.txt
  content/node/v6.15/source/crud/query/cursor.txt
  content/node/v6.16/source/crud/compound-operations.txt
  content/node/v6.16/source/crud/query/cursor.txt
Labels: Node

(DOCSP-50817) Atlas SP initialSync (#13101)
  content/atlas/source/atlas-stream-processing/sp-agg-source.txt
Labels: Atlas

DOCSP-52467 Add uninstall script fix (#13415)
  content/c-driver/upcoming/source/whats-new.txt
Labels: C Driver

DOCSP-52112-update-compass-install-to-composable (#13060)
  content/compass/snooty.toml
  content/compass/source/install.txt
Labels: Compass

(DOCSP-52355) Update banner for mongomirror EOL (#13450)
  content/atlas/snooty.toml
Labels: Atlas

DOCSP-52206-consolidate-query-optimization-pages (#13153)
  content/manual/upcoming/source/core/query-optimization.txt
  content/manual/upcoming/source/includes/aggregation/fact-project-stage-placement.rst
  content/manual/upcoming/source/reference/parameters.txt
  content/manual/upcoming/source/tutorial/analyze-query-plan.txt
  content/manual/upcoming/source/tutorial/optimize-query-performance-with-indexes-and-projections.txt
  content/manual/upcoming/source/tutorial/project-fields-from-query-results.txt
Labels: Manual

DOCSP-51697: Real-time audio-based AI diagnostics [porting over] (#13458)
  content/atlas-architecture/current/source/solutions-library/audio-based-AI-diagnostics.txt
Labels: Atlas Architecture

DOCS-51405-check-socket-state-backport-update (#12748)
  content/manual/manual/source/reference/parameters.txt
  content/manual/rapid/source/reference/parameters.txt
  content/manual/upcoming/source/reference/parameters.txt
  content/manual/v7.0/source/reference/parameters.txt
Labels: Manual

DOCSP-52284: Remove allowPartialResults cursor method (#13239)
  content/manual/netlify.toml
  content/manual/upcoming/source/reference/method.txt
  content/manual/upcoming/source/reference/method/cursor.allowPartialResults.txt
  content/manual/upcoming/source/reference/method/db.collection.find.txt
  content/manual/upcoming/source/reference/method/js-cursor.txt
  content/manual/upcoming/source/reference/operator/aggregation/queryStats.txt
Labels: Manual

DOCSP-52206-consolidate-query-optimization-pages-main-backport (13153) (#13459)
  content/manual/manual/source/core/query-optimization.txt
  content/manual/manual/source/includes/aggregation/fact-project-stage-placement.rst
  content/manual/manual/source/reference/parameters.txt
  content/manual/manual/source/tutorial/analyze-query-plan.txt
  content/manual/manual/source/tutorial/optimize-query-performance-with-indexes-and-projections.txt
  content/manual/manual/source/tutorial/project-fields-from-query-results.txt
  content/manual/rapid/source/core/query-optimization.txt
  content/manual/rapid/source/includes/aggregation/fact-project-stage-placement.rst
  content/manual/rapid/source/reference/parameters.txt
  content/manual/rapid/source/tutorial/analyze-query-plan.txt
  content/manual/rapid/source/tutorial/optimize-query-performance-with-indexes-and-projections.txt
  content/manual/rapid/source/tutorial/project-fields-from-query-results.txt
  content/manual/v6.0/source/core/query-optimization.txt
  content/manual/v6.0/source/includes/aggregation/fact-project-stage-placement.rst
  content/manual/v6.0/source/reference/parameters.txt
  content/manual/v6.0/source/tutorial/analyze-query-plan.txt
  content/manual/v6.0/source/tutorial/optimize-query-performance-with-indexes-and-projections.txt
  content/manual/v6.0/source/tutorial/project-fields-from-query-results.txt
  content/manual/v7.0/source/core/query-optimization.txt
  content/manual/v7.0/source/includes/aggregation/fact-project-stage-placement.rst
  content/manual/v7.0/source/reference/parameters.txt
  content/manual/v7.0/source/tutorial/analyze-query-plan.txt
  content/manual/v7.0/source/tutorial/optimize-query-performance-with-indexes-and-projections.txt
  content/manual/v7.0/source/tutorial/project-fields-from-query-results.txt
Labels: Manual

Move Java Group tutorial code examples to test suite (#13449)
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/AggTutorial.java
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/group/Tutorial.java
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/group/TutorialOutput.txt
  code-example-tests/java/driver-sync/src/test/java/aggregation/pipelines/TutorialTests.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/AggTutorial.snippet.example.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/group/Tutorial.snippet.group.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/group/Tutorial.snippet.load-sample-data.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/group/Tutorial.snippet.match.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/group/Tutorial.snippet.run-pipeline.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/group/Tutorial.snippet.set.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/group/Tutorial.snippet.sort-orderdate.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/group/Tutorial.snippet.sort-purchase-date.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/group/Tutorial.snippet.unset.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/group/TutorialOutput.txt
  content/manual/manual/source/includes/aggregation/aggregation-examples/group-and-total/full-files/GroupTotal.java
  content/manual/manual/source/includes/aggregation/aggregation-examples/group-and-total/java-sync-group-and-total.rst
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/group-and-total/full-files/GroupTotal.java
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/group-and-total/java-sync-group-and-total.rst
Labels: Manual

DOP-5790 scala redirects (#13298)
  content/java-rs/netlify.toml
  content/scala-driver/netlify.toml
Labels: Java RS, Scala Driver

DOCSP-5250 Unistall script bug fix for Windows (#13461)
  content/c-driver/upcoming/source/whats-new.txt
Labels: C Driver

use wildcard redirects (#13463)
  content/golang/netlify.toml
Labels: Golang

DOCSP-52195 -- add missing namespace labels (#13360)
  content/kubernetes-operator/current/source/reference-architectures/multi-cluster/istio-service-mesh.txt
  content/kubernetes/current/source/includes/code-examples/reference-architectures/setup-multi-cluster/setup-operator/code_snippets/0045_create_namespaces.sh
  content/kubernetes/current/source/reference-architectures/multi-cluster/istio-service-mesh.txt
  content/kubernetes/upcoming/source/includes/code-examples/reference-architectures/setup-multi-cluster/setup-operator/code_snippets/0045_create_namespaces.sh
  content/kubernetes/upcoming/source/reference-architectures/multi-cluster/istio-service-mesh.txt
Labels: Kubernetes, Kubernetes Operator

DOCSP-52468 -- Add Metrics page with runbook entry (#13416)
  content/atlas-operator/upcoming/source/ak8so-get-started.txt
  content/atlas-operator/upcoming/source/ak8so-metrics.txt
Labels: Atlas Operator

Fix snapshot retention for default backup configuration. (#13456)
  content/atlas/source/backup/cloud-backup/configure-backup-policy.txt
Labels: Atlas

update hyperlinks
  ai-integrations/haystack.ipynb
  ai-integrations/langchain-graphrag.ipynb
  ai-integrations/langchain-hybrid-search.ipynb
  ai-integrations/langchain-local-rag.ipynb
  ai-integrations/langchain-memory-semantic-cache.ipynb
  ai-integrations/langchain-natural-language.ipynb
  ai-integrations/langchain-parent-document-retrieval.ipynb
  ai-integrations/langchain-self-query-retrieval.ipynb
  ai-integrations/langchain.ipynb
  ai-integrations/llamaindex.ipynb
  ai-integrations/semantic-kernel.ipynb
Labels: none

add long-term memory implementation
  ai-integrations/langgraph.ipynb
Labels: none

(DOCSP-51455): Use OpenAI models in RAG tutorial (#13102)g
  content/atlas/source/atlas-vector-search/ai-agents.txt
  content/atlas/source/atlas-vector-search/rag.txt
  content/atlas/source/includes/ai-integrations/langchaingo/langchaingo-create-vector-index-openai.rst
  content/atlas/source/includes/ai-integrations/langchaingo/langchaingo-create-vector-index-voyageai.rst
  content/atlas/source/includes/ai-integrations/langchaingo/langchaingo-perform-qa-voyageai.go
  content/atlas/source/includes/ai-integrations/langchaingo/langchaingo-query-examples.rst
  content/atlas/source/includes/ai-integrations/langchaingo/langchaingo-rag-openai.rst
  content/atlas/source/includes/ai-integrations/langchaingo/langchaingo-rag-voyageai.rst
  content/atlas/source/includes/ai-integrations/langchaingo/langchaingo-set-up-environment-voyageai.rst
  content/atlas/source/includes/ai-integrations/llamaindex/llamaindex-set-up-environment-voyageai.rst
  content/atlas/source/includes/avs-rag-prerequisites-java.rst
  content/atlas/source/includes/avs/create-embeddings/EmbeddingProviderVoyageRag.java
  content/atlas/source/includes/avs/rag/EmbeddingProvider.java
  content/atlas/source/includes/avs/rag/LLMPrompt.java
  content/atlas/source/includes/avs/rag/avs-rag-prerequisites-go.rst
  content/atlas/source/includes/avs/rag/avs-rag-prerequisites-javascript.rst
  content/atlas/source/includes/avs/rag/avs-rag-prerequisites-python.rst
  content/atlas/source/includes/avs/rag/avs-rag-set-up-environment-node.rst
  content/atlas/source/includes/avs/rag/generate-responses-hf.js
  content/atlas/source/includes/avs/rag/generate-responses-openai.js
  content/atlas/source/includes/avs/rag/generate-responses-output-go.sh
  content/atlas/source/includes/avs/rag/generate-responses-output-java.sh
  content/atlas/source/includes/avs/rag/generate-responses-output-openai.sh
  content/atlas/source/includes/avs/rag/generate-responses.go
  content/atlas/source/includes/avs/rag/get-embeddings-voyage.py
  content/atlas/source/includes/avs/rag/steps-avs-rag-go.rst
  content/atlas/source/includes/avs/rag/steps-avs-rag-java.rst
  content/atlas/source/includes/avs/rag/steps-avs-rag-javascript.rst
  content/atlas/source/includes/avs/rag/steps-avs-rag-python.rst
  content/atlas/source/includes/avs/shared/avs-python-voyage-openai-prerequisites.rst
Labels: Atlas

Move Java unwind code examples to test suite, add unordered result handling (#13468)
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/AggTutorial.java
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/unwind/Tutorial.java
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/unwind/TutorialOutput.txt
  code-example-tests/java/driver-sync/src/test/java/aggregation/pipelines/TutorialTests.java
  code-example-tests/java/driver-sync/src/test/java/utils/TestUtils.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/AggTutorial.snippet.example.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/unwind/Tutorial.snippet.group.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/unwind/Tutorial.snippet.load-sample-data.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/unwind/Tutorial.snippet.match.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/unwind/Tutorial.snippet.run-pipeline.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/unwind/Tutorial.snippet.set.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/unwind/Tutorial.snippet.unset.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/unwind/Tutorial.snippet.unwind.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/unwind/TutorialOutput.txt
  content/manual/manual/source/includes/aggregation/aggregation-examples/unpack-arrays/full-files/UnpackArrays.java
  content/manual/manual/source/includes/aggregation/aggregation-examples/unpack-arrays/java-sync-unpack-arrays.rst
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/unpack-arrays/full-files/UnpackArrays.java
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/unpack-arrays/java-sync-unpack-arrays.rst
Labels: Manual

Fix template app function name mismatch (#13474)
  code-example-tests/javascript/driver/examples/aggregation/pipelines/template-app.js
  code-example-tests/javascript/driver/tests/aggregation/pipelines/tutorials.test.js
  content/code-examples/tested/javascript/driver/aggregation/pipelines/template-app.snippet.example.js
Labels: none

DOCSP-29152 Add logging conditional configuration attributes (#13161)
  content/atlas/source/includes/steps-install-odbc-driver.yaml
Labels: Atlas

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Architecture:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-architecture/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

C Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/c-driver/**']

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

Code Examples Tested:
  - changed-files:
    - any-glob-to-any-file: ['content/code-examples/tested**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

CPP Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/cpp-driver/**']

CSharp:
  - changed-files:
    - any-glob-to-any-file: ['content/csharp/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Django:
  - changed-files:
    - any-glob-to-any-file: ['content/django-mongodb/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Drivers Ecosystem:
  - changed-files:
    - any-glob-to-any-file: ['content/drivers/**']

Entity Framework:
  - changed-files:
    - any-glob-to-any-file: ['content/entity-framework/**']

Golang:
  - changed-files:
    - any-glob-to-any-file: ['content/golang/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Java RS:
  - changed-files:
    - any-glob-to-any-file: ['content/java-rs/**']

Java:
  - changed-files:
    - any-glob-to-any-file: ['content/java/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kotlin Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin-sync/**']

Kotlin:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Landing:
  - changed-files:
    - any-glob-to-any-file: ['content/landing/**']

Laravel:
  - changed-files:
    - any-glob-to-any-file: ['content/laravel-mongodb/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongocli/**']

Analyzer:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-analyzer/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Mongo ID:
  - changed-files:
    - any-glob-to-any-file: ['content/mongoid/**']

Mongo Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/mongosync/**']
  
Node:
  - changed-files:
    - any-glob-to-any-file: ['content/node/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

PHP Library:
  - changed-files:
    - any-glob-to-any-file: ['content/php-library/**']

Pymongo Arrow Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-arrow-driver/**']

Pymongo Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-driver/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']

Ruby Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/ruby-driver/**']

Rust:
  - changed-files:
    - any-glob-to-any-file: ['content/rust/**']

Scala Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/scala-driver/**']

Spark Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/spark-connector/**']

Table of Contents:
  - changed-files:
    - any-glob-to-any-file: ['content/table-of-contents/**']

Tutorials:
  - changed-files:
    - any-glob-to-any-file: ['content/tutorials/**']
