Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

DOCS-17039-bulk-write-update (#12207)
  content/manual/manual/source/reference/method/db.collection.bulkWrite.txt
  content/manual/upcoming/source/reference/method/db.collection.bulkWrite.txt
  content/manual/v7.0/source/reference/method/db.collection.bulkWrite.txt
Labels: Manual

DOCSP-50016-Reduce-and-Remove-EOL-Server-version-mentions-count (#12211)
  content/manual/upcoming/source/includes/extracts-4.2-changes.yaml
  content/manual/upcoming/source/includes/fact-readConcern-option-description.rst
  content/manual/upcoming/source/reference/command/count.txt
  content/manual/upcoming/source/reference/method/cursor.count.txt
  content/manual/upcoming/source/reference/method/db.collection.count.txt
Labels: Manual

DOCSP-50307 Document the 7 day migration timeout (#7250)
  source/atlas-search/about/deployment-options.txt
Labels: none

Revert "DOCSP-49353 Documentation for mongot structured logging (#7167)" (#7272)
  source/atlas-search/download-logs.txt
  source/atlas-search/monitoring.txt
Labels: none

(DOCSP-48475) freemium dashboard messaging (#700)
  source/dashboards.txt
Labels: none

(DOCSP-48579) renames dashboard and chart refresh menu options (#701)
  source/dashboards/dashboard-access/dashboard-permissions.txt
  source/dashboards/view-dashboard-data.txt
  source/dashboards/view-dashboard-data/dashboard-refresh.txt
Labels: none

Fix broken links to `values.yaml` and `values-openshift.yaml` (#31)
  source/includes/osoffline.rst
  source/includes/osonline.rst
  source/includes/steps-upgrade-os-offline-helm-host.yaml
  source/includes/steps-upgrade-os-online-helm.yaml
  source/reference/helm-operator-settings.txt
  source/tutorial/install-k8s-operator.txt
Labels: none

Fix broken links to `values.yaml` and `values-openshift.yaml` (#31) (#32)
  source/includes/osoffline.rst
  source/includes/osonline.rst
  source/includes/steps-upgrade-os-offline-helm-host.yaml
  source/includes/steps-upgrade-os-online-helm.yaml
  source/reference/helm-operator-settings.txt
  source/tutorial/install-k8s-operator.txt
Labels: none

DOCSP-50385-pointing-glossary-to-database-manual (#7260)
  config/redirects
  source/reference.txt
  source/reference/glossary.txt
Labels: none

DOCSP-50010-reduce-and-remove-EOL-server-mentions (#12062) (#12146)
  content/cluster-to-cluster-sync/v1.10/source/includes/fact-older-version-limitations.rst
  content/cluster-to-cluster-sync/v1.10/source/reference/api/reverse.txt
  content/cluster-to-cluster-sync/v1.10/source/reference/supported-server-version.txt
  content/cluster-to-cluster-sync/v1.10/source/reference/verification.txt
  content/cluster-to-cluster-sync/v1.10/source/reference/verification/hash.txt
  content/cluster-to-cluster-sync/v1.11/source/includes/fact-older-version-limitations.rst
  content/cluster-to-cluster-sync/v1.11/source/reference/api/reverse.txt
  content/cluster-to-cluster-sync/v1.11/source/reference/supported-server-version.txt
  content/cluster-to-cluster-sync/v1.11/source/reference/verification.txt
  content/cluster-to-cluster-sync/v1.11/source/reference/verification/hash.txt
  content/cluster-to-cluster-sync/v1.12/source/includes/fact-older-version-limitations.rst
  content/cluster-to-cluster-sync/v1.12/source/reference/api/reverse.txt
  content/cluster-to-cluster-sync/v1.12/source/reference/supported-server-version.txt
  content/cluster-to-cluster-sync/v1.12/source/reference/verification.txt
  content/cluster-to-cluster-sync/v1.12/source/reference/verification/hash.txt
Labels: C2C

(DOCSP-49638) 1x weekly email report limitation (#699)
  source/dashboards/view-dashboard-data/scheduled-reports.txt
Labels: none

DOCSP-24266-code-example-consistency (#12038) (#12184)
  content/manual/manual/source/core/index-partial.txt
  content/manual/manual/source/reference/method/cursor.returnKey.txt
  content/manual/manual/source/reference/method/cursor.sort.txt
  content/manual/manual/source/reference/method/db.collection.createIndexes.txt
  content/manual/manual/source/reference/method/db.collection.replaceOne.txt
  content/manual/manual/source/reference/method/db.collection.updateOne.txt
  content/manual/manual/source/reference/operator/aggregation/accumulator.txt
  content/manual/manual/source/reference/operator/aggregation/sort.txt
  content/manual/v6.0/source/core/index-partial.txt
  content/manual/v6.0/source/reference/method/cursor.returnKey.txt
  content/manual/v6.0/source/reference/method/cursor.sort.txt
  content/manual/v6.0/source/reference/method/db.collection.createIndexes.txt
  content/manual/v6.0/source/reference/method/db.collection.replaceOne.txt
  content/manual/v6.0/source/reference/method/db.collection.updateOne.txt
  content/manual/v6.0/source/reference/operator/aggregation/accumulator.txt
  content/manual/v6.0/source/reference/operator/aggregation/sort.txt
  content/manual/v7.0/source/core/index-partial.txt
  content/manual/v7.0/source/reference/method/cursor.returnKey.txt
  content/manual/v7.0/source/reference/method/cursor.sort.txt
  content/manual/v7.0/source/reference/method/db.collection.createIndexes.txt
  content/manual/v7.0/source/reference/method/db.collection.replaceOne.txt
  content/manual/v7.0/source/reference/method/db.collection.updateOne.txt
  content/manual/v7.0/source/reference/operator/aggregation/accumulator.txt
  content/manual/v7.0/source/reference/operator/aggregation/sort.txt
Labels: Manual

DOCSP-50016-Reduce-and-Remove-EOL-Server-version-mentions-count (#12211) (#12232)
  content/manual/manual/source/includes/extracts-4.2-changes.yaml
  content/manual/manual/source/includes/fact-readConcern-option-description.rst
  content/manual/manual/source/reference/command/count.txt
  content/manual/manual/source/reference/method/cursor.count.txt
  content/manual/manual/source/reference/method/db.collection.count.txt
  content/manual/v6.0/source/includes/extracts-4.2-changes.yaml
  content/manual/v6.0/source/includes/fact-readConcern-option-description.rst
  content/manual/v6.0/source/reference/command/count.txt
  content/manual/v6.0/source/reference/method/cursor.count.txt
  content/manual/v6.0/source/reference/method/db.collection.count.txt
  content/manual/v7.0/source/includes/extracts-4.2-changes.yaml
  content/manual/v7.0/source/includes/fact-readConcern-option-description.rst
  content/manual/v7.0/source/reference/command/count.txt
  content/manual/v7.0/source/reference/method/cursor.count.txt
  content/manual/v7.0/source/reference/method/db.collection.count.txt
Labels: Manual

DOCSP-49568 Find Slow Queries with Profiler (#11900) (#12236)
  content/manual/manual/source/administration/query.txt
  content/manual/manual/source/tutorial/find-slow-queries-with-database-profiler.txt
  content/manual/manual/source/tutorial/manage-the-database-profiler.txt
  content/manual/v6.0/source/administration/query.txt
  content/manual/v6.0/source/tutorial/find-slow-queries-with-database-profiler.txt
  content/manual/v6.0/source/tutorial/manage-the-database-profiler.txt
  content/manual/v7.0/source/administration/query.txt
  content/manual/v7.0/source/tutorial/find-slow-queries-with-database-profiler.txt
  content/manual/v7.0/source/tutorial/manage-the-database-profiler.txt
Labels: Manual

DOCSP-48250 (#225)
  source/fundamentals/builders.txt
  source/fundamentals/builders/vector-search.txt
Labels: none

updates outdated links to Apache Avro spec (#202)
  source/introduction/data-formats.txt
  source/source-connector/usage-examples/schema.txt
Labels: none

DOCSP-24269-insert-sales-examples-backports (#12116)
  content/manual/manual/source/includes/fact-olson-tz-behavior.rst
  content/manual/manual/source/reference/operator/aggregation/add.txt
  content/manual/manual/source/reference/operator/aggregation/addToSet.txt
  content/manual/manual/source/reference/operator/aggregation/avg.txt
  content/manual/manual/source/reference/operator/aggregation/dateToString.txt
  content/manual/manual/source/reference/operator/aggregation/dayOfMonth.txt
  content/manual/manual/source/reference/operator/aggregation/dayOfWeek.txt
  content/manual/manual/source/reference/operator/aggregation/dayOfYear.txt
  content/manual/manual/source/reference/operator/aggregation/hour.txt
  content/manual/manual/source/reference/operator/aggregation/last.txt
  content/manual/manual/source/reference/operator/aggregation/let.txt
  content/manual/manual/source/reference/operator/aggregation/ln.txt
  content/manual/manual/source/reference/operator/aggregation/max.txt
  content/manual/manual/source/reference/operator/aggregation/millisecond.txt
  content/manual/manual/source/reference/operator/aggregation/min.txt
  content/manual/manual/source/reference/operator/aggregation/multiply.txt
  content/manual/manual/source/reference/operator/aggregation/push.txt
  content/manual/manual/source/reference/operator/aggregation/second.txt
  content/manual/manual/source/reference/operator/aggregation/sum.txt
  content/manual/manual/source/reference/operator/aggregation/week.txt
  content/manual/manual/source/reference/operator/aggregation/year.txt
  content/manual/upcoming/source/reference/operator/aggregation/push.txt
Labels: Manual

DOCSP-49888 Duplicate title cleanup (#12240)
  content/manual/manual/source/reference/change-events/dropIndexes.txt
  content/manual/manual/source/reference/change-events/invalidate.txt
  content/manual/upcoming/source/reference/change-events/dropIndexes.txt
  content/manual/upcoming/source/reference/change-events/invalidate.txt
  content/manual/v6.0/source/core/csfle/fundamentals.txt
  content/manual/v6.0/source/core/csfle/fundamentals/manual-encryption.txt
  content/manual/v6.0/source/core/queryable-encryption/fundamentals.txt
  content/manual/v6.0/source/core/queryable-encryption/fundamentals/manual-encryption.txt
  content/manual/v6.0/source/core/queryable-encryption/reference.txt
  content/manual/v6.0/source/reference/change-events/dropDatabase.txt
  content/manual/v6.0/source/reference/change-events/dropIndexes.txt
  content/manual/v6.0/source/reference/change-events/invalidate.txt
  content/manual/v7.0/source/reference/change-events/dropIndexes.txt
  content/manual/v7.0/source/reference/change-events/invalidate.txt
Labels: Manual

DOCSP-24271-add-insert-schools-main-backport (12104) (#12226)
  content/manual/v6.0/source/reference/operator/projection/elemMatch.txt
Labels: Manual

DOCSP-50015-reduce-EOL-version-mentions (#12173) (#12234)
  content/manual/manual/source/core/retryable-reads.txt
  content/manual/manual/source/includes/extracts-changestream.yaml
  content/manual/manual/source/includes/extracts-client-side-field-level-encryption.yaml
  content/manual/manual/source/includes/fact-platform-arm64.rst
  content/manual/manual/source/includes/fact-platform-ppc64le.rst
  content/manual/manual/source/includes/fact-platform-s390x-community.rst
  content/manual/manual/source/includes/fact-platform-s390x-enterprise.rst
  content/manual/manual/source/includes/list-table-featureCompatibilityVersion-defaults.rst
  content/manual/manual/source/reference/command/setFeatureCompatibilityVersion.txt
  content/manual/manual/source/reference/method/Mongo.watch.txt
  content/manual/v6.0/source/core/retryable-reads.txt
  content/manual/v6.0/source/includes/extracts-changestream.yaml
  content/manual/v6.0/source/includes/extracts-client-side-field-level-encryption.yaml
  content/manual/v6.0/source/includes/fact-platform-arm64.rst
  content/manual/v6.0/source/includes/fact-platform-ppc64le.rst
  content/manual/v6.0/source/includes/fact-platform-s390x-community.rst
  content/manual/v6.0/source/includes/fact-platform-s390x-enterprise.rst
  content/manual/v6.0/source/includes/list-table-featureCompatibilityVersion-defaults.rst
  content/manual/v6.0/source/reference/command/setFeatureCompatibilityVersion.txt
  content/manual/v6.0/source/reference/method/Mongo.watch.txt
  content/manual/v7.0/source/core/retryable-reads.txt
  content/manual/v7.0/source/includes/extracts-changestream.yaml
  content/manual/v7.0/source/includes/extracts-client-side-field-level-encryption.yaml
  content/manual/v7.0/source/includes/fact-platform-arm64.rst
  content/manual/v7.0/source/includes/fact-platform-ppc64le.rst
  content/manual/v7.0/source/includes/fact-platform-s390x-community.rst
  content/manual/v7.0/source/includes/fact-platform-s390x-enterprise.rst
  content/manual/v7.0/source/includes/list-table-featureCompatibilityVersion-defaults.rst
  content/manual/v7.0/source/reference/command/setFeatureCompatibilityVersion.txt
  content/manual/v7.0/source/reference/method/Mongo.watch.txt
Labels: Manual

DOCSP-50417 adds note re avoiding ambiguous names with dots (#12233)
  content/manual/manual/source/core/dot-dollar-considerations/periods.txt
Labels: Manual

(DOCSP-46945) shard backup limitation (#7228)
  source/backup/cloud-backup/dedicated-cluster-backup.txt
  source/backup/cloud-backup/overview.txt
  source/includes/shard-backup-limitation.rst
Labels: none

DOP-5654 (#12243)
  content/mongodb-intellij/netlify.toml
  content/mongodb-shell/netlify.toml
  content/mongodb-vscode/netlify.toml
  platform/tools/import-repo.sh
Labels: Platform, Mongosh, VSCode, IntelliJ

DOCSP-50345 finalizes 8.1.1 release notes (#12245)
  content/manual/upcoming/source/includes/changelogs/releases/8.1.1.rst
  content/manual/upcoming/source/release-notes/8.1.txt
Labels: Manual

DOCSP-50242-no-index-builds-permitted-when-converting-indexes-to-unique (#12130)
  content/cluster-to-cluster-sync/current/source/reference/cutover-process.txt
Labels: C2C

DOP-5659, 5657: Port redirects for intellij, vscode, shell (#12247)
  content/mongodb-shell/netlify.toml
  content/mongodb-vscode/netlify.toml
Labels: Mongosh, VSCode

(DOCSP-50348) Fix prerequisites statement. (#7275)
  source/data-federation/query/sql/private-endpoint/connect.txt
Labels: none

(DOCSP-49748) Adds steps for finding slow queries with the Query Profiler. (#7221)
  source/tutorial/query-profiler.txt
Labels: none

(EAI-980) Write a Public Chatbot Data Usage docs page (#245)
  source/ai-chatbot-data-usage.txt
Labels: none

DOCSP-50380: Preview features page (#244)
  source/preview-features.txt
Labels: none

DOCSP-48444 -- Fixed duplicated H1s (#866)
  source/admin/backup/logs-page.txt
  source/admin/general/api-keys-page.txt
  source/admin/general/audits-page.txt
  source/admin/general/logs-page.txt
  source/admin/general/messages-page.txt
  source/admin/general/mongodb-usage-page.txt
  source/admin/general/ops-manager-config-page.txt
  source/admin/general/overview-page.txt
  source/admin/general/projects-page.txt
  source/admin/general/users-page.txt
  source/admin/general/version-manifest-page.txt
  source/installation.txt
  source/reference/api.txt
  source/reference/api/groups.txt
  source/reference/api/nav/automation.txt
  source/reference/api/users.txt
  source/tutorial/manage-organizations.txt
  source/tutorial/manage-projects.txt
  source/tutorial/nav/install-application.txt
  source/tutorial/update-automation-configuration.txt
  source/tutorial/workload-oidc.txt
Labels: none

(DOCSP-49639) new copy for scheduled reports page
  source/dashboards/view-dashboard-data/scheduled-reports.txt
Labels: none

DOCSP-50277-glossary-capitalization-fixes (#12255)
  content/manual/upcoming/source/reference/glossary.txt
Labels: Manual

DOCSP-50245-atlas-link-fix (#12249)
  content/manual/manual/source/administration/upgrade-community-to-enterprise.txt
  content/manual/v6.0/source/administration/upgrade-community-to-enterprise.txt
  content/manual/v6.0/source/reference/glossary.txt
  content/manual/v7.0/source/administration/upgrade-community-to-enterprise.txt
  content/manual/v7.0/source/reference/glossary.txt
Labels: Manual

DOCSP-48444 -- Backported changes from master branch (#869)
  source/admin/admin-tab-general.txt
  source/admin/backup/logs-page.txt
  source/admin/general/api-keys-page.txt
  source/admin/general/audits-page.txt
  source/admin/general/logs-page.txt
  source/admin/general/messages-page.txt
  source/admin/general/mongodb-usage-page.txt
  source/admin/general/ops-manager-config-page.txt
  source/admin/general/overview-page.txt
  source/admin/general/projects-page.txt
  source/admin/general/users-page.txt
  source/admin/general/version-manifest-page.txt
  source/includes/steps-admin-add-s3-blockstore.yaml
  source/installation.txt
  source/reference/api.txt
  source/reference/api/groups.txt
  source/reference/api/nav/automation.txt
  source/reference/api/users.txt
  source/tutorial/manage-organizations.txt
  source/tutorial/manage-projects.txt
  source/tutorial/nav/install-application.txt
  source/tutorial/update-automation-configuration.txt
  source/tutorial/workload-oidc.txt
Labels: none

updates outdated links to Apache Avro spec (#202) (#213)
  source/introduction/data-formats.txt
  source/source-connector/usage-examples/schema.txt
Labels: none

updates outdated links to Apache Avro spec (#202) (#214)
  source/introduction/data-formats.txt
  source/source-connector/usage-examples/schema.txt
Labels: none

DOCS-17043-typo-in-ext-json (#12258)
  content/manual/upcoming/source/reference/mongodb-extended-json.txt
Labels: Manual

DOCSP-46647-remove-enableSharding (#7278)
  source/includes/steps-shard-collection.yaml
Labels: none

DOCSP-50218-redundant-to (#12264)
  content/manual/upcoming/source/data-modeling/enforce-consistency/embed-data.txt
Labels: Manual

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']
