Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Architecture, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, C Driver, Charts, Cloud Manager, Code Examples Tested, Compass, CPP Driver, CSharp, Database Tools, Datalake, Django, Docs Platform, Drivers Ecosystem, Entity Framework, Golang, Guides, Java RS, Java, Kafka Connector, Kotlin Sync, Kotlin, Kubernetes, Kubernetes Operator, Landing, Laravel, Manual, MCP Server, Meta, Mongo Cli, Analyzer, Platform, IntelliJ, Mongosh, VSCode, Mongo ID, Mongo Sync, Node, Ops Manager, PHP Library, Pymongo Arrow Driver, Pymongo Driver, Relational Migrator, Ruby Driver, Rust, Scala Driver, Spark Connector, Table of Contents, Tutorials

DOCSP-50842 -- Add: Advanced Security Options: x509 Authentication (#12741)
  content/atlas/source/data-federation/admin/manage-federated-database.txt
  content/atlas/source/data-federation/tutorial/advanced-security-options/x509-authentication.txt
  content/atlas/source/data-federation/tutorial/configure-connection.txt
  content/atlas/source/data-federation/tutorial/security-self-managed-x509.txt
  content/atlas/source/includes/steps-adf-add-self-managed-x509-user.rst
  content/atlas/source/includes/steps-adf-configure-self-managed-x509.rst
Labels: Atlas

DOCSP-52576 fix a broken link (#13480)
  content/atlas/source/includes/security/aws-iam-auth-one-source.rst
Labels: Atlas

DOP-5793-landing add landing redirects (#13421)
  content/landing/netlify.toml
Labels: Landing

DOCSP-51254 Kotlin noindex (#13427)
  content/kotlin/upcoming/snooty.toml
  content/kotlin/upcoming/source/fundamentals/crud.txt
  content/kotlin/upcoming/source/fundamentals/crud/read-operations.txt
  content/kotlin/upcoming/source/fundamentals/crud/write-operations.txt
  content/kotlin/upcoming/source/fundamentals/data-formats.txt
  content/kotlin/upcoming/source/usage-examples/find-operations.txt
  content/kotlin/upcoming/source/usage-examples/insert-operations.txt
  content/kotlin/upcoming/source/usage-examples/update-operations.txt
Labels: Kotlin

DOCSP-52470 Create Backport File Go (#13470)
  content/golang/.backportrc.json
Labels: Golang

DOCSP-52591 Kotlin Backport File (#13483)
  content/kotlin/.backportrc.json
Labels: Kotlin

DOP-5910: base component factory (#13394)
  platform/docs-nextjs/src/app/docs/[...path]/page.tsx
  platform/docs-nextjs/src/components/component-factory/index.tsx
  platform/docs-nextjs/src/components/text/index.tsx
  platform/docs-nextjs/src/services/db/types.ts
  platform/package-lock.json
Labels: Platform

DOCSP-34065 - Unsupported POCOs (#13088)
  content/mongodb-analyzer/.backportrc.json
  content/mongodb-analyzer/upcoming/source/code-type/pocos.txt
  content/mongodb-analyzer/upcoming/source/includes/images/poco-unsupported-popup.jpg
Labels: Analyzer

DOCSP-50207-import-with-mongodbimport (#12520)
  content/database-tools/snooty.toml
  content/database-tools/source/images/import-field-file-with-types-mongoimport.png
  content/database-tools/source/images/import-one-json-doc-mongoimport.png
  content/database-tools/source/images/import-test-field-file-mongoimport.png
  content/database-tools/source/mongoimport.txt
  content/database-tools/source/mongoimport/mongoimport-guide.txt
Labels: Database Tools

DOCSP-52517-- Fix Build Errors (#13460)
  content/atlas/source/data-federation/tutorial/advanced-security-options/adf-aws-iam-authentication.txt
  content/atlas/source/includes/security/aws-iam-auth-one-source.rst
  content/atlas/source/security/aws-iam-authentication.txt
Labels: Atlas

DOP-5793-ruby add ruby driver redirects (#13442)
  content/ruby-driver/netlify.toml
Labels: Ruby Driver

DOP-5793-ecosystem add drivers ecosystem redirects (#13441)
  content/drivers/netlify.toml
Labels: Drivers Ecosystem

DOCSP-52521 -- fix atlas search build errors (#13462)
  content/atlas/source/atlas-search/field-types/old-object-id-type.txt
Labels: Atlas

DOCSP-51676-disambiguate-titles-4/15 (#13489)
  content/manual/upcoming/source/reference/operator/aggregation/divide.txt
  content/manual/upcoming/source/reference/operator/aggregation/documentNumber.txt
  content/manual/upcoming/source/reference/operator/aggregation/documents.txt
  content/manual/upcoming/source/reference/operator/aggregation/eq.txt
  content/manual/upcoming/source/reference/operator/aggregation/exp.txt
  content/manual/upcoming/source/reference/operator/aggregation/expMovingAvg.txt
  content/manual/upcoming/source/reference/operator/aggregation/facet.txt
  content/manual/upcoming/source/reference/operator/aggregation/fill.txt
  content/manual/upcoming/source/reference/operator/aggregation/filter.txt
  content/manual/upcoming/source/reference/operator/aggregation/first.txt
  content/manual/upcoming/source/reference/operator/aggregation/firstN.txt
  content/manual/upcoming/source/reference/operator/aggregation/floor.txt
  content/manual/upcoming/source/reference/operator/aggregation/function.txt
  content/manual/upcoming/source/reference/operator/aggregation/geoNear.txt
  content/manual/upcoming/source/reference/operator/aggregation/getField.txt
  content/manual/upcoming/source/reference/operator/aggregation/graphLookup.txt
  content/manual/upcoming/source/reference/operator/aggregation/group.txt
  content/manual/upcoming/source/reference/operator/aggregation/hour.txt
  content/manual/upcoming/source/reference/operator/query/gt.txt
  content/manual/upcoming/source/reference/operator/query/gte.txt
Labels: Manual

(DOCSP-51181): Java tested examples for aggregation one-to-one join tutorial (#13475)
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/join1to1/Tutorial.java
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/join1to1/TutorialOutput.txt
  code-example-tests/java/driver-sync/src/test/java/aggregation/pipelines/TutorialTests.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/join1to1/Tutorial.snippet.load-sample-data.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/join1to1/Tutorial.snippet.lookup.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/join1to1/Tutorial.snippet.match.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/join1to1/Tutorial.snippet.run-pipeline.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/join1to1/Tutorial.snippet.set.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/join1to1/Tutorial.snippet.unset.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/join1to1/TutorialOutput.txt
  content/manual/manual/source/includes/aggregation/aggregation-examples/one-to-one-join/full-files/OneToOneJoin.java
  content/manual/manual/source/includes/aggregation/aggregation-examples/one-to-one-join/java-sync-one-to-one-join.rst
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/one-to-one-join/full-files/OneToOneJoin.java
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/one-to-one-join/java-sync-one-to-one-join.rst
Labels: Manual

(DOCSP-52582) Clarify initialSync behavior (#13484)
  content/atlas/source/atlas-stream-processing/sp-agg-source.txt
  content/atlas/source/atlas-stream-processing/stream-aggregation.txt
  content/atlas/source/atlas-stream-processing/windows.txt
Labels: Atlas

Updates for domain association UI changes. (#13426)
  content/atlas/source/includes/steps-restrict-access-to-org.yaml
  content/atlas/source/workforce-oidc.txt
  content/atlas/source/workload-oidc.txt
  content/cloud-manager/source/includes/steps-restrict-access-to-org.yaml
Labels: Atlas, Cloud Manager

Paragraph snapshot (#13488)
  platform/docs-nextjs/src/tests/unit/__snapshots__/paragraph.test.tsx.snap
Labels: Platform

DOCSP-34065 - backport changes (#13492)
  content/mongodb-analyzer/current/source/code-type/pocos.txt
  content/mongodb-analyzer/current/source/includes/images/poco-unsupported-popup.jpg
  content/mongodb-analyzer/v1.5/source/code-type/pocos.txt
  content/mongodb-analyzer/v1.5/source/includes/images/poco-unsupported-popup.jpg
Labels: Analyzer

DOCSP-51701: Payments Modernization Solution Accelerator (merge) (#13486)
  content/atlas-architecture/current/snooty.toml
  content/atlas-architecture/current/source/solutions-library/payments-solution.txt
Labels: Atlas Architecture

DOCSP-51787-lookup-example-incorrect (#13446)
  content/manual/upcoming/source/reference/operator/aggregation/lookup.txt
Labels: Manual

DOCSP-51477 Replace Interface{} with Any (#13447)
  content/golang/upcoming/source/fundamentals/bson.txt
  content/golang/upcoming/source/fundamentals/crud/write-operations/insert.txt
  content/golang/upcoming/source/fundamentals/transactions.txt
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/bulkOps.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/changeStream.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/compoundOperations.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/countAndEstimate.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/cursor.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/delete.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/distinctValues.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/limit.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/projection.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/query.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/retrieve.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/skip.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/sort.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/textSearch.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/updateArray.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/CRUD/upsert.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/aggregation.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/logging.go
  content/golang/upcoming/source/includes/fundamentals/code-snippets/transaction.go
  content/golang/upcoming/source/includes/usage-examples/code-snippets/bulk.go
  content/golang/upcoming/source/includes/usage-examples/code-snippets/find.go
  content/golang/upcoming/source/includes/usage-examples/code-snippets/findOne.go
  content/golang/upcoming/source/includes/usage-examples/code-snippets/insertMany.go
  content/golang/upcoming/source/includes/usage-examples/code-snippets/insertOne.go
  content/golang/upcoming/source/includes/usage-examples/code-snippets/replace.go
  content/golang/upcoming/source/quick-reference.txt
Labels: Golang

DOCSP-51470 -- Fixed broken link (#12902)
  content/kubernetes-operator/current/source/reference-architectures/multi-cluster/multi-cluster.txt
Labels: Kubernetes Operator

Add note about delayed alert notifications. (#13454)
  content/atlas/source/alerts.txt
Labels: Atlas

DOCSP-51787-lookup-example-incorrect (#13446) (#13500)
  content/manual/manual/source/reference/operator/aggregation/lookup.txt
  content/manual/rapid/source/reference/operator/aggregation/lookup.txt
  content/manual/v6.0/source/reference/operator/aggregation/lookup.txt
  content/manual/v7.0/source/reference/operator/aggregation/lookup.txt
Labels: Manual

DOCSP-52264-change-OM-duplicated-titles-July-report (#13481)
  content/ops-manager/current/source/admin/backup/deployment-regions-page.txt
  content/ops-manager/current/source/reference/api/backup-deployments.txt
  content/ops-manager/current/source/tutorial/manage-programmatic-api-keys.txt
Labels: Ops Manager

remove unneeded files (#13506)
  content/ops-manager/current/source/reference/api/automation.txt
  content/ops-manager/current/source/reference/api/backup-and-restore.txt
  content/ops-manager/current/source/reference/api/deployments.txt
  content/ops-manager/current/source/reference/api/groups-and-users.txt
  content/ops-manager/v7.0/source/reference/api/automation.txt
  content/ops-manager/v7.0/source/reference/api/backup-and-restore.txt
  content/ops-manager/v7.0/source/reference/api/deployments.txt
  content/ops-manager/v7.0/source/reference/api/groups-and-users.txt
Labels: Ops Manager

DOCSP-52429 replaceOne IO Code Block Syntax (#13352)
  content/manual/upcoming/source/reference/operator/aggregation/replaceOne.txt
Labels: Manual

DOCSP-51677-disambiguate-titles-5/15 (#13504)
  content/manual/upcoming/source/reference/operator/aggregation/ifNull.txt
  content/manual/upcoming/source/reference/operator/aggregation/in.txt
  content/manual/upcoming/source/reference/operator/aggregation/indexOfArray.txt
  content/manual/upcoming/source/reference/operator/aggregation/indexOfBytes.txt
  content/manual/upcoming/source/reference/operator/aggregation/indexOfCP.txt
  content/manual/upcoming/source/reference/operator/aggregation/indexStats.txt
  content/manual/upcoming/source/reference/operator/aggregation/integral.txt
  content/manual/upcoming/source/reference/operator/aggregation/isArray.txt
  content/manual/upcoming/source/reference/operator/aggregation/isNumber.txt
  content/manual/upcoming/source/reference/operator/aggregation/isoDayOfWeek.txt
  content/manual/upcoming/source/reference/operator/aggregation/isoWeek.txt
  content/manual/upcoming/source/reference/operator/aggregation/isoWeekYear.txt
  content/manual/upcoming/source/reference/operator/aggregation/last.txt
  content/manual/upcoming/source/reference/operator/aggregation/lastN.txt
  content/manual/upcoming/source/reference/operator/aggregation/let.txt
  content/manual/upcoming/source/reference/operator/aggregation/limit.txt
  content/manual/upcoming/source/reference/operator/aggregation/linearFill.txt
  content/manual/upcoming/source/reference/operator/aggregation/listLocalSessions.txt
  content/manual/upcoming/source/reference/operator/aggregation/listSampledQueries.txt
Labels: Manual

DOCSP-49573: PHP QE tutorial (#12738)
  content/manual/upcoming/source/core/queryable-encryption/qe-create-application.txt
  content/manual/upcoming/source/core/queryable-encryption/qe-create-encrypted-collection.txt
  content/manual/upcoming/source/core/queryable-encryption/qe-retrieve-encrypted-document.txt
  content/manual/upcoming/source/core/queryable-encryption/quick-start.txt
  content/manual/upcoming/source/core/queryable-encryption/tutorials.txt
  content/manual/upcoming/source/includes/qe-tutorials/php/README.md
  content/manual/upcoming/source/includes/qe-tutorials/php/composer.json
  content/manual/upcoming/source/includes/qe-tutorials/php/env_template
  content/manual/upcoming/source/includes/qe-tutorials/php/queryable-encryption-helpers.php
  content/manual/upcoming/source/includes/qe-tutorials/php/queryable-encryption-tutorial.php
  content/manual/upcoming/source/includes/qe-tutorials/php/range-query.php
  content/manual/upcoming/source/includes/queryable-encryption/env-variables.rst
  content/manual/upcoming/source/includes/queryable-encryption/tutorials/assign-app-variables.rst
  content/manual/upcoming/source/includes/queryable-encryption/tutorials/automatic/aws/role-authentication.rst
Labels: Manual

[Atlas Vector Search] Clarified embedding fields (#13487)
  content/atlas/source/atlas-vector-search/vector-search-type.txt
Labels: Atlas

[Vector Search] typo: asymptomatic -> asymptotic (#13497)
  content/atlas/source/atlas-vector-search/benchmark/results.txt
Labels: Atlas

Docsp 52285 known issues (#13502)
  content/kubernetes/current/source/reference/known-issues.txt
Labels: Kubernetes

DOCSP-46798 Removes serverless mentions from server docs (#13323)
  content/manual/upcoming/source/core/capped-collections.txt
  content/manual/upcoming/source/core/map-reduce.txt
  content/manual/upcoming/source/includes/aggregation/agg-userroles-restrictions.rst
  content/manual/upcoming/source/includes/analyzeShardKey-limitations.rst
  content/manual/upcoming/source/includes/atlas-search-commands/atlas-only-db-command.rst
  content/manual/upcoming/source/includes/cqa-limitations.rst
  content/manual/upcoming/source/index.txt
  content/manual/upcoming/source/reference/command.txt
  content/manual/upcoming/source/reference/command/abortMoveCollection.txt
  content/manual/upcoming/source/reference/command/abortUnshardCollection.txt
  content/manual/upcoming/source/reference/command/moveCollection.txt
  content/manual/upcoming/source/reference/limits.txt
  content/manual/upcoming/source/tutorial/start-a-sharded-cluster-with-config-shard.txt
  content/manual/upcoming/source/tutorial/stop-unsharding-collection.txt
  content/manual/upcoming/source/tutorial/unshard-collection.txt
Labels: Manual

DOCSP-52676 -- add missing ref (#13519)
  content/atlas/source/atlas-search/field-types/object-id-type.txt
Labels: Atlas

(DOCSP-50658): Adds migration guide fix. (#13400)
  content/kubernetes/upcoming/source/tutorial/migrate-to-mck.txt
Labels: Kubernetes

DOCSP-52274-shorten-OM-title (#13482)
  content/ops-manager/current/source/tutorial/configure-for-saml-authentication.txt
Labels: Ops Manager

(DOCSP-51955): Removed duplicate Query Targeting metric description. (#13397)
  content/ops-manager/upcoming/source/review-available-metrics.txt
Labels: Ops Manager

(DOCSP-51949): Removed duplicate Query Targeting metric description. (#13374)
  content/cloud-manager/source/review-available-metrics.txt
Labels: Cloud Manager

DOCSP-52575 Bump libmongocrypt version to 1.15 (#13526)
  content/manual/upcoming/snooty.toml
Labels: Manual

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Architecture:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-architecture/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

C Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/c-driver/**']

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

Code Examples Tested:
  - changed-files:
    - any-glob-to-any-file: ['content/code-examples/tested**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

CPP Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/cpp-driver/**']

CSharp:
  - changed-files:
    - any-glob-to-any-file: ['content/csharp/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Django:
  - changed-files:
    - any-glob-to-any-file: ['content/django-mongodb/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Drivers Ecosystem:
  - changed-files:
    - any-glob-to-any-file: ['content/drivers/**']

Entity Framework:
  - changed-files:
    - any-glob-to-any-file: ['content/entity-framework/**']

Golang:
  - changed-files:
    - any-glob-to-any-file: ['content/golang/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Java RS:
  - changed-files:
    - any-glob-to-any-file: ['content/java-rs/**']

Java:
  - changed-files:
    - any-glob-to-any-file: ['content/java/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kotlin Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin-sync/**']

Kotlin:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Landing:
  - changed-files:
    - any-glob-to-any-file: ['content/landing/**']

Laravel:
  - changed-files:
    - any-glob-to-any-file: ['content/laravel-mongodb/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongocli/**']

Analyzer:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-analyzer/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Mongo ID:
  - changed-files:
    - any-glob-to-any-file: ['content/mongoid/**']

Mongo Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/mongosync/**']
  
Node:
  - changed-files:
    - any-glob-to-any-file: ['content/node/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

PHP Library:
  - changed-files:
    - any-glob-to-any-file: ['content/php-library/**']

Pymongo Arrow Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-arrow-driver/**']

Pymongo Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-driver/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']

Ruby Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/ruby-driver/**']

Rust:
  - changed-files:
    - any-glob-to-any-file: ['content/rust/**']

Scala Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/scala-driver/**']

Spark Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/spark-connector/**']

Table of Contents:
  - changed-files:
    - any-glob-to-any-file: ['content/table-of-contents/**']

Tutorials:
  - changed-files:
    - any-glob-to-any-file: ['content/tutorials/**']
