Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Merge pull request #715 from mcmorisi/DOCSP-50964-remove-6.1
  source/includes/mongodb-compatibility-table-java.rst
Labels: none

DOCSP-50945-mcp-redirects (#12451)
  content/manual/manual/source/mcp.txt
  content/manual/netlify.toml
  content/manual/upcoming/source/mcp.txt
Labels: Manual

DOP-5783 add some bi-connector redirects (#12433)
  content/bi-connector/current/netlify.toml
  content/bi-connector/netlify.toml
  platform/template/netlify.toml
Labels: Platform

(DOCSP-48434) Fix internal 404s in MEKO (#2204)
  config/redirects
  source/includes/setting-k8sRsConf-spec.additionalMongodConfig.net.tls.disabledProtocols.rst
  source/release-notes.txt
Labels: none

DOCSP-49364-cursor-doc (#12394)
  content/manual/upcoming/source/tutorial/iterate-a-cursor.txt
Labels: Manual

DOCSP-50971-values-facet-error (#12456)
  content/manual/upcoming/source/tutorial/analyze-query-plan.txt
Labels: Manual

removed references to OpenAI (#257)
  source/solutions-library/manufacturing-asset-predictive-maintenance.txt
Labels: none

DOCSP-49364-cursor-doc (#12394) (#12458)
  content/manual/manual/source/tutorial/iterate-a-cursor.txt
  content/manual/v6.0/source/tutorial/iterate-a-cursor.txt
  content/manual/v7.0/source/tutorial/iterate-a-cursor.txt
Labels: Manual

(DOCSP-49305): Region and version updates.
  source/ak8so-private-link-datafederation.txt
  source/atlasdeployment-custom-resource.txt
Labels: none

(DOCSP-49305): Region and version updates.
  source/ak8so-private-link-datafederation.txt
  source/atlasdeployment-custom-resource.txt
Labels: none

(DOCSP-49305): Region and version updates.
  source/ak8so-private-link-datafederation.txt
  source/atlasdeployment-custom-resource.txt
Labels: none

(DOCSP-49305): Region and version updates.
  source/ak8so-private-link-datafederation.txt
  source/atlasdeployment-custom-resource.txt
Labels: none

(DOCSP-49305): Region and version updates.
  source/ak8so-private-link-datafederation.txt
  source/atlasdeployment-custom-resource.txt
Labels: none

(DOCSP-49305): Region and version updates.
  source/ak8so-private-link-datafederation.txt
  source/atlasdeployment-custom-resource.txt
Labels: none

(DOCSP-49305): Region and version updates.
  source/ak8so-private-link-datafederation.txt
  source/atlasdeployment-custom-resource.txt
Labels: none

(DOCSP-49305): Region and version updates.
  source/ak8so-private-link-datafederation.txt
  source/atlasdeployment-custom-resource.txt
Labels: none

(DOCSP-50682): Adds the Atlas SQL RNs for JDBC 2.2.4. (#7338)
  source/release-notes/sql.txt
Labels: none

(DOCSP-50435) documents charts limitation (#709)
  source/includes/steps-embed-dashboard-unauthenticated.yaml
  source/includes/steps-enable-embedding-iframe-anon.yaml
Labels: none

DOCS-17035-remove-numberint-instances (#12440)
  content/manual/upcoming/source/core/schema-validation/specify-json-schema.txt
  content/manual/upcoming/source/includes/fact-mongosh-integer-long-constructors.rst
  content/manual/upcoming/source/reference/method/ClientEncryption.encryptExpression.txt
  content/manual/upcoming/source/reference/method/sp.createStreamProcessor.txt
  content/manual/upcoming/source/reference/method/sp.process.txt
  content/manual/upcoming/source/reference/operator/aggregation/bitAnd.txt
  content/manual/upcoming/source/reference/operator/aggregation/bitNot.txt
  content/manual/upcoming/source/reference/operator/aggregation/bitOr.txt
  content/manual/upcoming/source/reference/operator/aggregation/bitXor.txt
  content/manual/upcoming/source/reference/operator/aggregation/bucket.txt
  content/manual/upcoming/source/reference/operator/aggregation/isNumber.txt
  content/manual/upcoming/source/reference/operator/aggregation/toDecimal.txt
  content/manual/upcoming/source/reference/operator/aggregation/toDouble.txt
  content/manual/upcoming/source/reference/operator/aggregation/toLong.txt
  content/manual/upcoming/source/reference/operator/aggregation/toString.txt
  content/manual/upcoming/source/reference/operator/aggregation/unwind.txt
  content/manual/upcoming/source/reference/operator/query/expr.txt
  content/manual/upcoming/source/reference/operator/query/type.txt
Labels: Manual

DOCSP-50980-build-error-backport (#12460)
  content/manual/manual/source/includes/analyzeShardKey-limitations.rst
  content/manual/manual/source/includes/cqa-limitations.rst
  content/manual/v7.0/source/includes/analyzeShardKey-limitations.rst
  content/manual/v7.0/source/includes/cqa-limitations.rst
Labels: Manual

(DOCSP-50434) free user charts autorefresh settings dialog admonition (#705)
  source/dashboards/view-dashboard-data/dashboard-refresh.txt
Labels: none

DOCSP-47157 doc for Ops Manager Prometheus /metrics endpoint-v7.0-backport (836) (#888)
  source/includes/setting-fileConf-mms.prom.listening.enabled.rst
  source/includes/setting-fileConf-mms.prom.listening.port.rst
  source/reference/configuration.txt
Labels: none

DOCSP-47157 doc for Ops Manager Prometheus /metrics endpoint-v8.0-backport (836) (#887)
  source/includes/setting-fileConf-mms.prom.listening.enabled.rst
  source/includes/setting-fileConf-mms.prom.listening.port.rst
  source/reference/configuration.txt
Labels: none

DOCSP-50692 -- EOL'd Atlas Operator V2.1 (#246)
  snooty.toml
  source/ak8so-alert-configurations.txt
  source/ak8so-back-up-deployment.txt
  source/ak8so-changelog.txt
  source/ak8so-compatibility.txt
  source/ak8so-configure-audit-logs.txt
  source/ak8so-configure-custom-database-roles.txt
  source/ak8so-configure-federated-authentication.txt
  source/ak8so-configure-teams.txt
  source/ak8so-encryption-at-rest-customer-keys.txt
  source/ak8so-for-gov.txt
  source/ak8so-get-started.txt
  source/ak8so-import-projects.txt
  source/ak8so-integrate-third-party.txt
  source/ak8so-monitoring.txt
  source/ak8so-network-peering.txt
  source/ak8so-private-link-datafederation.txt
  source/ak8so-private-link-dedicated.txt
  source/ak8so-private-link-serverless.txt
  source/ak8so-private-link.txt
  source/ak8so-quick-start-helm.txt
  source/ak8so-quick-start.txt
  source/ak8so-secret-storage.txt
  source/ak8so-set-up-data-federation.txt
  source/ak8so-unified-access.txt
  source/ak8so-x509.txt
  source/atlasbackuppolicy-custom-resource.txt
  source/atlasbackupschedule-custom-resource.txt
  source/atlasdatabaseuser-custom-resource.txt
  source/atlasdatafederation-custom-resource.txt
  source/atlasdeployment-custom-resource.txt
  source/atlasfederatedauth-custom-resource.txt
  source/atlasproject-custom-resource.txt
  source/atlasteam-custom-resource.txt
  source/configure-ak8so-access-to-atlas.txt
  source/custom-resources.txt
  source/index.txt
  source/production-notes.txt
  source/upgrade-ako-v1-to-v2.txt
Labels: none

composable-tutorial-vector-search (#7113)
  source/atlas-vector-search/tutorials/vector-search-quick-start.txt
Labels: none

DOCSP-50692 -- EOL'd Atlas Operator v2.2 (#247)
  snooty.toml
  source/ak8so-alert-configurations.txt
  source/ak8so-back-up-deployment.txt
  source/ak8so-changelog.txt
  source/ak8so-compatibility.txt
  source/ak8so-configure-audit-logs.txt
  source/ak8so-configure-custom-database-roles.txt
  source/ak8so-configure-federated-authentication.txt
  source/ak8so-configure-teams.txt
  source/ak8so-encryption-at-rest-customer-keys.txt
  source/ak8so-for-gov.txt
  source/ak8so-get-started.txt
  source/ak8so-import-projects.txt
  source/ak8so-integrate-third-party.txt
  source/ak8so-monitoring.txt
  source/ak8so-network-peering.txt
  source/ak8so-private-link-datafederation.txt
  source/ak8so-private-link-dedicated.txt
  source/ak8so-private-link-serverless.txt
  source/ak8so-private-link.txt
  source/ak8so-quick-start-helm.txt
  source/ak8so-quick-start.txt
  source/ak8so-secret-storage.txt
  source/ak8so-set-up-data-federation.txt
  source/ak8so-unified-access.txt
  source/ak8so-verify-packages.txt
  source/ak8so-x509.txt
  source/atlasbackuppolicy-custom-resource.txt
  source/atlasbackupschedule-custom-resource.txt
  source/atlasdatabaseuser-custom-resource.txt
  source/atlasdatafederation-custom-resource.txt
  source/atlasdeployment-custom-resource.txt
  source/atlasfederatedauth-custom-resource.txt
  source/atlasproject-custom-resource.txt
  source/atlasteam-custom-resource.txt
  source/configure-ak8so-access-to-atlas.txt
  source/custom-resources.txt
  source/index.txt
  source/production-notes.txt
Labels: none

DOCSP-50452 BACKPORT update images (#12453)
  content/manual/manual/source/images/compass-analyze-inventory-docs.png
  content/manual/manual/source/images/compass-explain-plan-no-index-raw-json.png
  content/manual/manual/source/images/compass-explain-plan-no-index.png
  content/manual/manual/source/images/compass-explain-plan-with-index-raw-json.png
  content/manual/manual/source/images/compass-explain-plan-with-index.png
  content/manual/manual/source/images/compass-show-new-index.png
  content/manual/v7.0/source/images/compass-analyze-inventory-docs.png
  content/manual/v7.0/source/images/compass-explain-plan-no-index-raw-json.png
  content/manual/v7.0/source/images/compass-explain-plan-no-index.png
  content/manual/v7.0/source/images/compass-explain-plan-with-index-raw-json.png
  content/manual/v7.0/source/images/compass-explain-plan-with-index.png
  content/manual/v7.0/source/images/compass-show-new-index.png
Labels: Manual

(DOCSP-48434) Remove internal 404 in MCK docs. (#38)
  source/includes/setting-k8sRsConf-spec.additionalMongodConfig.net.tls.disabledProtocols.rst
Labels: none

DOCSP-50962-broken-azure-link (#12462)
  content/manual/upcoming/source/administration/production-notes.txt
Labels: Manual

DOCSP-50732-use-ocspStaplingRefreshPeriodSecs-instead-of-deprecated-param-name (#12431) (#12455)
  content/manual/upcoming/source/includes/list-table-ocsp-parameters.rst
  content/manual/upcoming/source/reference/parameters.txt
  content/manual/v5.0/source/includes/list-table-ocsp-parameters.rst
  content/manual/v5.0/source/reference/parameters.txt
  content/manual/v6.0/source/includes/list-table-ocsp-parameters.rst
  content/manual/v6.0/source/reference/parameters.txt
  content/manual/v7.0/source/includes/list-table-ocsp-parameters.rst
  content/manual/v7.0/source/reference/parameters.txt
Labels: Manual

add netlify.toml to atlas-cli
  content/atlas-cli/current/netlify.toml
  content/atlas-cli/netlify.toml
  content/atlas-cli/v1.12/netlify.toml
  content/atlas-cli/v1.13/netlify.toml
  content/atlas-cli/v1.14/netlify.toml
  content/atlas-cli/v1.15/netlify.toml
Labels: none

[Docs+] Build a Newsletter Platform With Flask and MongoDB (#267)
  snooty.toml
  source/integrations.txt
  source/integrations/flask-celery-integration.txt
Labels: none

[Docs+] Build a Newsletter Platform With Flask and MongoDB (#267) (#278)
  snooty.toml
  source/integrations.txt
  source/integrations/flask-celery-integration.txt
Labels: none

DOCSP-50962-broken-azure-link (#12462) (#12463)
  content/manual/manual/source/administration/production-notes.txt
  content/manual/v6.0/source/administration/production-notes.txt
  content/manual/v7.0/source/administration/production-notes.txt
Labels: Manual

DOCSP-50757: Aggregation links (#142)
  source/aggregation.txt
Labels: none

DOCSP-50755: Aggregation links (#157)
  source/aggregation.txt
Labels: none

DOCSP-50757: Aggregation links (#142)
  source/aggregation.txt
Labels: none

DOCSP-50757: Aggregation links (#142)
  source/aggregation.txt
Labels: none

DOCSP-50757: Aggregation links (#142)
  source/aggregation.txt
Labels: none

DOCSP-50756: Aggregation links (#192)
  source/fundamentals/aggregation.txt
Labels: none
