Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Architecture, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, C Driver, Charts, Cloud Manager, Code Examples Tested, Compass, CPP Driver, CSharp, Database Tools, Datalake, Django, Docs Platform, Drivers Ecosystem, Entity Framework, Golang, Guides, Java RS, Java, Kafka Connector, Kotlin Sync, Kotlin, Kubernetes, Kubernetes Operator, Landing, Laravel, Manual, MCP Server, Meta, Mongo Cli, Analyzer, Platform, IntelliJ, Mongosh, VSCode, Mongo ID, Mongo Sync, Node, Ops Manager, PHP Library, Pymongo Arrow Driver, Pymongo Driver, Relational Migrator, Ruby Driver, Rust, Scala Driver, Spark Connector, Table of Contents, Tutorials

DOCSP-52452-adds-improvement-RN-OM2 (#13505)
  content/ops-manager/current/source/release-notes/changelogs/ops-manager/changelog-onprem-v7.0.rst
  content/ops-manager/current/source/release-notes/changelogs/ops-manager/changelog-onprem-v8.0.rst
Labels: Ops Manager

DOCSP-51625-build-error-fix (#13586)
  content/manual/upcoming/source/reference/inconsistency-type.txt
  content/manual/upcoming/source/reference/inconsistency-type/ShardCatalogCacheCollectionMetadataMismatch.txt
Labels: Manual

DOCSP-50739-getMore-new-error (#13514)
  content/manual/upcoming/source/reference/command/getMore.txt
Labels: Manual

DOCSP-51976: Separate listCollections from show Collections (#13075) (#13577)
  content/manual/manual/source/reference/command/listCollections.txt
  content/manual/rapid/source/reference/command/listCollections.txt
  content/manual/v6.0/source/reference/command/listCollections.txt
  content/manual/v7.0/source/reference/command/listCollections.txt
Labels: Manual

DOCS-17084: The deprecated DBQuery.shellBatchSize attribute is used (#13078) (#13578)
  content/manual/manual/source/includes/footnote-set-shell-batch-size.rst
  content/manual/rapid/source/includes/footnote-set-shell-batch-size.rst
  content/manual/v6.0/source/includes/footnote-set-shell-batch-size.rst
  content/manual/v7.0/source/includes/footnote-set-shell-batch-size.rst
Labels: Manual

DOCSP-52711 fix title underline too short warning (#13568) (#13584)
  content/kubernetes/current/source/reference/known-issues.txt
  content/kubernetes/v1.1/source/reference/known-issues.txt
Labels: Kubernetes

DOCSP-52742: Fix link to empty page (#13588)
  content/csharp/current/source/index.txt
  content/csharp/upcoming/source/index.txt
  content/csharp/v3.0/source/index.txt
  content/csharp/v3.1/source/index.txt
  content/csharp/v3.2/source/index.txt
  content/csharp/v3.3/source/index.txt
Labels: CSharp

DOCSP-52701-fixes-expression (#13561)
  content/atlas-operator/current/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/upcoming/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v1.9/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v2.0/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v2.1/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v2.2/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v2.3/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v2.4/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v2.5/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v2.6/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v2.7/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v2.8/source/atlasdatafederation-custom-resource.txt
Labels: Atlas Operator

DOP-5949: Nextjs `Paragraph` Component (#13499)
  platform/docs-nextjs/src/components/component-factory/index.tsx
  platform/docs-nextjs/src/components/paragraph/index.tsx
  platform/docs-nextjs/src/components/text/index.tsx
  platform/docs-nextjs/src/tests/data/paragraph-format.test.json
  platform/docs-nextjs/src/tests/data/paragraph.test.json
  platform/docs-nextjs/src/tests/unit/paragraph.test.tsx
  platform/docs-nextjs/src/tests/unit/utils/append-trailing-punctuation.test.ts
  platform/docs-nextjs/src/types/ast-utils.ts
  platform/docs-nextjs/src/types/ast.ts
  platform/docs-nextjs/src/utils/append-trailing-punctuation.ts
Labels: Platform

Cloud Manager: change duplicate titles (#13587)
  content/cloud-manager/source/reference/api/automation-config/update-automation-config.txt
  content/cloud-manager/source/reference/api/groups.txt
  content/cloud-manager/source/reference/api/nav/automation.txt
  content/cloud-manager/source/tutorial/manage-programmatic-access.txt
  content/cloud-manager/source/tutorial/manage-programmatic-api-keys.txt
  content/cloud-manager/source/tutorial/update-automation-configuration.txt
Labels: Cloud Manager

DOCSP-52200-targeted-read-mirroring (#13351)
  content/manual/upcoming/source/includes/sharding/targeted-mirror-reads-overview.rst
  content/manual/upcoming/source/reference/parameters.txt
  content/manual/upcoming/source/release-notes/8.2.txt
  content/manual/upcoming/source/replication.txt
Labels: Manual

DOCSP-52068: Add EmbeddedModelArrayField query examples (#13540)
  content/django-mongodb/upcoming/source/includes/interact-data/specify-a-query.py
  content/django-mongodb/upcoming/source/interact-data/specify-a-query.txt
Labels: Django

DOCSP-52453 Clarify server incompatibility (#13581)
  content/java/upcoming/source/reference/upgrade.txt
Labels: Java

(DOCSP-52584): Refactor snip scripts & add formatting (#13570)
  code-example-tests/csharp/driver/snip.js
  code-example-tests/java/driver-sync/snip.js
  code-example-tests/javascript/driver/snip.js
  code-example-tests/processFiles.js
  code-example-tests/python/pymongo/snip.js
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Unwind/Tutorial.snippet.group.cs
  content/code-examples/tested/javascript/driver/aggregation/pipelines/template-app.snippet.example.js
Labels: none

DOCSP-52589-7.0.23-release-notes (#13534)
  content/manual/upcoming/source/includes/changelogs/releases/7.0.23.rst
  content/manual/upcoming/source/release-notes/7.0-changelog.txt
  content/manual/upcoming/source/release-notes/7.0.txt
Labels: Manual

DOCSP-52284: Remove allowPartialResults cursor method (#13239) (#13579)
  content/manual/manual/source/reference/method.txt
  content/manual/manual/source/reference/method/cursor.allowPartialResults.txt
  content/manual/manual/source/reference/method/db.collection.find.txt
  content/manual/manual/source/reference/method/js-cursor.txt
  content/manual/manual/source/reference/operator/aggregation/queryStats.txt
  content/manual/rapid/source/reference/method.txt
  content/manual/rapid/source/reference/method/cursor.allowPartialResults.txt
  content/manual/rapid/source/reference/method/db.collection.find.txt
  content/manual/rapid/source/reference/method/js-cursor.txt
  content/manual/rapid/source/reference/operator/aggregation/queryStats.txt
  content/manual/v6.0/source/reference/method.txt
  content/manual/v6.0/source/reference/method/cursor.allowPartialResults.txt
  content/manual/v6.0/source/reference/method/db.collection.find.txt
  content/manual/v6.0/source/reference/method/js-cursor.txt
  content/manual/v6.0/source/reference/operator/aggregation/queryStats.txt
  content/manual/v7.0/source/reference/method.txt
  content/manual/v7.0/source/reference/method/cursor.allowPartialResults.txt
  content/manual/v7.0/source/reference/method/db.collection.find.txt
  content/manual/v7.0/source/reference/method/js-cursor.txt
  content/manual/v7.0/source/reference/operator/aggregation/queryStats.txt
Labels: Manual

DOCSP-52068: Add EmbeddedModelArrayField query examples (#13540) (#13597)
  content/django-mongodb/current/source/includes/interact-data/specify-a-query.py
  content/django-mongodb/current/source/interact-data/specify-a-query.txt
Labels: Django

DOCSP-52453 Clarify server incompatibility (#13581) (#13604)
  content/java/current/source/reference/upgrade.txt
  content/java/v5.0/source/reference/upgrade.txt
  content/java/v5.1/source/reference/upgrade.txt
  content/java/v5.2/source/reference/upgrade.txt
  content/java/v5.3/source/reference/upgrade.txt
  content/java/v5.4/source/reference/upgrade.txt
Labels: Java

[Vector Search] Minor bugs in benchmark overview/results (#13606)
  content/atlas/source/atlas-vector-search/benchmark/overview.txt
  content/atlas/source/atlas-vector-search/benchmark/results.txt
Labels: Atlas

Add snapshot for strong component (#13549)
  platform/docs-nextjs/src/tests/unit/__snapshots__/strong.test.tsx.snap
Labels: Platform

DOCSP-50085 Change ensure for enforce (#13333)
  content/ops-manager/current/source/includes/steps-remove-mongodb-user.yaml
  content/ops-manager/current/source/includes/steps-sync-mongodb-user.yaml
  content/ops-manager/upcoming/source/includes/steps-remove-mongodb-user.yaml
  content/ops-manager/upcoming/source/includes/steps-sync-mongodb-user.yaml
  content/ops-manager/v6.0/source/includes/steps-remove-mongodb-user.yaml
  content/ops-manager/v6.0/source/includes/steps-sync-mongodb-user.yaml
  content/ops-manager/v7.0/source/includes/steps-remove-mongodb-user.yaml
  content/ops-manager/v7.0/source/includes/steps-sync-mongodb-user.yaml
Labels: Ops Manager

Fixes broken links (#13613)
  content/atlas-architecture/current/source/scalability.txt
  content/ops-manager/current/source/reference/third-party-licenses.txt
Labels: Atlas Architecture, Ops Manager

DOCSP-51393 Add connection limit solutions (#13420)
  content/atlas/source/reference/atlas-limits.txt
Labels: Atlas

DOCSP-52311: PolymorphicEmbeddedModelArrayField (#13522)
  content/django-mongodb/upcoming/source/includes/field-name-conflicts.rst
  content/django-mongodb/upcoming/source/includes/interact-data/specify-a-query.py
  content/django-mongodb/upcoming/source/includes/model-data/models.py
  content/django-mongodb/upcoming/source/interact-data/specify-a-query.txt
  content/django-mongodb/upcoming/source/limitations-upcoming.txt
  content/django-mongodb/upcoming/source/model-data/models.txt
Labels: Django

DOP-5956: Nextjs `Strong` (#13550)
  platform/docs-nextjs/src/components/component-factory/index.tsx
  platform/docs-nextjs/src/components/paragraph/index.tsx
  platform/docs-nextjs/src/components/strong/index.tsx
  platform/docs-nextjs/src/tests/data/strong.test.json
  platform/docs-nextjs/src/tests/unit/strong.test.tsx
Labels: Platform

DOCSP-48794-configureCollectionBalancing-spelling-validation (#13569)
  content/manual/upcoming/source/reference/command/configureCollectionBalancing.txt
Labels: Manual

(DOCSP-52017): Node.js: Time series Quick Start tested examples (#13600)
  code-example-tests/javascript/driver/examples/time-series/quick-start/quick-start-meta-field-output.sh
  code-example-tests/javascript/driver/examples/time-series/quick-start/quick-start-setup.js
  code-example-tests/javascript/driver/examples/time-series/quick-start/quick-start-time-field-output.sh
  code-example-tests/javascript/driver/examples/time-series/quick-start/quick-start.js
  code-example-tests/javascript/driver/examples/time-series/sample-app.js
  code-example-tests/javascript/driver/tests/time-series/quick-start.test.js
  code-example-tests/javascript/driver/tests/time-series/sample-app.test.js
  content/code-examples/tested/javascript/driver/time-series/quick-start/quick-start-meta-field-output.sh
  content/code-examples/tested/javascript/driver/time-series/quick-start/quick-start-setup.snippet.create-collection.js
  content/code-examples/tested/javascript/driver/time-series/quick-start/quick-start-setup.snippet.create-db.js
  content/code-examples/tested/javascript/driver/time-series/quick-start/quick-start-setup.snippet.load-sample-data.js
  content/code-examples/tested/javascript/driver/time-series/quick-start/quick-start-setup.snippet.set-coll-options.js
  content/code-examples/tested/javascript/driver/time-series/quick-start/quick-start-time-field-output.sh
  content/code-examples/tested/javascript/driver/time-series/quick-start/quick-start.snippet.meta-field-query.js
  content/code-examples/tested/javascript/driver/time-series/quick-start/quick-start.snippet.time-field-query.js
  content/code-examples/tested/javascript/driver/time-series/sample-app.snippet.example.js
  content/manual/manual/source/core/timeseries/timeseries-quick-start.txt
  content/manual/manual/source/includes/steps-ts-quick-start-node.rst
  content/manual/rapid/source/core/timeseries/timeseries-quick-start.txt
  content/manual/rapid/source/includes/steps-ts-quick-start-node.rst
  content/manual/rapid/source/includes/steps-ts-quick-start-python.rst
  content/manual/upcoming/source/core/timeseries/timeseries-quick-start.txt
  content/manual/upcoming/source/includes/steps-ts-quick-start-node.rst
  content/manual/upcoming/source/includes/steps-ts-quick-start-python.rst
Labels: Manual

DOCSP-51700-IS-ayt-suggestions (#13593)
  content/atlas-architecture/current/source/solutions-library/retail-as-you-type-suggestions.txt
  content/manual/upcoming/source/reference/operator/aggregation/rankFusion.txt
Labels: Atlas Architecture, Manual

DOCSP-50170: Fix Synonyms build errors (#13625)
  content/atlas/source/atlas-search/synonyms.txt
  content/atlas/source/includes/avs/tutorial/avs-quick-start-go-create-index.rst
  content/atlas/source/includes/fts/field-types/autocomplete/steps-create-index-go.rst
  content/atlas/source/includes/fts/field-types/boolean/steps-create-index-go.rst
  content/atlas/source/includes/fts/field-types/date/steps-create-index-go.rst
  content/atlas/source/includes/fts/field-types/document/steps-create-index-go.rst
  content/atlas/source/includes/fts/field-types/embeddedDocuments/steps-create-index-go.rst
  content/atlas/source/includes/fts/field-types/geo/steps-create-index-go.rst
  content/atlas/source/includes/fts/field-types/number/steps-create-index-go.rst
  content/atlas/source/includes/fts/field-types/objectId/steps-create-index-go.rst
  content/atlas/source/includes/fts/field-types/string/steps-create-index-go.rst
  content/atlas/source/includes/fts/field-types/token/steps-create-index-go.rst
  content/atlas/source/includes/fts/field-types/uuid/steps-create-index-go.rst
  content/atlas/source/includes/fts/quickstart/create-index/steps-fts-create-index-tutorial-go.rst
  content/atlas/source/includes/fts/synonyms/static-examples-csharp.rst
  content/atlas/source/includes/fts/tutorials/synonyms/load-sample-collection-go.rst
Labels: Atlas

(DOCSP-52762): Code example snip scripts: exit early with no Bluehawk (#13629)
  code-example-tests/csharp/driver/snip.js
  code-example-tests/java/driver-sync/snip.js
  code-example-tests/javascript/driver/package-lock.json
  code-example-tests/javascript/driver/snip.js
  code-example-tests/python/pymongo/snip.js
Labels: none

DOCSP-50168 Modify Stored Source page (#13281)
  content/atlas/source/atlas-search/stored-source-definition.txt
Labels: Atlas

DOP-5931 upgrade types/node-fetch version (#13583)
  platform/pnpm-lock.yaml
  platform/tools/ingest-mongodb-docs/package.json
Labels: Platform

[Search] Adding clarity to the index rebuild scenario (#13615)
  content/atlas/source/atlas-search/manage-indexes.txt
Labels: Atlas

[Drivers] PR template (#13464)
  .github/PULL_REQUEST_TEMPLATE/drivers.md
  README.md
Labels: none

DOCSP-52589-7.0.23-release-notes (#13534) (#13603)
  content/manual/manual/source/includes/changelogs/releases/7.0.23.rst
  content/manual/manual/source/release-notes/7.0-changelog.txt
  content/manual/manual/source/release-notes/7.0.txt
  content/manual/rapid/source/includes/changelogs/releases/7.0.23.rst
  content/manual/rapid/source/release-notes/7.0-changelog.txt
  content/manual/rapid/source/release-notes/7.0.txt
  content/manual/v7.0/source/includes/changelogs/releases/7.0.23.rst
  content/manual/v7.0/source/release-notes/7.0-changelog.txt
  content/manual/v7.0/source/release-notes/7.0.txt
Labels: Manual

DOCSP-52727-8.0.13-release-notes (#13599)
  content/manual/upcoming/source/includes/changelogs/releases/8.0.13.rst
  content/manual/upcoming/source/release-notes/8.0-changelog.txt
  content/manual/upcoming/source/release-notes/8.0.txt
Labels: Manual

DOCSP-52713 -- ASP Release Notes (#13630)
  content/atlas/source/includes/changelog/atlas-sp-2025.rst
Labels: Atlas

DOCSP-51904-index-check (#13602)
  content/mcp-server/source/configuration.txt
Labels: MCP Server

DOCSP-52109 -- Make the atlas release notes current, July edition (#13238)
  content/atlas/source/billing/subscriptions.txt
  content/atlas/source/includes/changelog/atlas-2025.rst
  content/atlas/source/tutorial/datadog-integration.txt
Labels: Atlas

(DOCSP-52424) removes incorrect note from azure self-serve marketplace (#13631)
  content/atlas/source/billing/azure-self-serve-marketplace.txt
Labels: Atlas

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Architecture:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-architecture/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

C Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/c-driver/**']

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

Code Examples Tested:
  - changed-files:
    - any-glob-to-any-file: ['content/code-examples/tested**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

CPP Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/cpp-driver/**']

CSharp:
  - changed-files:
    - any-glob-to-any-file: ['content/csharp/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Django:
  - changed-files:
    - any-glob-to-any-file: ['content/django-mongodb/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Drivers Ecosystem:
  - changed-files:
    - any-glob-to-any-file: ['content/drivers/**']

Entity Framework:
  - changed-files:
    - any-glob-to-any-file: ['content/entity-framework/**']

Golang:
  - changed-files:
    - any-glob-to-any-file: ['content/golang/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Java RS:
  - changed-files:
    - any-glob-to-any-file: ['content/java-rs/**']

Java:
  - changed-files:
    - any-glob-to-any-file: ['content/java/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kotlin Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin-sync/**']

Kotlin:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Landing:
  - changed-files:
    - any-glob-to-any-file: ['content/landing/**']

Laravel:
  - changed-files:
    - any-glob-to-any-file: ['content/laravel-mongodb/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongocli/**']

Analyzer:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-analyzer/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Mongo ID:
  - changed-files:
    - any-glob-to-any-file: ['content/mongoid/**']

Mongo Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/mongosync/**']
  
Node:
  - changed-files:
    - any-glob-to-any-file: ['content/node/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

PHP Library:
  - changed-files:
    - any-glob-to-any-file: ['content/php-library/**']

Pymongo Arrow Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-arrow-driver/**']

Pymongo Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-driver/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']

Ruby Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/ruby-driver/**']

Rust:
  - changed-files:
    - any-glob-to-any-file: ['content/rust/**']

Scala Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/scala-driver/**']

Spark Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/spark-connector/**']

Table of Contents:
  - changed-files:
    - any-glob-to-any-file: ['content/table-of-contents/**']

Tutorials:
  - changed-files:
    - any-glob-to-any-file: ['content/tutorials/**']
