Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

DOCSP-50109-add-note-to-clarify-shard-removal-efficiency-main-backport (12201) (#12506)
  content/manual/manual/source/tutorial/remove-shards-from-cluster.txt
  content/manual/rapid/source/tutorial/remove-shards-from-cluster.txt
Labels: Manual

change title (#277)
  source/data-formats/codecs.txt
Labels: none

change title (#277)
  source/data-formats/codecs.txt
Labels: none

DOCSP-50725: Fix Fundamentals page metadata (#650)
  source/fundamentals.txt
Labels: none

DOCSP-49727-open-finance-poc-edit (#264)
  source/solutions-library/open-finance-data-store.txt
  source/solutions-library/payments-solution.txt
Labels: none

(DOCSP-49289): Create natural language to mongodb queries guide (#12457) (#12511)
  content/manual/rapid/source/crud.txt
  content/manual/rapid/source/includes/natural-language/base-prompt-example.md
  content/manual/rapid/source/includes/natural-language/chain-of-thought-example.md
  content/manual/rapid/source/includes/natural-language/general-guidance.md
  content/manual/rapid/source/includes/natural-language/sample-documents-example.md
  content/manual/rapid/source/includes/natural-language/system-prompt-example.md
  content/manual/rapid/source/includes/natural-language/typescript-schema-example.ts
  content/manual/rapid/source/includes/natural-language/user-message-template.md
  content/manual/rapid/source/natural-language-to-mongodb.txt
  content/manual/upcoming/source/crud.txt
  content/manual/upcoming/source/includes/natural-language/base-prompt-example.md
  content/manual/upcoming/source/includes/natural-language/chain-of-thought-example.md
  content/manual/upcoming/source/includes/natural-language/general-guidance.md
  content/manual/upcoming/source/includes/natural-language/sample-documents-example.md
  content/manual/upcoming/source/includes/natural-language/system-prompt-example.md
  content/manual/upcoming/source/includes/natural-language/typescript-schema-example.ts
  content/manual/upcoming/source/includes/natural-language/user-message-template.md
  content/manual/upcoming/source/natural-language-to-mongodb.txt
  content/manual/v6.0/source/crud.txt
  content/manual/v6.0/source/includes/natural-language/base-prompt-example.md
  content/manual/v6.0/source/includes/natural-language/chain-of-thought-example.md
  content/manual/v6.0/source/includes/natural-language/general-guidance.md
  content/manual/v6.0/source/includes/natural-language/sample-documents-example.md
  content/manual/v6.0/source/includes/natural-language/system-prompt-example.md
  content/manual/v6.0/source/includes/natural-language/typescript-schema-example.ts
  content/manual/v6.0/source/includes/natural-language/user-message-template.md
  content/manual/v6.0/source/natural-language-to-mongodb.txt
  content/manual/v7.0/source/crud.txt
  content/manual/v7.0/source/includes/natural-language/base-prompt-example.md
  content/manual/v7.0/source/includes/natural-language/chain-of-thought-example.md
  content/manual/v7.0/source/includes/natural-language/general-guidance.md
  content/manual/v7.0/source/includes/natural-language/sample-documents-example.md
  content/manual/v7.0/source/includes/natural-language/system-prompt-example.md
  content/manual/v7.0/source/includes/natural-language/typescript-schema-example.ts
  content/manual/v7.0/source/includes/natural-language/user-message-template.md
  content/manual/v7.0/source/natural-language-to-mongodb.txt
Labels: Manual

DOCSP-49917-cursor-session-timeouts (#12480) (#12504)
  content/manual/manual/source/core/cursors.txt
  content/manual/manual/source/reference/parameters.txt
  content/manual/rapid/source/core/cursors.txt
  content/manual/rapid/source/reference/parameters.txt
  content/manual/v6.0/source/core/cursors.txt
  content/manual/v6.0/source/reference/parameters.txt
  content/manual/v7.0/source/core/cursors.txt
  content/manual/v7.0/source/reference/parameters.txt
Labels: Manual

DOCSP-50442-bson-types (#12487) (#12505)
  content/manual/manual/source/includes/fact-bson-types.rst
  content/manual/rapid/source/includes/fact-bson-types.rst
  content/manual/v6.0/source/includes/fact-bson-types.rst
  content/manual/v7.0/source/includes/fact-bson-types.rst
Labels: Manual

DOCSP-50779 mongosh 2.5.3 rn follow-up (#12490)
  content/mongodb-shell/source/changelog.txt
Labels: Mongosh

DOCS-16097: Dots and Dollar Signs in field names (#12397)
  content/manual/upcoming/source/core/dot-dollar-considerations.txt
  content/manual/upcoming/source/core/dot-dollar-considerations/dollar-prefix.txt
  content/manual/upcoming/source/core/dot-dollar-considerations/periods.txt
Labels: Manual

Add links to skills storefront page (#7366)
  source/performance-advisor/drop-indexes.txt
Labels: none

Add links to skills storefront page. (#7367)
  source/namespace-insights.txt
Labels: none

Fixed "upgrade" -> "update" typo (#7364)
  source/includes/fact-auditing-custom-filter.rst
Labels: none

Number of days changed on Query Profiler (#7372)
  source/analyze-slow-queries.txt
Labels: none

typo (#6471)
  source/reference/flex-limitations.txt
Labels: none

improvements (#7374)
  .github/copilot-instructions.md
  .github/prompts/convert-to-rst.prompt.md
Labels: none

DOCSP-50095 fix docs for DB tools and mongosh (#863)
  source/release-notes/release-advisories/advisories-v8.0.rst
Labels: none

Dop 5784 kafka (#12489)
  content/kafka-connector/current/Makefile
  content/kafka-connector/current/build.sh
  content/kafka-connector/current/config/redirects
  content/kafka-connector/current/netlify.toml
  content/kafka-connector/current/worker.sh
  content/kafka-connector/netlify.toml
  content/kafka-connector/upcoming/Makefile
  content/kafka-connector/upcoming/build.sh
  content/kafka-connector/upcoming/config/redirects
  content/kafka-connector/upcoming/netlify.toml
  content/kafka-connector/upcoming/worker.sh
  content/kafka-connector/v1.12/Makefile
  content/kafka-connector/v1.12/build.sh
  content/kafka-connector/v1.12/config/redirects
  content/kafka-connector/v1.12/netlify.toml
  content/kafka-connector/v1.12/worker.sh
  content/kafka-connector/v1.13/Makefile
  content/kafka-connector/v1.13/build.sh
  content/kafka-connector/v1.13/config/redirects
  content/kafka-connector/v1.13/netlify.toml
  content/kafka-connector/v1.13/worker.sh
  content/kafka-connector/v1.14/Makefile
  content/kafka-connector/v1.14/build.sh
  content/kafka-connector/v1.14/config/redirects
  content/kafka-connector/v1.14/netlify.toml
  content/kafka-connector/v1.14/worker.sh
Labels: none

DOCSP-47249: Create privatelink command (#7177)
  source/includes/atlas-stream-processing/create-private-link-aws-confluent.rst
  source/includes/atlas-stream-processing/create-private-link-aws-msk.rst
  source/includes/extracts-atlas-cli-commands.yaml
Labels: none

create new notebook
  ai-integrations/langchain-parent-document-retrieval.ipynb
  ai-integrations/langchain-self-query-retrieval.ipynb
Labels: none

Removes EOL 1.26 from compatibility tables. (#2209)
  .backportrc.json
  source/includes/list-tables/compatibility-k8s-os.rst
  source/includes/list-tables/compatibility-mdb.rst
  source/includes/list-tables/compatibility-om.rst
Labels: none

Pulling TGW docs until API endpoints are accessible. (#7376)
  source/atlas-stream-processing/kafka-connection.txt
Labels: none

Adds note recommending extended JSON. (#7368)
  source/data-federation/query/sql/language-reference.txt
Labels: none

add netlify.toml for meta
  content/meta/Makefile
  content/meta/build.sh
  content/meta/config/redirects
  content/meta/netlify.toml
  content/meta/worker.sh
Labels: none

ready for testing (#12518)
  .github/workflows/repo-sync.yml
  content/manual/manual/.github/workflows/repo-sync.yml
  content/manual/manual/repo_sync.py
  content/manual/rapid/.github/workflows/repo-sync.yml
  content/manual/rapid/repo_sync.py
  content/manual/upcoming/.github/workflows/repo-sync.yml
  content/manual/upcoming/repo_sync.py
  repo_sync.py
Labels: Manual

(DOCSP-51141) Fix MongoDB version in AVS tutorial. (#7375)
  source/atlas-vector-search/hybrid-search.txt
Labels: none

Dop 5857 (#12521)
  repo_sync.py
Labels: none

DOCSP-50798-100-word-pages (#12510)
  content/manual/netlify.toml
  content/manual/upcoming/snooty.toml
  content/manual/upcoming/source/core/indexes/index-types/geospatial/2d/query.txt
  content/manual/upcoming/source/core/indexes/index-types/geospatial/2dsphere/query.txt
  content/manual/upcoming/source/core/indexes/index-types/geospatial/geohaystack.txt
  content/manual/upcoming/source/core/indexes/index-types/index-wildcard/reference.txt
  content/manual/upcoming/source/core/link-text-indexes.txt
  content/manual/upcoming/source/core/queryable-encryption/reference.txt
  content/manual/upcoming/source/core/replica-set-high-availability.txt
  content/manual/upcoming/source/core/self-managed-security.txt
  content/manual/upcoming/source/core/self-managed-storage.txt
  content/manual/upcoming/source/core/self-managed-wiredtiger.txt
  content/manual/upcoming/source/core/text-search/on-prem.txt
  content/manual/upcoming/source/includes/create-indexes-stable-api-compatibility.rst
Labels: Manual

DOCSP-49569 Explain Slow Queries (#12068) (#12508)
  content/manual/manual/source/administration/query.txt
  content/manual/manual/source/includes/fact-explain-methods-support.rst
  content/manual/manual/source/includes/fact-profiler-use.rst
  content/manual/manual/source/reference/explain-results.txt
  content/manual/manual/source/reference/method/db.collection.explain.txt
  content/manual/manual/source/tutorial/explain-slow-queries.txt
  content/manual/rapid/source/administration/query.txt
  content/manual/rapid/source/includes/fact-explain-methods-support.rst
  content/manual/rapid/source/includes/fact-profiler-use.rst
  content/manual/rapid/source/reference/explain-results.txt
  content/manual/rapid/source/reference/method/db.collection.explain.txt
  content/manual/rapid/source/tutorial/explain-slow-queries.txt
  content/manual/v7.0/source/administration/query.txt
  content/manual/v7.0/source/includes/fact-explain-methods-support.rst
  content/manual/v7.0/source/includes/fact-profiler-use.rst
  content/manual/v7.0/source/reference/explain-results.txt
  content/manual/v7.0/source/reference/method/db.collection.explain.txt
  content/manual/v7.0/source/tutorial/explain-slow-queries.txt
Labels: Manual

Dop 5857 (#12525)
  .github/workflows/repo-sync.yml
  repo_sync.py
  requirements.txt
Labels: none

Dop 5857 (#12526)
  repo_sync.py
Labels: none

remove cloned docs (#12527)
  repo_sync.py
Labels: none

testing (#12528)
  repo_sync.py
Labels: none

Dop 5857 hotfix (#12529)
  repo_sync.py
Labels: none

last try (#12530)
  repo_sync.py
Labels: none

add netlify.toml to mck
  content/mck/netlify.toml
  content/mck/v1.x/netlify.toml
Labels: none

remove extraneous mck files
  content/mck/upcoming/build.sh
  content/mck/upcoming/config/redirects
  content/mck/upcoming/netlify.toml
  content/mck/upcoming/worker.sh
  content/mck/v1.x/build.sh
  content/mck/v1.x/config/redirects
  content/mck/v1.x/worker.sh
Labels: none

DOCSP-51139-backport-to-6.0 (#12531)
  content/manual/v6.0/source/includes/fact-runtime-startup-parameter.rst
  content/manual/v6.0/source/reference/parameters.txt
Labels: Manual

(DOCSP-51009) First round of changes. (#7365)
  source/backup-restore-cluster.txt
  source/backup/cloud-backup/export.txt
  source/backup/cloud-backup/import-archive.txt
  source/backup/cloud-backup/restore-overview.txt
  source/includes/fact-snapshot-export-cost.rst
  source/includes/procedures/import-archived-data-gcp.rst
  source/includes/steps-import-archived-data-s3.yaml
Labels: none

(DOCSP-51146) Typo fix. (#7377)
  source/includes/avs/tutorial/avs-quick-start-ui-create-index.rst
  source/includes/changelog/atlas-sp-2025.rst
Labels: none
