Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, Charts, Cloud Manager, C2C, Compass, Database Tools, Datalake, Docs Platform, Guides, Kafka Connector, Kubernetes, Kubernetes Operator, Manual, MCP Server, Meta, Mongo Cli, Platform, IntelliJ, Mongosh, VSCode, Ops Manager, Relational Migrator

change TOC name (#165)
  source/read.txt
Labels: none

DOCSP-51747-simplify-views-command (#12933)
  content/manual/upcoming/source/core/views/create-view.txt
Labels: Manual

DOCSP-50639-mongosync-orphaned-documents-limitation (#12437) (#12930)
  content/cluster-to-cluster-sync/v1.10/source/reference/limitations.txt
  content/cluster-to-cluster-sync/v1.11/source/reference/limitations.txt
  content/cluster-to-cluster-sync/v1.12/source/reference/limitations.txt
  content/cluster-to-cluster-sync/v1.13/source/reference/limitations.txt
  content/cluster-to-cluster-sync/v1.14/source/reference/limitations.txt
  content/cluster-to-cluster-sync/v1.9/source/reference/limitations.txt
Labels: C2C

Build fix for duplicate parameter entry (#12937)
  content/manual/upcoming/source/reference/parameters.txt
Labels: Manual

DOCSP-51827-mcp-prereq-update (#12901)
  content/mcp-server/source/get-started.txt
Labels: MCP Server

Update redirects (#282)
  config/redirects
Labels: none

DOCSP-51926: Add Compass to title (#12934)
  content/compass/source/connect.txt
Labels: Compass

DOCSP-51853: Update client certificate info (#131)
  source/connect/tls.txt
Labels: none

DOCSP-51853: Update client certificate info (#131)
  source/connect/tls.txt
Labels: none

DOCSP-51853: Update client certificate info (#131)
  source/connect/tls.txt
Labels: none

DOCSP-51853: Update client certificate info (#131)
  source/connect/tls.txt
Labels: none

DOCSP-51967-add-pct-size-functionality-to-8-2-rn (#12943)
  content/manual/upcoming/source/release-notes/8.2.txt
Labels: Manual

DOP-5881: Fix Relational Migrator OpenAPI spec builds (#12948)
  .github/scripts/build-oas-matrix.js
  .github/workflows/build-bump-rm-api.yml
  .github/workflows/build-openapi-pages.yml
Labels: none

update minor typo (#278)
  source/solutions-library/fin-services-agentic-portfolio.txt
Labels: none

(DOCSP-51927) odbc-1.4.5 release notes. (#12920)
  content/atlas/source/release-notes/sql.txt
Labels: Atlas

DOP-5789 C++ redirects (#12925)
  content/cpp-driver/netlify.toml
Labels: none

DOP-5789-analyzer add analyzer redirects (#12926)
  content/mongodb-analyzer/netlify.toml
Labels: none

DOCSP-51747-simplify-views-command (#12933) (#12941)
  content/manual/manual/source/core/views/create-view.txt
  content/manual/rapid/source/core/views/create-view.txt
  content/manual/v6.0/source/core/views/create-view.txt
  content/manual/v7.0/source/core/views/create-view.txt
Labels: Manual

DOCSP-49024-warning-simultaneous-builds-new (#12750)
  content/manual/upcoming/source/core/index-creation.txt
  content/manual/upcoming/source/core/rolling-index-builds.txt
  content/manual/upcoming/source/faq/indexes.txt
  content/manual/upcoming/source/includes/fact-index-build-memory-limit.rst
  content/manual/upcoming/source/includes/rolling-index-build-cases.rst
  content/manual/upcoming/source/includes/warning-simultaneous-index-builds.rst
  content/manual/upcoming/source/tutorial/build-indexes-on-replica-sets.txt
  content/manual/upcoming/source/tutorial/build-indexes-on-sharded-clusters.txt
  content/manual/upcoming/source/tutorial/manage-indexes.txt
Labels: Manual

add netlify.toml, remove old files for pymongo-driver
  content/pymongo-driver/current/build.sh
  content/pymongo-driver/current/config/redirects
  content/pymongo-driver/current/netlify.toml
  content/pymongo-driver/current/worker.sh
  content/pymongo-driver/netlify.toml
  content/pymongo-driver/upcoming/build.sh
  content/pymongo-driver/upcoming/config/redirects
  content/pymongo-driver/upcoming/netlify.toml
  content/pymongo-driver/upcoming/worker.sh
  content/pymongo-driver/v4.10/build.sh
  content/pymongo-driver/v4.10/config/redirects
  content/pymongo-driver/v4.10/netlify.toml
  content/pymongo-driver/v4.10/worker.sh
  content/pymongo-driver/v4.11/build.sh
  content/pymongo-driver/v4.11/config/redirects
  content/pymongo-driver/v4.11/netlify.toml
  content/pymongo-driver/v4.11/worker.sh
  content/pymongo-driver/v4.12/build.sh
  content/pymongo-driver/v4.12/config/redirects
  content/pymongo-driver/v4.12/netlify.toml
  content/pymongo-driver/v4.12/worker.sh
  content/pymongo-driver/v4.7/build.sh
  content/pymongo-driver/v4.7/config/redirects
  content/pymongo-driver/v4.7/netlify.toml
  content/pymongo-driver/v4.7/worker.sh
  content/pymongo-driver/v4.8/build.sh
  content/pymongo-driver/v4.8/config/redirects
  content/pymongo-driver/v4.8/netlify.toml
  content/pymongo-driver/v4.8/worker.sh
  content/pymongo-driver/v4.9/build.sh
  content/pymongo-driver/v4.9/config/redirects
  content/pymongo-driver/v4.9/netlify.toml
  content/pymongo-driver/v4.9/worker.sh
Labels: none

Docsp 46763 (#12962)
  content/atlas/source/atlas-stream-processing/monitoring.txt
  content/atlas/source/includes/list-table-datadog-metrics.rst
  content/atlas/source/includes/list-table-datadog-tags.rst
Labels: Atlas

DOCSP-51948-add-validate-component
  config/changelog_conf.yaml
Labels: none

DOCSP-51959 Add a warning about tryNext bug to all change stream manual iteration examples (#1189)
  source/includes/try-next-warning.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-51959 Add a warning about tryNext bug to all change stream manual iteration examples (#1189) (#1191)
  source/includes/try-next-warning.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-51959 Add a warning about tryNext bug to all change stream manual iteration examples (#1189) (#1192)
  source/includes/try-next-warning.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-51959 Add a warning about tryNext bug to all change stream manual iteration examples (#1189) (#1194)
  source/includes/try-next-warning.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-51959 Add a warning about tryNext bug to all change stream manual iteration examples (#1189) (#1195)
  source/includes/try-next-warning.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-51959 Add a warning about tryNext bug to all change stream manual iteration examples (#1189) (#1196)
  source/includes/try-next-warning.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-51959 Add a warning about tryNext bug to all change stream manual iteration examples (#1189) (#1197)
  source/includes/try-next-warning.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-49024-warning-simultaneous-builds-new (#12750) (#12961)
  content/manual/manual/source/core/index-creation.txt
  content/manual/manual/source/core/rolling-index-builds.txt
  content/manual/manual/source/faq/indexes.txt
  content/manual/manual/source/includes/fact-index-build-memory-limit.rst
  content/manual/manual/source/includes/rolling-index-build-cases.rst
  content/manual/manual/source/includes/warning-simultaneous-index-builds.rst
  content/manual/manual/source/tutorial/build-indexes-on-replica-sets.txt
  content/manual/manual/source/tutorial/build-indexes-on-sharded-clusters.txt
  content/manual/manual/source/tutorial/manage-indexes.txt
  content/manual/rapid/source/core/index-creation.txt
  content/manual/rapid/source/core/rolling-index-builds.txt
  content/manual/rapid/source/faq/indexes.txt
  content/manual/rapid/source/includes/fact-index-build-memory-limit.rst
  content/manual/rapid/source/includes/rolling-index-build-cases.rst
  content/manual/rapid/source/includes/warning-simultaneous-index-builds.rst
  content/manual/rapid/source/tutorial/build-indexes-on-replica-sets.txt
  content/manual/rapid/source/tutorial/build-indexes-on-sharded-clusters.txt
  content/manual/rapid/source/tutorial/manage-indexes.txt
  content/manual/v6.0/source/core/index-creation.txt
  content/manual/v6.0/source/core/rolling-index-builds.txt
  content/manual/v6.0/source/faq/indexes.txt
  content/manual/v6.0/source/includes/fact-index-build-memory-limit.rst
  content/manual/v6.0/source/includes/rolling-index-build-cases.rst
  content/manual/v6.0/source/includes/warning-simultaneous-index-builds.rst
  content/manual/v6.0/source/tutorial/build-indexes-on-replica-sets.txt
  content/manual/v6.0/source/tutorial/build-indexes-on-sharded-clusters.txt
  content/manual/v6.0/source/tutorial/manage-indexes.txt
  content/manual/v7.0/source/core/index-creation.txt
  content/manual/v7.0/source/core/rolling-index-builds.txt
  content/manual/v7.0/source/faq/indexes.txt
  content/manual/v7.0/source/includes/fact-index-build-memory-limit.rst
  content/manual/v7.0/source/includes/rolling-index-build-cases.rst
  content/manual/v7.0/source/includes/warning-simultaneous-index-builds.rst
  content/manual/v7.0/source/tutorial/build-indexes-on-replica-sets.txt
  content/manual/v7.0/source/tutorial/build-indexes-on-sharded-clusters.txt
  content/manual/v7.0/source/tutorial/manage-indexes.txt
Labels: Manual

DOCSP-51973-write-concern-default-value (#12952)
  content/manual/upcoming/source/includes/5.0-default-wc.rst
  content/manual/upcoming/source/reference/write-concern.txt
Labels: Manual

DOCSP-52024 add snooty version constant (#1201)
  snooty.toml
Labels: none

DOCSP-51959 Add a warning about tryNext bug to all change stream manual iteration examples (#1189) (#1193)
  source/includes/try-next-warning.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-51959 Add a warning about tryNext bug to all change stream manual iteration examples (#1189) (#1198)
  source/includes/try-next-warning.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOCSP-51959 Add a warning about tryNext bug to all change stream manual iteration examples (#1189) (#1199)
  source/includes/try-next-warning.rst
  source/monitoring-and-logging/change-streams.txt
Labels: none

DOP-5901 introduces a GHA to trigger deploys to database-tools on TOC changes (#12924)
  .github/workflows/trigger-database-tools-build.yml
  .gitignore
Labels: none

DOCSP-51948-add-missing-components-to-script (#12974)
  content/manual/upcoming/config/changelog_conf.yaml
Labels: Manual

DOCSP-50930-add-noindex-100-characters (#12587)
  content/cloud-manager/source/api.txt
  content/cloud-manager/source/reference/api/disks.txt
  content/cloud-manager/source/reference/api/nav/automation.txt
  content/cloud-manager/source/reference/api/nav/organizations-and-teams.txt
  content/cloud-manager/source/reference/api/nav/prog-api-keys.txt
  content/cloud-manager/source/reference/api/nav/service-accounts.txt
  content/cloud-manager/source/tutorial/nav/access-control-mongodb.txt
  content/cloud-manager/source/tutorial/nav/backup-use.txt
  content/cloud-manager/source/tutorial/nav/configure-mongodb-agent.txt
  content/cloud-manager/source/tutorial/nav/mongodb-versions.txt
  content/cloud-manager/source/tutorial/nav/update-mongodb-agent.txt
Labels: Cloud Manager

DOCSP-50931-add-noindex-placeholder-pages (#12588)
  content/kafka-connector/current/source/introduction.txt
  content/kafka-connector/current/source/security-and-authentication.txt
  content/kafka-connector/current/source/sink-connector/fundamentals.txt
  content/kafka-connector/current/source/source-connector/fundamentals.txt
  content/kafka-connector/current/source/troubleshooting.txt
  content/kafka-connector/current/source/tutorials.txt
Labels: Kafka Connector

DOCSP-50465-add-skillbadge-ai-agents (#12893)
  content/atlas/source/ai-integrations/google-vertex-ai/agent-engine.txt
  content/atlas/source/ai-integrations/langgraph-js.txt
  content/atlas/source/ai-integrations/langgraph-js/build-agents.txt
  content/atlas/source/ai-integrations/langgraph.txt
  content/atlas/source/ai-integrations/langgraph/build-agents.txt
  content/atlas/source/atlas-vector-search/ai-agents.txt
Labels: Atlas

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-cli/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']
