Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

DOCSP-50277-glossary-capitalization-fixes (#12255) (#12260)
  content/manual/manual/source/reference/glossary.txt
Labels: Manual

(DOCSP-42275) Clarifies expected search availability (#7262)
  source/atlas-search/about/deployment-options.txt
  source/atlas-search/performance/index-performance.txt
  source/scale-cluster.txt
Labels: none

DOCSP-49728 mongosh 2.5.1 release notes (#12251)
  content/mongodb-shell/snooty.toml
  content/mongodb-shell/source/changelog.txt
Labels: Mongosh

DOCSP-16753-change-stream-events (#11899)
  content/manual/upcoming/source/reference/change-events.txt
Labels: Manual

DOCSP-48444 -- Fixed duplicated H1s (backport) (#870)
  source/admin/backup/logs-page.txt
  source/admin/general/api-keys-page.txt
  source/admin/general/audits-page.txt
  source/admin/general/logs-page.txt
  source/admin/general/messages-page.txt
  source/admin/general/mongodb-usage-page.txt
  source/admin/general/ops-manager-config-page.txt
  source/admin/general/overview-page.txt
  source/admin/general/projects-page.txt
  source/admin/general/users-page.txt
  source/admin/general/version-manifest-page.txt
  source/installation.txt
  source/reference/api.txt
  source/reference/api/groups.txt
  source/reference/api/nav/automation.txt
  source/reference/api/users.txt
  source/tutorial/manage-organizations.txt
  source/tutorial/manage-projects.txt
  source/tutorial/nav/install-application.txt
  source/tutorial/update-automation-configuration.txt
  source/tutorial/workload-oidc.txt
Labels: none

DOCSP-48444 -- Reversed unintended changes during backport (#872)
  source/admin/admin-tab-general.txt
  source/admin/backup/logs-page.txt
  source/admin/general/logs-page.txt
  source/includes/steps-admin-add-s3-blockstore.yaml
Labels: none

(DOCSP-48448) Updates outdated links to Apache Avro spec (#202) (#215)
  source/introduction/data-formats.txt
  source/source-connector/usage-examples/schema.txt
Labels: none

(DOCSP-48448) Updates outdated links to Apache Avro spec (#202) (#216)
  source/introduction/data-formats.txt
  source/source-connector/usage-examples/schema.txt
Labels: none

DOCSP-50320 doc GCP regions where DSN are not available (#7252)
  source/includes/fts/extracts-fts-search-nodes.yaml
  source/includes/search-shared/list-table-gcp-unsupported-regions-search-nodes.rst
Labels: none

DOCSP-50014-remove-EOL-version-mentions (#12261)
  content/manual/upcoming/source/includes/fact-platform-containers.rst
  content/manual/upcoming/source/includes/fact-platform-x86_64.rst
  content/manual/upcoming/source/includes/platform-support.rst
  content/manual/upcoming/source/reference/command/compact.txt
  content/manual/upcoming/source/reference/read-concern.txt
  content/manual/upcoming/source/reference/versioning.txt
Labels: Manual

DOCSP-49954-fundamentals-of-data-transformation-badge (#12246)
  content/manual/upcoming/source/aggregation.txt
  content/manual/upcoming/source/core/aggregation-pipeline.txt
  content/manual/upcoming/source/reference/mql/aggregation-stages.txt
  content/manual/upcoming/source/reference/operator/aggregation/group.txt
  content/manual/upcoming/source/reference/operator/aggregation/limit.txt
  content/manual/upcoming/source/reference/operator/aggregation/match.txt
  content/manual/upcoming/source/reference/operator/update/sort.txt
Labels: Manual

backport (#12276)
  content/manual/.backportrc.json
Labels: Manual

DOCSP-50241:Removed C++ from list (#12275)
  content/manual/upcoming/source/includes/queryable-encryption/reference/kms-providers/kmip.rst
Labels: Manual

attempt glossary fix (#236)
  snooty.toml
Labels: none

(DOCSP-50475) Release note fast follow. (#240)
  source/ak8so-changelog.txt
Labels: none

DOCSP-48887: docs+ atlas search tutorial (#129)
  source/data-modeling/indexes.txt
  source/includes/figures/atlas-search-tutorial-render.png
  source/interact-data.txt
  source/interact-data/atlas-search-tutorial.txt
  source/quick-start-rails/next-steps.txt
Labels: none

DOCSP-48887: docs+ atlas search tutorial (#129)
  source/data-modeling/indexes.txt
  source/includes/figures/atlas-search-tutorial-render.png
  source/interact-data.txt
  source/interact-data/atlas-search-tutorial.txt
  source/quick-start-rails/next-steps.txt
Labels: none

DOCSP-50270-cloud-ref-fixes (#12101) (#12135) (#12277)
  content/manual/v4.4/source/geospatial-queries.txt
  content/manual/v4.4/source/tutorial/update-documents-with-aggregation-pipeline.txt
  content/manual/v5.0/source/geospatial-queries.txt
  content/manual/v5.0/source/tutorial/update-documents-with-aggregation-pipeline.txt
Labels: Manual

DOCSP-50306-directions-mck-release-notes (#30)
  source/index.txt
  source/release-notes.txt
Labels: none

DOCSP-50306-directions-mck-release-notes (#2194)
  snooty.toml
Labels: none

(DOCSP-50318) Clarify new versioning parameters for restore. (#7280)
  source/backup-restore-cluster.txt
Labels: none

DOCSP-28250-key-handling-button
  source/includes/fact-mapping-options-configure-fields.rst
  source/mapping-rules/edit-rules.txt
Labels: none

(DOCSP-50244) Updates to the GenAI FAQ (#241)
  source/ai-chatbot-data-usage.txt
  source/generative-ai-faq.txt
Labels: none

Sunset v20250317 (#251)
  snooty.toml
  source/auditing-logging.txt
  source/auth.txt
  source/automation.txt
  source/backups.txt
  source/billing-data.txt
  source/compliance.txt
  source/cost-optimization.txt
  source/cost-saving-config.txt
  source/data-encryption.txt
  source/disaster-recovery.txt
  source/getting-started.txt
  source/hierarchy.txt
  source/high-availability.txt
  source/index.txt
  source/landing-zone.txt
  source/monitoring-alerts.txt
  source/network-security.txt
  source/operational-efficiency.txt
  source/performance.txt
  source/release-notes.txt
  source/reliability.txt
  source/resiliency.txt
  source/scalability.txt
  source/security.txt
Labels: none

DOCSP-49967 Search Query analytics Feature Deprecation Banner (#7226)
  snooty.toml
  source/atlas-search/aggregation-stages/search.txt
Labels: none

(DOCSP-50349) Removes v1.37 from backport tool. (#1114)
  .backportrc.json
Labels: none

DOCSP-48730 DISTINCT Support Documentation updates (#7284)
  source/data-federation/query/sql/language-reference.txt
Labels: none

DOCSP-50474-glossary-fixes (#12271)
  content/manual/upcoming/snooty.toml
  content/manual/upcoming/source/administration/configuration.txt
  content/manual/upcoming/source/includes/steps-restore-sharded-config-primary-from-backup.yaml
  content/manual/upcoming/source/reference/glossary.txt
Labels: Manual

DOP-0000 adds the rest of the vars to the build environments in the toml file (#12283)
  content/mcp-server/netlify.toml
Labels: none

DOCSP-50241:Removed C++ from list (#12275) (#12279)
  content/manual/manual/source/includes/queryable-encryption/reference/kms-providers/kmip.rst
Labels: Manual

DOCSP-16753-change-stream-events-main-backport (11899) (#12268)
  content/manual/manual/source/reference/change-events.txt
  content/manual/v6.0/source/reference/change-events.txt
  content/manual/v7.0/source/includes/qe-tutorials/csharp/obj/QueryableEncryptionExample.csproj.nuget.dgspec.json
  content/manual/v7.0/source/includes/qe-tutorials/csharp/obj/QueryableEncryptionExample.csproj.nuget.g.props
  content/manual/v7.0/source/includes/qe-tutorials/csharp/obj/project.assets.json
  content/manual/v7.0/source/includes/qe-tutorials/csharp/obj/project.nuget.cache
  content/manual/v7.0/source/reference/change-events.txt
Labels: Manual

Fix for the prev PR (#246)
  source/ai-chatbot-data-usage.txt
  source/generative-ai-faq.txt
Labels: none

v4.4 Makefile (#12273)
  content/manual/v4.4/Makefile
Labels: Manual

DOCSP-50306-directions-mck-release-notes (#2194) (#2195)
  snooty.toml
Labels: none

DOCSP-50306-directions-mck-release-notes (#2194) (#2196)
  snooty.toml
Labels: none

DOCSP-50306-directions-mck-release-notes (#2194) (#2197)
  snooty.toml
Labels: none

DOCSP-50306-directions-mck-release-notes (#2194) (#2198)
  snooty.toml
Labels: none

DOCSP-50306-directions-mck-release-notes (#2194) (#2199)
  snooty.toml
Labels: none

DOCSP-50306-directions-mck-release-notes (#2194) (#2200)
  snooty.toml
Labels: none

DOCSP-50306-directions-mck-release-notes (#2194) (#2201)
  snooty.toml
Labels: none

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']
