Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, Charts, Cloud Manager, C2C, Compass, Database Tools, Datalake, Docs Platform, Guides, Kafka Connector, Kubernetes, Kubernetes Operator, Manual, MCP Server, Meta, Mongo Cli, Platform, IntelliJ, Mongosh, VSCode, Ops Manager, Relational Migrator

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-cli/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']

DOCSP-52204 Mongosync Index Missing Typo (#13177) (#13228)
  content/mongosync/v1.10/source/includes/fact-older-version-limitations.rst
  content/mongosync/v1.11/source/includes/fact-older-version-limitations.rst
  content/mongosync/v1.12/source/includes/fact-older-version-limitations.rst
  content/mongosync/v1.13/source/includes/fact-older-version-limitations.rst
  content/mongosync/v1.14/source/includes/fact-older-version-limitations.rst
Labels: none

alphabetize (#13235)
  content/manual/upcoming/source/reference/program/mongod.txt
Labels: Manual

DOCSP-51076 and DOCSP-51034 backports
  content/manual/manual/source/reference/parameters.txt
  content/manual/upcoming/source/reference/parameters.txt
  content/manual/v7.0/source/reference/parameters.txt
Labels: Manual

DOCSP-52028: Finalize changelog, release notes for 8.0.12 (#13230)
  content/manual/upcoming/snooty.toml
  content/manual/upcoming/source/includes/changelogs/releases/8.0.12.rst
  content/manual/upcoming/source/release-notes/8.0.txt
Labels: Manual

DOCSP-35677-support-shard-filtering-distinct-scan-optimization (#13062)
  content/manual/upcoming/source/reference/operator/aggregation/group.txt
Labels: Manual

DOCSP-51278 C <100 Words (#13243)
  content/c-driver/upcoming/source/monitoring.txt
Labels: none

DOCSP-51277 EF <100 Words (#13244)
  content/entity-framework/upcoming/snooty.toml
  content/entity-framework/upcoming/source/fundamentals.txt
Labels: none

DOCSP-51284 PyMongo 100 Words (#13245)
  content/pymongo-driver/upcoming/snooty.toml
  content/pymongo-driver/upcoming/source/reference.txt
Labels: none

DOCSP-49479: streams on GCP (#13127)
  content/atlas/source/atlas-stream-processing/overview.txt
  content/atlas/source/billing/stream-processing-costs.txt
  content/atlas/source/reference/google-gcp.txt
Labels: Atlas

DOCS-17084: The deprecated DBQuery.shellBatchSize attribute is used (#13078)
  content/manual/upcoming/source/includes/footnote-set-shell-batch-size.rst
  content/mongodb-shell/source/reference/configure-shell-settings-api.txt
Labels: Manual, Mongosh

DOCSP-51795-build-error-three-backport (#13248)
  content/manual/manual/source/tutorial/long-running-queries.txt
  content/manual/rapid/source/tutorial/long-running-queries.txt
  content/manual/v6.0/source/tutorial/long-running-queries.txt
  content/manual/v7.0/source/tutorial/long-running-queries.txt
Labels: Manual

Restore /docs/master redirects on netlify.toml (#13256)
  content/manual/netlify.toml
Labels: Manual

DOCSP-51673-short-titles (#13209)
  content/manual/upcoming/source/reference/operator/aggregation/abs.txt
  content/manual/upcoming/source/reference/operator/aggregation/accumulator.txt
  content/manual/upcoming/source/reference/operator/aggregation/acos.txt
  content/manual/upcoming/source/reference/operator/aggregation/acosh.txt
  content/manual/upcoming/source/reference/operator/aggregation/add.txt
  content/manual/upcoming/source/reference/operator/aggregation/addFields.txt
  content/manual/upcoming/source/reference/operator/aggregation/addToSet.txt
  content/manual/upcoming/source/reference/operator/aggregation/allElementsTrue.txt
  content/manual/upcoming/source/reference/operator/aggregation/and.txt
  content/manual/upcoming/source/reference/operator/aggregation/anyElementTrue.txt
  content/manual/upcoming/source/reference/operator/aggregation/arrayElemAt.txt
  content/manual/upcoming/source/reference/operator/aggregation/arrayToObject.txt
  content/manual/upcoming/source/reference/operator/aggregation/asin.txt
  content/manual/upcoming/source/reference/operator/aggregation/asinh.txt
  content/manual/upcoming/source/reference/operator/aggregation/atan.txt
  content/manual/upcoming/source/reference/operator/aggregation/atan2.txt
  content/manual/upcoming/source/reference/operator/aggregation/atanh.txt
  content/manual/upcoming/source/reference/operator/aggregation/avg.txt
  content/manual/upcoming/source/reference/operator/aggregation/binarySize.txt
Labels: Manual

DOP-5794-laravel add redirects (#13157)
  content/laravel-mongodb/netlify.toml
Labels: none

DOCSP-52226-atlas-update-batch-5 (#13222)
  content/manual/upcoming/source/reference/command/cloneCollectionAsCapped.txt
  content/manual/upcoming/source/reference/command/dbHash.txt
  content/manual/upcoming/source/reference/command/getShardMap.txt
  content/manual/upcoming/source/reference/command/setUserWriteBlockMode.txt
  content/manual/upcoming/source/reference/command/validate.txt
Labels: Manual

DOCSP-52227-atlas-update-batch-6 (#13220)
  content/manual/upcoming/source/reference/command/refineCollectionShardKey.txt
Labels: Manual

DOCSP-51278 C <100 Words (#13243) (#13254)
  content/c-driver/current/source/monitoring.txt
  content/c-driver/v1.29/source/monitoring.txt
  content/c-driver/v1.30/source/monitoring.txt
Labels: none

DOCSP-51277 EF <100 Words (#13244) (#13252)
  content/entity-framework/current/snooty.toml
  content/entity-framework/current/source/fundamentals.txt
  content/entity-framework/v8.0/snooty.toml
  content/entity-framework/v8.0/source/fundamentals.txt
  content/entity-framework/v8.1/snooty.toml
  content/entity-framework/v8.1/source/fundamentals.txt
  content/entity-framework/v8.2/snooty.toml
  content/entity-framework/v8.2/source/fundamentals.txt
  content/entity-framework/v8.3/snooty.toml
  content/entity-framework/v8.3/source/fundamentals.txt
Labels: none

DOCSP-51284 PyMongo 100 Words (#13245) (#13251)
  content/pymongo-driver/current/snooty.toml
  content/pymongo-driver/current/source/reference.txt
  content/pymongo-driver/v4.12/snooty.toml
  content/pymongo-driver/v4.12/source/reference.txt
Labels: none

DOCSP-51909-http-update (#12914)
  .DS_Store
  content/.DS_Store
  content/mcp-server/source/configuration.txt
Labels: MCP Server

DOCSP-52327: fix build errors atlas OA Overview (#13257)
  content/atlas/config/redirects
  content/atlas/source/includes/fact-online-archive-statuses.rst
  content/atlas/source/includes/steps-config-online-archive.rst
  content/atlas/source/includes/steps-edit-online-archive-rule.rst
  content/atlas/source/online-archive/manage-online-archive.txt
  content/atlas/source/online-archive/overview.txt
Labels: Atlas

Clean repo root
  .github/pull_request_template.md
  .github/workflows/add-netlify-links.yml
  .github/workflows/backport.yml
  .github/workflows/vale-tdbx.yml
  .gitignore
  README.rst
  build.sh
  config/redirects
  netlify.toml
  snooty.toml
  source/comparison.txt
  source/data-types.txt
  source/facets.toml
  source/faq.txt
  source/index.txt
  source/installation.txt
  source/previous-versions.txt
  source/quick-start.txt
  source/schemas.txt
  source/whats-new.txt
  worker.sh
Labels: none

Add netlify.toml to pymongo arrow
  content/pymongo-arrow-driver/netlify.toml
Labels: none

Remove old pymongo-arrow files
  content/pymongo-arrow-driver/current/build.sh
  content/pymongo-arrow-driver/current/config/redirects
  content/pymongo-arrow-driver/current/netlify.toml
  content/pymongo-arrow-driver/current/worker.sh
  content/pymongo-arrow-driver/upcoming/build.sh
  content/pymongo-arrow-driver/upcoming/config/redirects
  content/pymongo-arrow-driver/upcoming/netlify.toml
  content/pymongo-arrow-driver/upcoming/worker.sh
  content/pymongo-arrow-driver/v1.3/build.sh
  content/pymongo-arrow-driver/v1.3/config/redirects
  content/pymongo-arrow-driver/v1.3/netlify.toml
  content/pymongo-arrow-driver/v1.3/worker.sh
  content/pymongo-arrow-driver/v1.4/build.sh
  content/pymongo-arrow-driver/v1.4/config/redirects
  content/pymongo-arrow-driver/v1.4/netlify.toml
  content/pymongo-arrow-driver/v1.4/worker.sh
  content/pymongo-arrow-driver/v1.5/build.sh
  content/pymongo-arrow-driver/v1.5/config/redirects
  content/pymongo-arrow-driver/v1.5/netlify.toml
  content/pymongo-arrow-driver/v1.5/worker.sh
  content/pymongo-arrow-driver/v1.6/build.sh
  content/pymongo-arrow-driver/v1.6/config/redirects
  content/pymongo-arrow-driver/v1.6/netlify.toml
  content/pymongo-arrow-driver/v1.6/worker.sh
  content/pymongo-arrow-driver/v1.7/build.sh
  content/pymongo-arrow-driver/v1.7/config/redirects
  content/pymongo-arrow-driver/v1.7/netlify.toml
  content/pymongo-arrow-driver/v1.7/worker.sh
Labels: none

fix broken curl command (#13267)
  content/kubernetes-operator/current/source/includes/steps-multi-cluster-source.yaml
  content/kubernetes-operator/v1.25/source/includes/steps-multi-cluster-source.yaml
  content/kubernetes-operator/v1.26/source/includes/steps-multi-cluster-source.yaml
  content/kubernetes-operator/v1.27/source/includes/steps-multi-cluster-source.yaml
  content/kubernetes-operator/v1.28/source/includes/steps-multi-cluster-source.yaml
  content/kubernetes-operator/v1.29/source/includes/steps-multi-cluster-source.yaml
  content/kubernetes-operator/v1.30/source/includes/steps-multi-cluster-source.yaml
  content/kubernetes-operator/v1.31/source/includes/steps-multi-cluster-source.yaml
  content/kubernetes-operator/v1.32/source/includes/steps-multi-cluster-source.yaml
Labels: Kubernetes Operator

(DOCSP-51169): C# tested examples for aggregation group tutorial (#13258)
  code-example-tests/csharp/driver/Examples/Aggregation/Pipelines/Group/Order.cs
  code-example-tests/csharp/driver/Examples/Aggregation/Pipelines/Group/Tutorial.cs
  code-example-tests/csharp/driver/Examples/Aggregation/Pipelines/Group/TutorialOutput.txt
  code-example-tests/csharp/driver/Tests/Aggregation/Pipelines/TutorialTests.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Group/Order.snippet.model.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Group/Tutorial.snippet.group.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Group/Tutorial.snippet.load-sample-data.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Group/Tutorial.snippet.match.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Group/Tutorial.snippet.sort-first-purchase.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Group/Tutorial.snippet.sort-order-date.cs
  content/code-examples/tested/csharp/driver/Aggregation/Pipelines/Group/TutorialOutput.txt
  content/manual/manual/source/includes/aggregation/aggregation-examples/group-and-total/csharp-group-and-total.rst
  content/manual/manual/source/includes/aggregation/aggregation-examples/group-and-total/full-files/GroupTotal.cs
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/group-and-total/csharp-group-and-total.rst
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/group-and-total/full-files/GroupTotal.cs
Labels: Manual

Add netlify.toml for rust
  content/rust/netlify.toml
Labels: none

Remove old rust files
  content/rust/current/build.sh
  content/rust/current/config/redirects
  content/rust/current/netlify.toml
  content/rust/current/worker.sh
  content/rust/upcoming/build.sh
  content/rust/upcoming/config/redirects
  content/rust/upcoming/netlify.toml
  content/rust/upcoming/worker.sh
  content/rust/v2.7/build.sh
  content/rust/v2.7/config/redirects
  content/rust/v2.7/netlify.toml
  content/rust/v2.7/worker.sh
  content/rust/v2.8/build.sh
  content/rust/v2.8/config/redirects
  content/rust/v2.8/netlify.toml
  content/rust/v2.8/worker.sh
  content/rust/v3.0/build.sh
  content/rust/v3.0/config/redirects
  content/rust/v3.0/netlify.toml
  content/rust/v3.0/worker.sh
  content/rust/v3.1/build.sh
  content/rust/v3.1/config/redirects
  content/rust/v3.1/netlify.toml
  content/rust/v3.1/worker.sh
Labels: none

DOCSP-52230 -- Dry Run Diff Feature Docs (#13141)
  content/atlas-operator/upcoming/source/ak8so-dry-run.txt
  content/atlas-operator/upcoming/source/includes/ak8so-diff-input-example.yaml
  content/atlas-operator/upcoming/source/includes/ak8so-diff-output-example.out
Labels: Atlas Operator

DOCSP-52215-fix-bug-in-oidc-code-sample (#13231)
  content/manual/manual/source/core/oidc/workforce/configure-oidc.txt
Labels: Manual

Backport 8.0.12 Finalized Release Notes (#13260)
  content/manual/manual/snooty.toml
  content/manual/manual/source/includes/changelogs/releases/8.0.12.rst
  content/manual/manual/source/release-notes/8.0.txt
  content/manual/rapid/source/includes/changelogs/releases/8.0.12.rst
  content/manual/rapid/source/release-notes/8.0.txt
Labels: Manual

add a redirect (#169)
  config/redirects
Labels: none

DOCSP-17074-update-operator-doc (#13131)
  content/manual/upcoming/source/reference/operator/update/mul.txt
Labels: Manual

(DOCSP-51983): Clarified live migration limitations. (#13246)
  content/atlas/snooty.toml
  content/atlas/source/import/c2c-pull-live-migration.txt
Labels: Atlas

DOCSP-52276 - Correct event output (#13203)
  content/node/upcoming/source/monitoring-and-logging/monitoring.txt
Labels: none

DOCSP-52228-atlas-update-batch-7 (#13249)
  content/manual/upcoming/source/reference/command/addShardToZone.txt
  content/manual/upcoming/source/reference/command/balancerStart.txt
  content/manual/upcoming/source/reference/command/balancerStatus.txt
  content/manual/upcoming/source/reference/command/clearJumboFlag.txt
  content/manual/upcoming/source/reference/command/enableSharding.txt
  content/manual/upcoming/source/reference/command/listShards.txt
  content/manual/upcoming/source/reference/command/mergeChunks.txt
  content/manual/upcoming/source/reference/command/moveChunk.txt
  content/manual/upcoming/source/reference/command/movePrimary.txt
  content/manual/upcoming/source/reference/command/removeShardFromZone.txt
  content/manual/upcoming/source/reference/command/updateZoneKeyRange.txt
Labels: Manual

DOCSP-52229-atlas-update-branch (#13250)
  content/manual/upcoming/source/reference/command/balancerCollectionStatus.txt
  content/manual/upcoming/source/reference/command/balancerStop.txt
  content/manual/upcoming/source/reference/command/convertToCapped.txt
  content/manual/upcoming/source/reference/command/flushRouterConfig.txt
  content/manual/upcoming/source/reference/command/mergeAllChunksOnShard.txt
  content/manual/upcoming/source/reference/command/setAllowMigrations.txt
  content/manual/upcoming/source/reference/command/shardCollection.txt
  content/manual/upcoming/source/reference/command/shardConnPoolStats.txt
  content/manual/upcoming/source/reference/command/split.txt
  content/manual/upcoming/source/reference/command/top.txt
Labels: Manual

Add spark-connector netlify.toml
  content/spark-connector/netlify.toml
Labels: none

Remove old spark-connector files
  content/spark-connector/current/Makefile
  content/spark-connector/current/build.sh
  content/spark-connector/current/config/redirects
  content/spark-connector/current/netlify.toml
  content/spark-connector/current/worker.sh
  content/spark-connector/upcoming/Makefile
  content/spark-connector/upcoming/build.sh
  content/spark-connector/upcoming/config/redirects
  content/spark-connector/upcoming/netlify.toml
  content/spark-connector/upcoming/worker.sh
  content/spark-connector/v10.2/Makefile
  content/spark-connector/v10.2/build.sh
  content/spark-connector/v10.2/config/redirects
  content/spark-connector/v10.2/netlify.toml
  content/spark-connector/v10.2/worker.sh
  content/spark-connector/v10.3/Makefile
  content/spark-connector/v10.3/build.sh
  content/spark-connector/v10.3/config/redirects
  content/spark-connector/v10.3/netlify.toml
  content/spark-connector/v10.3/worker.sh
  content/spark-connector/v10.4/Makefile
  content/spark-connector/v10.4/build.sh
  content/spark-connector/v10.4/config/redirects
  content/spark-connector/v10.4/netlify.toml
  content/spark-connector/v10.4/worker.sh
Labels: none

DOCSP-52220-atlas-update-batch-2 (#13199) (#13215)
  content/manual/manual/source/reference/command/createRole.txt
  content/manual/manual/source/reference/command/createUser.txt
  content/manual/manual/source/reference/command/dropRole.txt
  content/manual/manual/source/reference/command/replSetFreeze.txt
  content/manual/manual/source/reference/command/replSetInitiate.txt
  content/manual/manual/source/reference/command/replSetMaintenance.txt
  content/manual/manual/source/reference/command/replSetStepDown.txt
  content/manual/manual/source/reference/command/updateRole.txt
  content/manual/manual/source/reference/command/updateUser.txt
  content/manual/rapid/source/reference/command/createRole.txt
  content/manual/rapid/source/reference/command/createUser.txt
  content/manual/rapid/source/reference/command/dropRole.txt
  content/manual/rapid/source/reference/command/replSetFreeze.txt
  content/manual/rapid/source/reference/command/replSetInitiate.txt
  content/manual/rapid/source/reference/command/replSetMaintenance.txt
  content/manual/rapid/source/reference/command/replSetStepDown.txt
  content/manual/rapid/source/reference/command/updateRole.txt
  content/manual/rapid/source/reference/command/updateUser.txt
  content/manual/v6.0/source/reference/command/createRole.txt
  content/manual/v6.0/source/reference/command/createUser.txt
  content/manual/v6.0/source/reference/command/dropRole.txt
  content/manual/v6.0/source/reference/command/replSetFreeze.txt
  content/manual/v6.0/source/reference/command/replSetInitiate.txt
  content/manual/v6.0/source/reference/command/replSetMaintenance.txt
  content/manual/v6.0/source/reference/command/replSetStepDown.txt
  content/manual/v6.0/source/reference/command/updateRole.txt
  content/manual/v6.0/source/reference/command/updateUser.txt
  content/manual/v7.0/source/reference/command/createRole.txt
  content/manual/v7.0/source/reference/command/createUser.txt
  content/manual/v7.0/source/reference/command/dropRole.txt
  content/manual/v7.0/source/reference/command/replSetFreeze.txt
  content/manual/v7.0/source/reference/command/replSetInitiate.txt
  content/manual/v7.0/source/reference/command/replSetMaintenance.txt
  content/manual/v7.0/source/reference/command/replSetStepDown.txt
  content/manual/v7.0/source/reference/command/updateRole.txt
  content/manual/v7.0/source/reference/command/updateUser.txt
Labels: Manual
