Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Architecture, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, C Driver, Charts, Cloud Manager, Code Examples Tested, Compass, CPP Driver, CSharp, Database Tools, Datalake, Django, Docs Platform, Drivers Ecosystem, Entity Framework, Golang, Guides, Java RS, Java, Kafka Connector, Kotlin Sync, Kotlin, Kubernetes, Kubernetes Operator, Landing, Laravel, Manual, MCP Server, Meta, Mongo Cli, Analyzer, Platform, IntelliJ, Mongosh, VSCode, Mongo ID, Mongo Sync, Node, Ops Manager, PHP Library, Pymongo Arrow Driver, Pymongo Driver, Relational Migrator, Ruby Driver, Rust, Scala Driver, Spark Connector, Table of Contents, Tutorials

DOCSP-51993 Kubernetes OIDC Token Locations (#13438)
  content/csharp/upcoming/source/security/authentication/oidc.txt
  content/java/upcoming/source/security/auth/oidc.txt
  content/node/upcoming/source/security/authentication/oidc.txt
  content/pymongo-driver/upcoming/source/security/authentication/oidc.txt
Labels: CSharp, Java, Node, Pymongo Driver

DOCSP-51844 Atlas Search LINQ (#13409)
  content/csharp/upcoming/source/aggregation/linq.txt
  content/csharp/upcoming/source/includes/atlas-search-intro.rst
Labels: CSharp

DOCSP-52618: Remove database caching support (#13516)
  content/django-mongodb/upcoming/source/limitations-upcoming.txt
Labels: Django

DOCSP-52094-mcp-server-file-structure (#13163)
  content/mcp-server/source/configuration.txt
  content/mcp-server/source/examples.txt
  content/mcp-server/source/get-started.txt
  content/mcp-server/source/includes/get-started/shared/common-mcp-config.json
  content/mcp-server/source/includes/get-started/shared/connection-string-mcp-config.rst
  content/mcp-server/source/includes/get-started/shared/mcp-config-copilot.json
  content/mcp-server/source/includes/get-started/shared/step-atlas-mcp-config.rst
  content/mcp-server/source/includes/get-started/shared/step-connection-string-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/shared/step-connection-string-mcp-config-self.rst
  content/mcp-server/source/includes/get-started/shared/step-mcp-config-claude.rst
  content/mcp-server/source/includes/get-started/shared/step-mcp-config-copilot.rst
  content/mcp-server/source/includes/get-started/shared/step-mcp-config-cursor.rst
  content/mcp-server/source/includes/get-started/shared/step-mcp-config-windsurf.rst
  content/mcp-server/source/includes/get-started/shared/step-read-only-mcp-config.rst
  content/mcp-server/source/includes/get-started/steps-claude-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/steps-claude-mcp-config-self.rst
  content/mcp-server/source/includes/get-started/steps-copilot-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/steps-copilot-mcp-config-self.rst
  content/mcp-server/source/includes/get-started/steps-cursor-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/steps-cursor-mcp-config-self.rst
  content/mcp-server/source/includes/get-started/steps-windsurf-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/steps-windsurf-mcp-config-self.rst
  content/mcp-server/source/includes/type-and-server-name-fields.rst
Labels: MCP Server

Move Java Multi-Field Join tutorial code examples to test suite (#13532)
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/AggTutorial.java
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/joinMultiField/Tutorial.java
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/joinMultiField/TutorialOutput.txt
  code-example-tests/java/driver-sync/src/test/java/aggregation/pipelines/TutorialTests.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/AggTutorial.snippet.example.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/joinMultiField/Tutorial.snippet.embedded-pl-match-name-variation.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/joinMultiField/Tutorial.snippet.embedded-pl-match-orderdate.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/joinMultiField/Tutorial.snippet.embedded-pl-unset.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/joinMultiField/Tutorial.snippet.load-sample-data.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/joinMultiField/Tutorial.snippet.lookup.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/joinMultiField/Tutorial.snippet.match.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/joinMultiField/Tutorial.snippet.run-pipeline.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/joinMultiField/Tutorial.snippet.unset.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/joinMultiField/TutorialOutput.txt
  content/manual/manual/source/includes/aggregation/aggregation-examples/multi-field-join/full-files/MultiFieldJoin.java
  content/manual/manual/source/includes/aggregation/aggregation-examples/multi-field-join/java-sync-multi-field-join.rst
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/multi-field-join/full-files/MultiFieldJoin.java
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/multi-field-join/java-sync-multi-field-join.rst
Labels: Manual

DOCSP-46798 Removes serverless mentions from server docs (#13323) (#13521)
  content/manual/manual/source/core/capped-collections.txt
  content/manual/manual/source/core/map-reduce.txt
  content/manual/manual/source/includes/analyzeShardKey-limitations.rst
  content/manual/manual/source/includes/atlas-search-commands/atlas-only-db-command.rst
  content/manual/manual/source/includes/cqa-limitations.rst
  content/manual/manual/source/index.txt
  content/manual/manual/source/reference/command.txt
  content/manual/manual/source/reference/command/abortMoveCollection.txt
  content/manual/manual/source/reference/command/abortUnshardCollection.txt
  content/manual/manual/source/reference/command/moveCollection.txt
  content/manual/manual/source/reference/limits.txt
  content/manual/manual/source/tutorial/start-a-sharded-cluster-with-config-shard.txt
  content/manual/manual/source/tutorial/stop-unsharding-collection.txt
  content/manual/manual/source/tutorial/unshard-collection.txt
  content/manual/rapid/source/core/capped-collections.txt
  content/manual/rapid/source/core/map-reduce.txt
  content/manual/rapid/source/includes/aggregation/agg-userroles-restrictions.rst
  content/manual/rapid/source/includes/analyzeShardKey-limitations.rst
  content/manual/rapid/source/includes/atlas-search-commands/atlas-only-db-command.rst
  content/manual/rapid/source/includes/cqa-limitations.rst
  content/manual/rapid/source/index.txt
  content/manual/rapid/source/reference/command.txt
  content/manual/rapid/source/reference/command/abortMoveCollection.txt
  content/manual/rapid/source/reference/command/abortUnshardCollection.txt
  content/manual/rapid/source/reference/command/moveCollection.txt
  content/manual/rapid/source/reference/limits.txt
  content/manual/rapid/source/tutorial/start-a-sharded-cluster-with-config-shard.txt
  content/manual/rapid/source/tutorial/stop-unsharding-collection.txt
  content/manual/rapid/source/tutorial/unshard-collection.txt
  content/manual/v6.0/source/core/map-reduce.txt
  content/manual/v6.0/source/index.txt
  content/manual/v6.0/source/reference/command.txt
  content/manual/v6.0/source/reference/limits.txt
  content/manual/v7.0/source/core/capped-collections.txt
  content/manual/v7.0/source/core/map-reduce.txt
  content/manual/v7.0/source/includes/analyzeShardKey-limitations.rst
  content/manual/v7.0/source/includes/cqa-limitations.rst
  content/manual/v7.0/source/index.txt
  content/manual/v7.0/source/reference/command.txt
  content/manual/v7.0/source/reference/limits.txt
Labels: Manual

DOCS-16424 update Change Events-main-backport (12408) (#13431)
  content/manual/manual/source/includes/fact-modify-change-event.rst
  content/manual/manual/source/reference/change-events/insert.txt
  content/manual/manual/source/reference/change-events/replace.txt
  content/manual/manual/source/reference/change-events/update.txt
  content/manual/rapid/source/includes/fact-modify-change-event.rst
  content/manual/rapid/source/reference/change-events/insert.txt
  content/manual/rapid/source/reference/change-events/replace.txt
  content/manual/rapid/source/reference/change-events/update.txt
  content/manual/v6.0/source/reference/command/planCacheClear.txt
  content/manual/v6.0/source/reference/method/PlanCache.clearPlansByQuery.txt
  content/manual/v6.0/source/reference/operator/aggregation/planCacheStats.txt
  content/manual/v7.0/source/includes/fact-modify-change-event.rst
  content/manual/v7.0/source/reference/change-events/insert.txt
  content/manual/v7.0/source/reference/change-events/replace.txt
  content/manual/v7.0/source/reference/change-events/update.txt
Labels: Manual

DOCSP-52690 -- Fixed indentation (#13538)
  content/atlas/source/includes/steps-adf-configure-self-managed-x509.rst
Labels: Atlas

DOCSP-51594 Update docs page on index partitioning (#13126)
  content/atlas/.github/prompts/3-atlas-search-composable-index-steps.prompt.md
  content/atlas/source/atlas-search/field-types/object-id-type.txt
  content/atlas/source/atlas-search/index-partition.txt
  content/atlas/source/includes/fts/field-types/autocomplete/steps-create-index-c.rst
  content/atlas/source/includes/fts/field-types/boolean/steps-create-index-c.rst
  content/atlas/source/includes/fts/field-types/date/steps-create-index-c.rst
  content/atlas/source/includes/fts/field-types/document/steps-create-index-c.rst
  content/atlas/source/includes/fts/field-types/embeddedDocuments/steps-create-index-c.rst
  content/atlas/source/includes/fts/field-types/geo/steps-create-index-c.rst
  content/atlas/source/includes/fts/field-types/initialize-cmake-c.rst
  content/atlas/source/includes/fts/field-types/number/steps-create-index-c.rst
  content/atlas/source/includes/fts/field-types/objectId/steps-create-index-c.rst
  content/atlas/source/includes/fts/field-types/string/steps-create-index-c.rst
  content/atlas/source/includes/fts/field-types/token/steps-create-index-c.rst
  content/atlas/source/includes/fts/field-types/uuid/steps-create-index-c.rst
  content/atlas/source/includes/steps-install-odbc-driver.yaml
Labels: Atlas

DOCSP-51629: Fix CollectionInfo examples (#13518)
  content/php-library/upcoming/source/reference/method/MongoDBModelCollectionInfo-getCappedMax.txt
  content/php-library/upcoming/source/reference/method/MongoDBModelCollectionInfo-getCappedSize.txt
  content/php-library/upcoming/source/reference/method/MongoDBModelCollectionInfo-getIdIndex.txt
  content/php-library/upcoming/source/reference/method/MongoDBModelCollectionInfo-getInfo.txt
  content/php-library/upcoming/source/reference/method/MongoDBModelCollectionInfo-getName.txt
  content/php-library/upcoming/source/reference/method/MongoDBModelCollectionInfo-getOptions.txt
  content/php-library/upcoming/source/reference/method/MongoDBModelCollectionInfo-getType.txt
  content/php-library/upcoming/source/reference/method/MongoDBModelCollectionInfo-isCapped.txt
  content/php-library/upcoming/source/reference/method/MongoDBModelCollectionInfo-isView.txt
Labels: PHP Library

DOCSP-51629: Fix CollectionInfo examples (#13518) (#13541)
  content/php-library/current/source/reference/method/MongoDBModelCollectionInfo-getCappedMax.txt
  content/php-library/current/source/reference/method/MongoDBModelCollectionInfo-getCappedSize.txt
  content/php-library/current/source/reference/method/MongoDBModelCollectionInfo-getIdIndex.txt
  content/php-library/current/source/reference/method/MongoDBModelCollectionInfo-getInfo.txt
  content/php-library/current/source/reference/method/MongoDBModelCollectionInfo-getName.txt
  content/php-library/current/source/reference/method/MongoDBModelCollectionInfo-getOptions.txt
  content/php-library/current/source/reference/method/MongoDBModelCollectionInfo-getType.txt
  content/php-library/current/source/reference/method/MongoDBModelCollectionInfo-isCapped.txt
  content/php-library/current/source/reference/method/MongoDBModelCollectionInfo-isView.txt
  content/php-library/v1.x/source/reference/method/MongoDBModelCollectionInfo-getCappedMax.txt
  content/php-library/v1.x/source/reference/method/MongoDBModelCollectionInfo-getCappedSize.txt
  content/php-library/v1.x/source/reference/method/MongoDBModelCollectionInfo-getIdIndex.txt
  content/php-library/v1.x/source/reference/method/MongoDBModelCollectionInfo-getInfo.txt
  content/php-library/v1.x/source/reference/method/MongoDBModelCollectionInfo-getName.txt
  content/php-library/v1.x/source/reference/method/MongoDBModelCollectionInfo-getOptions.txt
  content/php-library/v1.x/source/reference/method/MongoDBModelCollectionInfo-getType.txt
  content/php-library/v1.x/source/reference/method/MongoDBModelCollectionInfo-isCapped.txt
Labels: PHP Library

DOCSP-52598: Raise minimum C driver version to 2.1.0 for C++ driver v4.2.0 (#13536)
  content/cpp-driver/upcoming/source/includes/libmongoc-compatibility-table-cxx.rst
Labels: CPP Driver

(DOCSP-52438): Updated View Support Docs for GA. (#13533)
  content/atlas/config/redirects
  content/atlas/source/atlas-search/about/feature-compatibility.txt
  content/atlas/source/atlas-search/design-patterns.txt
  content/atlas/source/atlas-search/searching.txt
  content/atlas/source/atlas-search/view-support.txt
  content/atlas/source/atlas-vector-search/vector-search-overview.txt
  content/atlas/source/atlas-vector-search/view-support.txt
  content/atlas/source/includes/fts/facts/fact-partial-indexing-preview.rst
  content/atlas/source/includes/fts/facts/fact-partial-indexing-troubleshoot.rst
  content/atlas/source/includes/search-shared/fact-partial-indexing-preview.rst
  content/atlas/source/includes/search-shared/fact-partial-indexing-troubleshoot.rst
  content/table-of-contents/data/cloud-docs.ts
Labels: Atlas, Table of Contents

DOCSP-52224-compass-release-notes (#13528)
  content/compass/source/release-notes.txt
Labels: Compass

DOCSP-52114 TS landing page (#13542)
  content/drivers/netlify.toml
  content/landing/source/languages/javascript.txt
Labels: Drivers Ecosystem, Landing

DOCSP-51703: AI-Powered Retail: Personalization and Accuracy (#13457)
  content/atlas-architecture/current/source/solutions-library/retail-ai-product-search.txt
Labels: Atlas Architecture

DOCSP-52694: Fix mixed-up imports in code example (#13543)
  content/pymongo-driver/upcoming/source/databases-collections.txt
Labels: Pymongo Driver

DOCSP-52448-Update-Linux-install-file-location (#13523)
  content/relational-migrator/source/includes/fact-file-location-linux.rst
Labels: Relational Migrator

DOCSP-52484 Kotlin add back server versions (#13471)
  content/kotlin/upcoming/source/fundamentals/builders/aggregates.txt
  content/kotlin/upcoming/source/fundamentals/builders/projections.txt
  content/kotlin/upcoming/source/fundamentals/connection/network-compression.txt
  content/kotlin/upcoming/source/fundamentals/crud/read-operations/sort.txt
  content/kotlin/upcoming/source/fundamentals/indexes.txt
  content/kotlin/upcoming/source/fundamentals/stable-api.txt
  content/kotlin/upcoming/source/fundamentals/time-series.txt
  content/kotlin/upcoming/source/includes/mongodb-compatibility-table-kotlin.rst
  content/kotlin/upcoming/source/usage-examples/count.txt
Labels: Kotlin

DOCSP-45784-timeseries-bucket-namespace (#12959)
  content/manual/upcoming/source/core/timeseries/timeseries-bucketing.txt
  content/manual/upcoming/source/core/timeseries/timeseries-granularity.txt
  content/manual/upcoming/source/core/timeseries/timeseries-limitations.txt
  content/manual/upcoming/source/core/views.txt
  content/manual/upcoming/source/reference/operator/aggregation/collStats.txt
  content/manual/upcoming/source/reference/system-collections.txt
Labels: Manual

DOCSP-52694: Fix mixed-up imports in code example (#13543) (#13547)
  content/pymongo-driver/current/source/databases-collections.txt
  content/pymongo-driver/v4.12/source/databases-collections.txt
Labels: Pymongo Driver

Revert "DOCSP-52484 Kotlin add back server versions (#13471)" (#13548)
  content/kotlin/upcoming/source/fundamentals/builders/aggregates.txt
  content/kotlin/upcoming/source/fundamentals/builders/projections.txt
  content/kotlin/upcoming/source/fundamentals/connection/network-compression.txt
  content/kotlin/upcoming/source/fundamentals/crud/read-operations/sort.txt
  content/kotlin/upcoming/source/fundamentals/indexes.txt
  content/kotlin/upcoming/source/fundamentals/stable-api.txt
  content/kotlin/upcoming/source/fundamentals/time-series.txt
  content/kotlin/upcoming/source/includes/mongodb-compatibility-table-kotlin.rst
  content/kotlin/upcoming/source/usage-examples/count.txt
Labels: Kotlin

DOCSP-49573: PHP QE tutorial-main-backport (12738) (#13545)
  content/manual/manual/source/core/queryable-encryption/qe-create-application.txt
  content/manual/manual/source/core/queryable-encryption/qe-create-encrypted-collection.txt
  content/manual/manual/source/core/queryable-encryption/qe-retrieve-encrypted-document.txt
  content/manual/manual/source/core/queryable-encryption/quick-start.txt
  content/manual/manual/source/core/queryable-encryption/tutorials.txt
  content/manual/manual/source/includes/qe-tutorials/php/README.md
  content/manual/manual/source/includes/qe-tutorials/php/composer.json
  content/manual/manual/source/includes/qe-tutorials/php/env_template
  content/manual/manual/source/includes/qe-tutorials/php/queryable-encryption-helpers.php
  content/manual/manual/source/includes/qe-tutorials/php/queryable-encryption-tutorial.php
  content/manual/manual/source/includes/qe-tutorials/php/range-query.php
  content/manual/manual/source/includes/queryable-encryption/env-variables.rst
  content/manual/manual/source/includes/queryable-encryption/tutorials/assign-app-variables.rst
  content/manual/manual/source/includes/queryable-encryption/tutorials/automatic/aws/role-authentication.rst
  content/manual/rapid/source/core/queryable-encryption/qe-create-application.txt
  content/manual/rapid/source/core/queryable-encryption/qe-create-encrypted-collection.txt
  content/manual/rapid/source/core/queryable-encryption/qe-retrieve-encrypted-document.txt
  content/manual/rapid/source/core/queryable-encryption/quick-start.txt
  content/manual/rapid/source/core/queryable-encryption/tutorials.txt
  content/manual/rapid/source/includes/qe-tutorials/php/README.md
  content/manual/rapid/source/includes/qe-tutorials/php/composer.json
  content/manual/rapid/source/includes/qe-tutorials/php/env_template
  content/manual/rapid/source/includes/qe-tutorials/php/queryable-encryption-helpers.php
  content/manual/rapid/source/includes/qe-tutorials/php/queryable-encryption-tutorial.php
  content/manual/rapid/source/includes/qe-tutorials/php/range-query.php
  content/manual/rapid/source/includes/qe-tutorials/rust/env_template
  content/manual/rapid/source/includes/queryable-encryption/env-variables.rst
  content/manual/rapid/source/includes/queryable-encryption/tutorials/assign-app-variables.rst
  content/manual/rapid/source/includes/queryable-encryption/tutorials/automatic/aws/role-authentication.rst
Labels: Manual

Revert "DOCSP-51036: Transactions (#40)" (#13552)
  content/django-mongodb/upcoming/source/includes/interact-data/transactions.py
  content/django-mongodb/upcoming/source/interact-data.txt
  content/django-mongodb/upcoming/source/interact-data/transactions.txt
Labels: Django

DOCSP-52443 deleteMany During Concurrent Migration (#13439)
  content/manual/upcoming/source/reference/method/db.collection.deleteMany.txt
Labels: Manual

(DOCSP-52438): Redirect fix. (#13554)
  content/atlas/config/redirects
  content/atlas/netlify.toml
Labels: Atlas

Fixes issues in Prometheus examples. (#13440)
  content/atlas/source/includes/prometheus-hardware-metrics.rst
  content/atlas/source/includes/prometheus-mongo-metrics.rst
Labels: Atlas

DOCSP-52696: v2.2.3 (#13555)
  content/golang/current/snooty.toml
  content/golang/upcoming/snooty.toml
Labels: Golang

Broken links on activity feed page (#13517)
  content/atlas/source/includes/fact-retrieve-activity-feed-orgs.rst
  content/atlas/source/includes/fact-retrieve-activity-feed-project.rst
Labels: Atlas

DOCSP-52485 Java Server Version 4.2 (#13544)
  content/java/upcoming/source/crud/query-documents/sort.txt
  content/java/upcoming/source/includes/mongodb-compatibility-table-java.rst
  content/java/upcoming/source/indexes.txt
Labels: Java

DOCSP-52443 deleteMany During Concurrent Migration (#13439) (#13556)
  content/manual/manual/source/reference/method/db.collection.deleteMany.txt
  content/manual/rapid/source/reference/method/db.collection.deleteMany.txt
  content/manual/v6.0/source/reference/method/db.collection.deleteMany.txt
  content/manual/v7.0/source/reference/method/db.collection.deleteMany.txt
Labels: Manual

DOCSP-44673: Compass Right Click MVP (#12908)
  content/compass/source/connect/connections.txt
  content/compass/source/documents/clone.txt
  content/compass/source/documents/delete-multiple.txt
  content/compass/source/documents/delete.txt
  content/compass/source/documents/insert.txt
  content/compass/source/documents/modify-multiple.txt
  content/compass/source/documents/modify.txt
  content/compass/source/documents/view.txt
  content/compass/source/images/compass/connections-right-click.png
  content/compass/source/images/compass/right-click-expand-documents.png
  content/compass/source/images/compass/right-click-match-field-query.png
  content/compass/source/images/compass/right-click-open-url.png
  content/compass/source/includes/shared/steps-create-collection.yaml
  content/compass/source/includes/shared/steps-create-database.yaml
  content/compass/source/includes/shared/steps-delete-collection.yaml
  content/compass/source/includes/shared/steps-delete-database.yaml
  content/compass/source/includes/shared/steps-open-new-tab.yaml
  content/compass/source/includes/steps-export-filter.yaml
  content/compass/source/includes/steps-export.yaml
  content/compass/source/includes/steps-import.yaml
  content/compass/source/query/filter.txt
  content/compass/source/views.txt
Labels: Compass

Docsp 52285 known issues (#13502) (#13564)
  content/kubernetes/upcoming/source/reference/known-issues.txt
  content/kubernetes/v1.1/source/reference/known-issues.txt
Labels: Kubernetes

DOCSP-51699-continuously-updating-rag (#13565)
  content/atlas-architecture/current/source/solutions-library/rag-applications.txt
Labels: Atlas Architecture

Node.js Driver Test Suite: Extend output comparison func, update docs (#13535)
  .github/workflows/node-driver-examples-test-in-docker.yml
  code-example-tests/javascript/driver/README.md
  code-example-tests/javascript/driver/tests/aggregation/pipelines/tutorials.test.js
  code-example-tests/javascript/driver/utils/outputMatchesExampleOutput.js
Labels: none

Port solutions prs 1 (#13567)
  content/atlas-architecture/current/source/includes/images/industry-solutions/demo-model.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/document-model-media.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/ist-homepage.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/ist-media-interface.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/media-personalization-architecture.svg
  content/atlas-architecture/current/source/solutions-library/claim-management.txt
  content/atlas-architecture/current/source/solutions-library/insurance-gen-ai.txt
  content/atlas-architecture/current/source/solutions-library/media-personalization.txt
Labels: Atlas Architecture

DOCSP-51616 -- Add Behavior Section (#13493)
  content/atlas/source/atlas-stream-processing/sp-agg-externalFunction.txt
Labels: Atlas

DOCSP-52333 Pymongo Arrow v1.9 release (#13390)
  content/pymongo-arrow-driver/current/.github/workflows/add-netlify-links.yml
  content/pymongo-arrow-driver/netlify.toml
  content/pymongo-arrow-driver/upcoming/snooty.toml
  content/pymongo-arrow-driver/upcoming/source/whats-new.txt
  content/pymongo-arrow-driver/v1.8/.github/pull_request_template.md
  content/pymongo-arrow-driver/v1.8/.github/workflows/backport.yml
  content/pymongo-arrow-driver/v1.8/.github/workflows/vale-tdbx.yml
  content/pymongo-arrow-driver/v1.8/.gitignore
  content/pymongo-arrow-driver/v1.8/README.rst
  content/pymongo-arrow-driver/v1.8/snooty.toml
  content/pymongo-arrow-driver/v1.8/source/comparison.txt
  content/pymongo-arrow-driver/v1.8/source/data-types.txt
  content/pymongo-arrow-driver/v1.8/source/facets.toml
  content/pymongo-arrow-driver/v1.8/source/faq.txt
  content/pymongo-arrow-driver/v1.8/source/index.txt
  content/pymongo-arrow-driver/v1.8/source/installation.txt
  content/pymongo-arrow-driver/v1.8/source/previous-versions.txt
  content/pymongo-arrow-driver/v1.8/source/quick-start.txt
  content/pymongo-arrow-driver/v1.8/source/schemas.txt
  content/pymongo-arrow-driver/v1.8/source/whats-new.txt
Labels: Pymongo Arrow Driver

DOCSP-51625: (update) replace ShardMissingCollectionRoutingInfo with ShardCatalogCacheCollectionMetadataMismatch (#13339)
  content/manual/upcoming/source/includes/inconsistency-type/ShardCatalogCacheCollectionMetadataMismatch.rst
  content/manual/upcoming/source/reference/inconsistency-type.txt
Labels: Manual

DOCSP-52711 fix title underline too short warning (#13568)
  content/kubernetes/upcoming/source/reference/known-issues.txt
Labels: Kubernetes

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Architecture:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-architecture/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

C Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/c-driver/**']

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

Code Examples Tested:
  - changed-files:
    - any-glob-to-any-file: ['content/code-examples/tested**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

CPP Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/cpp-driver/**']

CSharp:
  - changed-files:
    - any-glob-to-any-file: ['content/csharp/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Django:
  - changed-files:
    - any-glob-to-any-file: ['content/django-mongodb/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Drivers Ecosystem:
  - changed-files:
    - any-glob-to-any-file: ['content/drivers/**']

Entity Framework:
  - changed-files:
    - any-glob-to-any-file: ['content/entity-framework/**']

Golang:
  - changed-files:
    - any-glob-to-any-file: ['content/golang/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Java RS:
  - changed-files:
    - any-glob-to-any-file: ['content/java-rs/**']

Java:
  - changed-files:
    - any-glob-to-any-file: ['content/java/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kotlin Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin-sync/**']

Kotlin:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Landing:
  - changed-files:
    - any-glob-to-any-file: ['content/landing/**']

Laravel:
  - changed-files:
    - any-glob-to-any-file: ['content/laravel-mongodb/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongocli/**']

Analyzer:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-analyzer/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Mongo ID:
  - changed-files:
    - any-glob-to-any-file: ['content/mongoid/**']

Mongo Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/mongosync/**']
  
Node:
  - changed-files:
    - any-glob-to-any-file: ['content/node/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

PHP Library:
  - changed-files:
    - any-glob-to-any-file: ['content/php-library/**']

Pymongo Arrow Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-arrow-driver/**']

Pymongo Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-driver/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']

Ruby Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/ruby-driver/**']

Rust:
  - changed-files:
    - any-glob-to-any-file: ['content/rust/**']

Scala Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/scala-driver/**']

Spark Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/spark-connector/**']

Table of Contents:
  - changed-files:
    - any-glob-to-any-file: ['content/table-of-contents/**']

Tutorials:
  - changed-files:
    - any-glob-to-any-file: ['content/tutorials/**']
