Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

DOCS-49013 Backport adding versions on .backportrc.json file
  .backportrc.json
Labels: none

DOCSP-49013-backport configure file
  .backportrc.json
Labels: none

DOCSP-50643-embedded-document-update (#12357) (#12362)
  content/manual/manual/source/reference/command/bulkWrite.txt
Labels: Manual

DOCSP-49013 Fixing label of Get Started guide in tip
  source/data-formats/document-data-format-bson.txt
  source/security/encrypt-fields.txt
Labels: none

DOCSP-49013-Java Sync Bom Tips
  source/data-formats/document-data-format-bson.txt
  source/includes/fundamentals/code-snippets/bson-gradle-versioned.rst
  source/includes/fundamentals/code-snippets/bson-maven-versioned.rst
  source/includes/fundamentals/code-snippets/crypt-gradle-versioned.rst
  source/includes/fundamentals/code-snippets/crypt-maven-versioned.rst
  source/security/encrypt-fields.txt
Labels: none

resolve cherrypick conflicts
  source/fundamentals/connections/connection-guide.txt
Labels: none

remove example from toc
  source/usage-examples.txt
  source/usage-examples/changestream.txt
Labels: none

DOCSP-48942: add ARN env var assignment (#484)
  source/fundamentals/auth.txt
  source/fundamentals/crud/read-operations.txt
  source/fundamentals/crud/read-operations/retrieve.txt
  source/usage-examples/count.txt
Labels: none

remove example from toc
  source/usage-examples.txt
Labels: none

DOCSP-49699: compound ops page typo fix
  source/fundamentals/crud/compound-operations.txt
Labels: none

change duplicate title
  source/usage-examples.txt
  source/usage-examples/changestream.txt
Labels: none

last noindex revert
  source/compatibility.txt
Labels: none

change title
  source/usage-examples.txt
  source/usage-examples/changestream.txt
Labels: none

change write operations title
  source/usage-examples.txt
  source/usage-examples/write-operations.txt
Labels: none

change toc title
  source/usage-examples.txt
Labels: none

DOCSP-50387 -- Add UI support for ASP MSK PrivateLink (#7307)
  source/atlas-stream-processing/kafka-connection.txt
  source/includes/atlas-stream-processing/create-private-link-aws-msk-ui.rst
Labels: none

DOCSP-50630 forwardport numInitialChunks Removal (#12356)
  content/manual/upcoming/source/core/sharding-data-partitioning.txt
  content/manual/upcoming/source/reference/command/shardCollection.txt
  content/manual/upcoming/source/reference/method/sh.shardCollection.txt
  content/manual/upcoming/source/release-notes/8.0.txt
Labels: Manual

DOCSP-50630 forwardport numInitialChunks Removal (#12356) (#12366)
  content/manual/manual/source/core/sharding-data-partitioning.txt
  content/manual/manual/source/reference/command/shardCollection.txt
  content/manual/manual/source/reference/method/sh.shardCollection.txt
  content/manual/manual/source/release-notes/8.0.txt
Labels: Manual

V1.26.1 (#999)
  .gitmodules
  build.sh
  netlify.toml
  source/configure.txt
  source/configure/autocomplete.txt
  source/configure/configuration-file.txt
  source/configure/environment-variables.txt
  source/configure/go-template-output.txt
  source/index.txt
  source/install.txt
  source/install/compatibility.txt
  source/quick-start.txt
  source/quick-start/atlas.txt
  source/quick-start/cloudmgr.txt
  source/quick-start/opsmgr.txt
  source/reference.txt
  source/reference/json-path.txt
  source/reference/mms-cluster-settings-file.txt
  source/release-notes.txt
  source/third-party-licenses.txt
  source/troubleshooting.txt
Labels: none

No Index V1.27.0 (#1000)
  .gitmodules
  build.sh
  netlify.toml
Labels: none

NO INDEX V1.25.0 (#998)
  .gitmodules
  build.sh
  netlify.toml
  source/configure.txt
  source/configure/autocomplete.txt
  source/configure/configuration-file.txt
  source/configure/environment-variables.txt
  source/configure/go-template-output.txt
  source/index.txt
  source/install.txt
  source/install/compatibility.txt
  source/quick-start.txt
  source/quick-start/atlas.txt
  source/quick-start/cloudmgr.txt
  source/quick-start/opsmgr.txt
  source/reference.txt
  source/reference/json-path.txt
  source/reference/mms-cluster-settings-file.txt
  source/release-notes.txt
  source/third-party-licenses.txt
  source/troubleshooting.txt
Labels: none

V1.24.1 (#997)
  .gitmodules
  build.sh
  netlify.toml
  source/configure.txt
  source/configure/autocomplete.txt
  source/configure/configuration-file.txt
  source/configure/environment-variables.txt
  source/configure/go-template-output.txt
  source/index.txt
  source/install.txt
  source/install/compatibility.txt
  source/quick-start.txt
  source/quick-start/atlas.txt
  source/quick-start/cloudmgr.txt
  source/quick-start/opsmgr.txt
  source/reference.txt
  source/reference/json-path.txt
  source/reference/mms-cluster-settings-file.txt
  source/release-notes.txt
  source/third-party-licenses.txt
  source/troubleshooting.txt
Labels: none

edit
  source/mapping-rules/edit-rules.txt
Labels: none

DOCSP-49411-schema-validation-example (#12166)
  content/manual/upcoming/source/core/schema-validation.txt
  content/manual/upcoming/source/core/schema-validation/specify-validation-polymorphic-collections.txt
Labels: Manual

DOCS-17054 Fixed token name (#12352)
  content/manual/manual/source/core/oidc/workload/workload-external-provider.txt
  content/manual/manual/source/includes/oidc-azure-instructions.rst
  content/manual/upcoming/source/core/oidc/workload/workload-external-provider.txt
  content/manual/upcoming/source/includes/oidc-azure-instructions.rst
  content/manual/v7.0/source/core/oidc/workload/workload-external-provider.txt
  content/manual/v7.0/source/includes/oidc-azure-instructions.rst
Labels: Manual

DOCSP-30350 Java Write Error Page
  source/operation-error-handling.txt
Labels: none

add netlify.toml to relational-migrator
  content/relational-migrator/netlify.toml
  platform/template.toml
Labels: Platform

add quotes to rel migrator toml
  content/relational-migrator/netlify.toml
Labels: none

DOCSP-30350 add to toc tree and fix links
  source/crud.txt
  source/operation-error-handling.txt
Labels: none

DOCSP-49411-schema-validation-example (#12166) (#12371)
  content/manual/manual/source/core/schema-validation.txt
  content/manual/manual/source/core/schema-validation/specify-validation-polymorphic-collections.txt
  content/manual/v6.0/source/core/schema-validation.txt
  content/manual/v6.0/source/core/schema-validation/specify-validation-polymorphic-collections.txt
  content/manual/v7.0/source/core/schema-validation.txt
  content/manual/v7.0/source/core/schema-validation/specify-validation-polymorphic-collections.txt
Labels: Manual

DOCSP-30350 toc tree update and editing
  source/crud.txt
  source/crud/operation-error-handling.txt
Labels: none

(DOCSP-50635) Fixed a missed ref to MongoDB 8.0 not supported for Live Migration (#7311)
  source/import/c2c-pull-live-migration.txt
  source/tutorial/major-version-change.txt
Labels: none

DOCSP-30350 code blocks and update write/bulkwrite sections
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-50652-insertMany-missing-brackets (#12369)
  content/manual/upcoming/source/core/index-unique.txt
  content/manual/upcoming/source/core/indexes/index-types/index-text/specify-language-text-index/create-text-index-multiple-languages.txt
Labels: Manual

DOCSP-50608-incorrect-radix-points (#12370)
  content/manual/manual/source/includes/cqa-samplesPerSecond-limit.rst
  content/manual/upcoming/source/includes/cqa-samplesPerSecond-limit.rst
  content/manual/v7.0/source/includes/cqa-samplesPerSecond-limit.rst
Labels: Manual

Remove AAS Auth (#708)
  config/redirects
  snooty.toml
  source/configure-auth-providers.txt
  source/dashboards/view-dashboard-data/dashboard-refresh.txt
  source/embed-chart-stitch-auth.txt
  source/embedded-chart-error-codes.txt
  source/embedding-tutorials.txt
  source/filter-embedded-charts.txt
  source/filter-embedded-dashboards.txt
  source/get-started-embedding-sdk.txt
  source/includes/list-table-auth-provider-options.rst
  source/includes/list-table-realm-auth-provider-options.rst
  source/includes/steps-add-auth-providers.rst
  source/includes/steps-add-auth-stitch-tutorial.rst
  source/includes/steps-customize-anon-auth-app.yaml
  source/includes/steps-customize-realm-auth-app.yaml
  source/includes/steps-embed-chart-verified.yaml
  source/includes/steps-enable-embedding-iframe-verified.rst
  source/release-notes.txt
Labels: none

DOCSP-50652-insertMany-missing-brackets (#12369) (#12373)
  content/manual/manual/source/core/index-unique.txt
  content/manual/manual/source/core/indexes/index-types/index-text/specify-language-text-index/create-text-index-multiple-languages.txt
  content/manual/v6.0/source/core/index-unique.txt
  content/manual/v7.0/source/core/index-unique.txt
  content/manual/v7.0/source/core/indexes/index-types/index-text/specify-language-text-index/create-text-index-multiple-languages.txt
Labels: Manual

DOCSP-50649-duplicate-bulkWrite-ToC (#12372)
  content/manual/upcoming/source/reference/command/nav-administration.txt
Labels: Manual

DOCSP-30350 Updating grammar and Write/bulk Write error messages
  source/crud/operation-error-handling.txt
Labels: none

fix-6.0-schema-validation-error (#12375)
  content/manual/v6.0/source/core/schema-validation/specify-validation-polymorphic-collections.txt
Labels: Manual

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']
