Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

apply-latest-changes (#12115)
  content/manual/manual/source/reference/operator/query/and.txt
Labels: Manual

DOP-5708: Structure for `mcp-server` site (#12186)
  content/mcp-server/.gitignore
  content/mcp-server/README.md
  content/mcp-server/netlify.toml
  content/mcp-server/snooty.toml
  content/mcp-server/source/configuration.txt
  content/mcp-server/source/examples.txt
  content/mcp-server/source/includes/stub_required.txt
  content/mcp-server/source/index.txt
  content/mcp-server/source/tools.txt
  content/mcp-server/worker.sh
  platform/template/.gitignore
  platform/template/README.md
  platform/template/netlify.toml
  platform/template/snooty.toml
  platform/template/source/index.txt
  platform/template/worker.sh
Labels: Platform

DOCSP-49904 update repetitive OIDC paths (#12183)
  content/manual/manual/snooty.toml
  content/manual/manual/source/core/oidc/security-oidc.txt
  content/manual/manual/source/core/oidc/workforce.txt
  content/manual/manual/source/core/oidc/workload.txt
  content/manual/upcoming/snooty.toml
  content/manual/upcoming/source/core/oidc/security-oidc.txt
  content/manual/upcoming/source/core/oidc/workforce.txt
  content/manual/upcoming/source/core/oidc/workload.txt
  content/manual/v7.0/snooty.toml
  content/manual/v7.0/source/core/oidc/security-oidc.txt
  content/manual/v7.0/source/core/oidc/workforce.txt
  content/manual/v7.0/source/core/oidc/workload.txt
Labels: Manual

DOCSP-24271-add-insert-schools (#12104) (#12175)
  content/manual/manual/source/core/dot-dollar-considerations/dollar-prefix.txt
  content/manual/manual/source/reference/operator/projection/elemMatch.txt
  content/manual/v7.0/source/core/dot-dollar-considerations/dollar-prefix.txt
  content/manual/v7.0/source/reference/operator/projection/elemMatch.txt
Labels: Manual

(DOCSP-46384) Fix repetitive path in Atlas (#7261)
  config/redirects
  source/atlas-search/changelog.txt
  source/atlas-vector-search/changelog.txt
  source/release-notes.txt
  source/release-notes/changelog.txt
  source/release-notes/data-federation.txt
Labels: none

DOCSP-49051-fix-stale-data-source (#7263)
  source/includes/ai-integrations/llamaindex/llamaindex-create-vector-store.rst
  source/includes/ai-integrations/llamaindex/llamaindex-perform-qa.rst
  source/includes/ai-integrations/llamaindex/llamaindex-query-examples.rst
Labels: none

DOCSP-50301: use client bw in write landing pg (#259)
  source/includes/usage-examples/write-code-examples.php
  source/write.txt
Labels: none

DOCSP-50301: use client bw in write landing pg (#259)
  source/includes/usage-examples/write-code-examples.php
  source/write.txt
Labels: none

[DOCSP-50122] fix: Duplicate titles on charts (#703)
  source/embedded-dashboard-options.txt
  source/embedded-dashboards-options/embedded-sdk.txt
  source/embedded-dashboards-options/iframe.txt
  source/tutorial/movie-details/create-dashboard.txt
  source/tutorial/movie-details/movie-details-tutorial-overview.txt
  source/tutorial/movie-details/prereqs-and-import-data.txt
  source/tutorial/order-data/create-new-dashboard.txt
  source/tutorial/order-data/order-data-tutorial-overview.txt
  source/tutorial/order-data/prerequisites-setup.txt
Labels: none

DOCSP-48447-fixed-external-404 (#7245)
  source/billing/international-usage.txt
  source/reference/mongomirror-old-versions.txt
  source/security-multi-factor-authentication.txt
Labels: none

DOCSP-50071-noindex-submodules
  source/configure.txt
  source/configure/autocomplete.txt
  source/configure/configuration-file.txt
  source/configure/environment-variables.txt
  source/configure/go-template-output.txt
  source/index.txt
  source/install.txt
  source/install/compatibility.txt
  source/quick-start.txt
  source/quick-start/atlas.txt
  source/quick-start/cloudmgr.txt
  source/quick-start/opsmgr.txt
  source/reference.txt
  source/reference/json-path.txt
  source/reference/mms-cluster-settings-file.txt
  source/release-notes.txt
  source/third-party-licenses.txt
  source/troubleshooting.txt
Labels: none

(DOCSP-50283) Fix misleading admonition. (#170)
  source/includes/api/facts/raw-document-differs.rst
  source/includes/api/list-tables/events/query-params/get-one.rst
  source/includes/api/list-tables/events/responses/orgs-cloud.rst
  source/includes/api/list-tables/events/responses/orgs-onprem.rst
  source/includes/api/list-tables/events/responses/projects-cloud.rst
  source/includes/api/list-tables/events/responses/projects-onprem.rst
  source/reference/api/events/get-all-events-for-org.txt
  source/reference/api/events/get-all-events-for-project.txt
Labels: none

(DOCSP-50283) Fix misleading admonition. (#864)
  source/includes/api/facts/raw-document-differs.rst
  source/includes/api/list-tables/events/query-params/get-one.rst
  source/includes/api/list-tables/events/responses/orgs-cloud.rst
  source/includes/api/list-tables/events/responses/orgs-onprem.rst
  source/includes/api/list-tables/events/responses/projects-cloud.rst
  source/includes/api/list-tables/events/responses/projects-onprem.rst
  source/reference/api/events/get-all-events-for-org.txt
  source/reference/api/events/get-all-events-for-project.txt
Labels: none

(DOCSP-50283) Fix misleading admonition. (#7256)
  source/includes/api/facts/raw-document-differs.rst
  source/includes/api/list-tables/requests/events-query-parameters-get-all.rst
  source/includes/list-table-events-response-document.rst
Labels: none

(DOCSP-50283) Fix misleading admonition.-v8.0-backport (864) (#867)
  source/includes/api/facts/raw-document-differs.rst
  source/includes/api/list-tables/events/query-params/get-one.rst
  source/includes/api/list-tables/events/responses/orgs-cloud.rst
  source/includes/api/list-tables/events/responses/orgs-onprem.rst
  source/includes/api/list-tables/events/responses/projects-cloud.rst
  source/includes/api/list-tables/events/responses/projects-onprem.rst
  source/reference/api/events/get-all-events-for-org.txt
  source/reference/api/events/get-all-events-for-project.txt
Labels: none

(DOCSP-50283) Fix misleading admonition.-v7.0-backport (864) (#868)
  source/includes/api/facts/raw-document-differs.rst
  source/includes/api/list-tables/events/query-params/get-one.rst
  source/includes/api/list-tables/events/responses/orgs-cloud.rst
  source/includes/api/list-tables/events/responses/orgs-onprem.rst
  source/includes/api/list-tables/events/responses/projects-cloud.rst
  source/includes/api/list-tables/events/responses/projects-onprem.rst
  source/reference/api/events/get-all-events-for-org.txt
  source/reference/api/events/get-all-events-for-project.txt
Labels: none

(DOCSP-49561) small resource policy code fix (#7266)
  source/includes/example-resource-policies-ui.rst
Labels: none

apply-latest-changes (#12115) (#12195)
  content/manual/upcoming/source/reference/operator/query/and.txt
Labels: Manual

DOP-5542-c remove all redirects files (#12199)
  content/cluster-to-cluster-sync/current/config/redirects
  content/cluster-to-cluster-sync/v0.9/config/redirects
  content/cluster-to-cluster-sync/v1.10/config/redirects
  content/cluster-to-cluster-sync/v1.11/config/redirects
  content/cluster-to-cluster-sync/v1.12/config/redirects
  content/cluster-to-cluster-sync/v1.7/config/redirects
  content/cluster-to-cluster-sync/v1.8/config/redirects
  content/cluster-to-cluster-sync/v1.9/config/redirects
  content/database-tools/config/redirects
  content/database-tools/netlify.toml
  content/manual/manual/config/redirects
  content/manual/manual/netlify.toml
  content/manual/upcoming/config/redirects
  content/manual/v5.0/config/redirects
  content/manual/v6.0/config/redirects
  content/manual/v7.0/config/redirects
Labels: C2C, Manual, Database Tools

DOCSP-46797 Removes M2 and M5 from docs (#12168)
  content/manual/upcoming/source/administration/analyzing-mongodb-performance.txt
  content/manual/upcoming/source/core/transactions.txt
  content/manual/upcoming/source/includes/aggregation/agg-userroles-restrictions.rst
  content/manual/upcoming/source/includes/fact-environments-atlas-support-limited-free-and-m10.rst
  content/manual/upcoming/source/includes/fact-environments-atlas-support-limited-free.rst
  content/manual/upcoming/source/includes/fact-environments-atlas-support-no-free-or-m10.rst
  content/manual/upcoming/source/includes/fact-environments-atlas-support-no-free-or-serverless.rst
  content/manual/upcoming/source/includes/fact-environments-atlas-support-no-free.rst
  content/manual/upcoming/source/includes/fact-limited-support-free-or-flex.rst
  content/manual/upcoming/source/includes/fact-no-support-free-flex-or-m10.rst
  content/manual/upcoming/source/includes/fact-no-support-free-flex-or-serverless.rst
  content/manual/upcoming/source/includes/fact-no-support-free-or-flex.rst
  content/manual/upcoming/source/reference/command.txt
  content/manual/upcoming/source/reference/glossary.txt
  content/manual/upcoming/source/reference/limits.txt
Labels: Manual

(DOCSP-46424) Includes. (#865)
  source/reference/config/ui-settings.txt
Labels: none

Remove stray line added by backport conflict
  content/manual/upcoming/source/core/dot-dollar-considerations/dollar-prefix.txt
Labels: Manual

fix incorrect redirect syntax (#171)
  config/redirects
Labels: none

DOP-5542-C Remove extraneous tomls, add template (#12205)
  content/cluster-to-cluster-sync/current/netlify.toml
  content/cluster-to-cluster-sync/netlify.toml
  content/cluster-to-cluster-sync/v1.10/netlify.toml
  content/cluster-to-cluster-sync/v1.11/netlify.toml
  content/cluster-to-cluster-sync/v1.12/netlify.toml
  content/cluster-to-cluster-sync/v1.7/netlify.toml
  content/cluster-to-cluster-sync/v1.8/netlify.toml
  content/cluster-to-cluster-sync/v1.9/netlify.toml
  content/database-tools/netlify.toml
  content/manual/netlify.toml
  content/manual/upcoming/netlify.toml
  content/manual/v4.4/netlify.toml
  content/manual/v5.0/netlify.toml
  content/manual/v6.0/netlify.toml
  content/manual/v7.0/netlify.toml
  platform/template.toml
Labels: C2C, Manual, Database Tools, Platform

DOCSP-49905: Update Internal Links (#12197)
  content/database-tools/source/index.txt
Labels: Database Tools

DOCSP-50089-clarifying-chainingAllowed-and-secondary-replication (#12098) (#12191)
  content/manual/manual/source/includes/extracts-syncFrom.yaml
  content/manual/manual/source/reference/replica-configuration.txt
  content/manual/v6.0/source/includes/extracts-syncFrom.yaml
  content/manual/v6.0/source/reference/replica-configuration.txt
  content/manual/v7.0/source/includes/extracts-syncFrom.yaml
  content/manual/v7.0/source/reference/replica-configuration.txt
Labels: Manual

DOCSP-49383-timeseries-update (#12187)
  content/manual/manual/source/includes/time-series/timeseries-timeField-deprecated.rst
  content/manual/upcoming/source/includes/time-series/timeseries-timeField-deprecated.rst
Labels: Manual

DOCSP-50011-reduce-EOL-tools-extracts (#12176)
  content/database-tools/source/includes/extracts-version.yaml
Labels: Database Tools

DOCSP-49568 Find Slow Queries with Profiler (#11900)
  content/manual/upcoming/source/administration/query.txt
  content/manual/upcoming/source/tutorial/find-slow-queries-with-database-profiler.txt
  content/manual/upcoming/source/tutorial/manage-the-database-profiler.txt
Labels: Manual

DOCSP-44254-2-adding-new-atlas-glossary-terms (#12206)
  content/manual/upcoming/source/reference/glossary.txt
Labels: Manual

Dop 5542 c (#12215)
  content/cluster-to-cluster-sync/netlify.toml
Labels: C2C

Update changelogs for 2.3.5, 2.3.6, 2.3.7 (#373)
  source/changelog.txt
Labels: none

(DOCSP-47683) Add ref to landing page. (#7269)
  source/billing/aws-self-serve-marketplace.txt
  source/billing/azure-self-serve-marketplace.txt
  source/billing/gcp-self-serve-marketplace.txt
  source/security/cloud-provider-access.txt
Labels: none

DOCSP-44254-2-adding-new-atlas-glossary-terms (#12206) (#12216)
  content/manual/manual/source/reference/glossary.txt
Labels: Manual

(DOCSP-47439) Add "pipeline". (#7270)
  source/atlas-stream-processing/sp-agg-merge.txt
Labels: none

DOCSP-49453-clarify-insufficient-index-behavior (#7268)
  source/includes/fact-online-archive-index-sufficiency-warning.rst
Labels: none

(DOCSP-46382) Fixes external 404s (#169)
  snooty.toml
  source/core/two-factor-authentication.txt
  source/includes/fact-PKCS8-not-supported.rst
  source/includes/fact-PKCS8-private-key.rst
  source/includes/steps-configure-existing-deployment-for-x509.rst
  source/includes/steps-manage-domain-mapping.rst
  source/includes/steps-two-factor-auth-configure-authenticator.yaml
  source/security/manage-idps.txt
Labels: none

Docsp 50150 charts update (#7265)
  source/atlas-ui.txt
Labels: none

DOCSP-50015-reduce-EOL-version-mentions (#12173)
  content/manual/upcoming/source/core/retryable-reads.txt
  content/manual/upcoming/source/includes/extracts-changestream.yaml
  content/manual/upcoming/source/includes/extracts-client-side-field-level-encryption.yaml
  content/manual/upcoming/source/includes/fact-platform-arm64.rst
  content/manual/upcoming/source/includes/fact-platform-ppc64le.rst
  content/manual/upcoming/source/includes/fact-platform-s390x-community.rst
  content/manual/upcoming/source/includes/fact-platform-s390x-enterprise.rst
  content/manual/upcoming/source/includes/list-table-featureCompatibilityVersion-defaults.rst
  content/manual/upcoming/source/reference/command/setFeatureCompatibilityVersion.txt
  content/manual/upcoming/source/reference/method/Mongo.watch.txt
Labels: Manual

change-backport-file (#12227)
  content/manual/.backportrc.json
Labels: Manual

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']
