Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Architecture, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, C Driver, Charts, Cloud Manager, Code Examples Tested, Compass, CPP Driver, CSharp, Database Tools, Datalake, Django, Docs Platform, Drivers Ecosystem, Entity Framework, Golang, Guides, Java RS, Java, Kafka Connector, Kotlin Sync, Kotlin, Kubernetes, Kubernetes Operator, Landing, Laravel, Manual, MCP Server, Meta, Mongo Cli, Analyzer, Platform, IntelliJ, Mongosh, VSCode, Mongo ID, Mongo Sync, Node, Ops Manager, PHP Library, Pymongo Arrow Driver, Pymongo Driver, Relational Migrator, Ruby Driver, Rust, Scala Driver, Spark Connector, Table of Contents, Tutorials

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Architecture:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-architecture/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

C Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/c-driver/**']

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

Code Examples Tested:
  - changed-files:
    - any-glob-to-any-file: ['content/code-examples/tested**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

CPP Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/cpp-driver/**']

CSharp:
  - changed-files:
    - any-glob-to-any-file: ['content/csharp/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Django:
  - changed-files:
    - any-glob-to-any-file: ['content/django-mongodb/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Drivers Ecosystem:
  - changed-files:
    - any-glob-to-any-file: ['content/drivers/**']

Entity Framework:
  - changed-files:
    - any-glob-to-any-file: ['content/entity-framework/**']

Golang:
  - changed-files:
    - any-glob-to-any-file: ['content/golang/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Java RS:
  - changed-files:
    - any-glob-to-any-file: ['content/java-rs/**']

Java:
  - changed-files:
    - any-glob-to-any-file: ['content/java/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kotlin Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin-sync/**']

Kotlin:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Landing:
  - changed-files:
    - any-glob-to-any-file: ['content/landing/**']

Laravel:
  - changed-files:
    - any-glob-to-any-file: ['content/laravel-mongodb/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongocli/**']

Analyzer:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-analyzer/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Mongo ID:
  - changed-files:
    - any-glob-to-any-file: ['content/mongoid/**']

Mongo Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/mongosync/**']
  
Node:
  - changed-files:
    - any-glob-to-any-file: ['content/node/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

PHP Library:
  - changed-files:
    - any-glob-to-any-file: ['content/php-library/**']

Pymongo Arrow Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-arrow-driver/**']

Pymongo Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-driver/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']

Ruby Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/ruby-driver/**']

Rust:
  - changed-files:
    - any-glob-to-any-file: ['content/rust/**']

Scala Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/scala-driver/**']

Spark Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/spark-connector/**']

Table of Contents:
  - changed-files:
    - any-glob-to-any-file: ['content/table-of-contents/**']

Tutorials:
  - changed-files:
    - any-glob-to-any-file: ['content/tutorials/**']

(DOCSP-52466) moves feature to ga and addresses confusion for regions (#13511)
  content/atlas/source/reference/microsoft-azure.txt
  content/atlas/source/reference/partner-integrations/azure.txt
Labels: Atlas

(DOCSP-44498) Refactor procedure (#13387)
  content/atlas-operator/upcoming/source/ak8so-for-gov.txt
  content/atlas-operator/upcoming/source/atlasdatafederation-custom-resource.txt
  content/atlas-operator/v2.5/source/ak8so-unified-access.txt
Labels: Atlas Operator

DOCSP-52610-8.1.3-release-notes (#13601)
  content/manual/upcoming/source/includes/changelogs/releases/8.1.3.rst
  content/manual/upcoming/source/release-notes/8.1-changelog.txt
  content/manual/upcoming/source/release-notes/8.1.txt
Labels: Manual

DOCSP-52484: Restore driver server version mentions for v4.2+ (#13646)
  content/kotlin/upcoming/source/fundamentals/builders/aggregates.txt
  content/kotlin/upcoming/source/fundamentals/builders/projections.txt
  content/kotlin/upcoming/source/fundamentals/connection/network-compression.txt
  content/kotlin/upcoming/source/fundamentals/crud/read-operations/sort.txt
  content/kotlin/upcoming/source/fundamentals/indexes.txt
  content/kotlin/upcoming/source/fundamentals/stable-api.txt
  content/kotlin/upcoming/source/fundamentals/time-series.txt
  content/kotlin/upcoming/source/includes/mongodb-compatibility-table-kotlin.rst
  content/kotlin/upcoming/source/usage-examples/count.txt
Labels: Kotlin

(DOCSP-50832): Update GCP KMS procedure to use improved auth mechanism (#12815)
  content/atlas/source/includes/steps-configure-gcp-encryption-for-project.rst
Labels: Atlas

DOCSP-52222: Add back server v4.2 mentions (#13648)
  content/spark-connector/upcoming/source/includes/list-prerequisites.rst
  content/spark-connector/upcoming/source/index.txt
Labels: Spark Connector

DOCSP-52266-client-auth-failure (#13306)
  content/c-driver/upcoming/source/connect/tls.txt
  content/c-driver/upcoming/source/includes/connect/manage-imported-keys.ps1
Labels: C Driver

DOCSP-52727-8.0.13-release-notes (#13599) (#13662)
  content/manual/manual/source/includes/changelogs/releases/8.0.13.rst
  content/manual/manual/source/release-notes/8.0-changelog.txt
  content/manual/manual/source/release-notes/8.0.txt
  content/manual/rapid/source/includes/changelogs/releases/8.0.13.rst
  content/manual/rapid/source/release-notes/8.0-changelog.txt
  content/manual/rapid/source/release-notes/8.0.txt
Labels: Manual

DOCSP-52610-8.1.3-release-notes (#13601) (#13663)
  content/manual/rapid/source/includes/changelogs/releases/8.1.3.rst
  content/manual/rapid/source/release-notes/8.1-changelog.txt
  content/manual/rapid/source/release-notes/8.1.txt
Labels: Manual

DOCSP-52675: Arrow v1.10 (#13598)
  content/pymongo-arrow-driver/netlify.toml
  content/pymongo-arrow-driver/upcoming/snooty.toml
  content/pymongo-arrow-driver/upcoming/source/whats-new.txt
  content/pymongo-arrow-driver/v1.9/.github/pull_request_template.md
  content/pymongo-arrow-driver/v1.9/.github/workflows/add-netlify-links.yml
  content/pymongo-arrow-driver/v1.9/.github/workflows/backport.yml
  content/pymongo-arrow-driver/v1.9/.github/workflows/vale-tdbx.yml
  content/pymongo-arrow-driver/v1.9/.gitignore
  content/pymongo-arrow-driver/v1.9/README.rst
  content/pymongo-arrow-driver/v1.9/snooty.toml
  content/pymongo-arrow-driver/v1.9/source/comparison.txt
  content/pymongo-arrow-driver/v1.9/source/data-types.txt
  content/pymongo-arrow-driver/v1.9/source/facets.toml
  content/pymongo-arrow-driver/v1.9/source/faq.txt
  content/pymongo-arrow-driver/v1.9/source/index.txt
  content/pymongo-arrow-driver/v1.9/source/installation.txt
  content/pymongo-arrow-driver/v1.9/source/previous-versions.txt
  content/pymongo-arrow-driver/v1.9/source/quick-start.txt
  content/pymongo-arrow-driver/v1.9/source/schemas.txt
  content/pymongo-arrow-driver/v1.9/source/whats-new.txt
Labels: Pymongo Arrow Driver

DOCSP-52266-client-auth-failure-main-backport (13306) (#13673)
  content/c-driver/current/source/connect/tls.txt
  content/c-driver/current/source/includes/connect/manage-imported-keys.ps1
  content/c-driver/v1.29/source/connect/tls.txt
  content/c-driver/v1.29/source/includes/connect/manage-imported-keys.ps1
  content/c-driver/v1.30/source/connect/tls.txt
  content/c-driver/v1.30/source/includes/connect/manage-imported-keys.ps1
Labels: C Driver

DOCSP-52909-remove-info-on-method-for-server-crash-from-docs (#13666)
  content/manual/manual/source/core/timeseries-collections.txt
  content/manual/manual/source/core/views.txt
  content/manual/manual/source/includes/database-profiler-note.rst
  content/manual/manual/source/reference/database-profiler.txt
  content/manual/manual/source/tutorial/manage-the-database-profiler.txt
Labels: Manual

DOCSP-52697 Typo normalPriority.addedToQueue (#13643)
  content/manual/upcoming/source/reference/command/serverStatus.txt
Labels: Manual

DOCSP-52336-add-npx-commands (#13383)
  content/mcp-server/source/configuration.txt
Labels: MCP Server

DOCSP-52730-update-versioning-page (#13585)
  content/manual/upcoming/source/reference/command/setFeatureCompatibilityVersion.txt
  content/manual/upcoming/source/reference/versioning.txt
  content/manual/upcoming/source/release-notes/7.0.txt
  content/manual/upcoming/source/release-notes/8.0.txt
Labels: Manual

(DOCSP-52097) Compacting delete setting (#13621)
  content/atlas/source/atlas-stream-processing/sp-agg-emit.txt
Labels: Atlas

(DOCSP-46484) First draft (#13262)
  content/atlas/source/atlas-stream-processing/atlas-connection.txt
  content/atlas/source/includes/procedures/atlas-sp-add-atlas-connection-ui.rst
Labels: Atlas

DOCSP-48451-c-value-validation-for-update-command (#13623)
  content/manual/upcoming/source/reference/command/update.txt
Labels: Manual

DOCSP-52697 Typo normalPriority.addedToQueue (#13643) (#13680)
  content/manual/manual/source/reference/command/serverStatus.txt
  content/manual/rapid/source/reference/command/serverStatus.txt
Labels: Manual

Solution Library Update: Agentic AI-Powered Investment Portfolio Management (#13589)
  content/atlas-architecture/current/source/includes/images/industry-solutions/fin-services-Loaders-arch.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/fin-services-agents-arch.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/fin-services-high-level-arch.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/fin-services-mcp-arch.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/fin-services-reAct-chatbot-arch.svg
  content/atlas-architecture/current/source/solutions-library/fin-services-agentic-portfolio.txt
Labels: Atlas Architecture

DOCSP-51702-fraud-detection-accelerator-AWS (#13618)
  content/atlas-architecture/current/source/solutions-library/fraud-detection-accelerator.txt
Labels: Atlas Architecture

DOCSP-52770 Typo in fsync Behavior Intro (#13644)
  content/manual/upcoming/source/includes/extracts-wired-tiger-base.yaml
Labels: Manual

DOCSP-49430-numInitialChunks-has-no-effect-when-hashed-key (#13627)
  content/manual/upcoming/source/core/reshard-to-same-key.txt
  content/manual/upcoming/source/includes/fact-resharding-if-key-is-hashed.rst
  content/manual/upcoming/source/reference/change-events/reshardCollection.txt
  content/manual/upcoming/source/reference/command/reshardCollection.txt
  content/manual/upcoming/source/reference/method/sh.reshardCollection.txt
  content/manual/upcoming/source/reference/method/sh.shardAndDistributeCollection.txt
  content/manual/upcoming/source/tutorial/resharding-back-to-same-key.txt
  content/manual/upcoming/source/tutorial/resharding-for-adding-and-removing-shards.txt
Labels: Manual

DOCSP-52562-convert-composable-tutorial (#13660)
  content/pymongo-driver/upcoming/snooty.toml
  content/pymongo-driver/upcoming/source/includes/authentication/kerberos-intro.rst
  content/pymongo-driver/upcoming/source/includes/authentication/unix-kerberos.rst
  content/pymongo-driver/upcoming/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/upcoming/source/security/authentication/kerberos.txt
Labels: Pymongo Driver

New solutions library asset - Unified Commerce (#13591)
  content/atlas-architecture/current/source/includes/images/industry-solutions/unified-commerce-architecture.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/unified-commerce-document.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/unified-commerce-essentials.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/unified-commerce-product.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/unified-commerce-search.svg
  content/atlas-architecture/current/source/includes/images/industry-solutions/unified-commerce-strategy.svg
  content/atlas-architecture/current/source/solutions-library.txt
  content/atlas-architecture/current/source/solutions-library/retail-case-in-store-omnichannel.txt
  content/atlas-architecture/current/source/solutions-library/unified-commerce.txt
Labels: Atlas Architecture

DOCSP-52699 Fixes typo in serverStatus (#13647)
  content/manual/upcoming/source/includes/7.0-concurrent-transactions.rst
Labels: Manual

Revert "(DOCSP-50832): Update GCP KMS procedure to use improved auth mechanis…" (#13700)
  content/atlas/source/includes/steps-configure-gcp-encryption-for-project.rst
Labels: Atlas

DOCSP-48586 Remove disableJavaScriptJIT Parameter (#13654)
  content/manual/upcoming/source/reference/parameters.txt
Labels: Manual

DOCSP-52699 Fixes typo in serverStatus (#13647) (#13696)
  content/manual/manual/source/includes/7.0-concurrent-transactions.rst
  content/manual/rapid/source/includes/7.0-concurrent-transactions.rst
  content/manual/v7.0/source/includes/7.0-concurrent-transactions.rst
Labels: Manual

DOCSP-52770 Typo in fsync Behavior Intro (#13644) (#13686)
  content/manual/manual/source/includes/extracts-wired-tiger-base.yaml
  content/manual/rapid/source/includes/extracts-wired-tiger-base.yaml
  content/manual/v6.0/source/includes/extracts-wired-tiger-base.yaml
  content/manual/v7.0/source/includes/extracts-wired-tiger-base.yaml
Labels: Manual

DOCSP-52927 Fix links to empty drawer page and add no index metadata (#13689)
  content/pymongo-driver/current/source/connect/mongoclient.txt
  content/pymongo-driver/current/source/data-formats.txt
  content/pymongo-driver/current/source/data-formats/custom-types.txt
  content/pymongo-driver/upcoming/source/connect/mongoclient.txt
  content/pymongo-driver/upcoming/source/data-formats.txt
  content/pymongo-driver/upcoming/source/data-formats/custom-types.txt
  content/pymongo-driver/v4.10/source/connect/mongoclient.txt
  content/pymongo-driver/v4.10/source/data-formats.txt
  content/pymongo-driver/v4.10/source/data-formats/custom-types.txt
  content/pymongo-driver/v4.11/source/connect/mongoclient.txt
  content/pymongo-driver/v4.11/source/data-formats.txt
  content/pymongo-driver/v4.11/source/data-formats/custom-types.txt
  content/pymongo-driver/v4.12/source/connect/mongoclient.txt
  content/pymongo-driver/v4.12/source/data-formats.txt
  content/pymongo-driver/v4.12/source/data-formats/custom-types.txt
  content/pymongo-driver/v4.7/source/connect/mongoclient.txt
  content/pymongo-driver/v4.7/source/data-formats.txt
  content/pymongo-driver/v4.7/source/data-formats/custom-types.txt
  content/pymongo-driver/v4.8/source/connect/mongoclient.txt
  content/pymongo-driver/v4.8/source/data-formats.txt
  content/pymongo-driver/v4.8/source/data-formats/custom-types.txt
  content/pymongo-driver/v4.9/source/connect/mongoclient.txt
  content/pymongo-driver/v4.9/source/data-formats.txt
  content/pymongo-driver/v4.9/source/data-formats/custom-types.txt
Labels: Pymongo Driver

DOCSP-52909-main-backport (#13681)
  content/manual/rapid/source/core/timeseries-collections.txt
  content/manual/rapid/source/core/views.txt
  content/manual/rapid/source/includes/database-profiler-note.rst
  content/manual/rapid/source/reference/database-profiler.txt
  content/manual/rapid/source/tutorial/manage-the-database-profiler.txt
  content/manual/upcoming/source/core/timeseries-collections.txt
  content/manual/upcoming/source/core/views.txt
  content/manual/upcoming/source/includes/database-profiler-note.rst
  content/manual/upcoming/source/reference/database-profiler.txt
  content/manual/upcoming/source/tutorial/manage-the-database-profiler.txt
  content/manual/v6.0/source/core/timeseries-collections.txt
  content/manual/v6.0/source/core/views.txt
  content/manual/v6.0/source/includes/database-profiler-note.rst
  content/manual/v6.0/source/reference/database-profiler.txt
  content/manual/v6.0/source/tutorial/manage-the-database-profiler.txt
  content/manual/v7.0/source/core/timeseries-collections.txt
  content/manual/v7.0/source/core/views.txt
  content/manual/v7.0/source/includes/database-profiler-note.rst
  content/manual/v7.0/source/reference/database-profiler.txt
  content/manual/v7.0/source/tutorial/manage-the-database-profiler.txt
Labels: Manual

(DOCSP-52152): Java Sync Driver: Time series Quick Start tested examples (#13664)
  code-example-tests/java/driver-sync/src/main/java/aggregation/pipelines/AggTutorial.java
  code-example-tests/java/driver-sync/src/main/java/timeseries/QuickStart/MetaFieldOutput.txt
  code-example-tests/java/driver-sync/src/main/java/timeseries/QuickStart/TimeFieldOutput.txt
  code-example-tests/java/driver-sync/src/main/java/timeseries/QuickStart/Tutorial.java
  code-example-tests/java/driver-sync/src/main/java/timeseries/SampleApp.java
  code-example-tests/java/driver-sync/src/test/java/timeseries/TimeSeriesTests.java
  content/code-examples/tested/java/driver-sync/aggregation/pipelines/AggTutorial.snippet.example.java
  content/code-examples/tested/java/driver-sync/timeseries/QuickStart/MetaFieldOutput.txt
  content/code-examples/tested/java/driver-sync/timeseries/QuickStart/TimeFieldOutput.txt
  content/code-examples/tested/java/driver-sync/timeseries/QuickStart/Tutorial.snippet.collection-options.java
  content/code-examples/tested/java/driver-sync/timeseries/QuickStart/Tutorial.snippet.create-collection.java
  content/code-examples/tested/java/driver-sync/timeseries/QuickStart/Tutorial.snippet.create-db.java
  content/code-examples/tested/java/driver-sync/timeseries/QuickStart/Tutorial.snippet.load-sample-data.java
  content/code-examples/tested/java/driver-sync/timeseries/QuickStart/Tutorial.snippet.metafield-query.java
  content/code-examples/tested/java/driver-sync/timeseries/QuickStart/Tutorial.snippet.required-imports.java
  content/code-examples/tested/java/driver-sync/timeseries/QuickStart/Tutorial.snippet.timefield-query.java
  content/code-examples/tested/java/driver-sync/timeseries/SampleApp.snippet.example.java
  content/manual/manual/source/core/timeseries/timeseries-quick-start.txt
  content/manual/manual/source/includes/steps-ts-quick-start-java-sync.rst
  content/manual/rapid/source/core/timeseries/timeseries-quick-start.txt
  content/manual/rapid/source/includes/steps-ts-quick-start-java-sync.rst
  content/manual/upcoming/source/core/timeseries/timeseries-quick-start.txt
  content/manual/upcoming/source/includes/steps-ts-quick-start-java-sync.rst
Labels: Manual

(DOCSP-51188): Add mongosh code example test suite (#13697)
  .github/workflows/mongosh-examples-test-in-docker.yml
  code-example-tests/command-line/mongosh/.gitignore
  code-example-tests/command-line/mongosh/README.md
  code-example-tests/command-line/mongosh/examples/aggregation/pipelines/filter/load-data.js
  code-example-tests/command-line/mongosh/examples/aggregation/pipelines/filter/output.sh
  code-example-tests/command-line/mongosh/examples/aggregation/pipelines/filter/run-pipeline.js
  code-example-tests/command-line/mongosh/package-lock.json
  code-example-tests/command-line/mongosh/package.json
  code-example-tests/command-line/mongosh/snip.js
  code-example-tests/command-line/mongosh/tests/aggregation/pipelines/tutorials.test.js
  code-example-tests/command-line/mongosh/utils/makeTempFileForTesting.js
  code-example-tests/command-line/mongosh/utils/unorderedOutputArrayMatches.js
  content/code-examples/tested/command-line/mongosh/aggregation/pipelines/filter/load-data.js
  content/code-examples/tested/command-line/mongosh/aggregation/pipelines/filter/output.sh
  content/code-examples/tested/command-line/mongosh/aggregation/pipelines/filter/run-pipeline.js
  content/manual/manual/source/includes/aggregation/aggregation-examples/filtered-subset/mongosh-filtered-subset.rst
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/filtered-subset/mongosh-filtered-subset.rst
Labels: Manual

DOCSP-45792: Python Landing Page (#13676)
  content/drivers/netlify.toml
  content/landing/source/languages/python.txt
Labels: Drivers Ecosystem, Landing

DOCSP-52002-restrict-rankFusion-error-2 (#13645)
  content/manual/upcoming/source/reference/operator/aggregation/rankFusion.txt
  content/manual/upcoming/source/release-notes/8.2-compatibility.txt
Labels: Manual

Fix bad copy paste to improve NotebookLM responses (#13703)
  code-example-tests/command-line/mongosh/README.md
Labels: none

DOP-6084: Nextjs Add global dark mode css vars (#13677)
  platform/docs-nextjs/src/app/layout.tsx
  platform/docs-nextjs/src/styles/fonts/EuclidCircularA-Semibold-WebXL.woff
  platform/docs-nextjs/src/styles/fonts/MMSIcons-Regular.ttf
  platform/docs-nextjs/src/styles/fonts/MMSIcons-Regular.woff
  platform/docs-nextjs/src/styles/fonts/MMSIcons-Regular.woff2
  platform/docs-nextjs/src/styles/fonts/MMSOrgIcons-Regular.ttf
  platform/docs-nextjs/src/styles/fonts/MMSOrgIcons-Regular.woff
  platform/docs-nextjs/src/styles/fonts/MMSOrgIcons-Regular.woff2
  platform/docs-nextjs/src/styles/fonts/charts.ttf
  platform/docs-nextjs/src/styles/fonts/charts.woff
  platform/docs-nextjs/src/styles/fonts/charts.woff2
  platform/docs-nextjs/src/styles/fonts/fontawesome4-webfont.ttf
  platform/docs-nextjs/src/styles/fonts/fontawesome4-webfont.woff
  platform/docs-nextjs/src/styles/fonts/fontawesome4-webfont.woff2
  platform/docs-nextjs/src/styles/global-dark-mode.css
  platform/docs-nextjs/src/styles/mongodb-docs.css
Labels: Platform

DOCSP-45785 - Move PHP landing page content (#13701)
  content/drivers/netlify.toml
  content/drivers/source/php-drivers.txt
  content/php-library/upcoming/source/images/PHP_driver_architecture.svg
  content/php-library/upcoming/source/index.txt
  content/php-library/upcoming/source/references/compatibility.txt
Labels: Drivers Ecosystem, PHP Library

fix backport (#13704)
  content/pymongo-driver/current/snooty.toml
  content/pymongo-driver/current/source/includes/authentication/kerberos-intro.rst
  content/pymongo-driver/current/source/includes/authentication/unix-kerberos.rst
  content/pymongo-driver/current/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/current/source/security/authentication/kerberos.txt
  content/pymongo-driver/v4.10/snooty.toml
  content/pymongo-driver/v4.10/source/includes/authentication/kerberos-intro.rst
  content/pymongo-driver/v4.10/source/includes/authentication/unix-kerberos.rst
  content/pymongo-driver/v4.10/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.10/source/security/authentication/kerberos.txt
  content/pymongo-driver/v4.11/snooty.toml
  content/pymongo-driver/v4.11/source/includes/authentication/kerberos-intro.rst
  content/pymongo-driver/v4.11/source/includes/authentication/unix-kerberos.rst
  content/pymongo-driver/v4.11/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.11/source/security/authentication/kerberos.txt
  content/pymongo-driver/v4.12/snooty.toml
  content/pymongo-driver/v4.12/source/includes/authentication/kerberos-intro.rst
  content/pymongo-driver/v4.12/source/includes/authentication/unix-kerberos.rst
  content/pymongo-driver/v4.12/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.12/source/security/authentication/kerberos.txt
  content/pymongo-driver/v4.7/snooty.toml
  content/pymongo-driver/v4.7/source/includes/authentication/kerberos-intro.rst
  content/pymongo-driver/v4.7/source/includes/authentication/unix-kerberos.rst
  content/pymongo-driver/v4.7/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.7/source/security/authentication/kerberos.txt
  content/pymongo-driver/v4.8/snooty.toml
  content/pymongo-driver/v4.8/source/includes/authentication/kerberos-intro.rst
  content/pymongo-driver/v4.8/source/includes/authentication/unix-kerberos.rst
  content/pymongo-driver/v4.8/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.8/source/security/authentication/kerberos.txt
  content/pymongo-driver/v4.9/snooty.toml
  content/pymongo-driver/v4.9/source/includes/authentication/kerberos-intro.rst
  content/pymongo-driver/v4.9/source/includes/authentication/unix-kerberos.rst
  content/pymongo-driver/v4.9/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.9/source/security/authentication/kerberos.txt
Labels: Pymongo Driver
