Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

DOCSP-50383: Add links to preview page (#273)
  snooty.toml
  source/integrations.txt
Labels: none

DOCSP-50383: Add links to preview page (#273)
  snooty.toml
  source/integrations.txt
Labels: none

DOCSP-50383: Add links to preview page (#273)
  snooty.toml
  source/integrations.txt
Labels: none

(DOCSP-48443) Rewrite duplicated headings (#173)
  source/reference/api/nav/automation.txt
  source/tutorial/manage-organizations.txt
  source/tutorial/manage-programmatic-api-keys.txt
  source/tutorial/manage-projects.txt
  source/tutorial/update-automation-configuration.txt
Labels: none

DOCSP-17044-tlsClusterAuthX509Override-example (#12363) (#12409)
  content/manual/manual/source/reference/parameters.txt
  content/manual/manual/source/tutorial/rotate-x509-to-extensionValue.txt
  content/manual/v7.0/source/reference/parameters.txt
  content/manual/v7.0/source/tutorial/rotate-x509-to-extensionValue.txt
Labels: Manual

DOCSP-50785: Update Motor deprecation verbiage (#1011)
  snooty.toml
  source/motor.txt
Labels: none

DOCSP-50598 Migrate Forward Logs page (#7313)
  snooty.toml
  source/atlas-ui/triggers.txt
  source/atlas-ui/triggers/forward-logs.txt
  source/includes/triggers/log-forwarder-statuses.rst
  source/includes/triggers/log-forwarder-types.rst
Labels: none

DOCSP-50367-datadog-integrations-alerts(#7323)
  source/tutorial/datadog-integration.txt
Labels: none

DOCS-17037 x509 multiple ou support (#12418)
  content/manual/manual/source/includes/list-cluster-x509-requirements.rst
  content/manual/upcoming/source/includes/list-cluster-x509-requirements.rst
  content/manual/v7.0/source/includes/list-cluster-x509-requirements.rst
Labels: Manual

DOCSP-50813: v4.13.2 patch version (#276)
  snooty.toml
Labels: none

DOCSP-50813: v4.13.2 patch version (#276)
  snooty.toml
Labels: none

add netlify.tomls for atlas-cli, bi-connector, mongocli
  content/atlas-cli/netlify.toml
  content/bi-connector/netlify.toml
  content/mongocli/netlify.toml
Labels: none

Fix import-repo absolute path issue (#12426)
  platform/tools/import-repo.sh
Labels: Platform

DOCSP-44696-intellij-side-panel (#12248) (#12425)
  content/mongodb-intellij/snooty.toml
  content/mongodb-intellij/source/autocomplete.txt
  content/mongodb-intellij/source/connect.txt
  content/mongodb-intellij/source/db-reference-validation.txt
  content/mongodb-intellij/source/disable-warnings.txt
  content/mongodb-intellij/source/images/connect/intellij-connections-toolbar.png
  content/mongodb-intellij/source/images/connect/intellij-data-source.png
  content/mongodb-intellij/source/images/connect/intellij-database-explorer.png
  content/mongodb-intellij/source/images/connect/intellij-insights.png
  content/mongodb-intellij/source/images/connect/intellij-launch-playgrounds.png
  content/mongodb-intellij/source/images/connect/intellij-mongodb-side.png
  content/mongodb-intellij/source/images/connect/intellij-select-data-source.png
  content/mongodb-intellij/source/images/index-warning.png
  content/mongodb-intellij/source/images/type-validation-field.png
  content/mongodb-intellij/source/images/type-validation.png
  content/mongodb-intellij/source/index-warning.txt
  content/mongodb-intellij/source/index.txt
  content/mongodb-intellij/source/install.txt
  content/mongodb-intellij/source/type-validation.txt
Labels: IntelliJ

DOCSP-45635-intellij-docs-landing (#222)
  source/tools-and-connectors.txt
Labels: none

DOCSP-50790 Apply minor corrections (#7324)
  snooty.toml
  source/atlas-vector-search/automated-embedding.txt
Labels: none

fix formatting of php code (#12427)
  content/manual/manual/source/includes/aggregation/aggregation-examples/filtered-subset/full-files/filtered_subset.php
  content/manual/upcoming/source/includes/aggregation/aggregation-examples/filtered-subset/full-files/filtered_subset.php
  content/manual/v6.0/source/includes/aggregation/aggregation-examples/filtered-subset/full-files/filtered_subset.php
  content/manual/v7.0/source/includes/aggregation/aggregation-examples/filtered-subset/full-files/filtered_subset.php
Labels: Manual

DOCSP-46091-backports (#12424)
  content/manual/manual/source/includes/fact-runtime-startup-parameter.rst
  content/manual/manual/source/reference/parameters.txt
  content/manual/v7.0/source/includes/fact-runtime-startup-parameter.rst
  content/manual/v7.0/source/reference/parameters.txt
Labels: Manual

add atlas cli netlify.toml
  content/atlas-cli/netlify.toml
Labels: none

DOCSP-30350 minor change tech reivew clarify schema validation
  source/crud/bulk.txt
  source/crud/insert.txt
Labels: none

(DOCSP-50439) conditional access policy for EAR docs update
  source/security/azure-kms-over-private-endpoint.txt
  source/security/azure-kms-over-public-network.txt
Labels: none

DOCSP-30350 Java Write Error Page
  source/operation-error-handling.txt
Labels: none

DOCSP-30350 small tweaks to punctuation and wording
  source/crud/bulk.txt
  source/crud/insert.txt
Labels: none

DOCSP-30350 final edits
  source/crud/bulk.txt
  source/crud/insert.txt
Labels: none

DOCSP-30350 toc tree naming update
  source/crud.txt
Labels: none

DOCSP-30350 fixing formatting
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 toc tree update and editing
  source/crud.txt
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 fix typo
  source/crud/bulk.txt
Labels: none

DOCSP-30350 add to toc tree and fix links
  source/crud.txt
  source/operation-error-handling.txt
Labels: none

DOCSP-30350 reorg again and edit writing on some descriptions
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 fixing up minor issues with page, final check
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 add link to schema validation page
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 Adding descriptions and editing
  source/crud/bulk.txt
  source/crud/insert.txt
  source/includes/crud/write-error.rst
Labels: none

DOCSP30350 add exceptions not just errors to doc
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 put troubleshooting into main pages, not separate
  source/crud.txt
  source/crud/bulk.txt
  source/crud/insert.txt
  source/crud/operation-error-handling.txt
  source/includes/crud/write-error.rst
Labels: none

DOCSP30350- add quotes on strings
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 Write exceptions, reorg
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 add schema val link to bulk
  source/crud/bulk.txt
Labels: none

DOCSP-30350 code examples and additional getCategory information
  source/crud/operation-error-handling.txt
Labels: none

DOCSP-30350 minor change tech reivew clarify schema validation
  source/crud/bulk.txt
  source/crud/insert.txt
Labels: none
