Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, Charts, Cloud Manager, C2C, Compass, Database Tools, Datalake, Docs Platform, Guides, Kafka Connector, Kubernetes, Kubernetes Operator, Manual, MCP Server, Meta, Mongo Cli, Platform, IntelliJ, Mongosh, VSCode, Ops Manager, Relational Migrator

DOCSP-51843 Update examples to use the new voyage embeddings field (#12874)
  content/atlas/source/atlas-vector-search/tutorials/vector-search-quick-start.txt
  content/atlas/source/includes/avs/facts/fact-avs-quick-start-intro-II.rst
  content/atlas/source/includes/avs/index-management/create-index/basic-example.rb
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query-c-output.js
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query-coroutine.kt
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query-csharp-output.js
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query-db-service.cs
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query-java-output.js
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query-nodejs-output.js
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query-python-output.js
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query-quickstart.sh
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query-shell-output.js
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query.c
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query.cpp
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query.java
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query.js
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query.php
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query.py
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query.rb
  content/atlas/source/includes/avs/pipeline-stage-examples/basic-query.scala
  content/atlas/source/includes/avs/tutorial/avs-quick-start-basic-index-description.rst
  content/atlas/source/includes/avs/tutorial/avs-quick-start-ruby-create-index.rst
  content/atlas/source/includes/avs/tutorial/avs-quick-start-ui-create-index.rst
  content/atlas/source/includes/avs/tutorial/basic-query-kotlin-output.js
  content/atlas/source/includes/avs/tutorial/steps-avs-quick-start-run-queries-kotlin-coroutine.rst
  content/atlas/source/includes/avs/tutorial/steps-avs-quick-start-run-queries-mongosh.rst
  content/atlas/source/includes/avs/tutorial/steps-avs-tutorial-create-index-ui.rst
Labels: Atlas

DOCSP-50636-cleanupOrphaned (#12710)
  content/manual/upcoming/source/reference/command/cleanupOrphaned.txt
Labels: Manual

Delete content/compass/source/images/authentication/New-Atlas-Connection.png (#12903)
  content/compass/source/images/authentication/New-Atlas-Connection.png
Labels: Compass

DOCSP-51622 Update examples to use the new voyage embeddings (#12875)
  content/atlas/source/atlas-vector-search/hybrid-search.txt
  content/atlas/source/atlas-vector-search/hybrid-search/vector-search-with-full-text-search.txt
  content/atlas/source/includes/avs/rrf-tutorial/create-avs-index-mongosh.sh
  content/atlas/source/includes/avs/rrf-tutorial/create-fts-index-mongosh.sh
  content/atlas/source/includes/avs/rrf-tutorial/query.sh
  content/atlas/source/includes/avs/rrf-tutorial/shell-query-output.js
  content/atlas/source/includes/avs/rrf-tutorial/steps-avs-rrf-shell-query.rst
  content/atlas/source/includes/avs/rrf-tutorial/steps-avs-rrf-tutorial-create-index-mongosh.rst
  content/atlas/source/includes/search-shared/extracts-hybrid-search.yaml
Labels: Atlas

DOCSP-51624 Update examples to use the new voyage embeddings (#12882)
  content/atlas/source/atlas-vector-search/transform-documents-collections.txt
Labels: Atlas

DOCSP-51839-redirect-from-old-URL (#12897)
  content/manual/netlify.toml
Labels: Manual

Update retail cases (#273)
  source/solutions-library.txt
  source/solutions-library/retail-case-ecommerce-personalised.txt
  source/solutions-library/retail-case-gen-ai.txt
  source/solutions-library/retail-case-in-store-omnichannel.txt
  source/solutions-library/retail-personalization.txt
  source/solutions-library/retail.txt
Labels: none

DOCSP-51691-mcp-read-only (#12810)
  content/mcp-server/source/configuration.txt
  content/mcp-server/source/examples.txt
  content/mcp-server/source/get-started.txt
  content/mcp-server/source/includes/get-started/shared/common-mcp-config.json
  content/mcp-server/source/includes/get-started/shared/step-atlas-mcp-config.rst
  content/mcp-server/source/includes/get-started/shared/step-connection-string-mcp-config-atlas.rst
  content/mcp-server/source/includes/get-started/shared/step-connection-string-mcp-config-self.rst
  content/mcp-server/source/includes/read-only.rst
Labels: MCP Server

CLOUDP-330314: Disallow project/deployment renaming (#12904)
  content/atlas-operator/upcoming/source/atlasdeployment-custom-resource.txt
  content/atlas-operator/upcoming/source/atlasproject-custom-resource.txt
Labels: Atlas Operator

DOCSP-37742-filemd5-deprecated (#12896)
  content/manual/upcoming/source/reference/command.txt
  content/manual/upcoming/source/reference/command/filemd5.txt
  content/manual/upcoming/source/reference/command/nav-administration.txt
Labels: Manual

DOCSP-50778-field-path-check (#12900)
  content/manual/upcoming/source/core/dot-dollar-considerations.txt
  content/manual/upcoming/source/core/dot-dollar-considerations/periods.txt
Labels: Manual

DOCSP-51623 Update examples to use the new voyage embeddings (#12899)
  content/atlas/source/atlas-vector-search/hybrid-search/vector-search-with-rankfusion.txt
  content/atlas/source/includes/avs/unionwith-rankfusion/embeddings.js
  content/atlas/source/includes/avs/unionwith-rankfusion/generate-embeddings-voyageai.py
  content/atlas/source/includes/avs/unionwith-rankfusion/index-definition.sh
  content/atlas/source/includes/avs/unionwith-rankfusion/multiple-vectors-query-results.sh
  content/atlas/source/includes/avs/unionwith-rankfusion/multiple-vectors-query.sh
  content/atlas/source/includes/avs/unionwith-rankfusion/same-term-multiple-models-query-results.sh
  content/atlas/source/includes/avs/unionwith-rankfusion/same-term-multiple-models-query.sh
  content/atlas/source/includes/avs/unionwith-rankfusion/same-term-vectors-query-results.sh
  content/atlas/source/includes/avs/unionwith-rankfusion/same-term-vectors-query.sh
  content/atlas/source/includes/avs/unionwith-rankfusion/steps-create-embeddings-voyageai.rst
  content/atlas/source/includes/avs/unionwith-rankfusion/steps-create-index.rst
  content/atlas/source/includes/avs/unionwith-rankfusion/steps-run-queries-shell.rst
Labels: Atlas

DOCSP-51437 Update Document Transformations Requirements for 8.1+ (#12708)
  content/atlas/source/atlas-search/transform-documents-collections.txt
  content/atlas/source/atlas-vector-search/transform-documents-collections.txt
  content/atlas/source/includes/changelog/avs-2025.rst
  content/atlas/source/includes/changelog/fts-2025.rst
  content/atlas/source/includes/fts/facts/fact-partial-indexing-query.rst
  content/atlas/source/includes/search-shared/fact-partial-indexing-reqs.rst
Labels: Atlas

(DOCSP-51312)(DOCSP-51316): Adds 1.45 RNs. (#12845) (#12910)
  content/atlas-cli/current/.backportrc.json
  content/atlas-cli/current/snooty.toml
  content/atlas-cli/current/source/atlas-cli-changelog.txt
Labels: Atlas Cli

DOCSP-37742-filemd5-deprecated (#12896) (#12909)
  content/manual/manual/source/reference/command.txt
  content/manual/manual/source/reference/command/filemd5.txt
  content/manual/manual/source/reference/command/nav-administration.txt
  content/manual/rapid/source/reference/command.txt
  content/manual/rapid/source/reference/command/filemd5.txt
  content/manual/rapid/source/reference/command/nav-administration.txt
  content/manual/v6.0/source/reference/command.txt
  content/manual/v6.0/source/reference/command/filemd5.txt
  content/manual/v6.0/source/reference/command/nav-administration.txt
  content/manual/v7.0/source/reference/command.txt
  content/manual/v7.0/source/reference/command/filemd5.txt
  content/manual/v7.0/source/reference/command/nav-administration.txt
Labels: Manual

DOCSP-51488 (#12835)
  content/bi-connector/current/source/release-notes.txt
Labels: Bi Connector

DOCSP-50462: add links to storefront page for indexing (#12892) (#12912)
  content/manual/manual/source/applications/indexes.txt
  content/manual/manual/source/core/index-ttl.txt
  content/manual/manual/source/core/index-unique.txt
  content/manual/manual/source/indexes.txt
  content/manual/manual/source/tutorial/unique-indexes-schema-validation.txt
  content/manual/rapid/source/applications/indexes.txt
  content/manual/rapid/source/core/index-ttl.txt
  content/manual/rapid/source/core/index-unique.txt
  content/manual/rapid/source/indexes.txt
  content/manual/rapid/source/tutorial/unique-indexes-schema-validation.txt
  content/manual/v6.0/source/applications/indexes.txt
  content/manual/v6.0/source/core/index-ttl.txt
  content/manual/v6.0/source/core/index-unique.txt
  content/manual/v6.0/source/indexes.txt
  content/manual/v6.0/source/tutorial/unique-indexes-schema-validation.txt
  content/manual/v7.0/source/applications/indexes.txt
  content/manual/v7.0/source/core/index-ttl.txt
  content/manual/v7.0/source/core/index-unique.txt
  content/manual/v7.0/source/indexes.txt
  content/manual/v7.0/source/tutorial/unique-indexes-schema-validation.txt
Labels: Manual

(DOCSP-50243) Changes domain association to optional. (#12906)
  content/atlas/source/workforce-oidc.txt
Labels: Atlas

DOCSP-51932: v2.21.2 patch release (#163)
  snooty.toml
Labels: none

DOCSP-51932: v2.21.2 patch release (#163)
  snooty.toml
Labels: none

[Docs+] Getting Started With MongoDB and FastAPI (#250)
  source/connect.txt
  source/includes/integrations/fastapi-browser.png
  source/integrations.txt
  source/integrations/fastapi-integration.txt
Labels: none

DOCSP-50491 Clean up Quick Ref page (#1188)
  source/indexes.txt
  source/reference/quick-reference.txt
Labels: none

[Docs+] Getting Started With MongoDB and FastAPI (#250) (#281)
  source/connect.txt
  source/includes/integrations/fastapi-browser.png
  source/integrations.txt
  source/integrations/fastapi-integration.txt
Labels: none

DOCSP-50588 Find Slow Queries with currentOp (#12445)
  content/manual/upcoming/source/administration/query.txt
  content/manual/upcoming/source/includes/fact-profiler-use.rst
  content/manual/upcoming/source/tutorial/evaluate-operation-performance.txt
  content/manual/upcoming/source/tutorial/explain-slow-queries.txt
  content/manual/upcoming/source/tutorial/find-slow-queries-with-database-profiler.txt
  content/manual/upcoming/source/tutorial/monitor-slow-queries.txt
Labels: Manual

Remove old files, add cpp netlify.toml
  content/cpp/current/build.sh
  content/cpp/current/config/redirects
  content/cpp/current/netlify.toml
  content/cpp/current/worker.sh
  content/cpp/netlify.toml
  content/cpp/upcoming/build.sh
  content/cpp/upcoming/config/redirects
  content/cpp/upcoming/netlify.toml
  content/cpp/upcoming/worker.sh
  content/cpp/v3.10/build.sh
  content/cpp/v3.10/config/redirects
  content/cpp/v3.10/netlify.toml
  content/cpp/v3.10/worker.sh
  content/cpp/v3.11/build.sh
  content/cpp/v3.11/config/redirects
  content/cpp/v3.11/netlify.toml
  content/cpp/v3.11/worker.sh
  content/cpp/v4.0/build.sh
  content/cpp/v4.0/config/redirects
  content/cpp/v4.0/netlify.toml
  content/cpp/v4.0/worker.sh
Labels: none

Add Public Preview banner (#12921)
  content/cluster-to-cluster-sync/current/source/reference/api/start.txt
  content/cluster-to-cluster-sync/current/source/release-notes/1.15.txt
Labels: C2C

add netlify.toml for analyzer
  content/mongodb-analyzer/netlify.toml
Labels: none

DOP-5877 👍 modifies the function to create a toc.json file and write the toc data to it (#12709)
  content/table-of-contents/data/cloud-manager.ts
  content/table-of-contents/main.ts
  content/table-of-contents/package.json
  content/table-of-contents/src/utils/create-json-file.ts
  content/table-of-contents/tests/toc.test.ts
  content/table-of-contents/toc.ts
  content/table-of-contents/tsconfig.json
Labels: none

(DOCSP-51914) AVS quick start fixes + Atlas Search bug fix (#12905)
  content/atlas/source/atlas-search/paginate-results.txt
  content/atlas/source/atlas-vector-search/tutorials/vector-search-quick-start.txt
  content/atlas/source/includes/avs/index-management/create-index/basic-example.cs
  content/atlas/source/includes/avs/index-management/create-index/basic-example.go
  content/atlas/source/includes/avs/index-management/create-index/basic-example.php
  content/atlas/source/includes/avs/index-management/create-index/basic-example.scala
  content/atlas/source/includes/avs/tutorial/avs-quick-start-c-create-index.rst
  content/atlas/source/includes/avs/tutorial/avs-quick-start-cpp-create-index.rst
  content/atlas/source/includes/avs/tutorial/avs-quick-start-csharp-create-index.rst
  content/atlas/source/includes/avs/tutorial/avs-quick-start-go-create-index.rst
  content/atlas/source/includes/avs/tutorial/avs-quick-start-java-create-index.rst
  content/atlas/source/includes/avs/tutorial/avs-quick-start-javascript-create-index.rst
  content/atlas/source/includes/avs/tutorial/avs-quick-start-php-create-index.rst
  content/atlas/source/includes/avs/tutorial/avs-quick-start-python-create-index.rst
  content/atlas/source/includes/avs/tutorial/avs-quick-start-scala-create-index.rst
Labels: Atlas

(DOCSP-51858): Adds the v1.46 RNs. (#12917)
  content/atlas-cli/netlify.toml
  content/atlas-cli/upcoming/.backportrc.json
  content/atlas-cli/upcoming/snooty.toml
  content/atlas-cli/upcoming/source/atlas-cli-changelog.txt
Labels: Atlas Cli

DOCSP-50639-mongosync-orphaned-documents-limitation (#12437)
  content/cluster-to-cluster-sync/current/source/reference/limitations.txt
Labels: C2C

DOCSP-50636-cleanupOrphaned (#12710) (#12923)
  content/manual/manual/source/reference/command/cleanupOrphaned.txt
  content/manual/rapid/source/reference/command/cleanupOrphaned.txt
Labels: Manual

DOCSP-51593 Updated maxIndexBuildMemoryUsageMegabytes with percentage behavior (#12918)
  content/manual/upcoming/source/reference/parameters.txt
Labels: Manual

remove file
  content/compass/source/images/authentication/new-atlas-connection.png
Labels: Compass

added file and renamed
  content/compass/source/images/authentication/new-atlas-connection-view.png
Labels: Compass

DOCSP-51437 (#12928)
  content/atlas/source/includes/changelog/avs-2025.rst
  content/atlas/source/includes/changelog/fts-2025.rst
  content/atlas/source/includes/fts/facts/fact-partial-indexing-query.rst
  content/atlas/source/includes/search-shared/fact-partial-indexing-query.rst
  content/atlas/source/includes/search-shared/fact-partial-indexing-reqs.rst
Labels: Atlas

(DOCSP-51951) Fix display issue for AVS CPP Quick Start. (#12932)
  content/atlas/source/atlas-vector-search/tutorials/vector-search-quick-start.txt
Labels: Atlas

DOCSP-46443-remove-geoSearch-refs (#12927)
  content/manual/manual/source/includes/extracts-4.4-changes.yaml
  content/manual/rapid/source/includes/extracts-4.4-changes.yaml
  content/manual/rapid/source/includes/fact-5.0-geohaystack-removed.rst
  content/manual/upcoming/source/includes/extracts-4.4-changes.yaml
  content/manual/upcoming/source/includes/fact-5.0-geohaystack-removed.rst
  content/manual/v7.0/source/includes/extracts-4.4-changes.yaml
Labels: Manual

DOCSP-49405 insurance data models (#12407)
  content/relational-migrator/snooty.toml
  content/relational-migrator/source/img/example-insurance/refactor-party-domain.png
  content/relational-migrator/source/img/example-insurance/refactor-policy-domain.png
  content/relational-migrator/source/img/mapping-rules/mapping-rule-insurance-tables.png
  content/relational-migrator/source/mapping-rules/example-insurance-data.txt
  content/relational-migrator/source/mapping-rules/example-insurance-data/connect.txt
  content/relational-migrator/source/mapping-rules/example-insurance-data/migrate-data.txt
  content/relational-migrator/source/mapping-rules/example-insurance-data/refactor-claim-domain.txt
  content/relational-migrator/source/mapping-rules/example-insurance-data/refactor-litigation-domain.txt
  content/relational-migrator/source/mapping-rules/example-insurance-data/refactor-party-domain.txt
  content/relational-migrator/source/mapping-rules/example-insurance-data/refactor-policy-domain.txt
  content/relational-migrator/source/mapping-rules/introduction.txt
Labels: Relational Migrator

use new voyage field
  get-started/quick-start.ipynb
  manage-indexes/create-indexes-basic.ipynb
  manage-indexes/create-indexes-filter.ipynb
  run-queries/ann-basic.ipynb
  run-queries/ann-filter.ipynb
  run-queries/enn.ipynb
  run-queries/semantic-search.ipynb
Labels: none

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-cli/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']
