Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, Charts, Cloud Manager, C2C, Compass, Database Tools, Datalake, Docs Platform, Guides, Kafka Connector, Kubernetes, Kubernetes Operator, Manual, MCP Server, Meta, Mongo Cli, Platform, IntelliJ, Mongosh, VSCode, Ops Manager, Relational Migrator

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-cli/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']

DOCSP-52060 flask/celery page title (#13071)
  content/pymongo-driver/upcoming/source/integrations/flask-celery-integration.txt
Labels: none

DOCSP-51848-finalize-6.0.25-rn-main-backport (13038) (#13063)
  content/manual/manual/source/release-notes/6.0.txt
  content/manual/rapid/source/release-notes/6.0.txt
  content/manual/v6.0/snooty.toml
  content/manual/v6.0/source/release-notes/6.0.txt
  content/manual/v7.0/source/release-notes/6.0.txt
Labels: Manual

DOCSP-51906-finalize-7.0.22-rn-main-backport (13039) (#13059)
  content/manual/manual/source/includes/changelogs/releases/7.0.22.rst
  content/manual/manual/source/release-notes/7.0.txt
  content/manual/rapid/source/includes/changelogs/releases/7.0.22.rst
  content/manual/rapid/source/release-notes/7.0.txt
  content/manual/v7.0/snooty.toml
  content/manual/v7.0/source/includes/changelogs/releases/7.0.22.rst
  content/manual/v7.0/source/release-notes/7.0.txt
Labels: Manual

DOCSP-51304 - Add noindex to write-operations (#662)
  source/fundamentals/crud/write-operations.txt
Labels: none

DOCSP-51451: rename Cluster to Cluster sync to mongosync (#13042)
  content/atlas-operator/current/snooty.toml
  content/mongosync/current/README.md
  content/mongosync/current/snooty.toml
  content/mongosync/current/source/index.txt
  content/mongosync/current/source/reference/mongosync.txt
  content/mongosync/current/source/release-notes.txt
Labels: Atlas Operator

DOCSP-51298: Short landing pages fixes (#143)
  snooty.toml
  source/monitoring.txt
  source/security.txt
Labels: none

DOCSP-51298: Short landing pages fixes (#143)
  snooty.toml
  source/monitoring.txt
  source/security.txt
Labels: none

DOCSP-51298: Short landing pages fixes (#143)
  snooty.toml
  source/monitoring.txt
  source/security.txt
Labels: none

DOCSP-51298: Short landing pages fixes (#143)
  snooty.toml
  source/monitoring.txt
  source/security.txt
Labels: none

DOCSP-52075 - Add databaseName property (#1203)
  source/aggregation/pipeline-stages.txt
  source/index.txt
  source/monitoring-and-logging/monitoring.txt
Labels: none

remove 404s (#13082)
  content/pymongo-driver/upcoming/source/integrations/flask-celery-integration.txt
Labels: none

DOCSP-50360: v10.2 EOL (#267)
  snooty.toml
  source/api-docs.txt
  source/batch-mode.txt
  source/batch-mode/batch-read-config.txt
  source/batch-mode/batch-read.txt
  source/batch-mode/batch-write-config.txt
  source/batch-mode/batch-write.txt
  source/configuration.txt
  source/faq.txt
  source/getting-started.txt
  source/index.txt
  source/release-notes.txt
  source/streaming-mode.txt
  source/streaming-mode/streaming-read-config.txt
  source/streaming-mode/streaming-read.txt
  source/streaming-mode/streaming-write-config.txt
  source/streaming-mode/streaming-write.txt
  source/tls.txt
Labels: none

DOCSP-52044: Fix duplicate insert titles (#237)
  source/fundamentals/crud/write-operations/insert.txt
Labels: none

DOCSP-51845-backport (#13066)
  content/manual/manual/source/reference/parameters.txt
  content/manual/rapid/source/reference/parameters.txt
Labels: Manual

DOCSP-52044: Fix duplicate insert titles (#237)
  source/fundamentals/crud/write-operations/insert.txt
Labels: none

DOCSP-52044: Fix duplicate insert titles (#237)
  source/fundamentals/crud/write-operations/insert.txt
Labels: none

DOCSP-52044: Fix duplicate insert titles (#237)
  source/fundamentals/crud/write-operations/insert.txt
Labels: none

DOCSP-52044: Fix duplicate insert titles (#237)
  source/fundamentals/crud/write-operations/insert.txt
Labels: none

DOCSP-52044: Fix duplicate insert titles (#237)
  source/fundamentals/crud/write-operations/insert.txt
Labels: none

DOCSP-52044: Fix duplicate insert titles (#237)
  source/fundamentals/crud/write-operations/insert.txt
Labels: none

DOCSP-51302: noindex Integrations page (#134)
  source/integrations-tools.txt
Labels: none

DOCSP-51302: noindex Integrations page (#134)
  source/integrations-tools.txt
Labels: none

DOCSP-51241: Short pages fixes (#668)
  snooty.toml
  source/fundamentals/connection.txt
  source/fundamentals/crud/read-operations.txt
Labels: none

DOCSP-51241: Short pages fixes (#668)
  snooty.toml
  source/fundamentals/connection.txt
  source/fundamentals/crud/read-operations.txt
Labels: none

DOCSP-51241: Short pages fixes (#668)
  snooty.toml
  source/fundamentals/connection.txt
  source/fundamentals/crud/read-operations.txt
Labels: none

DOCSP-51241: Short pages fixes (#668)
  snooty.toml
  source/fundamentals/connection.txt
  source/fundamentals/crud/read-operations.txt
Labels: none

DOCSP-51241: Short pages fixes (#668)
  snooty.toml
  source/fundamentals/connection.txt
  source/fundamentals/crud/read-operations.txt
Labels: none

Add netlify.toml to node
  content/node/netlify.toml
Labels: none

DOCSP-51995-note-overall-lower-ticket-usage (#12965) (#13081)
  content/manual/manual/source/includes/fact-dynamic-concurrency.rst
  content/manual/rapid/source/includes/fact-dynamic-concurrency.rst
  content/manual/v7.0/source/includes/fact-dynamic-concurrency.rst
Labels: Manual

add backport ifle (#13085)
  content/pymongo-driver/.backportrc.json
Labels: none

[Atlas] Fix title for one internal link (#13056)
  content/atlas/source/atlas-stream-processing/manage-connection-registry.txt
Labels: Atlas

DOCSP-52199: Resolve mongosh build error (#13083)
  content/mongodb-shell/source/reference/methods.txt
Labels: Mongosh

remove 404s (#13082) (#13087)
  content/pymongo-driver/current/source/integrations/flask-celery-integration.txt
Labels: none

DOCSP-52058 CRUD app with Rocket title (#194)
  source/fundamentals/crud/web-app-tutorial.txt
Labels: none

DOCSP-51965: Fix schemaHints option (#266)
  source/batch-mode/batch-read-config.txt
  source/batch-mode/batch-read.txt
  source/streaming-mode/streaming-read-config.txt
Labels: none

DOCSP-51965: Fix schemaHints option (#266)
  source/batch-mode/batch-read-config.txt
  source/batch-mode/batch-read.txt
  source/streaming-mode/streaming-read-config.txt
Labels: none

DOCSP-51965: Fix schemaHints option (#266)
  source/batch-mode/batch-read-config.txt
  source/batch-mode/batch-read.txt
  source/streaming-mode/streaming-read-config.txt
Labels: none

DOCSP-52202-fix-building-errors (#13093)
  content/atlas/source/data-federation/config/config-azure-blob.txt
Labels: Atlas

DOCSP-51578-fixed-nested-elements (#12983)
  content/atlas/source/atlas-search/aggregation-stages/search.txt
  content/atlas/source/atlas-vector-search/tutorials/auto-quantize-with-voyage-ai.txt
  content/atlas/source/atlas-vector-search/vector-search-type.txt
  content/atlas/source/includes/admonitions/importants/cluster-naming-limitations.rst
  content/atlas/source/includes/nav/fact-nav-preview.rst
  content/atlas/source/includes/nav/steps-avs-fts-set-up-cluster.rst
  content/atlas/source/includes/nav/steps-db-deployments-page.rst
  content/atlas/source/includes/steps-add-roles.rst
  content/atlas/source/includes/steps-configure-global-cluster.rst
  content/atlas/source/includes/steps-connect-to-database-deployment-compass.rst
Labels: Atlas

DOCSP-52060 backport flask title (#13084)
  content/pymongo-driver/current/source/integrations/flask-celery-integration.txt
  content/pymongo-driver/upcoming/source/integrations/flask-celery-integration.txt
Labels: none
