Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, Charts, Cloud Manager, C2C, Compass, Database Tools, Datalake, Docs Platform, Guides, Kafka Connector, Kubernetes, Kubernetes Operator, Manual, MCP Server, Meta, Mongo Cli, Platform, IntelliJ, Mongosh, VSCode, Ops Manager, Relational Migrator

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-cli/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']

DOCSP-50730 Add ClusterMongoDBRole CRD Docs (#12990)
  content/kubernetes/upcoming/source/includes/code-examples/yaml-files/example-cluster-mongodb-role-crd.yaml
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.authenticationRestrictions.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.db.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.privileges.actions.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.privileges.resource.collection.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.privileges.resource.db.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.privileges.resource.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.privileges.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.role.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.roles.db.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.roles.role.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRoleConf-spec.roles.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRsConf-spec.security.roleRefs.kind.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRsConf-spec.security.roleRefs.name.rst
  content/kubernetes/upcoming/source/includes/setting-k8sRsConf-spec.security.roleRefs.rst
  content/kubernetes/upcoming/source/reference.txt
  content/kubernetes/upcoming/source/reference/k8s-operator-specification.txt
  content/kubernetes/upcoming/source/reference/mongodb-role-specification.txt
Labels: Kubernetes

DOCSP-50584 reShard Collection to Shard (#12452) (#13064)
  content/manual/manual/source/core/reshard-to-same-key.txt
  content/manual/manual/source/includes/fact-reshard-init-shard.rst
  content/manual/manual/source/reference/command/shardCollection.txt
  content/manual/manual/source/reference/method/sh.shardCollection.txt
  content/manual/rapid/source/core/reshard-to-same-key.txt
  content/manual/rapid/source/includes/fact-reshard-init-shard.rst
  content/manual/rapid/source/reference/command/shardCollection.txt
  content/manual/rapid/source/reference/method/sh.shardCollection.txt
Labels: Manual

DOCSP-52212-fixes-building-issues (#13098)
  content/atlas/source/includes/admonitions/importants/cluster-naming-limitations.rst
  content/atlas/source/includes/nav/steps-avs-fts-set-up-cluster.rst
  content/atlas/source/includes/steps-configure-global-cluster.rst
Labels: Atlas

(DOCSP-50957): Adds the JDBC 2.3.0 RNs. (#13080)
  content/atlas/source/release-notes/sql.txt
Labels: Atlas

DOCSP-51451: rename Cluster to Cluster sync to mongosync (#13042) (#13094)
  content/mongosync/v1.10/README.md
  content/mongosync/v1.10/snooty.toml
  content/mongosync/v1.10/source/index.txt
  content/mongosync/v1.10/source/reference/mongosync.txt
  content/mongosync/v1.11/README.md
  content/mongosync/v1.11/snooty.toml
  content/mongosync/v1.11/source/index.txt
  content/mongosync/v1.11/source/reference/mongosync.txt
  content/mongosync/v1.12/README.md
  content/mongosync/v1.12/snooty.toml
  content/mongosync/v1.12/source/index.txt
  content/mongosync/v1.12/source/reference/mongosync.txt
  content/mongosync/v1.13/README.md
  content/mongosync/v1.13/snooty.toml
  content/mongosync/v1.13/source/index.txt
  content/mongosync/v1.13/source/reference/mongosync.txt
  content/mongosync/v1.14/README.md
  content/mongosync/v1.14/snooty.toml
  content/mongosync/v1.14/source/index.txt
  content/mongosync/v1.14/source/reference/mongosync.txt
  content/mongosync/v1.14/source/release-notes.txt
  content/mongosync/v1.9/README.md
  content/mongosync/v1.9/snooty.toml
  content/mongosync/v1.9/source/index.txt
  content/mongosync/v1.9/source/reference/mongosync.txt
Labels: none

DOCSP-51404 Update config.key type field (#13070)
  content/atlas/source/atlas-stream-processing/sp-agg-emit.txt
Labels: Atlas

DOCSP-51002 (#13069)
  content/atlas/source/mongodb-users-roles-and-privileges.txt
Labels: Atlas

DOCSP-51303 Add noindex on security landing page (#135)
  source/security.txt
Labels: none

Add netlify.toml and remove old files for php-library
  content/php-library/current/build.sh
  content/php-library/current/config/redirects
  content/php-library/current/netlify.toml
  content/php-library/current/worker.sh
  content/php-library/netlify.toml
  content/php-library/upcoming/build.sh
  content/php-library/upcoming/config/redirects
  content/php-library/upcoming/netlify.toml
  content/php-library/upcoming/worker.sh
  content/php-library/v1.x/build.sh
  content/php-library/v1.x/config/redirects
  content/php-library/v1.x/netlify.toml
  content/php-library/v1.x/worker.sh
Labels: none

mck 1.2.0 release notes (#13113)
  content/kubernetes/upcoming/source/release-notes.txt
Labels: Kubernetes

add environments to netlify.toml templates, php library toml
  content/php-library/netlify.toml
  platform/template.toml
  platform/template/netlify.toml
Labels: Platform

Update trigger-database-tools-build.yml
  .github/workflows/trigger-database-tools-build.yml
Labels: none

DOCSP-52093-too-long-meta-descriptions (#13118)
  content/manual/manual/source/reference/operator/query/and.txt
  content/manual/manual/source/tutorial/query-for-null-fields.txt
  content/manual/rapid/source/reference/operator/query/and.txt
  content/manual/rapid/source/tutorial/query-for-null-fields.txt
  content/manual/upcoming/source/reference/operator/query/and.txt
  content/manual/upcoming/source/tutorial/query-for-null-fields.txt
  content/manual/v5.0/source/reference/operator/query/and.txt
  content/manual/v5.0/source/tutorial/query-for-null-fields.txt
  content/manual/v6.0/source/reference/operator/query/and.txt
  content/manual/v6.0/source/tutorial/query-for-null-fields.txt
  content/manual/v7.0/source/reference/operator/query/and.txt
  content/manual/v7.0/source/tutorial/query-for-null-fields.txt
Labels: Manual

fix: the default value of map_big_decimal_to_decimal128 is true, not false (#131)
  source/data-modeling/field-types.txt
Labels: none

DOCSP-49885-8.2-slotBasedPlan-truncated (#13095)
  content/manual/upcoming/source/includes/sbe-8-2-truncated.rst
  content/manual/upcoming/source/reference/explain-results.txt
  content/manual/upcoming/source/release-notes/8.2.txt
Labels: Manual

update release notes (#137)
  source/reference/release-notes.txt
Labels: none

DOP-5798 add node redirects (#13112)
  content/node/netlify.toml
Labels: none

DOP-5791 add c driver redirects (#13065)
  content/c-driver/netlify.toml
Labels: none

DOCSP-46332-compass-platform-server-version (#12973)
  content/compass/source/install.txt
Labels: Compass

DOCSP-52029-mcp-prereqs (#13002)
  content/mcp-server/source/configuration.txt
  content/mcp-server/source/get-started.txt
  content/mcp-server/source/prerequisites.txt
Labels: MCP Server

Revert "DOCSP-49885-8.2-slotBasedPlan-truncated (#13095)" (#13134)
  content/manual/upcoming/source/includes/sbe-8-2-truncated.rst
  content/manual/upcoming/source/reference/explain-results.txt
  content/manual/upcoming/source/release-notes/8.2.txt
Labels: Manual

DOCSP-52196 - What's New note about storage engine export (#13100)
  content/cpp-driver/.backportrc.json
  content/cpp-driver/upcoming/source/whats-new.txt
Labels: none

remove duplicate files in sub directories and update copilot instructions (#13106)
  .github/copilot-instructions.md
  .github/prompts/atlas/atlas-search-composable-examples-template.prompt.md
  .github/prompts/atlas/atlas-search-composable-index-steps.prompt.md
  .github/prompts/atlas/atlas-search-composable-new-files.prompt.md
  .github/prompts/atlas/atlas-search-main-composable-template.prompt.md
  content/atlas/.github/prompts/README.md
  content/atlas/.github/prompts/captain-ticket.prompt.md
  content/atlas/.github/prompts/code-block-to-literalinclude.prompt.md
  content/atlas/.github/prompts/convert-to-rst.prompt.md
  content/atlas/.github/prompts/create-includes.prompt.md
  content/atlas/.github/prompts/source-constant-substitution-check.prompt.md
  content/atlas/.github/prompts/style-guide-check.prompt.md
Labels: Atlas

DOCSP-50680 -- Added release notes for MCLI 2.0.5 (#13139)
  content/mongocli/current/source/release-notes.txt
  content/mongocli/upcoming/source/release-notes.txt
Labels: none

DOCSP-51996-Update-Relational-Migrator-API-1.14 (#12986)
  content/relational-migrator/source/rm-openapi-latest.json
Labels: Relational Migrator

DOCSP-51250 remove ref page from landing <100 words
  snooty.toml
Labels: none

noindex
  snooty.toml
  source/reference.txt
Labels: none

DOCSP-51245 connection no index
  snooty.toml
  source/connection.txt
Labels: none

DOCSP-51246 >100 noindex crud
  source/crud.txt
Labels: none

removes caching of the build to allow nested items changes to reflect in the final JSON (#13104)
  content/table-of-contents/package.json
Labels: none

(DOCSP-51968) Update Atlas CLI info (#13144)
  content/atlas/source/atlas-stream-processing/atlas-connection.txt
Labels: Atlas

DOCSP-51247 noindex
  source/crud/query-documents.txt
Labels: none

fix deletion
  snooty.toml
Labels: none

DOCSP-51410 Increased limit for shards in single region clusters (#13004)
  content/atlas/source/reference/atlas-limits.txt
Labels: Atlas

DOCSP-51248 data formats noindex
  snooty.toml
  source/data-formats.txt
Labels: none

Add netlify.toml to mongoid
  content/mongoid/netlify.toml
Labels: none

remove old mongoid files
  content/mongoid/current/build.sh
  content/mongoid/current/config/redirects
  content/mongoid/current/netlify.toml
  content/mongoid/upcoming/build.sh
  content/mongoid/upcoming/config/redirects
  content/mongoid/upcoming/netlify.toml
Labels: none

Add laravel netlify.toml
  content/laravel-mongodb/netlify.toml
Labels: none

DOCSP-51336 Commit After Reverse (#12878)
  content/mongosync/current/source/reference/mongosync-states.txt
  content/mongosync/current/source/reverse-sync.txt
Labels: none

Remove old laravel files
  content/laravel-mongodb/current/build.sh
  content/laravel-mongodb/current/config/redirects
  content/laravel-mongodb/current/netlify.toml
  content/laravel-mongodb/current/worker.sh
  content/laravel-mongodb/upcoming/build.sh
  content/laravel-mongodb/upcoming/config/redirects
  content/laravel-mongodb/upcoming/netlify.toml
  content/laravel-mongodb/upcoming/worker.sh
  content/laravel-mongodb/v4.x/build.sh
  content/laravel-mongodb/v4.x/config/redirects
  content/laravel-mongodb/v4.x/netlify.toml
  content/laravel-mongodb/v4.x/worker.sh
Labels: none
