Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, Charts, Cloud Manager, C2C, Compass, Database Tools, Datalake, Docs Platform, Guides, Kafka Connector, Kubernetes, Kubernetes Operator, Manual, MCP Server, Meta, Mongo Cli, Platform, IntelliJ, Mongosh, VSCode, Ops Manager, Relational Migrator

commit (#13031)
  content/relational-migrator/source/installation/system-requirements.txt
Labels: Relational Migrator

DOCSP-51979-clarify-ts-collection-compressor (#12970) (#13020)
  content/manual/manual/source/core/wiredtiger.txt
  content/manual/rapid/source/core/wiredtiger.txt
  content/manual/v6.0/source/core/wiredtiger.txt
  content/manual/v7.0/source/core/wiredtiger.txt
Labels: Manual

DOCSP-52088 Data Explorer Activity Feed Notice (#13019)
  content/atlas/source/includes/admonitions/deprecated-user-actions-in-activity-feed.rst
Labels: Atlas

DOCS-16991-8.0-performance-proof-points (#11563) (#13021)
  content/manual/rapid/source/core/timeseries/timeseries-querying.txt
  content/manual/rapid/source/includes/8.0-performance-improvement-intro.rst
  content/manual/rapid/source/includes/fact-8.0-perf-improvement-vary.rst
  content/manual/rapid/source/reference/command/reshardCollection.txt
  content/manual/rapid/source/release-notes/8.0-upgrade-replica-set.txt
  content/manual/rapid/source/release-notes/8.0-upgrade-sharded-cluster.txt
  content/manual/rapid/source/release-notes/8.0-upgrade-standalone.txt
  content/manual/rapid/source/release-notes/8.0.txt
  content/manual/upcoming/source/core/timeseries/timeseries-querying.txt
  content/manual/upcoming/source/includes/8.0-performance-improvement-intro.rst
  content/manual/upcoming/source/includes/fact-8.0-perf-improvement-vary.rst
  content/manual/upcoming/source/reference/command/reshardCollection.txt
  content/manual/upcoming/source/release-notes/8.0-upgrade-replica-set.txt
  content/manual/upcoming/source/release-notes/8.0-upgrade-sharded-cluster.txt
  content/manual/upcoming/source/release-notes/8.0-upgrade-standalone.txt
  content/manual/upcoming/source/release-notes/8.0.txt
Labels: Manual

(DOCSP-51950) Fixed variable issue. (#13046)
  content/ops-manager/current/source/release-notes/changelogs/ops-manager/changelog-onprem-v8.0.rst
  content/ops-manager/upcoming/source/release-notes/changelogs/ops-manager/changelog-onprem-v8.0.rst
Labels: Ops Manager

DOCSP-50208-update-arrays-with-MQL-main-backport (12720) (#13025)
  content/manual/manual/source/reference/method/db.collection.updateMany.txt
  content/manual/manual/source/reference/operator/update.txt
  content/manual/manual/source/reference/operator/update/positional-all.txt
  content/manual/manual/source/reference/operator/update/positional-filtered.txt
  content/manual/manual/source/reference/operator/update/positional.txt
  content/manual/manual/source/tutorial/update-documents.txt
  content/manual/manual/source/tutorial/use-mql-to-update-an-array.txt
  content/manual/rapid/source/reference/method/db.collection.updateMany.txt
  content/manual/rapid/source/reference/operator/update/positional-all.txt
  content/manual/rapid/source/reference/operator/update/positional-filtered.txt
  content/manual/rapid/source/reference/operator/update/positional.txt
  content/manual/rapid/source/tutorial/update-documents.txt
  content/manual/rapid/source/tutorial/use-mql-to-update-an-array.txt
  content/manual/v6.0/source/reference/method/db.collection.updateMany.txt
  content/manual/v6.0/source/reference/operator/update.txt
  content/manual/v6.0/source/reference/operator/update/positional-all.txt
  content/manual/v6.0/source/reference/operator/update/positional-filtered.txt
  content/manual/v6.0/source/reference/operator/update/positional.txt
  content/manual/v6.0/source/tutorial/update-documents.txt
  content/manual/v6.0/source/tutorial/use-mql-to-update-an-array.txt
  content/manual/v7.0/source/reference/method/db.collection.updateMany.txt
  content/manual/v7.0/source/reference/operator/update.txt
  content/manual/v7.0/source/reference/operator/update/positional-all.txt
  content/manual/v7.0/source/reference/operator/update/positional-filtered.txt
  content/manual/v7.0/source/reference/operator/update/positional.txt
  content/manual/v7.0/source/tutorial/update-documents.txt
  content/manual/v7.0/source/tutorial/use-mql-to-update-an-array.txt
Labels: Manual

DOCS-17080-fix-inaccurate-dollar-upsert-behavior (#13034)
  content/manual/upcoming/source/reference/operator/update/positional.txt
Labels: Manual

add django netlify.toml
  content/django-mongodb/netlify.toml
Labels: none

Remove old django files
  content/django-mongodb/current/build.sh
  content/django-mongodb/current/config/redirects
  content/django-mongodb/current/netlify.toml
  content/django-mongodb/current/worker.sh
  content/django-mongodb/upcoming/build.sh
  content/django-mongodb/upcoming/config/redirects
  content/django-mongodb/upcoming/netlify.toml
  content/django-mongodb/upcoming/worker.sh
  content/django-mongodb/v5.0/build.sh
  content/django-mongodb/v5.0/config/redirects
  content/django-mongodb/v5.0/netlify.toml
  content/django-mongodb/v5.0/worker.sh
  content/django-mongodb/v5.1/build.sh
  content/django-mongodb/v5.1/config/redirects
  content/django-mongodb/v5.1/netlify.toml
  content/django-mongodb/v5.1/worker.sh
Labels: none

Remove `subresourceEnabled` Helm value (#12953)
  content/kubernetes/upcoming/source/reference/helm-operator-settings.txt
Labels: Kubernetes

DOCSP-51906-finalize-7.0.22-rn (#13039)
  content/manual/upcoming/source/includes/changelogs/releases/7.0.22.rst
  content/manual/upcoming/source/release-notes/7.0.txt
Labels: Manual

DOCSP-51848-finalize-6.0.25-rn (#13038)
  content/manual/upcoming/source/release-notes/6.0.txt
Labels: Manual

(DOCSP-50929) adds no indexing to pages with <100 chars (#12839)
  content/charts/source/build-charts-reference.txt
  content/charts/source/chart-type-reference/grid-charts.txt
  content/charts/source/chart-type-reference/text-charts.txt
  content/charts/source/dashboards/dashboard-access.txt
  content/charts/source/dashboards/manage-dashboards.txt
  content/charts/source/experimental-features.txt
  content/charts/source/tutorials.txt
Labels: Charts

DOCSP-52027-add-unique (#13044)
  content/manual/upcoming/source/reference/method/db.collection.distinct.txt
Labels: Manual

DOCSP-49415-local-TLS-ai-pilot (#12617)
  content/manual/upcoming/source/core/databases-and-collections.txt
  content/manual/upcoming/source/core/security-transport-encryption.txt
  content/manual/upcoming/source/tutorial/configure-ssl.txt
  content/manual/upcoming/source/tutorial/develop-mongodb-locally-with-tls.txt
Labels: Manual

DOP-5831: Add examples of basic markup (#12975)
  content/docs-platform/source/basic-markup.txt
  content/docs-platform/source/index.txt
Labels: Docs Platform

DOCSP-49553-ensure-update-bulkWrite-commands-return-WCE (#12988)
  content/manual/upcoming/source/includes/fact-update-writeConcernError-mongos.rst
  content/manual/upcoming/source/reference/command/bulkWrite.txt
  content/manual/upcoming/source/reference/command/update.txt
  content/manual/upcoming/source/reference/method/db.collection.bulkWrite.txt
  content/manual/upcoming/source/reference/method/db.collection.update.txt
  content/manual/upcoming/source/reference/method/db.collection.updateMany.txt
  content/manual/upcoming/source/reference/method/db.collection.updateOne.txt
Labels: Manual

DOCSP-49415-local-TLS-ai-pilot (#12617) (#13057)
  content/manual/manual/source/core/databases-and-collections.txt
  content/manual/manual/source/core/security-transport-encryption.txt
  content/manual/manual/source/tutorial/configure-ssl.txt
  content/manual/manual/source/tutorial/develop-mongodb-locally-with-tls.txt
  content/manual/rapid/source/core/databases-and-collections.txt
  content/manual/rapid/source/core/security-transport-encryption.txt
  content/manual/rapid/source/tutorial/configure-ssl.txt
  content/manual/rapid/source/tutorial/develop-mongodb-locally-with-tls.txt
  content/manual/v6.0/source/core/security-transport-encryption.txt
  content/manual/v6.0/source/tutorial/configure-ssl.txt
  content/manual/v6.0/source/tutorial/develop-mongodb-locally-with-tls.txt
  content/manual/v7.0/source/core/security-transport-encryption.txt
  content/manual/v7.0/source/tutorial/configure-ssl.txt
  content/manual/v7.0/source/tutorial/develop-mongodb-locally-with-tls.txt
Labels: Manual

Add docs-c netlify.toml
  content/c-driver/netlify.toml
Labels: none

Remove old c-driver files
  content/c-driver/current/build.sh
  content/c-driver/current/config/redirects
  content/c-driver/current/netlify.toml
  content/c-driver/current/worker.sh
  content/c-driver/upcoming/build.sh
  content/c-driver/upcoming/config/redirects
  content/c-driver/upcoming/netlify.toml
  content/c-driver/upcoming/worker.sh
  content/c-driver/v1.26/build.sh
  content/c-driver/v1.26/config/redirects
  content/c-driver/v1.26/netlify.toml
  content/c-driver/v1.26/worker.sh
  content/c-driver/v1.27/build.sh
  content/c-driver/v1.27/config/redirects
  content/c-driver/v1.27/netlify.toml
  content/c-driver/v1.27/worker.sh
  content/c-driver/v1.28/build.sh
  content/c-driver/v1.28/config/redirects
  content/c-driver/v1.28/netlify.toml
  content/c-driver/v1.28/worker.sh
  content/c-driver/v1.29/build.sh
  content/c-driver/v1.29/config/redirects
  content/c-driver/v1.29/netlify.toml
  content/c-driver/v1.29/worker.sh
  content/c-driver/v1.30/build.sh
  content/c-driver/v1.30/config/redirects
  content/c-driver/v1.30/netlify.toml
  content/c-driver/v1.30/worker.sh
Labels: none

DOCSP-50584 reShard Collection to Shard (#12452)
  content/manual/upcoming/source/core/reshard-to-same-key.txt
  content/manual/upcoming/source/includes/fact-reshard-init-shard.rst
  content/manual/upcoming/source/reference/command/shardCollection.txt
  content/manual/upcoming/source/reference/method/sh.shardCollection.txt
Labels: Manual

DOCSP-50847-restructure-Azure-ADF-config (#12857)
  content/atlas/source/data-federation/config/config-azure-blob.txt
Labels: Atlas

DOCSP-52038 initial sync index build memory (#13052)
  content/manual/upcoming/source/reference/parameters.txt
  content/manual/upcoming/source/release-notes/8.2.txt
Labels: Manual

DOCSP-52025: Compatibility (#13028)
  content/database-tools/source/includes/fact-platform-support.rst
Labels: Database Tools

DOP-5797 entity-framework, django redirects (#13024)
  content/django-mongodb/netlify.toml
  content/entity-framework/netlify.toml
Labels: none

DOCSP-52026: Remove bullet from limitations (#13045)
  content/mongosync/current/source/reference/limitations.txt
Labels: none

Update sample files from MCK (#12784)
  content/kubernetes/current/source/includes/code-examples/reference-architectures/mongodb-replicaset-mc-no-mesh/output/1210_verify_mongosh_connection.out
  content/kubernetes/current/source/includes/code-examples/reference-architectures/mongodb-sharded-mc-no-mesh/output/2210_verify_mongosh_connection.out
  content/kubernetes/current/source/includes/code-examples/reference-architectures/ops-manager-mc-no-mesh/output/0330_ops_manager_wait_for_running_state.out
  content/kubernetes/current/source/includes/code-examples/reference-architectures/ops-manager-mc-no-mesh/output/0522_ops_manager_wait_for_running_state.out
  content/kubernetes/current/source/includes/code-examples/reference-architectures/setup-multi-cluster/setup-cert-manager/output/0216_helm_install_cert_manager.out
  content/kubernetes/current/source/includes/code-examples/reference-architectures/setup-multi-cluster/setup-gke/output/0030_verify_access_to_clusters.out
  content/kubernetes/current/source/includes/code-examples/reference-architectures/setup-multi-cluster/setup-operator/output/0200_kubectl_mongodb_configure_multi_cluster.out
  content/kubernetes/current/source/includes/code-examples/reference-architectures/setup-multi-cluster/setup-operator/output/0205_helm_configure_repo.out
  content/kubernetes/current/source/includes/code-examples/reference-architectures/setup-multi-cluster/setup-operator/output/0210_helm_install_operator.out
  content/kubernetes/current/source/includes/code-examples/reference-architectures/setup-multi-cluster/setup-operator/output/0211_check_operator_deployment.out
Labels: Kubernetes

DOCSP-52061-atlas-ruby-title (#132)
  source/interact-data/atlas-search-tutorial.txt
Labels: none

DOCSP-52059-page-title (#661)
  source/crud/restful-api-tutorial.txt
Labels: none

backport (#133)
  source/interact-data/atlas-search-tutorial.txt
Labels: none

DOCSP-52046: Fix Java driver 404 (#13072)
  content/atlas/source/includes/avs/bson-bindata-vectors/steps-create-bson-vectors-existing-data-java.rst
  content/atlas/source/includes/avs/bson-bindata-vectors/steps-create-bson-vectors-new-data-java.rst
Labels: Atlas

DOCSP-52062 Java RS Index Title (#147)
  source/index.txt
Labels: none

DOCSP-52090 C2C preexisting data warning (#13043)
  content/mongosync/current/source/includes/release-notes/REP-6356-warning.rst
  content/mongosync/current/source/reference/api/start.txt
  content/mongosync/current/source/release-notes/1.15.txt
Labels: none

DOCSP-49553-ensure-update-bulkWrite-commands-return-WCE (#12988) (#13061)
  content/manual/manual/source/includes/fact-update-writeConcernError-mongos.rst
  content/manual/manual/source/reference/command/bulkWrite.txt
  content/manual/manual/source/reference/command/update.txt
  content/manual/manual/source/reference/method/db.collection.bulkWrite.txt
  content/manual/manual/source/reference/method/db.collection.update.txt
  content/manual/manual/source/reference/method/db.collection.updateMany.txt
  content/manual/manual/source/reference/method/db.collection.updateOne.txt
  content/manual/rapid/source/includes/fact-update-writeConcernError-mongos.rst
  content/manual/rapid/source/reference/command/bulkWrite.txt
  content/manual/rapid/source/reference/command/update.txt
  content/manual/rapid/source/reference/method/db.collection.bulkWrite.txt
  content/manual/rapid/source/reference/method/db.collection.update.txt
  content/manual/rapid/source/reference/method/db.collection.updateMany.txt
  content/manual/rapid/source/reference/method/db.collection.updateOne.txt
  content/manual/v6.0/source/includes/fact-update-writeConcernError-mongos.rst
  content/manual/v6.0/source/reference/command/update.txt
  content/manual/v6.0/source/reference/method/db.collection.bulkWrite.txt
  content/manual/v6.0/source/reference/method/db.collection.update.txt
  content/manual/v6.0/source/reference/method/db.collection.updateMany.txt
  content/manual/v6.0/source/reference/method/db.collection.updateOne.txt
  content/manual/v7.0/source/includes/fact-update-writeConcernError-mongos.rst
  content/manual/v7.0/source/reference/command/update.txt
  content/manual/v7.0/source/reference/method/db.collection.bulkWrite.txt
  content/manual/v7.0/source/reference/method/db.collection.update.txt
  content/manual/v7.0/source/reference/method/db.collection.updateMany.txt
  content/manual/v7.0/source/reference/method/db.collection.updateOne.txt
Labels: Manual

DOCS-17080-fix-inaccurate-dollar-upsert-behavior (#13034) (#13048)
  content/manual/manual/source/reference/operator/update/positional.txt
  content/manual/rapid/source/reference/operator/update/positional.txt
  content/manual/v6.0/source/reference/operator/update/positional.txt
  content/manual/v7.0/source/reference/operator/update/positional.txt
Labels: Manual

[v5.0] DOCSP-52062 Java RS Index Title (#147) (#152)
  source/index.txt
Labels: none

[backport v5.1] DOCSP-52062 Java RS Index Title (#147) (#153)
  source/index.txt
Labels: none

(DOCSP-51580): Add performance pages for AVS (#12919)
  content/atlas/netlify.toml
  content/atlas/snooty.toml
  content/atlas/source/atlas-vector-search/benchmark.txt
  content/atlas/source/atlas-vector-search/benchmark/overview.txt
  content/atlas/source/atlas-vector-search/benchmark/performance-recommendations.txt
  content/atlas/source/atlas-vector-search/benchmark/results.txt
  content/atlas/source/atlas-vector-search/deployment-options.txt
  content/atlas/source/atlas-vector-search/tune-vector-search.txt
  content/atlas/source/atlas-vector-search/vector-search-overview.txt
  content/atlas/source/images/avs/performance/concurrency.png
  content/atlas/source/images/avs/performance/filtering.png
  content/atlas/source/images/avs/performance/quantization.png
  content/atlas/source/images/avs/performance/recall-latency.png
  content/atlas/source/images/avs/performance/sharding.png
  content/atlas/source/includes/avs/embedding-model-space-requirements.rst
  content/atlas/source/includes/avs/performance/create-all-dims-index.js
  content/atlas/source/includes/avs/performance/create-large-index.js
  content/atlas/source/includes/avs/performance/create-view.js
  content/atlas/source/includes/avs/performance/filtered-query.py
  content/atlas/source/includes/avs/performance/unfiltered-query.py
Labels: Atlas

(DOCSP-51463) Update Unified AWS to Composable Tutorial format (#12885)
  content/atlas/source/atlas-stream-processing/s3-connection.txt
  content/atlas/source/security/set-up-unified-aws-access.txt
Labels: Atlas

DOCSP-51995-note-overall-lower-ticket-usage (#12965)
  content/manual/upcoming/source/includes/fact-dynamic-concurrency.rst
Labels: Manual

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-cli/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']
