Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, Charts, Cloud Manager, C2C, Compass, Database Tools, Datalake, Docs Platform, Guides, Kafka Connector, Kubernetes, Kubernetes Operator, Manual, MCP Server, Meta, Mongo Cli, Platform, IntelliJ, Mongosh, VSCode, Ops Manager, Relational Migrator

DOCSP-51980-add-ttl-deletion-behavior-note (#12963)
  content/manual/upcoming/source/core/index-ttl.txt
Labels: Manual

JDBS Driver public key update (#12939)
  content/atlas/source/data-federation/query/sql/drivers/jdbc/download.rst
  content/atlas/source/data-federation/query/sql/drivers/jdbc/list-download.rst
Labels: Atlas

DOCSP-51971-clarify-insertMany-limit (#12960)
  content/manual/upcoming/source/reference/method/db.collection.insertMany.txt
Labels: Manual

DOCSP-51695: [IS Edits] Build a PDF Search Application with Vector Search and LLMs (#277)
  source/solutions-library/pdf-search.txt
Labels: none

DOCSP-51971-clarify-insertMany-limit-main-backport (#12984)
  content/manual/manual/source/reference/method/db.collection.insertMany.txt
  content/manual/rapid/source/reference/method/db.collection.insertMany.txt
  content/manual/v6.0/source/reference/method/db.collection.insertMany.txt
  content/manual/v7.0/source/reference/method/db.collection.insertMany.txt
Labels: Manual

DOCSP-51973-write-concern-default-value (#12952) (#12976)
  content/manual/manual/source/includes/5.0-default-wc.rst
  content/manual/manual/source/reference/write-concern.txt
  content/manual/rapid/source/includes/5.0-default-wc.rst
  content/manual/rapid/source/reference/write-concern.txt
  content/manual/v6.0/source/includes/5.0-default-wc.rst
  content/manual/v6.0/source/reference/write-concern.txt
  content/manual/v7.0/source/includes/5.0-default-wc.rst
  content/manual/v7.0/source/reference/write-concern.txt
Labels: Manual

DOCSP-50588 Find Slow Queries with $currentOp (#12942)
  content/manual/manual/source/administration/query.txt
  content/manual/manual/source/includes/fact-profiler-use.rst
  content/manual/manual/source/tutorial/evaluate-operation-performance.txt
  content/manual/manual/source/tutorial/explain-slow-queries.txt
  content/manual/manual/source/tutorial/find-slow-queries-with-database-profiler.txt
  content/manual/manual/source/tutorial/monitor-slow-queries.txt
  content/manual/rapid/source/administration/query.txt
  content/manual/rapid/source/includes/fact-profiler-use.rst
  content/manual/rapid/source/tutorial/evaluate-operation-performance.txt
  content/manual/rapid/source/tutorial/explain-slow-queries.txt
  content/manual/rapid/source/tutorial/find-slow-queries-with-database-profiler.txt
  content/manual/rapid/source/tutorial/monitor-slow-queries.txt
  content/manual/v7.0/source/administration/query.txt
  content/manual/v7.0/source/includes/fact-profiler-use.rst
  content/manual/v7.0/source/tutorial/evaluate-operation-performance.txt
  content/manual/v7.0/source/tutorial/explain-slow-queries.txt
  content/manual/v7.0/source/tutorial/find-slow-queries-with-database-profiler.txt
  content/manual/v7.0/source/tutorial/monitor-slow-queries.txt
Labels: Manual

DOP-5796 add pymongo-driver redirects (#12971)
  content/pymongo-driver/netlify.toml
Labels: none

filename fix (#12987)
  content/compass/source/connect/advanced-connection-options/general-connection.txt
Labels: Compass

DOCSP-51980-add-ttl-deletion-behavior-note (#12963) (#12982)
  content/manual/manual/source/core/index-ttl.txt
  content/manual/rapid/source/core/index-ttl.txt
Labels: Manual

DOCSP-52035: Await async operations (#1202)
  source/code-snippets/indexes/compound.js
  source/code-snippets/indexes/multikey.js
  source/code-snippets/indexes/single-field.js
  source/code-snippets/indexes/text.js
  source/crud/query/geo.txt
  source/crud/query/text.txt
  source/crud/update.txt
Labels: none

DOCSP-52035: Await async operations (#1202)
  source/code-snippets/indexes/compound.js
  source/code-snippets/indexes/multikey.js
  source/code-snippets/indexes/single-field.js
  source/code-snippets/indexes/text.js
  source/crud/query/geo.txt
  source/crud/query/text.txt
  source/crud/update.txt
Labels: none

DOCSP-52035: Await async operations (#1202)
  source/code-snippets/indexes/compound.js
  source/code-snippets/indexes/multikey.js
  source/code-snippets/indexes/single-field.js
  source/code-snippets/indexes/text.js
  source/crud/query/geo.txt
  source/crud/query/text.txt
  source/crud/update.txt
Labels: none

DOCSP-52035: Await async operations (#1202)
  source/code-snippets/indexes/compound.js
  source/code-snippets/indexes/multikey.js
  source/code-snippets/indexes/single-field.js
  source/code-snippets/indexes/text.js
  source/crud/query/geo.txt
  source/crud/query/text.txt
  source/crud/update.txt
Labels: none

netlify (#12995)
  content/mongosync/netlify.toml
Labels: none

DOCSP-51630 Add admonition for minPoolSize behavior (#1190)
  source/connect/connection-options/connection-pools.txt
Labels: none

(DOCSP-51950): Adds the OM 8.0.11 RNs. (#12997)
  content/ops-manager/upcoming/source/release-notes/changelogs/mongodb-agent/changelog-mongodb-agent-onprem-v8.0.rst
  content/ops-manager/upcoming/source/release-notes/changelogs/ops-manager/changelog-onprem-v8.0.rst
Labels: Ops Manager

(DOCSP-51950): Adds the OM 8.0.11 RNs. (#12997) (#12999)
  content/ops-manager/current/source/release-notes/changelogs/mongodb-agent/changelog-mongodb-agent-onprem-v8.0.rst
  content/ops-manager/current/source/release-notes/changelogs/ops-manager/changelog-onprem-v8.0.rst
Labels: Ops Manager

DOCSP-51987-compass-1.46.6-rn (#12979)
  content/compass/snooty.toml
  content/compass/source/release-notes.txt
Labels: Compass

DOP-5731: added redirects for v7.0, manual and upcoming (#12403)
  content/manual/netlify.toml
Labels: Manual

DOCSP-45102 Document lack of support for domain socket connections (#141)
  source/connect.txt
  source/includes/connect/domain-socket.rst
  source/security/auth.txt
  source/security/enterprise-authentication.txt
  source/upgrade.txt
Labels: none

[v5.5] DOCSP-45102 Document lack of support for domain socket connections (#141) (#142)
  source/connect.txt
  source/includes/connect/domain-socket.rst
  source/security/auth.txt
  source/security/enterprise-authentication.txt
  source/upgrade.txt
Labels: none

[v5.4] DOCSP-45102 Document lack of support for domain socket connections (#141) (#143)
  source/connect.txt
  source/includes/connect/domain-socket.rst
  source/security/auth.txt
  source/security/enterprise-authentication.txt
  source/upgrade.txt
Labels: none

[v5.2] DOCSP-45102 Document lack of support for domain socket connections (#141) (#145)
  source/connect.txt
  source/includes/connect/domain-socket.rst
  source/security/auth.txt
  source/security/enterprise-authentication.txt
  source/upgrade.txt
Labels: none

[v5.3] DOCSP-45102 Document lack of support for domain socket connections (#141) (#144)
  source/connect.txt
  source/includes/connect/domain-socket.rst
  source/security/auth.txt
  source/security/enterprise-authentication.txt
  source/upgrade.txt
Labels: none

DOCSP-50208-update-arrays-with-MQL (#12720)
  content/manual/upcoming/source/reference/method/db.collection.updateMany.txt
  content/manual/upcoming/source/reference/operator/update/positional-all.txt
  content/manual/upcoming/source/reference/operator/update/positional-filtered.txt
  content/manual/upcoming/source/reference/operator/update/positional.txt
  content/manual/upcoming/source/tutorial/update-documents.txt
  content/manual/upcoming/source/tutorial/use-mql-to-update-an-array.txt
Labels: Manual

DOCSP-45102 add core-api url (#146)
  snooty.toml
Labels: none

Clean repo root
  .github/pull_request_template.md
  .github/workflows/add-netlify-links.yml
  .github/workflows/backport.yml
  .gitignore
  README.rst
  REVIEWING.md
  build.sh
  config/redirects
  netlify.toml
  snooty.toml
  source/faq.txt
  source/fundamentals.txt
  source/fundamentals/configure.txt
  source/fundamentals/indexes.txt
  source/fundamentals/optimistic-concurrency.txt
  source/fundamentals/query-data.txt
  source/fundamentals/write-data.txt
  source/includes/code-examples/faq.cs
  source/includes/code-examples/quick-reference.cs
  source/includes/compatibility-table.rst
  source/includes/fundamentals/code-examples/DbContextConcurrency.cs
  source/includes/fundamentals/code-examples/aggregation.cs
  source/includes/fundamentals/code-examples/configure/ConfigureEFProvider.cs
  source/includes/fundamentals/code-examples/configure/Customer.cs
  source/includes/fundamentals/code-examples/configure/MyDBContext.cs
  source/includes/fundamentals/code-examples/configure/UseMongoDB.cs
  source/includes/fundamentals/code-examples/indexes.cs
  source/includes/quick-start/Program.cs
  source/includes/quick-start/overview.rst
  source/index.txt
  source/issues-and-help.txt
  source/limitations.txt
  source/quick-reference.txt
  source/quick-start.txt
  source/upgrade.txt
  source/whats-new.txt
  worker.sh
Labels: none

add netlify.toml for entity framework
  content/entity-framework/netlify.toml
Labels: none

DOCS-16991-8.0-performance-proof-points (#11563)
  content/manual/manual/source/core/timeseries/timeseries-querying.txt
  content/manual/manual/source/includes/8.0-performance-improvement-intro.rst
  content/manual/manual/source/includes/fact-8.0-perf-improvement-vary.rst
  content/manual/manual/source/reference/command/reshardCollection.txt
  content/manual/manual/source/release-notes/8.0-upgrade-replica-set.txt
  content/manual/manual/source/release-notes/8.0-upgrade-sharded-cluster.txt
  content/manual/manual/source/release-notes/8.0-upgrade-standalone.txt
  content/manual/manual/source/release-notes/8.0.txt
Labels: Manual

DOCSP-51979-clarify-ts-collection-compressor (#12970)
  content/manual/upcoming/source/core/wiredtiger.txt
Labels: Manual

remove old files from entity framework
  content/entity-framework/current/build.sh
  content/entity-framework/current/config/redirects
  content/entity-framework/current/netlify.toml
  content/entity-framework/current/worker.sh
  content/entity-framework/upcoming/build.sh
  content/entity-framework/upcoming/config/redirects
  content/entity-framework/upcoming/netlify.toml
  content/entity-framework/upcoming/worker.sh
  content/entity-framework/v8.0/build.sh
  content/entity-framework/v8.0/config/redirects
  content/entity-framework/v8.0/netlify.toml
  content/entity-framework/v8.0/worker.sh
  content/entity-framework/v8.1/build.sh
  content/entity-framework/v8.1/config/redirects
  content/entity-framework/v8.1/netlify.toml
  content/entity-framework/v8.1/worker.sh
  content/entity-framework/v8.2/build.sh
  content/entity-framework/v8.2/config/redirects
  content/entity-framework/v8.2/netlify.toml
  content/entity-framework/v8.2/worker.sh
  content/entity-framework/v8.3/build.sh
  content/entity-framework/v8.3/config/redirects
  content/entity-framework/v8.3/netlify.toml
  content/entity-framework/v8.3/worker.sh
Labels: none

fix path to script (#13027)
  content/kubernetes/upcoming/source/includes/steps-multi-cluster-source.yaml
Labels: Kubernetes

add backport tool for mck (#13029)
  content/kubernetes/.backportrc.json
Labels: Kubernetes

fix path to script (#13027) (#13030)
  content/kubernetes/current/source/includes/steps-multi-cluster-source.yaml
Labels: Kubernetes

fix paths to old multicluster tools (#13032)
  content/kubernetes/upcoming/source/includes/facts/fact-istio.rst
  content/kubernetes/upcoming/source/includes/prereqs/custom-ca-prereqs-multi-cluster-rs-tls-only.rst
  content/kubernetes/upcoming/source/includes/steps-multi-cluster-source.yaml
Labels: Kubernetes

fix paths to old multicluster tools (#13032) (#13033)
  content/kubernetes/current/source/includes/facts/fact-istio.rst
  content/kubernetes/current/source/includes/prereqs/custom-ca-prereqs-multi-cluster-rs-tls-only.rst
  content/kubernetes/current/source/includes/steps-multi-cluster-source.yaml
Labels: Kubernetes

DOCSP-49899-range-deletions (#12981)
  content/manual/upcoming/source/includes/inconsistency-type/RangeDeletionMissingShardKeyIndex.rst
  content/manual/upcoming/source/reference/inconsistency-type.txt
  content/manual/upcoming/source/reference/inconsistency-type/RangeDeletionMissingShardKeyIndex.txt
  content/manual/upcoming/source/release-notes/8.2.txt
Labels: Manual

DOCSP-51035: parse_uri() options (#41)
  source/connect.txt
Labels: none

DOCSP-51794-build-error-two (#13000)
  content/manual/upcoming/source/images/compass-insert-button-new.png
  content/manual/upcoming/source/images/compass-insert-button.png
  content/manual/upcoming/source/images/compass-insert-document-inventory-new.png
  content/manual/upcoming/source/images/compass-insert-document-inventory.png
  content/manual/upcoming/source/images/compass-query-collection-new.png
  content/manual/upcoming/source/images/compass-query-collection.png
  content/manual/upcoming/source/images/compass-select-all-new.png
  content/manual/upcoming/source/images/compass-select-all.png
  content/manual/upcoming/source/includes/crud/example-document-compass.rst
  content/manual/upcoming/source/includes/driver-examples/driver-example-insert-1.rst
  content/manual/upcoming/source/includes/driver-examples/driver-example-insert-2.rst
  content/manual/upcoming/source/includes/driver-examples/driver-example-insert-3.rst
  content/manual/upcoming/source/includes/driver-examples/driver-example-query-7.rst
  content/manual/upcoming/source/tutorial/insert-documents.txt
Labels: Manual

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-cli/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']
