Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Atlas, Atlas Architecture, Atlas Cli, Atlas Government, Atlas Operator, Bi Connector, C Driver, Charts, Cloud Manager, Code Examples Tested, Compass, CPP Driver, CSharp, Database Tools, Datalake, Django, Docs Platform, Drivers Ecosystem, Entity Framework, Golang, Guides, Java RS, Java, Kafka Connector, Kotlin Sync, Kotlin, Kubernetes, Kubernetes Operator, Landing, Laravel, Manual, MCP Server, Meta, Mongo Cli, Analyzer, Platform, IntelliJ, Mongosh, VSCode, Mongo ID, Mongo Sync, Node, Ops Manager, PHP Library, Pymongo Arrow Driver, Pymongo Driver, Relational Migrator, Ruby Driver, Rust, Scala Driver, Spark Connector, Table of Contents, Tutorials

DOCSP-45785 - Move PHP landing page content (#13701) (#13705)
  content/php-library/current/source/images/PHP_driver_architecture.svg
  content/php-library/current/source/index.txt
  content/php-library/current/source/references/compatibility.txt
  content/php-library/v1.x/source/images/PHP_driver_architecture.svg
  content/php-library/v1.x/source/index.txt
  content/php-library/v1.x/source/references/compatibility.txt
Labels: PHP Library

Make PHP landing page unnavigable (#13706)
  content/drivers/snooty.toml
Labels: Drivers Ecosystem

(DOCSP-52102): Updates the Charts Nav FAQ for the new preview. (#13657)
  content/charts/source/faq.txt
Labels: Charts

DOP-5954: Nextjs `Kicker`/`Overline` (#13622)
  platform/docs-nextjs/src/components/component-factory/index.tsx
  platform/docs-nextjs/src/components/kicker/index.tsx
  platform/docs-nextjs/src/components/overline/index.tsx
  platform/docs-nextjs/src/components/paragraph/index.tsx
  platform/docs-nextjs/src/services/db/index.ts
Labels: Platform

DOP-5949: Nextjs `Subscript` & `Superscript` (#13546)
  platform/docs-nextjs/src/components/component-factory/index.tsx
  platform/docs-nextjs/src/components/subscript/index.tsx
  platform/docs-nextjs/src/components/superscript/index.tsx
Labels: Platform

(DOCSP-52100): Updates the Atlas Nav FAQ for the new preview. (#13608)
  content/atlas/source/reference/faq/nav-improvements.txt
Labels: Atlas

Fix build errors (#13708)
  content/pymongo-driver/current/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/upcoming/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.10/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.11/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.12/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.7/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.8/source/includes/authentication/windows-sspi-kerberos.rst
  content/pymongo-driver/v4.9/source/includes/authentication/windows-sspi-kerberos.rst
Labels: Pymongo Driver

fix hydration error (#13710)
  platform/docs-nextjs/src/components/component-factory/index.tsx
Labels: Platform

DOCSP-52947 - Add link to PHP Lib (#13712)
  content/drivers/source/index.txt
  content/drivers/source/php-drivers.txt
  content/landing/source/languages/php.txt
Labels: Drivers Ecosystem, Landing

DOCSP-52790: Add third party library links (#13641)
  content/django-mongodb/upcoming/snooty.toml
  content/django-mongodb/upcoming/source/limitations-upcoming.txt
Labels: Django

DOCSP-51594 small fix (#13715)
  content/atlas/source/atlas-search/index-partition.txt
Labels: Atlas

DOCSP-52790: Add third party library links (#13641) (#13718)
  content/django-mongodb/current/snooty.toml
  content/django-mongodb/current/source/limitations-upcoming.txt
Labels: Django

DOCSP-52269 Lengthen titles in Atlas >30 char (#13636)
  content/atlas/source/atlas-search/equals.txt
  content/atlas/source/atlas-search/exists.txt
  content/atlas/source/atlas-search/facet.txt
  content/atlas/source/atlas-search/near.txt
  content/atlas/source/atlas-search/phrase.txt
  content/atlas/source/atlas-search/range.txt
  content/atlas/source/atlas-search/regex.txt
  content/atlas/source/atlas-search/span.txt
  content/atlas/source/atlas-search/text.txt
  content/atlas/source/atlas-stream-processing/sp-agg-emit.txt
  content/atlas/source/atlas-stream-processing/sp-agg-https.txt
  content/atlas/source/atlas-stream-processing/sp-agg-meta.txt
  content/atlas/source/data-federation/admin/cli/collections/create-collections-views.txt
  content/atlas/source/data-federation/admin/cli/collections/drop-collections-views.txt
  content/atlas/source/data-federation/supported-unsupported/pipeline/collstats.txt
  content/atlas/source/data-federation/supported-unsupported/pipeline/lookup-stage.txt
  content/atlas/source/data-federation/supported-unsupported/pipeline/merge.txt
Labels: Atlas

DOP-6027: Nextjs `Time` component (#13724)
  content/docs-platform/source/directives.txt
  content/docs-platform/source/directives/time.txt
  platform/docs-nextjs/src/components/component-factory/index.tsx
  platform/docs-nextjs/src/components/time/index.tsx
  platform/docs-nextjs/src/tests/data/time.test.json
  platform/docs-nextjs/src/tests/unit/time.test.tsx
  platform/docs-nextjs/src/utils/get-plaintext.ts
Labels: Docs Platform, Platform

DOCSP-52749 Server Release Notes 7.0.23 (#13728)
  content/manual/upcoming/source/includes/changelogs/releases/7.0.23.rst
  content/manual/upcoming/source/release-notes/7.0.txt
Labels: Manual

DOCSP-52911 Break up FAQ (#13692)
  content/golang/upcoming/source/connect/connection-options/connection-pools.txt
  content/golang/upcoming/source/data-formats/bson.txt
  content/golang/upcoming/source/data-formats/extended-json.txt
  content/golang/upcoming/source/includes/data-formats/ejson.go
  content/golang/upcoming/source/reference.txt
  content/golang/upcoming/source/reference/faq.txt
Labels: Golang

DOCS-17090 analyzeShardKey defaults (#13649)
  content/manual/upcoming/source/includes/shard-key-characteristics-metrics.rst
Labels: Manual

Atlas Release Notes August (#13716)
  content/atlas/source/includes/changelog/atlas-2025.rst
Labels: Atlas

DOCSP-45166 - Remove driver landing pages (#13717)
  content/drivers/netlify.toml
  content/drivers/snooty.toml
  content/drivers/source/csharp-drivers.txt
  content/drivers/source/java-drivers.txt
  content/drivers/source/kotlin-drivers.txt
  content/drivers/source/python-drivers.txt
  content/drivers/source/ruby-drivers.txt
Labels: Drivers Ecosystem

DOCSP-49264 autoBucket metrics (#13655)
  content/manual/upcoming/source/reference/command/serverStatus.txt
  content/manual/upcoming/source/release-notes/8.2.txt
Labels: Manual

add python version requirement note
  ai-integrations/langgraph.ipynb
Labels: none

(DOCSP-50679): LangGraph long-term memory store (#13417)
  content/atlas/source/ai-integrations/langchain/hybrid-search.txt
  content/atlas/source/ai-integrations/langgraph-js.txt
  content/atlas/source/ai-integrations/langgraph-js/build-agents.txt
  content/atlas/source/ai-integrations/langgraph.txt
  content/atlas/source/ai-integrations/langgraph/build-agents.txt
  content/atlas/source/atlas-vector-search/ai-agents.txt
  content/atlas/source/includes/ai-integrations/langchain/note-python-version-langchain-voyageai.rst
  content/atlas/source/includes/ai-integrations/langgraph/add-edges.py
  content/atlas/source/includes/ai-integrations/langgraph/agent-node.py
  content/atlas/source/includes/ai-integrations/langgraph/checkpointer-execution.py
  content/atlas/source/includes/ai-integrations/langgraph/configure-llm.py
  content/atlas/source/includes/ai-integrations/langgraph/fts-tool.py
  content/atlas/source/includes/ai-integrations/langgraph/graph-state.py
  content/atlas/source/includes/ai-integrations/langgraph/mongodb-checkpointer.py
  content/atlas/source/includes/ai-integrations/langgraph/python/agent.py
  content/atlas/source/includes/ai-integrations/langgraph/python/config.py
  content/atlas/source/includes/ai-integrations/langgraph/python/main.py
  content/atlas/source/includes/ai-integrations/langgraph/python/memory_tools.py
  content/atlas/source/includes/ai-integrations/langgraph/python/search_tools.py
  content/atlas/source/includes/ai-integrations/langgraph/python/set-up-environment.rst
  content/atlas/source/includes/ai-integrations/langgraph/python/steps-vector-database.rst
  content/atlas/source/includes/ai-integrations/langgraph/run-graph.py
  content/atlas/source/includes/ai-integrations/langgraph/set-up-environment.rst
  content/atlas/source/includes/ai-integrations/langgraph/steps-add-memory.rst
  content/atlas/source/includes/ai-integrations/langgraph/steps-build-graph.rst
  content/atlas/source/includes/ai-integrations/langgraph/steps-create-indexes-langchain.rst
  content/atlas/source/includes/ai-integrations/langgraph/steps-create-indexes-pymongo.rst
  content/atlas/source/includes/ai-integrations/langgraph/steps-define-agent-tools.rst
  content/atlas/source/includes/ai-integrations/langgraph/steps-vector-database.rst
  content/atlas/source/includes/ai-integrations/langgraph/tool-node.py
  content/atlas/source/includes/ai-integrations/langgraph/vector-search-tool.py
  content/atlas/source/includes/ai-integrations/langgraph/vector-store.py
  content/atlas/source/includes/ai-integrations/langgraph/visualize-graph.py
  content/atlas/source/includes/avs/ai-integrations/extracts-avs-langgraph.yaml
  content/atlas/source/includes/avs/shared/avs-python-voyage-openai-prerequisites-without-notebook.rst
Labels: Atlas

DOCSP-52911 Break up FAQ (#13692) (#13744)
  content/golang/current/source/connect/connection-options/connection-pools.txt
  content/golang/current/source/data-formats/bson.txt
  content/golang/current/source/data-formats/extended-json.txt
  content/golang/current/source/includes/data-formats/ejson.go
  content/golang/current/source/reference.txt
  content/golang/current/source/reference/faq.txt
  content/golang/v2.0/source/connect/connection-options/connection-pools.txt
  content/golang/v2.0/source/data-formats/bson.txt
  content/golang/v2.0/source/data-formats/extended-json.txt
  content/golang/v2.0/source/includes/data-formats/ejson.go
  content/golang/v2.0/source/reference.txt
  content/golang/v2.0/source/reference/faq.txt
  content/golang/v2.1/source/connect/connection-options/connection-pools.txt
  content/golang/v2.1/source/data-formats/bson.txt
  content/golang/v2.1/source/data-formats/extended-json.txt
  content/golang/v2.1/source/includes/data-formats/ejson.go
  content/golang/v2.1/source/reference.txt
  content/golang/v2.1/source/reference/faq.txt
Labels: Golang

DOCSP-51905 Remove RHEL7 and RHEL8 Support for v6.0 (#13172) (#13327)
  content/manual/manual/source/includes/platform-support.rst
  content/manual/rapid/source/includes/platform-support.rst
  content/manual/v6.0/source/includes/platform-support.rst
  content/manual/v7.0/source/includes/platform-support.rst
Labels: Manual

DOP-5953: Nextjs `Introduction` component (#13690)
  content/docs-platform/source/basic-markup.txt
  content/docs-platform/source/directives.txt
  content/docs-platform/source/directives/introduction.txt
  platform/docs-nextjs/package.json
  platform/docs-nextjs/src/components/component-factory/index.tsx
  platform/docs-nextjs/src/components/introduction/index.tsx
  platform/pnpm-lock.yaml
Labels: Docs Platform, Platform

DOP-5981: Nextjs `Tag` component (#13707)
  platform/docs-nextjs/package.json
  platform/docs-nextjs/src/app/layout.tsx
  platform/docs-nextjs/src/components/tag/index.tsx
  platform/pnpm-lock.yaml
Labels: Platform

(DOCSP-52439) removes impertinent info from modify a cluster page (#13729)
  content/atlas/source/includes/fact-modify-cloud-provider.rst
Labels: Atlas

(DOCSP-52279) mentions that only enhanced type disks support extended storage (#13693)
  content/atlas/source/includes/project-settings-ui.rst
Labels: Atlas

OM Release Notes v7.0.17 (#13723)
  content/ops-manager/current/source/release-notes/changelogs/mongodb-agent/changelog-mongodb-agent-onprem-v7.0.rst
  content/ops-manager/current/source/release-notes/changelogs/ops-manager/changelog-onprem-v7.0.rst
  content/ops-manager/upcoming/source/release-notes/changelogs/mongodb-agent/changelog-mongodb-agent-onprem-v7.0.rst
  content/ops-manager/upcoming/source/release-notes/changelogs/ops-manager/changelog-onprem-v7.0.rst
Labels: Ops Manager

Add MongoDB as JS projects author (#13735)
  code-example-tests/command-line/mongosh/package.json
  code-example-tests/javascript/driver/package.json
Labels: none

DOCSP-52965 PHP Lib v1-21-2 patch release (#13751)
  content/php-library/v1.x/snooty.toml
Labels: PHP Library

DOCSP-52971 removes unnecessary redirect (#13752)
  content/manual/netlify.toml
Labels: Manual

DOCS-17090 analyzeShardKey defaults (#13649) (#13740)
  content/manual/manual/source/includes/shard-key-characteristics-metrics.rst
  content/manual/rapid/source/includes/shard-key-characteristics-metrics.rst
  content/manual/v7.0/source/includes/shard-key-characteristics-metrics.rst
Labels: Manual

DOCSP-52749 Server Release Notes 7.0.23 (#13728) (#13736)
  content/manual/manual/source/includes/changelogs/releases/7.0.23.rst
  content/manual/manual/source/release-notes/7.0.txt
  content/manual/rapid/source/includes/changelogs/releases/7.0.23.rst
  content/manual/rapid/source/release-notes/7.0.txt
  content/manual/v7.0/source/includes/changelogs/releases/7.0.23.rst
  content/manual/v7.0/source/release-notes/7.0.txt
Labels: Manual

fix duplicate paths (#13763)
  content/kubernetes-operator/netlify.toml
  content/kubernetes-operator/v1.33/source/reference-architectures.txt
  content/kubernetes-operator/v1.33/source/reference-architectures/multi-cluster-no-mesh.txt
  content/kubernetes-operator/v1.33/source/reference-architectures/multi-cluster.txt
Labels: Kubernetes Operator

DOCSP-52186 updates example (#13691)
  content/atlas/source/atlas-search/analyzers/token-filters.txt
  content/atlas/source/includes/fts/analyzers/fact-regex-wildcard-operators.rst
  content/atlas/source/includes/fts/analyzers/token-filters/ngram_mongosh.js
  content/atlas/source/includes/fts/analyzers/token-filters/ngram_query_ui.rst
  content/atlas/source/includes/fts/analyzers/token-filters/ngram_ui.rst
Labels: Atlas

small change to get these docs redeployed (#13766)
  content/kubernetes-operator/v1.32/snooty.toml
Labels: Kubernetes Operator

.github/labeler.yml:

Atlas:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas/**']

Atlas Architecture:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-architecture/**']

Atlas Cli:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-cli/**']

Atlas Government:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-government/**']

Atlas Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/atlas-operator/**']

Bi Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/bi-connector/**'] 

C Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/c-driver/**']

Charts:
  - changed-files:
    - any-glob-to-any-file: ['content/charts/**']

Cloud Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/cloud-manager/**']

Code Examples Tested:
  - changed-files:
    - any-glob-to-any-file: ['content/code-examples/tested**']

Compass: 
  - changed-files: 
    - any-glob-to-any-file: ['content/compass/**']

CPP Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/cpp-driver/**']

CSharp:
  - changed-files:
    - any-glob-to-any-file: ['content/csharp/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Datalake: 
  - changed-files:
    - any-glob-to-any-file: ['content/datalake/**']

Django:
  - changed-files:
    - any-glob-to-any-file: ['content/django-mongodb/**']

Docs Platform:
  - changed-files:
    - any-glob-to-any-file: ['content/docs-platform/**']

Drivers Ecosystem:
  - changed-files:
    - any-glob-to-any-file: ['content/drivers/**']

Entity Framework:
  - changed-files:
    - any-glob-to-any-file: ['content/entity-framework/**']

Golang:
  - changed-files:
    - any-glob-to-any-file: ['content/golang/**']

Guides:
  - changed-files:
    - any-glob-to-any-file: ['content/guides/**']

Java RS:
  - changed-files:
    - any-glob-to-any-file: ['content/java-rs/**']

Java:
  - changed-files:
    - any-glob-to-any-file: ['content/java/**']

Kafka Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/kafka-connector/**']

Kotlin Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin-sync/**']

Kotlin:
  - changed-files:
    - any-glob-to-any-file: ['content/kotlin/**']

Kubernetes:   
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes/**']

Kubernetes Operator:
  - changed-files:
    - any-glob-to-any-file: ['content/kubernetes-operator/**']

Landing:
  - changed-files:
    - any-glob-to-any-file: ['content/landing/**']

Laravel:
  - changed-files:
    - any-glob-to-any-file: ['content/laravel-mongodb/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

MCP Server:
  - changed-files:
    - any-glob-to-any-file: ['content/mcp-server/**']

Meta:
  - changed-files:
    - any-glob-to-any-file: ['content/meta/**']

Mongo Cli:  
  - changed-files:
    - any-glob-to-any-file: ['content/mongocli/**']

Analyzer:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-analyzer/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

Mongo ID:
  - changed-files:
    - any-glob-to-any-file: ['content/mongoid/**']

Mongo Sync:
  - changed-files:
    - any-glob-to-any-file: ['content/mongosync/**']
  
Node:
  - changed-files:
    - any-glob-to-any-file: ['content/node/**']

Ops Manager:
  - changed-files:
    - any-glob-to-any-file: ['content/ops-manager/**']

PHP Library:
  - changed-files:
    - any-glob-to-any-file: ['content/php-library/**']

Pymongo Arrow Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-arrow-driver/**']

Pymongo Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/pymongo-driver/**']

Relational Migrator:
  - changed-files:
    - any-glob-to-any-file: ['content/relational-migrator/**']

Ruby Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/ruby-driver/**']

Rust:
  - changed-files:
    - any-glob-to-any-file: ['content/rust/**']

Scala Driver:
  - changed-files:
    - any-glob-to-any-file: ['content/scala-driver/**']

Spark Connector:
  - changed-files:
    - any-glob-to-any-file: ['content/spark-connector/**']

Table of Contents:
  - changed-files:
    - any-glob-to-any-file: ['content/table-of-contents/**']

Tutorials:
  - changed-files:
    - any-glob-to-any-file: ['content/tutorials/**']
