Repository mongodb/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: C2C, Manual, Database Tools, Platform, Mongosh, VSCode, IntelliJ

.github/labeler.yml:

C2C:
  - changed-files:
    - any-glob-to-any-file: ['content/cluster-to-cluster-sync/**']

Manual:
  - changed-files:
    - any-glob-to-any-file: ['content/manual/**']

Database Tools:
  - changed-files:
    - any-glob-to-any-file: ['content/database-tools/**']

Platform:
  - changed-files:
    - any-glob-to-any-file: ['platform/**']

Mongosh:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-shell/**']

VSCode:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-vscode/**']

IntelliJ:
  - changed-files:
    - any-glob-to-any-file: ['content/mongodb-intellij/**']

Hybrid search rankfusion updated (#12500)
  content/manual/upcoming/source/images/rrf-score.png
  content/manual/upcoming/source/images/sigmoid.png
  content/manual/upcoming/source/includes/extracts-agg-operators.yaml
  content/manual/upcoming/source/includes/extracts-agg-stages.yaml
  content/manual/upcoming/source/reference/mql/aggregation-stages.txt
  content/manual/upcoming/source/reference/mql/expressions.txt
  content/manual/upcoming/source/reference/operator/aggregation/rankFusion.txt
  content/manual/upcoming/source/reference/operator/aggregation/sigmoid.txt
Labels: Manual

DOCSP-48276-v8.1-backport manual backport to 8.1 (#12537)
  content/manual/rapid/source/images/rrf-score.png
  content/manual/rapid/source/images/sigmoid.png
  content/manual/rapid/source/includes/extracts-agg-operators.yaml
  content/manual/rapid/source/reference/mql/aggregation-stages.txt
  content/manual/rapid/source/reference/mql/expressions.txt
  content/manual/rapid/source/reference/operator/aggregation/rankFusion.txt
  content/manual/rapid/source/reference/operator/aggregation/sigmoid.txt
Labels: Manual

DOCSP-50998-delete-mongosync-beta-link (#12475)
  content/cluster-to-cluster-sync/current/source/includes/beta-feature.rst
  content/cluster-to-cluster-sync/current/source/reference/beta-program-private.txt
  content/cluster-to-cluster-sync/current/source/reference/beta-program-private/abc-migration.txt
  content/cluster-to-cluster-sync/current/source/reference/beta-program-private/destinationDataHandling.txt
  content/cluster-to-cluster-sync/current/source/reference/beta-program-private/document-filtering.txt
  content/cluster-to-cluster-sync/current/source/reference/beta-program-private/many-to-one.txt
  content/cluster-to-cluster-sync/current/source/reference/beta-program-private/namespace-remapping.txt
  content/cluster-to-cluster-sync/current/source/reference/beta-program-private/orr.txt
  content/cluster-to-cluster-sync/current/source/reference/cutover-process.txt
  content/cluster-to-cluster-sync/netlify.toml
Labels: C2C

backport DOCS-16097 (#12522)
  content/manual/manual/source/core/dot-dollar-considerations.txt
  content/manual/manual/source/core/dot-dollar-considerations/dollar-prefix.txt
  content/manual/manual/source/core/dot-dollar-considerations/periods.txt
  content/manual/rapid/source/core/dot-dollar-considerations.txt
  content/manual/rapid/source/core/dot-dollar-considerations/dollar-prefix.txt
  content/manual/rapid/source/core/dot-dollar-considerations/periods.txt
  content/manual/v6.0/source/core/dot-dollar-considerations.txt
  content/manual/v7.0/source/core/dot-dollar-considerations.txt
  content/manual/v7.0/source/core/dot-dollar-considerations/dollar-prefix.txt
  content/manual/v7.0/source/core/dot-dollar-considerations/periods.txt
Labels: Manual

Set up new docs-platform content site (#12524)
  content/docs-platform/netlify.toml
  content/docs-platform/snooty.toml
  content/docs-platform/source/basic-markup.txt
  content/docs-platform/source/directives.txt
  content/docs-platform/source/directives/admonitions.txt
  content/docs-platform/source/index.txt
  content/docs-platform/source/roles.txt
Labels: none

Fix for broken redirect (#7379)
  config/redirects
Labels: none

Dop 5857 hotfix (#12539)
  repo_sync.py
Labels: none

DOCS-17061-bad-build-time-ref (#12513)
  content/manual/upcoming/source/reference/method/db.collection.insertOne.txt
Labels: Manual

DOCS-17064-missing-hint-param (#12503)
  content/manual/upcoming/source/reference/method/db.collection.deleteMany.txt
Labels: Manual

fix geohaystack build error (#12546)
  content/manual/manual/source/release-notes/5.0-compatibility.txt
Labels: Manual

DOCSP-50952: backport DOCSP-47128 to 7.0 (#12542)
  content/manual/v7.0/source/reference/command/checkMetadataConsistency.txt
  content/manual/v7.0/source/tutorial/terminate-running-operations.txt
Labels: Manual

[BACKPORT] DOCSP-45464 to 8.0.10 (#12540)
  content/manual/manual/source/includes/extracts-agg-stages.yaml
  content/manual/manual/source/reference/built-in-roles.txt
  content/manual/manual/source/reference/method/db.createCollection.txt
  content/manual/manual/source/reference/operator/aggregation-pipeline.txt
  content/manual/manual/source/reference/operator/aggregation/listClusterCatalog.txt
  content/manual/manual/source/reference/privilege-actions.txt
Labels: Manual

update snooty.toml link (#268)
  snooty.toml
Labels: none

Fix mongocli/stable object.inv URL (#12547)
  content/cloud-manager/snooty.toml
  content/cluster-to-cluster-sync/current/snooty.toml
  content/cluster-to-cluster-sync/v1.10/snooty.toml
  content/cluster-to-cluster-sync/v1.11/snooty.toml
  content/cluster-to-cluster-sync/v1.12/snooty.toml
  content/cluster-to-cluster-sync/v1.13/snooty.toml
  content/cluster-to-cluster-sync/v1.7/snooty.toml
  content/cluster-to-cluster-sync/v1.8/snooty.toml
  content/cluster-to-cluster-sync/v1.9/snooty.toml
Labels: C2C

DOCS-30610: fix installing MDB Enterprise packages (#12545)
  content/manual/manual/source/includes/deploy/code/enterprise-apt-install.rst
  content/manual/manual/source/tutorial/install-mongodb-enterprise-on-ubuntu.txt
Labels: Manual

(DOCSP-50926) Add no indexing to pages with < 100 chars (#7378)
  source/data-federation/query/sql/tutorials.txt
  source/data-federation/supported-unsupported.txt
  source/data-federation/supported-unsupported/mql-support.txt
  source/data-federation/supported-unsupported/role-management-commands.txt
  source/data-federation/supported-unsupported/supported-data-formats.txt
  source/faq.txt
  source/integrate.txt
  source/live-migration.txt
  source/reference/faq/backup.txt
  source/reference/more-api-resources.txt
  source/reference/supported-browsers.txt
  source/security/cloud-provider-access.txt
Labels: none

(DOCSP-50946) update datadog integration documentation
  source/tutorial/datadog-integration.txt
Labels: none
