Repository mongodb/docs, pull requests merged in 2018-10, with the labels that each got.

#3424 DOCSP-3338: Clarify Auditing Availability in Enterprise + Atlas
  conf.py
  source/core/auditing.txt
  source/includes/note-audit-in-enterprise-only.rst
  source/reference/audit-message.txt
  source/tutorial/configure-audit-filters.txt
  source/tutorial/configure-auditing.txt
Labels: RFM

#3431 DOCSP-2557: add changeStream action to read role
  source/reference/built-in-roles.txt
  source/reference/method/Mongo.watch.txt
  source/reference/method/db.collection.watch.txt
  source/reference/method/db.watch.txt
Labels: RFM

#3423 DOCS-11661: Add a warning to discourage people from setting failIndexKeyTooLong
  source/reference/parameters.txt
Labels: Tech Review

#3436 DOCS-11661 - Tech review feedback.
  source/reference/parameters.txt
Labels: RFM

#3416 DOCS-11987 repaired node can't rejoin replica set
  source/includes/warning-repair.rst
  source/tutorial/resync-replica-set-member.txt
Labels: 4.0.3
